.navbox{text-align:center;}
.navbox_left_active{background-color:#ff9900;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc; cursor: default;}
.navbox_right_active{background-color:#ff9900;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.navbox_upper_left_active{background-color:#ff9900;border-top:1px solid #cccccc;border-left:1px solid #cccccc;}
.navbox_upper_right_active{background-color:#ff9900;border-top:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.navbox_left_over{background-color:#ffcc00;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;cursor:pointer;}
.navbox_right_over{background-color:#ffcc00;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;cursor:pointer;}
.navbox_upper_left_over{background-color:#ffcc00;border-top:1px solid #cccccc;border-left:1px solid #cccccc;cursor:pointer;}
.navbox_upper_right_over{background-color:#ffcc00;border-top:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;cursor:pointer;}
.navbox_left_out{background-color:#ffffff;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;}
.navbox_right_out{background-color:#ffffff;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.navbox_upper_left_out{background-color:#ffffff;border-top:1px solid #cccccc;border-left:1px solid #cccccc;}
.navbox_upper_right_out{background-color:#ffffff;border-top:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.navbox_link{color:#666666;text-decoration:none;}
a.navbox_link{color:#666666;text-decoration:none;}
a.navbox_link:hover{color:#666666;text-decoration:none;}
a.navbox_link:visited{color:#666666;text-decoration:none;}
.navbox_link2{color:#666666;text-decoration:none;cursor: default;}
a.navbox_link2{color:#666666;text-decoration:none;cursor: default;}
a.navbox_link2:hover{color:#666666;text-decoration:none;cursor: default;}
a.navbox_link2:visited{color:#666666;text-decoration:none;cursor: default;}