.leftSeparator{background-color:#99ccff;width:279px;height:11px;border-top:2px solid #ffffff;border-bottom:2px solid #ffffff;border-right:1px solid #ffffff;}
.rightSeparator{background-color:#99ccff;width:279px;height:11px;border-top:2px solid #ffffff;border-bottom:2px solid #ffffff;border-left:1px solid #ffffff;}
#navbox{text-align:center;}
.navbox_left_active{background-color:#ff9900;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;}
.navbox_right_active{background-color:#ff9900;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.navbox_upper_left_active{background-color:#ff9900;border-top:1px solid #cccccc;border-left:1px solid #cccccc;}
.navbox_upper_right_active{background-color:#ff9900;border-top:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.navbox_left_over{background-color:#ffcc00;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;cursor:pointer;}
.navbox_right_over{background-color:#ffcc00;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;cursor:pointer;}
.navbox_upper_left_over{background-color:#ffcc00;border-top:1px solid #cccccc;border-left:1px solid #cccccc;cursor:pointer;}
.navbox_upper_right_over{background-color:#ffcc00;border-top:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;cursor:pointer;}
.navbox_left_out{background-color:#ffffff;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;}
.navbox_right_out{background-color:#ffffff;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.navbox_upper_left_out{background-color:#ffffff;border-top:1px solid #cccccc;border-left:1px solid #cccccc;}
.navbox_upper_right_out{background-color:#ffffff;border-top:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.navbox_link{color:#666666;text-decoration:none;}
.leftImage{border-right:1px solid #ffffff;border-bottom:10px solid #ffffff;}
.rightImage{border-left:1px solid #ffffff;border-bottom:10px solid #ffffff;}
.leftText{padding-right:10px;padding-bottom:30px;}
.rightText{padding-left:10px;padding-right:10px;padding-bottom:30px;}
