*{margin:0}html,body{height:100%}.container{min-height:100%;height:auto !important;height:100%;margin:0
auto -351px;position:relative;z-index:1}.stickyFooter{position:relative;z-index:1}.stickyFooter,.push{height:351px}.containerNoWidget{min-height:100%;height:auto !important;height:100%;margin:0
auto -152px;position:relative}.stickyFooterNoWidget{position:relative;z-index:1}.pushNoWidget{height:152px}.stickyFooterNoWidget,
.stickyFooterNoWidget
.footer{height:112px}.container,.containerNoWidget,.stickyFooter,.stickyFooterNoWidget{min-width:940px}.styled{display:none;position:absolute;z-index: -1000;left: -1000px;top: -1000px}div.radio{padding:5px
0 0 0}.radio,
.radio
label{cursor:pointer;line-height:18px !important}span.radio{position:relative;top:3px;display:block;width:13px;height:13px;line-height:13px !important;font-size:1px;background:url('http://cdnrep.reimage.com/website/newwebsite/radio.gif') no-repeat left top;float:left;margin:0
8px 0 0}div.file{}input.file{border:solid 1px #929292;height:15px;padding:6px
7px;direction:ltr;display:none}input.fileInput{margin:0
0 0 5px}input.select{border:solid 1px #929292;border-right:none;height:15px;padding:6px
7px;direction:ltr;display:none}.selectWrapper
.options{background:#fff;border:solid 1px #696969;padding:4px
0;overflow:auto;max-height:150px}.selectWrapper .options a,
.selectWrapper .options a:hover{display:block;line-height:17px;height:17px;background:#fff;text-decoration:none;color:#595959;padding:0
7px;font-weight:normal}.selectWrapper .options a:hover{background:#60a5ab;color:#fff}body{font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:12px;color:#595959;margin:0;padding:0;background:#fff}input,textarea{font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:12px;color:#595959}h1{margin:0
0 19px 0;font-size:29px;color:#60a5ab;padding:0;display:inline-block}h2{margin:0
0 16px 0;font-size:20px;color:#60a5ab;padding:0}h2
span{color:#595959;position:relative;top:0px;font-size:20px}h3{margin:0
0 7px 0;font-size:14px;color:#3c3c3c;padding:0}h3.first{padding:3px
0 0 0}h4{margin:0
0 5px 0;font-size:14px;color:#3c3c3c;padding:0
0 7px 0;border-bottom:solid 3px #bfbfbf}h5{margin:0
0 7px 0;font-size:12px;color:#3c3c3c;padding:5px
0 0 0;font-weight:bold}h6{margin:0
0 7px 0;font-size:12px;color:#3c3c3c;padding:5px
0 0 0;font-weight:bold}p{margin:0
0 18px 0;line-height:18px}p.first{padding:2px
0 0 0}p.last{margin:0}p.ul{margin-bottom:6px}ul,ol{margin:0
0 17px 31px;padding:0;line-height:18px}ul.last{margin-bottom:0}ul.notitle{margin-left:14px}ul.alpha{list-style:lower-alpha}ul.links{list-style:none;margin:0}ul.special
li{padding:0
0 6px 0}ul.bullet{margin:0;list-style:none}ul.bullet
li{padding:0
0 6px 0}div.last{padding-bottom:0}a,a:hover{text-decoration:underline;color:#595959}a:hover{text-decoration:none}a:active{border:none;outline:none}:focus{-moz-outline-style:none}a:focus,input:focus{outline:none}a
img{border:none}.bodyRelative{position:relative}.bodyContent a,
.bodyContent a:hover{color:#418d94;font-weight:bold}.content{width:940px;margin:0
auto}.clear{clear:both}.hide{display:none}.header{height:62px;background:#d6d6d6 url('http://cdnrep.reimage.com/website/newwebsite/header_bg.gif') repeat-x bottom;margin:0
0 14px 0}.logo{width:330px;float:left;margin:14px
0 0 0}a.reimage_logo,a.reimage_logo:hover{text-decoration:none;background:url('http://cdnrep.reimage.com/website/newwebsite/reimage.png') no-repeat;display:block;width:139px;height:37px;float:left}.logo_desc{background:url('http://cdnrep.reimage.com/website/newwebsite/logo_desc.png') no-repeat;width:179px;height:20px;margin:10px
0 0 149px}.safecharge-header{background:url('https://cdnrep.reimage.com/website/newwebsite/pricing-mac/safecharge-header.png') no-repeat;float:right;width:123px;height:34px;margin-top:10px}.seal{float:right;margin-right:10px;margin-top:10px}.norton{margin:0}.sub_header{padding:0
0 15px 0}.download_reimage{float:right;width:435px;_width:448px}.download_reimage a,
.download_reimage a:hover{display:block;width:154px;height:31px;background:url('http://cdnrep.reimage.com/website/newwebsite/header_css.png') no-repeat;text-decoration:none}.download_reimage a:hover{background:url('http://cdnrep.reimage.com/website/newwebsite/header_css.png') no-repeat left -31px}.upperGoogle1{float:left;width:45px;padding:7px;_width:45px}.upperFacebook{float:left;width:200px;padding:5px}.downloadInner{float:right}.lowerRap{width:600px;margin:20px
auto 0}.lowerRapper{width:940px;margin:20px
auto 0}.lowerCategory{width:880px;margin:20px
auto 0}.lowerGoogle1{float:left;width:50px;padding:5px}.lowerFacebook{margin-left:60px;width:590px}.noFacebook{width:124px}.header-callcenter{float:right;margin-top:20px;font-size:14px}.header-callcenterText{font-size:12px}.menu{float:right;padding:0
5px 0 0}.reimage_menu
ul{padding:0}.reimage_menu{margin:0;padding:0;font-size:14px;font-weight:bold}.reimage_menu
li{float:left;list-style:none;margin:0
11px 0 0;position:relative;z-index:999}.reimage_menu li
a{display:block;text-decoration:none;height:62px;line-height:62px;white-space:nowrap;padding:0
8px;color:#929292}.reimage_menu li a:hover{background:url('http://cdnrep.reimage.com/website/newwebsite/menu/menu_hover.gif') repeat-x;color:#418d94}.reimage_menu li a
span{display:block}.reimage_menu li a:hover
span{background:url('http://cdnrep.reimage.com/website/newwebsite/menu/menuArrow.gif') no-repeat center bottom}.reimage_menu li
a.selected{background:url('http://cdnrep.reimage.com/website/newwebsite/menu/menu_hover.gif') repeat-x;color:#418d94}.reimage_menu li a.selected
span{background:url('http://cdnrep.reimage.com/website/newwebsite/menu/menuArrow.png') no-repeat center bottom}.reimage_menu li
div.subMenu{visibility:hidden;position:absolute;left: -100px;top:56px;z-index:1000}.t,.f{height:10px;line-height:10px;font-size:1px;clear:both}.t .l, .t
.r{width:10px;float:left;background:url('http://cdnrep.reimage.com/website/newwebsite/menu/corner.png') no-repeat top left;margin: -10px 0 0 0}.t
.r{float:right;background:url('http://cdnrep.reimage.com/website/newwebsite/menu/corner.png') no-repeat top right}.t
.m{margin:0
10px;background:url('http://cdnrep.reimage.com/website/newwebsite/menu/repeat-x.png') repeat-x top}.f .l, .f
.r{width:10px;float:left;background:url('http://cdnrep.reimage.com/website/newwebsite/menu/corner.png') no-repeat bottom left;margin: -10px 0 0 0}.f
.r{float:right;background:url('http://cdnrep.reimage.com/website/newwebsite/menu/corner.png') no-repeat bottom right}.f
.m{margin:0
10px;background:url('http://cdnrep.reimage.com/website/newwebsite/menu/repeat-x.png') repeat-x bottom}.mL{background:url('http://cdnrep.reimage.com/website/newwebsite/menu/repeat-y.png') repeat-y left}.mR{background:url('http://cdnrep.reimage.com/website/newwebsite/menu/repeat-y.png') repeat-y right}.mC{background:#fff;margin:0
6px;padding:0
4px}.reimage_menu li
ul{background:#fff;margin:0}.reimage_menu li ul
li{margin:0;float:none;display:block;border-bottom:solid 1px #dcdcdc;text-align:center}.reimage_menu
li.arrow{position:absolute;width:35px;height:20px;line-height:20px;top: -14px;border:0;font-size:1px;background:url('http://cdnrep.reimage.com/website/newwebsite/menu/menuArrow.gif') no-repeat center}.reimage_menu li ul
li.last{border:none}.reimage_menu li ul li
a{background:#fff;height:29px;line-height:29px;color:#418d94;padding:0
17px}.reimage_menu li ul li a:hover{background:#60a5ab;color:#fff}.breadcrumb{height:31px;line-height:31px}.breadcrumb
.title{font-weight:bold;float:left;margin:0
10px 0 0}.breadcrumb
span{font-weight:bold;color:#418d94}.footer{background:#dbdbdb url('http://cdnrep.reimage.com/website/newwebsite/footer_bg.gif') repeat-x;margin:40px
0 0 0;height:112px}.footer
.content{text-align:center;font-size:11px;color:#807f7f}.footer
.copyright{padding:22px
0 23px 0}.footer
.copyFirst{padding:22px
0 10px 0}.footer
.copySec{padding:0
0 5px 0}.footer
.partner{padding:0
0 15px 0}.footer
.partnerNew{padding:5px
0 0 40px;display:inline-block;width:305px}.footer .partner
a{margin:0
16px 0 0}.trusteLink{position:relative;top:0px}.trustediv{float:left;display:none}.mcafeediv{float:left}.nortondiv{float:left;position:relative;top: -8px}.patent-footer{float:left;background:url("http://cdnrep.reimage.com/website/newwebsite/patent-footer.png") no-repeat;width:80px;height:28px;margin-top:2px !important}.bodyContent{}.block{clear:both;padding:0
0 37px 0}.blockEmpty{padding:0
0 6px 0}.blockLast{padding:0}.block
.left{float:left;width:180px;vertical-align:top;padding:6px
0 0 0}.block
.right{margin:0
0 0 180px;vertical-align:top}.block
.innerLefter{width:175px}.block .right
.firstImage{margin-top:30px}.block .right
.secImage{margin-top:50px}.block .right
.financial{float:left;width:350px}.financial div b,
.rnd div
b{font-size:14px}.block .right
.rnd{margin:0
0 0 400px}.plus{background:url('http://cdnrep.reimage.com/website/newwebsite/plus.png') no-repeat;padding:0
0 0 25px}.boxes{clear:both;padding:67px
0 0 0;height:132px}.boxWithBanner{padding-top:0}.boxes a,
.boxes a:hover{color:#418d94;font-weight:bold}.boxes
.boxContent{line-height:18px}.boxes .pic
.boxContent{padding:0
0 0 116px;height:100px}.boxes
.box{float:left;margin:0
20px 0 0}.boxes
.last{margin:0}.boxes4
.box{width:220px}.boxes3
.box{width:300px}.boxes2
.box{width:370px}.boxes2{padding-left:180px}.boxes2 .box
.boxContent{padding-right:5px}.how_works
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/how_reimage_works.png') no-repeat left 5px}.purchase
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/purchase.png') no-repeat left 5px}.reimage_can_fix
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/reimage_can_fix.png') no-repeat left 5px}.reimage_news
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/reimage_news.png') no-repeat left 5px}.biography
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/biography.png') no-repeat left 5px}.latest_version
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/latest_version.png') no-repeat left 5px}.who_is_reimage
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/who_is_reimage.png') no-repeat left 5px}.fan_mail
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/fan_mail.png') no-repeat left 5px}.reimage_awards
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/reimage_awards.png') no-repeat left 5px}.press_release
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/reimage_in_the_press.jpg') no-repeat left 5px}.press_release
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/reimage_in_the_press.jpg') no-repeat left 5px}.careers
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/careers.png') no-repeat left 5px}.contact_us
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/contact_us.jpg') no-repeat left 5px}.stability
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/stability.png') no-repeat left 5px}.security
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/security.png') no-repeat left 5px}.pc_tips
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/pc_tips.jpg') no-repeat left 5px}.submit_ticket
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/submit_ticket.png') no-repeat left 5px}.sys_req
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/system_requirements.png') no-repeat left 5px}.pricing_boxes{height:213px;padding-top:58px}.pricing_boxes
.box{padding:91px
0 0 0}.pricing_boxes .box
.boxContent{padding:0}.pricing_boxes
.pricing_license{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/license.png') no-repeat top center}.pricing_boxes
.pricing_money{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/money.jpg') no-repeat top center}.pricing_boxes
.pricing_support{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/support.jpg') no-repeat top center}.pricing_boxes
.pricing_privacy_policy{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/privacy_policy.jpg') no-repeat top center}.independence_boxes{height:250px;padding-top:40px}.pricing_boxes
.pricing_license_independence{background:url('http://cdnrep.reimage.com/website/newwebsite/pricing/independence/pricing_id.png') no-repeat top center;padding:140px
0 0 0;height:100px}.pricing_boxes
.pricing_money_independence{background:url('http://cdnrep.reimage.com/website/newwebsite/pricing/independence/money_id.png') no-repeat top center;padding:140px
0 0 0;height:100px}.pricing_boxes
.pricing_support_independence{background:url('http://cdnrep.reimage.com/website/newwebsite/pricing/independence/support_id.png') no-repeat top center;padding:140px
0 0 0;height:100px}.pricing_boxes
.pricing_privacy_policy_independence{background:url('http://cdnrep.reimage.com/website/newwebsite/pricing/independence/privacy_id.png') no-repeat top center;padding:140px
0 0 0;height:100px}.abtest_boxes{height:160px}.abtest_boxes
.boxAB{padding:0}.pricing_boxes
.pricing_password{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/password.png') no-repeat top center}.leading_company
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/leading_company.png') no-repeat left 4px}.techcrunch
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/techcrunch_home.png') no-repeat left 4px}.daily
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/daily_home.png') no-repeat left 4px}.pcworld
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/pcworld_home.png') no-repeat left 4px}.fox8
.boxContent{background:url('http://cdnrep.reimage.com/website/newwebsite/boxes/fox8_home.png') no-repeat left 4px}.stability_os
.stability_os_pic{height:111px;padding:11px
0 0 0;text-align:center}.stability_os
.stability_os_pic2016{height:111px;padding:0
0 11px 0;text-align:center}.stability_os
.stability_link{padding:7px
0 0 0}.error_404{background:url('http://cdnrep.reimage.com/website/newwebsite/errors/404.png') no-repeat right 53px;padding:19px
0 30px 0;width:863px}.error_404
h1{font-size:120px;margin-left: -11px;height:154px}.error_404 h1
b{float:left}.error_404 h1
span{float:left;font-size:45px;font-weight:bold;display:block;margin:21px
0 0 9px}.error_500{background:url('http://cdnrep.reimage.com/website/newwebsite/errors/500.png') no-repeat right 27px;padding:123px
0 100px 90px;width:760px}.error_500
h1{font-size:50px;margin:0
0 4px 0}.error_500 h1
span{font-size:30px;display:block;font-weight:bold;position:relative;top: -4px}.error_500
p{font-size:20px;font-weight:bold;line-height:normal}.error_maintenance{background:url('http://cdnrep.reimage.com/website/newwebsite/errors/maintenance.png') no-repeat right 27px;padding:114px
0 170px 60px;width:820px}.error_maintenance
h1{font-size:30px;margin:0
0 12px 0}.error_maintenance
p{font-size:20px;font-weight:bold}.errorspace{padding-bottom:105px}.banner{padding:0
0 60px 180px}.banner
.boxes2{padding:0;height:90px}.boxes2
.lastBox{width:200px;padding:3px
0 0 170px}.banner
a.scanButton{background:url('http://cdnrep.reimage.com/website/newwebsite/banner/banner_css.png') no-repeat;width:210px;height:47px;display:block;text-decoration:none;margin-bottom:10px}.banner a.scanButton:hover{background-position:0px -47px}.banner
a.purchaseButton{background:url('http://cdnrep.reimage.com/website/newwebsite/banner/banner_css.png') no-repeat;width:210px;height:47px;display:block;text-decoration:none;background-position:0px -94px}.banner a.purchaseButton:hover{background-position:0px -141px}.supportTag{background:url('http://cdnrep.reimage.com/website/newwebsite/content/support/support_tag.png') no-repeat;width:131px;height:106px;position:absolute;top:-15px;right:-165px;padding:167px
0 0 30px}.supportTag
a.chat{text-decoration:none;display:block;width:90px;height:25px}.beeTag{background:url('http://cdnrep.reimage.com/website/newwebsite/content/support/bee_tag.png') no-repeat;width:161px;height:273px;position:absolute;top:75px;left:140px}.supportPricing{position:relative;height:274px}.supportPricing
.supportTag{top:0;left: -20px}

