.cta1 { background-color: #ff5f2d; }
.cta1 h2 { color: #432936 !important; }
.cta1 #button { background-color: #01d4b4; }
.cta2 { background-color: #2b2338; }
.cta2 h2 { color: #ff9c00 !important; }
.cta2 #button { background-color: #01d4b4; }
.cta3 { background-color: #01d4b4; }
.cta3 h2 { color: #432936 !important; }
.cta3 #button { background-color: #ff9c00; }
.cta4 { background-color: #2b2338; }
.cta4 h2 { color: #fc5f2a !important; }
.cta4 #button { background-color: #ff5f2d; }


body {
    margin: 0px !important;
    padding: 0px !important;
}
.clear {
    clear: both !important;
}

#ebook-wrap {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border-radius: 8px !important;
    margin: 30px 0 10px 0 !important;
    /*max-width: 768px !important;*/
}



#ebook-photo {
    width: 200px !important;
}
@media(max-width: 669px) {
    #ebook-photo {
        margin: auto !important;
    }
    #text {
        text-align: center !important;
    }
}
@media(min-width: 670px) {
    #ebook-photo {
        float: left !important;
    }
}
#div2 {
    overflow: hidden !important;
}
#text {
    margin: auto !important;
    max-width: 475px !important;
}
#ebook-wrap h2 {
    margin-top: 5px !important;
}
#text p {
    color: #ffffff !important;
    font-size: .9em !important;
}
#text a {
    text-decoration: none !important;
    color: #ffffff !important;
}
#button {
    border-radius: 4px;
    padding: 12px;
    text-align: center;
}
#ebook-photo,
#div2 {
    padding: 20px !important;
}