.pagination > li:first-child > span {
  margin-left: 0; }

.pagination > li > a, .pagination > li > span {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333333;
  float: left;
  line-height: 1.42857;
  margin-left: -6px;
  padding: 4px 5px;
  position: relative;
  text-decoration: none;
  font-size: 1em !important; }
  .pagination > li > a:hover, .pagination > li > span:hover {
    background: #1DBEAB;
    color: #FFF; }

.pagination > li:last-child > a {
  border-right: 1px solid #ddd; }

.pagination-centered {
  clear: both;
  text-align: center; }

.pagination-left {
  clear: both;
  text-align: left; }
  .pagination-left .pagination {
    margin-left: 1px !important;
    text-align: left; }

.pagination {
  float: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 2px 0;
  position: relative;
  z-index: 99;
  border-radius: 4px;
  margin: 20px 0;
  padding-left: 0; }
  .pagination li {
    color: #ddd;
    display: inline-block !important;
    text-decoration: none;
    margin-left: 6px; }
    .pagination li a.active {
      background: #1DBEAB none repeat scroll 0 0;
      color: #FFF; }
  .pagination > li {
    display: inline; }
    .pagination > li > a {
      background-color: #FFF;
      border-radius: 5px;
      border: 1px solid #BBB;
      width: 36px;
      text-align: center;
      font-weight: bold;
      color: #1DBEAB; }
      .pagination > li > a:hover {
        background: #1DBEAB;
        color: #FFF; }
    .pagination > li:first-child > a {
      margin-left: -6px; }

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 1px; }

  .pagination > li > a, .pagination > li > span {
    margin-left: 1px;
    padding: 4px 4px;
    font-size: 1em !important; } }
