body { background:#ffffff none no-repeat scroll 0 0; }
.xg_theme .xg_user_generated p, .xg_theme .xg_user_generated ol, .xg_theme .xg_user_generated ul, .xg_theme .xg_user_generated dl, .xg_theme .xg_user_generated blockquote, .xg_theme .xg_user_generated table, .xg_theme .xg_user_generated h1, .xg_theme .xg_user_generated h2, .xg_theme .xg_user_generated h3, .xg_theme .xg_user_generated h4, .xg_theme .xg_user_generated h5, .xg_theme .xg_user_generated h6 { margin-bottom:0.5em; }
.xg_theme #xg_themebody {
  font-weight:normal;
  font-size:13px;
  font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color:#454545;
}
.xg_theme a {
  color:#3c78a7;
  font-weight:normal;
  text-decoration:none;
  border-bottom:none;
}
.xg_theme a:hover {
  color:#3c78a7;
  font-weight:normal;
  text-decoration:none;
  border-bottom:none;
}
.xg_theme h1, .xg_theme h2, .xg_theme h3, .xg_theme h4, .xg_theme h5, .xg_theme h6 {
  font-weight:normal;
  font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  color:#454545;
}
.xg_theme button, .xg_theme a.button, .xg_theme input.button {
  background:#ffffff none repeat scroll 0 0;
  color:#3c78a7;
  font-weight:bold;
  font-size:13px;
  font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
  border-width:1px;
  border-style:solid;
  border-color:#e1e1e1 #cccccc #cccccc #e1e1e1;
}
.xg_theme #xg_head {
  background:transparent none no-repeat scroll 0 0;
  border-width:;
  border-style:none;
  border-color:transparent;
}
.xg_theme h1#xg_sitename { font-size:48px; }
.xg_theme h1#xg_sitename a {
  color:#3c78a7;
  font-weight:bold;
  font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.xg_theme p#xg_sitedesc {
  color:#333333;
  font-weight:normal;
  font-size:12px;
  font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.xg_theme #xg_navigation {
  background:#333333 none no-repeat scroll 0 0;
  border-width:0 0 1px;
  border-style:solid;
  border-color:#111111;
}
.xg_theme #xg_navigation ul li a {
  color:#ffffff;
  background-color:#333333;
  font-weight:bold;
  font-size:12px;
  font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.xg_theme #xg_navigation ul li a:hover {
  color:#ffffff;
  background-color:#333333;
}
.xg_theme #xg_navigation ul div.xg_subtab ul li a {
  color:#919191;
  background:#f2f2f2;
}
.xg_theme #xg_navigation ul div.xg_subtab ul li a:hover {
  color:#5e5e5e;
  background:#d9d9d9;
}
.xg_theme #xg { background:transparent url(https://www.datasciencecentral.com/xn_resources/widgets/index/gfx/themes/newspress/xg-body-bg.png) repeat-x scroll 0 0; }
.xg_theme #xg_body {
  background:transparent none no-repeat scroll 0 0;
  border-width:;
  border-style:none;
  border-color:transparent;
}
.xg_theme .xg_module {
  background:#ffffff none no-repeat scroll 0 0;
  border-width:1px;
  border-style:solid;
  border-color:#cccccc;
}
.xg_theme .xg_module_head {
  background:transparent none no-repeat scroll 0 0;
  border-width:0 0 3px;
  border-style:solid;
  border-color:#dcdcdc;
}
.xg_theme .xg_module_head h2 {
  color:#222222;
  font-weight:bold;
  font-size:14px;
  font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.xg_theme .xg_module_body {
  background:transparent none no-repeat scroll 0 0;
  font-size:13px;
}
.xg_theme #xg_foot {
  background:transparent none no-repeat scroll 0 0;
  border-width:1px 0 0;
  border-style:solid;
  border-color:#aaaaaa;
}
.xg_theme #xg_footcontent {
  background:transparent none no-repeat scroll 0 0;
  border-width:;
  border-style:none;
  border-color:transparent;
  color:#333333;
}
.xg_theme .xg_floating_container {
  background-color:#ffffff;
  color:#454545;
  font-weight:normal;
  font-size:13px;
  font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.xg_theme .mediabutton-c { color:#454545; }
.xg_theme .mediaplayer-bc { background-color:#ffffff; }
.xg_theme .mediaplaylist-bc { background-color:#aaaaaa; }
#xn_bar, .xg_theme-ningbar-bc { background-color:#333333; }
.xg_theme .icon-color { color:#3c78a7; }
.xg_theme .xg_lightborder { border-color:#cbcbcb; }
.xg_theme .xg_lightfont { color:#7f7f7f; }
.xg_theme .xg_theme-button-c { color:#3c78a7; }
.xg_theme .xg_theme-button-bc { background-color:#ffffff; }
.xg_theme .xg_theme-link-c { color:#3c78a7; }
.xg_theme #xg_themebody { border-top:3px solid #3c78a7; }
.xg_theme #xg_head, .xg_theme #xg_foot {
  width:1002px;
  margin:0 auto;
}
.xg_theme #xg {
  padding:10px;
  width:982px;
  margin:0 auto;
}
.xg_theme #xg_foot {
  margin-top:10px;
  padding-top:10px;
}
.xg_theme #xg_masthead:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.xg_theme #xg_masthead {
  *zoom:1;
  position:relative;
  padding-top:25px;
  padding-bottom:20px;
}
.xg_theme h1#xg_sitename {
  text-transform:uppercase;
  float:left;
  margin:0;
  letter-spacing:0;
}
.xg_theme p#xg_sitedesc {
  position:absolute;
  right:0;
  bottom:12px;
  margin:0;
}
.xg_theme #xg_navigation {
  clear:both;
  border-left:1px solid #aaaaaa;
  border-right:1px solid #aaaaaa;
}
.xg_theme #xg_navigation ul { margin:0; }
.xg_theme #xg_navigation li {
  float:left;
  margin:0;
  padding:8px 14px 3px;
  text-transform:uppercase;
  border-right:1px dotted #ffffff;
  border-top:4px solid transparent;
  position:relative;
  top:-4px;
}
.xg_theme #xg_navigation li.this { border-top:4px solid #3c78a7; }
.xg_theme #xg_body { width:982px; }
.xg_theme .xg_module_head {
  padding-bottom:4px;
  padding:3px 0 4px 0;
  margin:0 5px;
}
.xg_theme .xg_module { margin-bottom:15px; }
.xg_theme h1, .xg_theme h2, .xg_theme h3, .xg_theme h4, .xg_theme h5, .xg_theme h6 { letter-spacing:-1px; }
.xg_theme .xg_module_head h2 {
  letter-spacing:0;
  text-transform:uppercase;
}
.xg_theme .xj_ad_below_header {
  width:982px;
  padding:10px;
  margin:0 auto;
}
.xg_theme #xg_navigation li {
	float:left;
	margin:0;
	padding:8px 5px 3px;
    text-transform:uppercase;
	border-right:1px dotted #fff;
	border-top:4px solid transparent;
	position:relative;
	top:-4px;
}
.xg_theme #xg_navigation {
margin-top: -20px;
}
div.feedburnerFeedBlock  #creditfooter{ 
display: none; 
} @media screen and (max-width: 1023px){
div#column2{
display:none;
}
#xg,#xg_body,#xg_ad_below_header,#xg_head,#xg_foot,#xg_ad_below_footer,#column1,#column1 .xg_3col,.xg_theme #xg,.xg_theme #xg_head,.xg_theme #xg_foot,.xg_theme #xg_body{
width:100%;
}
#xg,#xg_ad_below_header,#xg_ad_below_footer,.xg_theme #xg{
padding:10px 0;
}
#xg_layout_column_2{
min-width:100px;width:720px;
}
}

@media screen and (max-width: 1000px){#xg_layout_column_2{width:700px;}}
@media screen and (max-width: 980px){#xg_layout_column_2{width:680px;}}
@media screen and (max-width: 960px){#xg_layout_column_2{width:660px;}}
@media screen and (max-width: 940px){#xg_layout_column_2{width:640px;}}
@media screen and (max-width: 920px){#xg_layout_column_2{width:620px;}}
@media screen and (max-width: 900px){#xg_layout_column_2{width:600px;}}
@media screen and (max-width: 880px){#xg_layout_column_2{width:580px;}}
@media screen and (max-width: 860px){#xg_layout_column_2{width:560px;}}
@media screen and (max-width: 840px){#xg_layout_column_2{width:540px;}}
@media screen and (max-width: 820px){#xg_layout_column_2{width:520px;}}

@media screen and (max-width: 800px){
#xg_layout_column_2{width:500px;}
#xn_bar{
min-width:400px;
}
#xg_ad_below_header iframe,#xg_ad_below_footer iframe{
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8);
  -ms-transform:scale(0.8);
  -o-transform:scale(0.8);
  transform:scale(0.8);
  margin-left:-10px;
}
.dy-small,#xn_bar #xn_bar_menu_tabs #xn_signout{
font-size:1em;
}
.feedburnerFeedBlock li,.xg_module_body li{
margin:15px 0;
}
.xg_module_body ul{
padding-left:15px;
}
.xg_module_body ul a{
margin-left:-5px;
}
div.tb{
margin:10px 0;
}
.tb .reactions{display:block;margin:10px 0 20px 0;}
#application_name_header_link>img{
width:100%;
}
div.xg_module_body .ib span.xg_avatar{
position:relative;
top:13px;
}
}

@media screen and (max-width: 780px){#xg_layout_column_2{width:480px;}}
@media screen and (max-width: 760px){#xg_layout_column_2{width:460px;}}
@media screen and (max-width: 740px){#xg_layout_column_2{width:440px;}}
@media screen and (max-width: 720px){#xg_layout_column_2{width:420px;}}
@media screen and (max-width: 700px){#xg_layout_column_2{width:400px;}}
@media screen and (max-width: 680px){#xg_layout_column_2{width:400px;}}

@media screen and (max-width: 670px){
#xg_layout_column_1{display:none;}
#xg_layout_column_2{
width:95%;
margin:0 auto;
display:block;
float:none;
}
#xg_ad_below_header iframe,#xg_ad_below_footer iframe{
  -webkit-transform:scale(0.7);
  -moz-transform:scale(0.7);
  -ms-transform:scale(0.7);
  -o-transform:scale(0.7);
  transform:scale(0.7);
  margin-left:-100px;
}
}

@media screen and (max-width: 600px){
#xn_bar_menu_branding{
display:none;
}
#xg_ad_below_header iframe,#xg_ad_below_footer iframe{
  -webkit-transform:scale(0.6);
  -moz-transform:scale(0.6);
  -ms-transform:scale(0.6);
  -o-transform:scale(0.6);
  transform:scale(0.6);
  margin-left:-200px;
}
.nolegend span.dy-avatar{
display:none;
}
dl.comment{
padding-left:0px;
}
#comments>dl>dt,#comments>dl>dd{
margin-left:55px !important;
}
}

@media screen and (max-width: 550px){
#xg_ad_below_header iframe,#xg_ad_below_footer iframe{
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  -o-transform:scale(0.5);
  transform:scale(0.5);
  margin-left:-250px;
}
}

@media screen and (max-width: 500px){
#xg_ad_below_header iframe,#xg_ad_below_footer iframe{
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  -o-transform:scale(0.5);
  transform:scale(0.5);
  margin-left:-300px;
}
dl.comment dd{
margin-left:0px!important;
}
.texteditor-container #xj_comment_submit{
  position: relative;
  top: -20px;
  left: -60px;
}
}

@media screen and (max-width: 410px){
#xg_ad_below_header iframe,#xg_ad_below_footer iframe{
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  -o-transform:scale(0.5);
  transform:scale(0.5);
  margin-left:-350px;
}
}