@font-face {
  font-family: 'cc-fontello';
  src: url('../font/cc-fontello.eot?74385560');
  src: url('../font/cc-fontello.eot?74385560#iefix') format('embedded-opentype'),
       url('../font/cc-fontello.woff2?74385560') format('woff2'),
       url('../font/cc-fontello.woff?74385560') format('woff'),
       url('../font/cc-fontello.ttf?74385560') format('truetype'),
       url('../font/cc-fontello.svg?74385560#cc-fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cc-fontello';
    src: url('../font/cc-fontello.svg?74385560#cc-fontello') format('svg');
  }
}
*/
 
 [class^="cc-icon-"]:before, [class*=" cc-icon-"]:before {
  font-family: "cc-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.cc-icon-mail:before { content: '\e800'; } /* '' */
.cc-icon-mail-alt:before { content: '\e801'; } /* '' */
.cc-icon-facebook:before { content: '\e802'; } /* '' */
.cc-icon-twitter:before { content: '\e803'; } /* '' */
.cc-icon-cc:before { content: '\e804'; } /* '' */
.cc-icon-search:before { content: '\e805'; } /* '' */
.cc-icon-globe-inv:before { content: '\e806'; } /* '' */
.cc-icon-cc-by:before { content: '\e807'; } /* '' */
.cc-icon-down-dir:before { content: '\e808'; } /* '' */
.cc-icon-left-dir:before { content: '\e809'; } /* '' */
.cc-icon-right-dir:before { content: '\e80a'; } /* '' */
.cc-icon-up-dir:before { content: '\e80b'; } /* '' */
.cc-icon-twitter-circled:before { content: '\e80c'; } /* '' */
.cc-icon-facebook-circled:before { content: '\e80d'; } /* '' */
.cc-icon-menu:before { content: '\e80e'; } /* '' */
.cc-icon-cancel:before { content: '\e80f'; } /* '' */
.cc-icon-heart-empty:before { content: '\e810'; } /* '' */
.cc-icon-linkedin-circled:before { content: '\e811'; } /* '' */
.cc-icon-mail-circled:before { content: '\e812'; } /* '' */
.cc-icon-dollar:before { content: '\e813'; } /* '' */
.cc-icon-quote:before { content: '\e814'; } /* '' */
.cc-icon-circle:before { content: '\e815'; } /* '' */
.cc-icon-gplus-circled:before { content: '\e816'; } /* '' */