a {
    cursor: pointer;
}

.instragram-feed a {
    display: block;
    height: 100%;
    width: 100%;
}

.jumbotron-about-intro .overflow-img { background-size: cover !important;}

.panel.sidebar {
  background-color: #ddd;
  margin-top: 23px;
  padding: 1em; 
  }

hr.colorRule {
    border-color: #ffcd00;
}

.no-hero {
    margin: 12.5em 0 3em;
}

.nav-tabs>li.fun, .tab-module .fun .panel-heading {
    background: url("../img/tab_fun.jpg");
    height: 200px;
    background-size: cover;
    background-color: rgba(255,255,255,0.85);
    background-blend-mode: color;
}

a.terms-link {
    color: #fff;
}

#pag-az {
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-align: center;
}

#pag-az li {
    background: #c7c7c7;
    border: 0;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 16px;
    list-style: none;
    margin: 8px 8px 8px 0
}

#pag-az a:link,#pag-az a:visited {
    color: #0e509e;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 3px;
    text-decoration: none
}

#pag-az a:hover {
    background: #b3b3b2
}

#pag-az a.active {
    color: #fff
}

#pag-az .active {
    background: #146b93;
    color: #fff;
}

.input-search {
    height: 47px;
}

.error-page {
    margin: 70px 0 70px 0;
}

.panel-links-dp {
    margin: 35px 0 35px 0;
}

.search-exp {
    background-color: #d3d3d3;
    padding: 0.7em;
}

.h1-alt {
    font-size: 2.3em;
}

.h3-alt {
    font-size: 1.5em;
}

.m-top {
    margin-top: 14em;
}

h2.emergency-header {
    font-size: 1.5em;
    color: red;
    margin: 35px 0;
}

span.emergency-h-text {
    text-transform: none;
    color: #484949;
}

h3.updates-h {
    font-size: 1.3em;
    margin: 30px 0;
}

.update-container {
    margin: 20px 0;
}

p.time-stamp {
    font-family: sans-serif, arial, helvetica;
    font-weight: bold;
    color: #666;
}

.emergency-announcement {
  margin-top: 11em;
  padding-top: 30px;
  padding-bottom: 25px;
}

.emergency-announcement h1 {

  font-size: 2.5em;
  margin: 0;

}

.emergency-announcement h3 {

  margin: 0;

}
.EmeContBg-Blue {
  background-color: #006a96 !important;
}

.EmeContBg-Red {
  background-color: #b92121 !important;
}

.EmeContBg-Yellow {
  background-color: #d2a900 !important;
}

.EmeContBg-Orange {
  background-color: #FC8900 !important;
  color: #000;
}

.EmeContBg-Orange a {
    color: #000 !important;
    border-color: #000 !important;
}

.EmeContBg-Yellow a, .EmeContBg-Red a, .EmeContBg-Blue a, .EmeContBg-Yellow p, .EmeContBg-Red p, .EmeContBg-Blue p, .EmeContBg-Yellow h3, .EmeContBg-Red h3, .EmeContBg-Blue h3 {
    color: #FFF !important;
    border-color: #FFF !important;
}



.h-alert-emergency {
    color: #d60000;
}

.h-alert-warning {
    color: orange;
}

.h-alert-notice {
    color: #0035ff;
}

 .hidden {
	 display: none !important;
	 visibility: hidden !important;
}

.tab-h1 {
    font-size: 2.5em !important;
    padding-top: 1.2em !important;
}

.page-homepage section.announcement {
    margin-top: 41px !important;
}

.event-description p {
    margin-top: 17px;
}

/* this removes the apply buttons on the header and footer */

a.btn.btn-primary.navbar-btn.hidden-sm {
    visibility: hidden;
    display: none !important;
}

.btn-apply {
    display: none !important;
    visibility: hidden;
}
/*end*/

@media (max-width: 1199px) {
    
    .col-sm-7.hp-h-col {
    width: 74% !important;
    }
}


@media (max-width: 992px) {
    
    .no-hero {
        margin: 0 0 3em;
        padding: .5em 0 0 0;
    } 
    
    .col-sm-7.hp-h-col {
    width: 78% !important;
    }
    
        
.page-homepage section.announcement {
    margin-top: 0 !important;
}
}

@media (max-width: 767px) {

.tab-module-re .panel.panel-default {
    background: #FFF !important;
}

.tab-h1 {
    height: 200px;
    padding-top: 1.8em !important;
}

.nav-tabs>li.fun, .tab-module .fun .panel-heading {
        background-color: transparent !important;
    }


}

@media (min-width: 767px) {

    .tab-h1 {
        background: none !important;
        background-image: none !important;
    }
    
}

@media (max-width: 367px) {
    
    .col-sm-7.hp-h-col {
    width: 100% !important;
    }
}

