body { margin: 0; }
body,td{font-family:Arial,sans-serif; font-size:10pt }
a:link{color:#00c}
a:visited{color:#551a8b}
a:active{color:#f00}
a.advanced {font-size:8pt}
h1{
  font-weight: normal;

}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 { font-size: 13px; margin-bottom: 0; margin-top: 2em }
p { margin-top: 0; }
#sections { margin-left: 0; padding: 1em; padding-left: 2.5em;  border: 1px solid #ccc; background-color: #e8e8e8;  }
#sections li { margin-bottom: 0.25em; color: #ccc; }
.section { margin-bottom: 2em; padding-bottom: 1em; border-bottom: 2px solid #f60; }
@media (max-width:600px) {
    table { width: 100% !important; }
    h3 { font-size: 16px; margin-bottom: 5px; }
    h2 { font-size: 22px; margin-top: 0; }
    .section { padding-top: 40px; }
    #aboutnav { display: none; }
    #sections { list-style: none; padding: 0 5px 0 5px; background: none; border: none; margin-top: 0; }
    #sections a { border: 1px solid #CCC; border-bottom-color: #AAA; border-right-color: #AAA; position: relative;
        text-decoration: none; color: black; display: block; background-color: #E8E8E8;
        padding: 10px 5px; margin: 15px auto; font-size: 14px; text-align: center; }

}
.separator_top {
    border-top: 2px solid #ccc;
    color: #808080;
    margin-bottom: 1em;
}
.separator_top, .separator_bottom {
    background: #EBEBEB;
    font-weight: bold;
}
.legal-page{
  max-width:700px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.notice {
  padding: 1em;
  background: #ffc;
  margin-bottom:1em;
}
.notice p{
  padding:0;
  margin: 0;
}
.terms{
  overflow: hidden;
}
.unifiedpatents{
  padding: 15px;
  padding-bottom: 0px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 660px){
  .unifiedpatents{
  float: right;
    padding: 0px 0 15px 15px;
  }
}
