a, 
a:visited.primaryVlink, 
.sub a:visited, 
#related li a:visited { color:#27458d; }

a.secondary, 
#related h3 a:visited:link, 
#related h3 a:visited:visited { color:#ceb72d; }

#mc .primary, 
#breadcrumbs_container a, 
#breadcrumbs_container a:visited, 
#related_container a, 
#related_container a:visited, 
#related_container h3 a, 
#related_container h3 a:visited { color:#132448; }

#mc .secondary, 
#related_container h3, 
#breadcrumbs_container { color:#ceb72d; }

#mc .tertiary { color:#cdcdce; }

.primaryBg { background-color:#132448; }
.secondary, #related h3 a:visitedBg { background-color:#ceb72d; }
.tertiaryBg { background-color:#cdcdce; }
.homepageBg, #ps_drawer_tab, #home_container .blogs_content { background-color: #132448; }

/* Sponsor ad in header */
#header_container #masthead #sponsor_container img {position:absolute;left:656px;top:12px;}

/* standings border color */
.teamBorderColor { border:1px solid #132448; }
.left_links li.selected, .right_links li.selected{background-color:#132448;}

/* Related Content */
#related_content h3 a, #breadcrumbs_container a, #home_container .more a  {background:url(/images/icons/related_link/nyy.gif) right no-repeat;padding-right:12px;}

/* Main Nav Colors, Separator Pipe*/
.collapsed .navItem, .collapsed .altNavItem  {color: #ffffff;}
.expanded .navItem, .expanded .navItemOn, .expanded .altNavItem, .expanded .altNavItemOn {color: #ceb72d;cursor: pointer;}
.collapsed .navItemOn, .collapsed .altNavItemOn  {color: #ceb72d;}

/* set calendar home-field specific properties */
.calHome { color:#fff; }
.calHomeSt { color:#000; }

.calHomeBg { background-color:#132448; }
.calHomeStBg { background-color:#999; }

/* used on schedule/promotions page */
.hdrBannerBg { background-color:#1c2841; background-repeat:no-repeat; }
.hdrBtmStripeBg { background-color:#fff; }
.hdrTop, a.hdrTop, a:visited.hdrTop { color:#fff; font:11px Arial,Helvetica,sans-serif; }
.hdrTopOn, a:hover.hdrTop, a:visited.hdrTopOn { color:#ceb72d; font:11px Arial,Helvetica,sans-serif; }
.hdrTopBg { background-color:#132448; }
.hdrBtmBg { background-color:#6d7380; }
.hdrSel { background-color:#132448; color:#fff; font:11px Arial,Helvetica,sans-serif; }