@charset 'utf-8';
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body,
div,
p,
h1,
h2,
h3,
ul,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
input {
  outline: none;
  hide-focus: expression(this.hideFocus=true);
}
ul,
li {
  list-style: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.inline-list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* top section */
/* top section */
.sns-ico,.fb-li .fb-content b,.ico-star,.introLi li b,.ico-flag,.top-nav-wrap .facebook{background:url(http://dl.browser.baidu.com/assets/official/img/201310/ico-3.png) no-repeat;}
.top-nav-wrap {
  min-width: 1000px;
  background-color: #f5f5f5;
  font-size: 10px;
  z-index: 3;
}
.top-nav-wrap .inner {
  margin: 0 auto;
  width: 1000px;
  *zoom: 1;
}
.top-nav-wrap .inner:before,
.top-nav-wrap .inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.top-nav-wrap .inner:after {
  clear: both;
}
.top-nav-wrap .inner .top-nav {
  float: right;
}
.top-nav-wrap .inner .top-nav .nav-item {
  float: right;
}
.top-nav-wrap .icon {
  display: inline-block;
  _display: inline;
  _zoom: 1;
}
.top-nav-wrap .global {
  width: 16px;
  height: 16px;
  background: url(http://dl.browser.baidu.com/assets/official/img/201310/index-spirit.png) no-repeat -288px -4px;
}
.top-nav-wrap .facebook {
  width: 16px;
  height: 16px;
  background-position: -76px 0;
}
.top-nav-wrap .more {
  width: 5px;
  height: 3px;
  background: url(http://dl.browser.baidu.com/assets/official/img/201310/index-spirit.png) no-repeat -326px -4px;
}
.top-nav-wrap .language-select-container {
  position: relative;
  width: 179px;
  z-index: 9999;
}
.top-nav-wrap .language-select-container .language {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 36px;
  _zoom: 1;
  -webkit-text-size-adjust: none;
  font-size: 10px;
  position:relative;
  color:#2e2e2e;
}
.top-nav-wrap .language-select-container .current .language {
  position: relative;
}
.top-nav-wrap .language-select-container .current .language .global {
  position: absolute;
  top: 7px;
  left: 13px;
}
.top-nav-wrap .language-select-container .current .language .more {
  position: absolute;
  top: 13px;
  right: 12px;
}
.top-nav-wrap .language-select-container .language-nav {
  position: absolute;
  width: 100%;
  margin-left: -1px;
  border: 1px solid #E4E4E6;
  border-top: none;
  background: white;
}
.top-nav-wrap .language-select-container .language-nav .language-item {
  border-top: 1px solid #EDEFF2;
}
.top-nav-wrap .language-select-container .language-nav .language:hover {
  text-decoration: underline;
  color: #2f95ed;
  background-color: #f4f4f4;
}
.top-nav-wrap .hide-selection .language-nav {
  top: -9000px !important;
}
.top-nav-wrap .facebook-page-link {
  display: block;
  width: 16px;
  height: 30px;
  margin-right: 10px;
}
.top-nav-wrap .facebook-page-link .facebook {
  margin: 7px 0 0;
}
.nav-ico-item{padding-right:3px;}
.nav-sp{line-height:26px;color:#c2c2c2;font-size:16px;}
.nav-top-ico{float:left;}
.ico-flag{display:block;width:14px;height:11px;background-position:0 -74px;position:absolute;left:13px;top:50%;margin-top:-6px;}
.lg-gl .current .ico-flag,.gl{width:16px;height:16px;background-position:-57px -74px;margin-top:-8px;}
.lg-br .current .ico-flag,.br{background-position:-19px -74px;}
.lg-egy .current .ico-flag,.egy{background-position:-38px -74px;}
.lg-sa .current .ico-flag,.sa{background-position:0 -90px;}
.lg-uae .current .ico-flag,.uae{background-position:-19px -90px;}
.lg-id .current .ico-flag,.id{background-position:-38px -90px;}
/* header section */
/*header section */
#header {
  height: 80px;
}
#header {
  position: relative;
  z-index: 1;
}
#header .logo {
  background: url(http://dl.browser.baidu.com/assets/official/img/201412/logo.png) no-repeat;
  position: relative;
  top: 17px;
  left: -4px;
  width: 341px;
  height: 47px;
  float: left;
}
#header .logo_br {
  background: url(http://dl.browser.baidu.com/assets/official/img/201412/logo_br.png) no-repeat;
}
#header .logo_th {
  background: url(http://dl.browser.baidu.com/assets/official/img/201412/logo_th.png) no-repeat;
}
#header .logo_id {
  background: url(http://dl.browser.baidu.com/assets/official/img/201412/logo_id.png) no-repeat;
}
#header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
#header .menu {
  float: right;
  padding-top: 23px;
  position: relative;
  right: 0;
}
#header .menu li.menu-item {
  float: right;
  border: 1px solid white;
  height: 47px;
}
#header .menu .last a {
  padding-right: 0 !important;
}
#header .menu-item .menu-link {
  position: relative;
  z-index: 3;
  font-size: 16px;
  line-height: 23px;
  padding: 12px 11px 12px 18px;
  color: #666;
  display: block;
}
#header .menu a.active {
  pointer-events: none;
  cursor: default;
  color: #236fcc;
  border-bottom: 2px solid #fff;
  margin-bottom: -1px;
}
#header .dl-list {
  position: absolute;
  margin-left: -1px;
  display: none;
  *line-height: 0;
  *font-size: 0;
}
#header .dl-list li {
  border: 1px solid #edeff2;
  border-bottom: none;
  display: block;
  height: 30px;
  width: 165px;
  line-height: 30px;
  background: white;
}
#header .dl-list li.last {
  border: 1px solid #edeff2;
}
#header .dl-list li a {
  display: block;
  _zoom: 1;
  padding-left: 20px;
  color: #666;
}
#header .dl-list li a:hover {
  background: #edeff2;
  color: #0066ff;
}
.nob {
  border-bottom: 1px solid #eaebea;
}
html {
  height: 100%;
}
body {
  background-color: white;
  color: #999;
  font-size: 14px;
  line-height: 1.4;
  font-family: Arial, Verdana, 'Open Sans', sans-serif;
  height: 100%;
}
input,textarea{
  font-family: Verdana, 'Open Sans', sans-serif;
}
a {
  color: #0066ff;
  font-size: 14px;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: #333;
  font-weight: normal;
}
h3 {
  color: #333;
  font-size: 30px;
}
.dl-button {
  display: block;
  background: url(http://dl.browser.baidu.com/assets/official/img/201310/main-dl-btn.png) no-repeat;
  width: 262px;
  height: 62px;
  margin-top: 15px;
  position: relative;
  left: 0;
  text-indent: -9999px;
  overflow: hidden;
}
/*.dl-button:hover {
  background-position: 0 -65px;
}
.dl-button:active {
  background-position: 0 -130px;
}*/
.dl-button h3 {
  margin-left: 100px;
  color: white;
  line-height: 54px;
}
.dl-button h4 {
  margin-left: 100px;
  color: white;
  position: relative;
  line-height: 30px;
  top: -35px;
}
.container {
  margin: 0 auto;
  width: 1000px;
}
/*scaffold*/
#top {
  height: 30px;
}

.linecontact{display:block;width:188px;height:160px;background:url(http://dl.browser.baidu.com/assets/official/img/201310/linecontact.png) no-repeat;position:absolute;left:0px;text-indent:-9999px;overflow:hidden;z-index:99999;top:242px;}
.callcenter{display:block;width:220px;height:67px;background:url(http://dl.browser.baidu.com/browserextension/official/img/th20140616/callcenter_th.png) no-repeat;position:absolute;left:0;top:425px;text-indent:-9999px;overflow:hidden;z-index:99999;}
.toTop{display:none;width:57px;height:57px;background:url(http://dl.browser.baidu.com/assets/official/img/201306/toTop.png) no-repeat;text-indent:-9999px;overflow:hidden;position:fixed;right:50px;bottom:60px;z-index:9999;_position:absolute;}
/*hero*/
.norTit{color:#000;font-size:30px;padding:20px 0;}
#hero{min-width:1000px;height:400px;overflow:hidden;}
.prodDrawing{padding:34px 0 0 11px;}
#hero .container{position:relative;}
.slide_wrap{height:100%;overflow:hidden;}
.heroLi{height:100%;position:relative;overflow:hidden;}
.heroLi .h-item{height:100%;background:url("http://dl.browser.baidu.com/browserextension/official/img/20150402/home_intro/spark-banner.jpg") repeat-y 50% 0;position:absolute;top:0;left:50%;margin-left:-700px;width:1400px;filter:alpha(opacity=0);_display:none;_filter:alpha(opacity=100);opacity:0;z-index:9;}
.heroLi .current{_display:block;filter:alpha(opacity=100);opacity:1;z-index:999;}
.heroLi .hero-2{background:url(http://dl.browser.baidu.com/assets/official/img/201310/hero/hero-media.jpg) repeat-y 50% 0;}
.heroLi .hero-3{background:url(http://dl.browser.baidu.com/assets/official/img/201310/hero/hero-beta.jpg) repeat-y 50% 0;}
.heroLi .hero-3 .subInfo{margin-top:12px;}
.heroLi .hero-3 .dl-button{background:url(http://dl.browser.baidu.com/assets/official/img/201310/mian-beta-dl-btn.png) no-repeat;width:265px;height:62px;}
.slide_ctrl{position:absolute;left:50%;bottom:15px;z-index:9999;margin-left:-30px;}
.slide_ctrl li{float:left;width:9px;height:9px;background-color:#ccc;cursor:pointer;text-indent:-9999px;overflow:hidden;margin-right:12px;border-radius:4px;}
.slide_ctrl .current{background-color:#236fcc;}
.dlBtn{display:block;width:244px;height:64px;text-indent:-9999px;overflow:hidden;float:left;clear:both;margin-top:16px;}
.dlBtn:hover{background-position:0 -69px;}
.dlBtn:active{background-position:0 -138px;}
.prodDescBox .betaDl{color:#9eb3d6;text-decoration:underline;position:absolute;top:94px;left:262px;}
.prodDescBox{position:absolute;left:-24px;top:65px;width:420px;}
.heroInfo{color:#131313;}
.heroInfo h2{font-size:40px;line-height:1.5;color:#000;}
.heroInfo p{font-size:16px;color:#313031;}
.subInfo{float:left;clear:both;margin-top:9px;color:#747474;line-height:21px;font-size:12px;font-style:italic;}
.subInfo a{color:#236fcc;text-decoration:underline;font-style:normal;font-size:12px;}
.subInfo a:hover{color:#236fcc;text-decoration:underline;}
.hero-3 .subInfo{line-height:18px;}
.hero-3 .subInfo a{color:#747474;}
.hero-3 .subInfo a:hover{color:#747474;}
.subInfoLnk{position:absolute;/*padding-top:8px;*/}
.hero-1 .subInfoLnk{top:230px;}
.hero-2 .subInfoLnk{top:252px;}
.hero-3 .subInfoLnk{top:255px;}
.subInfo .more{font-style:normal;color:#131313;margin-top:30px;}
.subInfo .more a{color:#1372d3;text-decoration:underline;}
.emTag{display:block;float:left;line-height:1.5;background-color:#db3131;font-size:12px;color:#fff;padding:0 8px;border-radius:4px;margin-right:10px;}
.txtdl{position:absolute;left:0;top:288px;font-style:normal;text-decoration:underline;color:#236fcc;font-size:12px;}
.txtArea{position:absolute;left:0;top:288px;}
.txtArea .tri-ver a{display:block;width:92px;height:30px;background:url(http://dl.browser.baidu.com/assets/official/img/201310/sub-dl-btn.png) no-repeat;text-indent:-9999px;overflow:hidden;}
.txtArea p{font-size:12px;color:#000;float:left;}
.txtArea .tri-desc{padding-left:12px;position:relative;top:-3px;}
.txtArea a{text-decoration:underline;color:#0972db;}
.hero-1 .fb-like{position:absolute;left:100px;top:245px;}
.hero-2 .fb-like{position:absolute;left:100px;top:270px;}
.hero-3 .fb-like{position:absolute;left:100px;top:255px;}
.hero-hr{height:1px;width:262px;background-color:#b8b8b8;border-bottom:1px solid #fcfdfb;position:absolute;top:276px;}

/*features*/
#feature-nav{position:absolute;top:511px;left:0;width:100%;z-index:9999;background-color:#fff;}
#feature-nav ul{border-bottom:4px solid #eee;height:130px;padding:0 80px;}
#feature-nav li{float:left;padding-right:35px;}
#feature-nav .last{padding-right:0;}
#feature-nav li a{display:block;width:140px;height:41px;float:left;text-align:center;color:#959595;padding-top:89px;position:relative;font-size:13px;}
#feature-nav li a i{display:block;width:60px;height:58px;background:url(http://dl.browser.baidu.com/assets/official/img/201310/navSprd.png) no-repeat;position:absolute;top:20px;left:50%;margin-left:-30px;cursor:pointer;}
#feature-nav li .fa2 i{width:56px;height:59px;margin-left:-28px;background-position:-65px 0;}
#feature-nav li .fa3 i{height:60px;background-position:-126px 0;}
#feature-nav li .fa4 i{height:49px;background-position:-191px 0;top:26px;}
#feature-nav li .fa5 i{width:53px;height:59px;margin-left:-26px;background-position:-256px 0;}
#feature-nav li .fa6 i{width:29px;height:60px;margin-left:-14px;background-position:-314px 0;}
#feature-nav li .fa7 i{width:59px;height:60px;margin-left:-30px;background-position:-348px 0;}
#feature-nav li .fa8 i{width:59px;height:60px;margin-left:-30px;background-position:-412px 0;}
#feature-nav li a b{display:none;width:100%;height:4px;background-color:#236fcc;position:absolute;bottom:-4px;left:0;overflow:hidden;}
#feature-nav li a:hover,#feature-nav .on a{color:#236fcc;}
#feature-nav li a:hover b,#feature-nav .on a b{display:block;}
#feature-nav li a:hover i,#feature-nav .on a i{background-position:0 -65px;}
#feature-nav li .fa2:hover i,#feature-nav .on .fa2 i{background-position:-65px -65px;}
#feature-nav li .fa3:hover i,#feature-nav .on .fa3 i{background-position:-126px -65px;}
#feature-nav li .fa4:hover i,#feature-nav .on .fa4 i{background-position:-191px -65px;}
#feature-nav li .fa5:hover i,#feature-nav .on .fa5 i{background-position:-256px -65px;}
#feature-nav li .fa6:hover i,#feature-nav .on .fa6 i{background-position:-314px -65px;}
#feature-nav li .fa7:hover i,#feature-nav .on .fa7 i{background-position:-348px -65px;}
#feature-nav li .fa8:hover i,#feature-nav .on .fa8 i{background-position:-412px -65px;}
#main{padding-top:130px;}
#features li:after{content:'';display:block;height:0;visibility:hidden;clear:both;}
#features li{padding:45px 0;position:relative;border-bottom:1px solid #e1e1e1;height:350px;*zoom:1;}
#features .to-bottom{padding:38px 0 0;height:402px;}
#features li .right-pic{float:right;}
#features li .left-pic{float:left;}
#features li .anchor{position:absolute;top:-130px;left:0;}
#features .last{border:none;}
.feature-desc{color:#333;position:absolute;left:20px;top:150px;width:390px;}
.fd-r{left:600px;}
.feature-desc h2{font-size:30px;padding-bottom:12px;}
.feature-desc p{font-size:14px;line-height:1.8;}

/*inner*/
.main{position:relative;z-index:1;}
.content{background:#FFF;color:#334350;}
.content .wrap{width:1000px;padding:0;}
.mainHd{height:51px;position:relative;margin-bottom:20px;padding-top:20px;}
.mainHd h2{position:absolute;left:0;bottom:-5px;_bottom:-6px;font-size:30px;}
.mainHd .label{position:absolute;right:0;bottom:9px;font-size:18px;}
.inner #main{padding-top:0;}
/*faq*/
#qapairs{padding:14px 0 0 0;}
.qapair{color:#334350;font-size:14px;padding-top:4px;}
.qapair .q{line-height:28px;font-weight:bold;padding-left:20px;background:url(http://dl.browser.baidu.com/assets/official/img/201306/folderIco.jpg) no-repeat 0 -27px;}
.qapair a{color:#334350;}
.qapair a:hover{color:#334350;}
.qapair .a{padding-left:28px;padding-top:2px;font-size:12px;line-height:19px;color:#999;}
.qapair .a img{padding:10px 0 3px 22px;}
.qapair .a .content_ico{padding:0 4px;}
.qapair .secA img{padding-left:0;}
.qapair .om{padding-right:10px;}
.qapair .a a{color:#0072e6;text-decoration:underline;}
.qapair .a a:hover{color:#0072e6;}
.qapair p.a,.qapair ul{display:none;}
.qapair.active p.a,.qapair.active ul,.qapair.active div.qaFeedback{display:block;}
.active .q{background-position:0 3px;}
.qaFeedback{position:relative;margin-bottom:35px;height:25px;min-width:720px;background:#e8e8e8;display:none;}
.qaFeedback>span{font-size:12px;font-weight:bold;line-height:25px;color:#333;padding:0 10px;}
.qaFeedback>a{font-size:11px;line-height:25px;color:#526b95;padding:0 2px;}
/*about*/
.about .mainHd{padding-top:25px;}
.aboutCont{line-height:26px;background:url(http://dl.browser.baidu.com/assets/official/img/201503/about.png) no-repeat;min-height:290px;_height:290px;padding-left:486px;margin-top:30px;}
.aboutCont p{padding-right:16px;}
.aboutCont .fir{font-weight:bold;padding-bottom:22px;}
.aboutCont a:hover,.histCont a:hover{text-decoration:underline;}
.histCont{border-left:4px solid #c0c0c0;margin:50px 0 120px 120px;padding:90px 0 80px 45px;position:relative;}
.lineBegin{height:53px;background-color:#3c8ce4;line-height:53px;color:#fff;font-size:20px;font-weight:bold;position:absolute;left:-52px;top:-16px;padding:0 26px;border-radius:15px;}
.lineBegin:after{display:block;content:'';width:0;height:0;border-top:13px solid #3c8ce4;border-left:8px solid transparent;border-right:8px solid transparent;position:absolute;bottom:-13px;left:50%;margin-left:-8px;}
.lineEnd{width:70px;height:70px;background-color:#92b458;border:7px solid #e7f3d2;border-radius:70px;line-height:70px;text-align:center;color:#fff;font-size:14px;font-weight:bold;position:absolute;bottom:-40px;left:-44px;}
.updateBlock{position:relative;padding-top:35px;}
.updateBlock h3{color:#fff;font-size:12px;position:absolute;left:-163px;top:18px;line-height:23px;padding:0 15px 0 10px;border-radius:33px;background-color:#3c8ce4;border:5px solid #fff;width:100px;}
.histCont .evenBlock .updateDate b{background-color:#92b458;}
.histCont .evenBlock h3{background-color:#92b458;}
.updateDate{width:614px;border-top:1px solid #c0c0c0;position:relative;color:#c0c0c0;font-size:12px;left:-26px;}
.updateDate span{position:absolute;left:625px;top:-9px;}
.updateDate span i{display:block;width:5px;height:5px;background-color:#c0c0c0;border-radius:5px;position:absolute;left:-11px;top:50%;margin-top:-2px;}
.updateDate b{display:block;width:18px;height:18px;border-radius:18px;border:5px solid #fff;background-color:#3c8ce4;position:absolute;left:-16px;top:-15px;}
.updateContBlock h4{color:#333;font-size:14px;font-weight:bold;margin:30px 0 5px;}
.updateContList{padding-left:26px;}
.updateContList li{line-height:26px;position:relative;background:url(http://dl.browser.baidu.com/assets/official/img/201303/index-spirit.png) no-repeat -340px -66px;padding-left:15px;}
.updateContList li .inlImg{padding:0 10px;position:relative;top:-2px;}
.updateContList li .bloImg{padding:3px 0 15px;}
.updateContList li b{display:block;width:11px;height:11px;border-radius:11px;border:3px solid #fff;background-color:#81b2e9;position:absolute;left:-81px;top:5px;}
.histCont .evenBlock .updateContList li b{background-color:#b9d38d;}
.qapair .last{padding-bottom:25px;}
.qapair .first{padding-top:15px;}
.ico-new{display:block;width:29px;height:22px;background:url(http://dl.browser.baidu.com/assets/official/img/201306/ico-new.png) no-repeat;position:absolute;left:-170px;top:2px;}
.adCont{line-height:2;}

/*footer*/
.otherProds{text-align:left;border-bottom:1px solid #dedede;padding:40px 0 30px;clear:both;background-color:#f5f5f5;min-width:1000px;}
.frndsLi{padding-top:5px;}
.frndsLi li{float:left;padding:0 50px 13px 0;}
.frndsLi li a{display:block;float:left;color:#959595;font-size:14px;}
.frndsLi li a:hover{color:#959595;text-decoration:underline;}
.footer{text-align:left;padding-bottom:40px;background-color:#f5f5f5;min-width:1000px;}
.footer .link{margin:0 auto;padding:10px 0 5px 0;clear:both;float:left;}
.footer .link > li{display:inline-block;font-size:12px;line-height:20px;color:#959595;padding-right:10px;*display:inline;*zoom:1;}
.footer .link a{color:#959595;}
.footer .link a:hover{text-decoration:underline;}
.footer .copyright{margin:0 auto;font-size:12px;line-height:20px;color:#959595;padding:10px 0 5px 0;float:right;}
.link li{position:relative;z-index:9999;}
.link .ftFbLikeBtn{position:relative;top:4px;z-index:1;}
.lkBoxTgr{padding-right:12px;}
.lkBoxWrap{position:absolute;top:20px;left:0;display:none;z-index:9999;-webkit-box-shadow: 1px 1px 3px #a0a2a3;-moz-box-shadow: 1px 1px 3px #a0a2a3;white-space:nowrap;}
.lkBox{background-color:#fafafa;border:1px solid #888;padding:3px 0;list-style:none;}
.lkBox li{min-width:150px;text-align:left;line-height:20px;}
.lkBox li a{display:block;color:#333;padding:0 8px;}
.lkBox li a:hover{color:#fff;background-color:#245fb3;}
/*footer for ie6/7*/
.link{_width:600px;_margin:0 auto;}
.link li{_float:left;_padding:0 8px;}
.link .ftFbLikeBtn{_top:-15px;}
.lkBoxWrap{_top:14px;_padding-bottom:0;_padding-top:0;}
.lkBoxWrap li a{_clear:both;_width:150px;}
.lkBoxWrap i{_display:none;}
.lkBox{_zoom:1;}

/*feedback*/
#feedback{
    margin:35px 0 50px;
}
.buttonMap{
    background:url(http://dl.browser.baidu.com/assets/official/img/201306/faq/submitBtn.jpg) no-repeat top left;
}
#submit{border:none;font-size:24px;color:#FFF;width:202px;height:53px;cursor:pointer;background-position:0 0;margin-top:30px;} 
#submit:hover{background-position:0 -54px;} 
#submit:active{background-position:0 -108px;}
/*#feedback label{
    font-size:14px;
    line-height:18px;
    display:block;
    padding:5px 0;
    font-weight:bold;
}
#feedback label span,#hint{
    color:red;
}*/
#success{
    color:#5BB75B;
}
#hint,#success{
    line-height:53px;
    vertical-align:bottom;
}
#feedback form input,#feedback form textarea{
    border:1px solid rgb(183,183,183);
    padding:5px;
}
#email{
    width:400px;
    height:23px;
}
#message{
    width:960px;
    max-width:960px;
    height:130px;
}
#feedback h2{font-size:30px;}

.feature-list{padding:28px 25px 0;}
.feature-list li{width:453px;height:450px;float:left;overflow:hidden;}
.feature-list li img{width:100%;}
.feature-list .even{float:right;}
.feature-list li h4{color:#334350;font-size:20px;margin:18px 0 10px;}
.feature-list li p{color:#999;font-size:14px;line-height:1.8;}

/*policy*/
#policy .mainBd{line-height:1.8;padding-bottom:60px;}
#policy .mainBd h2{padding:25px 0 5px;font-size:18px;}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
        display: none !important;
}
#u_0_6{
        display: none !important;
}
/*subicon*/
.sico {display: block;width: 25px;height: 11px;background: url(http://dl.browser.baidu.com/assets/official/img/201310/subicon.png) no-repeat;position: absolute;margin-left:125px;}



input[type=checkbox],
input[type=radio] {
  background-image: url(http://dl.browser.baidu.com/assets/official/img/201412/buttons.png);
  background-repeat: no-repeat;
}

textarea {
  /*font:400 13px/18px "Segoe UI", "Avenir", "Helvetica", "Verdana", "Sans-serif";*/
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size:12px;

  resize: none;
}
input {
  /*font:400 13px/18px "Segoe UI", "Avenir", "Helvetica", "Verdana", "Sans-serif";*/
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 12px;
}


input[type=checkbox], input[type=radio] {
    width: 13px;
    height: 13px;
    display: inline-block;
    font-size: 1px;
    line-height: 1px;
    cursor: pointer;
    background-position: -46px -69px;
    position: relative;
    top: 0px;
    -webkit-appearance: none; 
    outline: none;
    margin: 0;
    margin-right: 5px;
}
input[type=checkbox]:hover{
    background-position: -31px -69px;
}

input[type=checkbox]:checked {
    background-position: -1px -69px;
}
input[type=radio] {
    background-position: -31px -53px;
}
input[type=radio]:hover{
    background-position: -16px -53px;
}

input[type=radio]:checked {
    background-position: -1px -53px;
} 
 

.channelbox{
  display: flex;
  flex-flow:row nowrap;
  align-items:flex-start;
  justify-content: space-between;
  margin: 18px 0 50px 0;
}
.channelbox .box{
  padding-left: 60px;
  position: relative;
  background-color: #f8f8f8;
  border: 1px solid #e6e6e6;
  color: #707070;
  width: 257px;
  height: 77px;
  box-sizing:border-box;
  padding-top: 17px;
  line-height: 20px;
  overflow: visible;
  cursor: pointer;
}
.channelbox .box:hover{
    -webkit-transition: opacity 200ms linear; 
    opacity: 0.8;
}
.channelbox .box.active{
  background-color: #218cf9;
  border:1px solid #218cf9;
  color: #fff;
  position: relative;
}
.channelbox .box.active:after{
  width: 10px;
  height: 10px;
  background-color: #218cf9;
  -webkit-transform: rotate(45deg);
  content: ""; 
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 70px;
}

.channelbox .cell1{
  font-size: 18px;
}
.channelbox .cell2{
  font-size: 14px;
}
.channelbox .box1:before{
  content: "";
  background: url(http://dl.browser.baidu.com/assets/official/img/201412/box1.png) no-repeat 0 0;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 14px;
  top: 17px;
}
.channelbox .box2:before{
  content: "";
  background: url(http://dl.browser.baidu.com/assets/official/img/201412/box2.png) no-repeat 0 0;
  width: 42px;
  height: 42px;
  position: absolute;
  left: 14px;
  top: 17px;
}
.channelbox .box3:before{
  content: "";
  background: url(http://dl.browser.baidu.com/assets/official/img/201412/box3.png) no-repeat 0 0;
  width: 42px;
  height: 42px;
  position: absolute;
  left: 14px;
  top: 17px;
}

.box { 
  overflow: auto;
  text-align: left; 
  font-size: 12px;
}

.wrapper {
  margin: 0 0 0 22px;
  width: 850px; 
}

.padding-row{
   min-height: 30px;
   line-height: 30px;
   padding-left: 16px;
}
 
.row {
  position: relative;
  min-height: 30px;
  line-height: 30px;
}
.row.titleBox {
  border-bottom: 1px solid #999; 
  color: #666;
  padding: 5px 0;
}
.title {
  font-size: 30px;
}
.rowBox {
  position: relative;
  padding-left: 18px;
  min-height: 30px;
  line-height: 30px;
}
.row label, .rowBox label {
  display: inline-block;
}
.buttonText {
  line-height: 30px;
  display: inline-block;
  margin-right: 10px;
  color: #666;
  word-wrap: break-word;
}
.buttonText:hover {
  color: #000;
}
 


textarea, input:not([type]) {  
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  color: #444;
  margin: 0;
  min-height: 2em;
  padding: 3px;
  padding-bottom: 4px;
}

#problemArea {
  box-sizing: border-box; 
  width: 490px;
  height: 99px;
  font-size: 12px;
  border-radius:2px;
  overflow: auto;
  margin-bottom: 10px;
}
input:not([type]) { 
  padding: 0px 3px;
  width: 214px; 
  border-radius: 2px;
  border: 1px solid #dfdfdf;
}
 
 
 
.order-title{
  color: #3f3f3f;
  font-weight: bold;
  font-size: 14px;
} 

.link-site{
  color: #2178E4;
  cursor: pointer;
  text-decoration: none;
}
.placeholder-hide{
  visibility: hidden;
} 

  .float-right{
    float: right;
  }
  .float-left{
    float: left;
  } 
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

.reply-area{
  height: 80px;
  width: 100%;
  margin: 20px 0; 
}

.reply-area-wrapper{ 
  border-top: 1px solid #e6e6e6;
}
.hiddenFile{
  display: none;
}
.question-time{ 
  color:#bebebe; 
   position: absolute;
   right: 30px;
   top: 0;
}
.question-time.new:before{
  background-color: #218cf9;
  border-radius:2px;
  padding:0 2px;
  color: #fff;
  content: "NEW";
  margin-right: 5px; 
  font-size: 12px;
}
.feedback-name{
  width: calc(100% - 170px); 
  text-overflow:ellipsis; 
  white-space: nowrap;  
  overflow: hidden;  
}
.source-user{
  color: #218cf9;
}
.source-admin{
  color: #bebebe;
}
.done-button{
  background-color: #218cf9;
  border-radius: 2px;
  box-shadow: inset 0 1px rgba(255,255,255,0.2); 
  -webkit-transition: opacity 200ms linear; 
  border: 1px solid #218cf9;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer; 
  box-sizing:border-box;
}

.done-button:hover{
  background-color: #409fff;
  border: solid 1px #409fff;
} 
.done-button:active{
  background-color: #1480ee;
  border: solid 1px #1480ee;
}
.done-button.disabled{
  background-color: #eee;
  border: solid 1px #eee;
  color: #ccc;
  cursor: default;
}

.upload-picture-wrapper{
  display: flex;
  flex-flow:row nowrap; 
}
.upload-img-row{
  margin: 20px 0 45px 0;
}
 .upload-img{
  background: #fafafa url(http://dl.browser.baidu.com/assets/official/img/201412/plus_icon.png) no-repeat 10px center ;
  text-indent: 30px; 
  position: absolute; 
  z-index: 2;
  color: #666; 
  width: 100%;
  cursor: pointer;
 }

 .upload-picture{
  position: relative;
  height: 30px;
  width: 100px;
  border: 1px solid #a7a7a7;
  border-radius:2px; 
  margin-right: 5px;
 }

  .upload-picture input{
    position: absolute;
    z-index: 1;
    visibility: hidden;
    width: 0;
  }
.problemtype{
  display: flex;
  align-items:flex-start;
   justify-content: flex-start;
   flex-flow:row wrap;
   margin-bottom: 20px;
}

.problemtype label{
  min-width: 220px; 
  flex:1;
}
.all-information{
  color: #c7c7c7;
  font-size: 14px;
  font-weight: normal;
}

.bottom-foot{
  display: flex;
  flex-flow:row nowrap;
  align-items:flex-start;
  margin: 10px 0 50px 0;
}
.bottom-foot .done-button{
  margin-right: 15px;
  line-height: 20px;
  display:inline-block; 
  *display:inline; 
  *zoom:1;
}

.label-contact {
  display: inline-block;
  width:90px;
}
.picturebox{
  color: #797979;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 0 7px 0 30px;
  border: 1px solid #fff;
  border-radius:2px;
  background-color: #f2f2f2;
  position: relative;
  display: inline-block; 
  margin-right: 6px; 
}
.picturebox:before{
  content: "";
  background: url(http://dl.browser.baidu.com/assets/official/img/201412/pic_icon_16X16.png) no-repeat;
  position: absolute;
  left: 10px;
  top: 8px;
  width: 16px;
  height: 16px;
} 
.text-content{
   float: left;
}
.close-picturebox{
  content: "";
  background: url(http://dl.browser.baidu.com/assets/official/img/201412/close_icon_14X14.png) no-repeat;  
  width: 14px;
  margin: 8px 0 0 6px;
  height: 14px; 
  float: left;
  cursor: pointer;
}
.close-picturebox:hover{
  -webkit-transition: opacity 200ms linear; 
    opacity: 0.8; 
}
.ifmBox {
  display: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#includeEmailInput,#includePhoneInput{
  width: 214px;
}