.ddl-form-builder-app .lfr-ddm-form-page > .row {
  margin-left: 18px;
  margin-right: 18px; }

.lfr-ddm-form-container .form-control-feedback {
  margin-left: -20px; }

.lfr-ddm-form-container .icon-angle-left {
  font-size: inherit; }

.lfr-ddm-form-container .required-warning {
  margin-bottom: 25px; }
  .lfr-ddm-form-container .required-warning .icon-asterisk {
    margin-left: 4px; }

.lfr-ddm-form-container .input-group-addon .form-control-feedback {
  left: -18px; }

.lfr-ddm-form-container .lfr-ddm-form-field-container {
  position: relative; }
  .lfr-ddm-form-container .lfr-ddm-form-field-container.has-error .liferay-ddm-form-field-date .input-group-addon {
    border-width: 0 0 2px 0; }

@-webkit-keyframes spin {
  100% {
    transform: rotate(359deg); } }

@-moz-keyframes spin {
  100% {
    transform: rotate(359deg); } }

@keyframes spin {
  100% {
    transform: rotate(359deg); } }
  .lfr-ddm-form-container .lfr-ddm-form-field-container .icon-asterisk {
    margin-left: 4px; }
  .lfr-ddm-form-container .lfr-ddm-form-field-container .lfr-ddm-form-field-repeatable-add-button {
    position: absolute;
    right: 0;
    top: 0; }
  .lfr-ddm-form-container .lfr-ddm-form-field-container .lfr-ddm-form-field-repeatable-delete-button {
    position: absolute;
    right: 15px;
    top: 0; }
  .lfr-ddm-form-container .lfr-ddm-form-field-container .liferay-ddm-form-field-date .input-group-addon {
    cursor: pointer; }
  .lfr-ddm-form-container .lfr-ddm-form-field-container select.form-control[multiple] {
    height: auto; }
  .lfr-ddm-form-container .lfr-ddm-form-field-container textarea {
    overflow-y: hidden; }

.lfr-ddm-form-container .lfr-ddm-form-page {
  display: none;
  padding: 25px 0; }
  .lfr-ddm-form-container .lfr-ddm-form-page.active {
    display: block; }

.lfr-ddm-form-container .lfr-ddm-form-page-description {
  margin-bottom: 23px; }

.lfr-ddm-form-container .lfr-ddm-form-page-title + .required-warning {
  margin-top: 0; }

.lfr-ddm-form-container .lfr-ddm-form-page-title + .row {
  margin-top: 40px; }

.lfr-ddm-form-container .lfr-ddm-form-pagination-controls {
  padding-top: 20px; }

.lfr-ddm-form-container .row {
  min-height: auto; }

.liferay-ddm-form-field-paragraph, .liferay-ddm-form-field-tip {
  color: #869CAD;
  line-height: 16px; }

.liferay-ddm-form-field-paragraph {
  font-size: 14px; }

.liferay-ddm-form-field-tip {
  font-size: 11px;
  font-weight: 400; }

.multi-step-progress-bar > .complete {
  color: #65B6F0; }
  .multi-step-progress-bar > .complete .divider {
    background-color: #65B6F0; }

.portal-popup {
  padding: 0; }
  .portal-popup.open {
    padding: 0; }
  .portal-popup .lfr-ddm-form-page-description,
  .portal-popup .lfr-ddm-form-page-title {
    padding-left: 32px;
    padding-right: 32px; }