.taglib-discussion .taglib-user-display.display-style-3 {
  height: 32px;
  padding: 4px 0 0 0; }
  .taglib-discussion .taglib-user-display.display-style-3 .user-profile-image {
    display: inline-block;
    vertical-align: middle; }
  .taglib-discussion .taglib-user-display.display-style-3 .user-name {
    display: inline;
    font-weight: bold;
    margin-left: 8px; }
  .taglib-discussion .taglib-user-display.display-style-3 .user-details {
    display: inline;
    margin-left: 8px; }

.taglib-discussion .nameplate-content h4 {
  word-break: break-all; }