.legal
	{
	padding: 1em;
	}
.legal .header {
	color: #fff !important;
	}
.legal p {
	margin-bottom: 1em;
	}
.legal a {
	color: #0f0;
	}
.legal .underline {
	text-decoration: underline;
	}
.legal ul {
	margin-left: 2em;
	}
.legal ul li {
	margin-bottom: 1em;
	}
.legal ol {
	margin-left: 2em;
	list-style: decimal;
	}
.legal ol#warranty-questions {
	margin-bottom: 1em;
	}
.legal ol#warranty-answers {
	list-style: decimal;
	}
.legal ol > li {
	padding-top: 1em;
	}
.legal ol#warranty-answers ul {
	list-style: disc;
	}
.legal ol#warranty-answers ul > li {
	margin-bottom: 0.5em;
	}
.legal #warranty-table {
	margin-left: 1em;
	margin-bottom: 1em;
	border: 1px solid #333;
	border-collapse: collapse;
	}
.legal #warranty-table td {
	border: 1px solid #333;
	border-collapse: collapse;
	padding: 0.3em;
	}

.legal strong,
.terms-of-sale strong {
	color: #fff;
	}
.terms-of-sale > ol > li > ol > li > p {
	margin-bottom: 0.5em;
	}