* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  font-size: 0.9em;

  background-image: url("../img/texture.png");
  background-repeat: repeat;
}
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}
.container {
  width:950px;
  background-color: white;
  padding: 0px 35px 0px 35px;

  box-shadow: 0 0 50px #888;
  -webkit-box-shadow: 0 0 50px #888;
  -moz-box-shadow: 0 0 50px #888;

  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#EEEEEE', Direction=90, Strength=20);
}
hr {
  /*color: #B1E51F;
  background-color: #B1E51F;*/
  height: 2px;
}
h1, h2, h3, h4, h5, h6 {
  color: #666666;
  padding-bottom:0;
  margin:0;
  padding-top:0.5em;
  font-family: 'Oswald', sans-serif;
}
hr.fancy-line {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(137,231,251,1), rgba(255,203,255,1), rgba(255,176,24,1));
    background-image: -moz-linear-gradient(left, rgba(137,231,251,1), rgba(255,203,255,1), rgba(255,176,24,1));
    background-image: -ms-linear-gradient(left, rgba(137,231,251,1), rgba(255,203,255,1), rgba(255,176,24,1));
    background-image: -o-linear-gradient(left, rgba(137,231,251,1), rgba(255,203,255,1), rgba(255,176,24,1));
    /*box-shadow: 0px -2px 4px rgba(136,136,136,0.75);*/
}
