#help li { font-size: 10px; list-style: none; padding: 0; }
#help h3 { font-size: 14px; margin-top: 25px; padding: 0; color: #5571B9; }
#help h3 div { font-size: 10px; font-weight: normal; }
#help a { text-decoration: none; color: black; }
#help a:normal, a:visited { color:black; }
#help a:hover { color:blue; }
#help table { border-style: solid; border-width:1px; border-color:#CBCBCB; }

#help_home li { font-size: 11px; list-style: disc; line-height: 14px; padding: 0; }
#help_home h3 { font-size: 12px; margin-top: 10px; margin-bottom: 5px; padding: 0; color: #5571B9; }
#help_home ul { padding: 0px; margin: 0 0 12px 30px; }
#help_home img { margin-top: 5px; }
#help_home h3 div { font-size: 10px; font-weight: normal; }
#help_home a { text-decoration: none; color: black; }
#help_home a:normal, a:visited { color:black; }
#help_home a:hover { color:blue; }
#help_home table { border-style: solid; border-width:1px; border-color:#CBCBCB; }

#help_chapter p, #help_chapter li { font-size: 13px; }
#help_chapter b { color:#5571B9; }
#help_chapter ul, #help_chapter ol {
line-height: 130%;
font-size: 13px;
margin-top: 0.5em;
margin-left: 3em;
margin-bottom: 0.5em;
}
#help_chapter .text1 p { font-size: 12px; margin: 20px 50px 20px 40px; }
#help_chapter .text1 p b { font-size: 13px; margin: 0px; color: #5571B9; }
#help_chapter .text1 { font-size: 14px; }
#help_chapter .text2 { font-size: 13px; }
#help_chapter .text1bold { font-size: 15px; font-weight: bold; }
#help_chapter .text2bold, .text2b { font-size: 13px; font-weight: bold; }

#help_chapter a { color: black; }
#help_chapter a:normal, a:visited { color: #5471B9; }
#help_chapter a:hover { color:blue; }

#ft img { width: 128px; height: 8px; }
#pt img { width: 128px; height: 8px; }
#fc { background-color: #F3F3F3; text-align: center; font-size: 12px;padding:0 32px}
#pc { background: #F7F7F7 url(http://images.fotki.com/help/premium/pi.gif) left top no-repeat; text-align: left; vertical-align: top; font-size: 12px; padding-left: 50px; }
#pcun { background: #F7F7F7; text-align: center; color: #5471B9; font-size: 14px; padding:0 12px}
#pcok { background: #F7F7F7 url(http://images.fotki.com/help/premium/ok.gif) center no-repeat; height: 24px; padding:0 12px}
#fb { width: 128px; height: 8px; background: #F3F3F3 url(http://images.fotki.com/help/premium/fb.gif) center bottom no-repeat; }
#pb { width: 128px; height: 8px; background: #F7F7F7 url(http://images.fotki.com/help/premium/pb.gif) center bottom no-repeat; }
#vstext { line-height:26px;text-align: right; font-size: 13px; padding-right: 20px; white-space : nowrap; }
#sp img { width: 8px; }

#premium-vs-free {
	border-collapse:collapse;
	border:0;
	margin:12px 12px 24px 12px
	}
#premium-vs-free td, #premium-vs-free th{
	line-height:28px
	}
	
#premium-vs-free tbody th {text-align:left;padding:0 12px}

#premium-vs-free tbody td {font-size:11px}

#premium-vs-free .free-col {background:#F3F3F3;text-align:center;padding:0 56px}
#premium-vs-free .premium-col {color:#57B;background:#F7F7F7 url(about:blank) 50% 50% no-repeat;text-align:center;padding:0 32px}
#premium-vs-free .premium-col.ok {
	background-image:url(/images/cart/ok.gif)
	}
#premium-vs-free th.premium-col strong {
	display:block;
	line-height:40px;
	background:url(http://images.fotki.com/icon-premium-medium.gif) 0 50% no-repeat;
	padding-left:22px
	}
#premium-vs-free th.premium-col {font-weight:bold}

#premium-vs-free .color th {
	background-color:#F7F7F7
	}
#premium-vs-free .color .premium-col {
	background-color:#F3F3F3
	}
#premium-vs-free .color .free-col {
	background-color:#EEE
	}
	
.premium-features-list dt {
	margin:2px 0;
	padding:0;
	color:#57B
	}
.premium-features-list dd {
	margin:0 0 12px 0;padding:0;
	color:#444
	}