@charset "utf-8";
/* CSS Document */
.wp-about-author-containter h3, .wp-about-author-containter p{
	margin:0 0 10px 0;
	padding:0;
}
.wp-about-author-containter-top{
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	margin: 20px 0;
	overflow: hidden;
	padding: 20px;
}
.wp-about-author-containter-around{
	background: #f2f7fc;
	border: 1px solid #000;
	clear: both;
	margin: 20px 0;
	overflow: hidden;
	padding: 20px;
}
.wp-about-author-containter-none{
	background: #f2f7fc;
	border-top:none;
	clear: both;
	margin: 20px 0;
	overflow: hidden;
	padding: 20px;
}
.wp-about-author-pic{
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	margin: 0 -122px 0 0;
	padding: 5px;
}
.wp-about-author-pic.wp-about-author-circle,
.wp-about-author-pic.wp-about-author-circle img {
	border-radius: 50%;
}
.wp-about-author-text{
	margin: 0 0 0 140px;
	display: table;
}
.wp-about-author-text > h3 {
	margin-top: 0;
}
.wp-about-author-text p {
        margin: 0 0 5px 0;
}
.wp-about-author-text p.wpa-nomargin {
        margin: 0;
}
.wpa-social-icons{
        margin:0 3px;
}
/* ALGO: Added to make social icons sharper; 48px images resized to 24px. */
.wpa-social-icons img {
	height: 24px;
	width: auto;
}/* END ALGO */
