/* CSS Override for US/EN GEO */

/* TEMP INC002844429 */
.desktop.rwd .global-menu .sign-in-ul, .rwd .global-menu .sign-in-ul {min-width:inherit;}

/* TEMP FIX for Teasers*/
.rwd .l3-masthead-component .campaign .white-theme .l3-masthead-content .text { color: #555; }
.rwd .l3-masthead-component .campaign .l3-masthead-content .text { color: white; }

/* TEMP Campaign Fix - remove after v5.7*/
.rwd.pro .flyout-component .static-items .static-item {padding-bottom:10px;}

/* temp fix for my-intel badge */
.rwd .login-register .program-badge img {max-width:300px;}

/* temp - hide find content link in header */
.rwd .navbar-links .navbar-right {display:none;}

/* TEMP DF9256, remove after 5.8 Release */
@media screen and (max-width: 767px) { .rwd .blade-item-content-wrapper {padding:15px;} }

/* temp fix for my-intel badge */
.rwd .login-register .program-badge img {max-width:300px;}

/* Emergency TEMP fix for Intel Logo on Hi-Res devices */
.rwd .header-simplify nav.global-menu-simplify .navbar-logo {
    background: url('/etc/designs/intel/clientlibs/pages/commons-page/images/intel-logo-highres.png');
	background-size: 100%;
}
.rwd.ie .header-simplify nav.global-menu-simplify .navbar-logo {
    background: url('/etc/designs/intel/clientlibs/pages/commons-page/images/hdr-spr.png') no-repeat -77px -512px;
}
@media screen and (max-width:767px) {
.rwd.ie .header-simplify nav.global-menu-simplify .navbar-logo {background:url('/etc/designs/intel/clientlibs/pages/commons-page/images/hdr-spr.png') no-repeat -77px -427px;}
}

/* TEMP FIX DE19216 */
.rwd.ie .headerfooter-menu3.rwd .flyout-panel .igm-image-text figure IMG {width:auto; height:auto;}

/* TEMP FIX DE20381 */
.rwd .blade-conversations .container .row .conversation-text-alignment h2 {
font-family: "intel-clear-headline",impact,sans-serif;
line-height: .9;
letter-spacing: .029em;
}

.marginParsys{
    margin: 10px 5px;
}
/* TEMP FIX RITM4012335 */
.rwd .overview-component.overview-component-1.hero.hero-takeover h2.description {height:auto;}
@media (max-width: 767px) {
.rwd.no-desktop .overview-component.overview-component-1.hero.hero-takeover .blade-item-0 .blade-item-content-wrapper {padding-top:15px;}
}