/* reset */
h1, h2, h3, h4, h5, ul, li, ol, p, form, input {margin:0; padding:0;}
ul, ol {padding-left:20px;}
img {border:0;}
/* end: reset */

body {color:#666; font:12px Arial,sans-serif; }

h1 {color:#333; font-size:2em; margin-bottom:0.5em; padding-left:12px;}
h2 {color:#555; font-size:1.8em; margin-bottom:0.5em; padding-left:12px;}
h3 {color:#B85E00; font-size:1.6em; border-bottom:3px solid; padding-bottom:6px; margin-bottom:0.5em;}
p, li {line-height:1.5em; margin-bottom:0.5em;}
a {color:#B85E00; text-decoration:none;}
a:hover {color:#B85E00;text-decoration:underline;}
#mainContent a.button1, #mainContent a.button2 {
    background:url(http://www.blogsmithmedia.com/privacy.aol.com/media/blugrad-6x67.jpg) 0 40%;
    border:1px solid #B85E00;
    border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
    color:#eee;
    display:inline-block; font-size:1.2em; font-weight:bold; margin:10px; padding:8px 20px; text-align:center;
}
#mainContent a:hover.button1 {background-position:0% 20%; text-decoration:none;color:#fff;}
#mainContent a:active.button1 {color:#fff;}
#mainContent a.button2 {background-position:0 50%; color:#B85E00;}
#mainContent a:hover.button2 {text-decoration:none; background-position:0 100%; color:#000}
#mainContent a:active.button2 {color:#fff;}

.clear {clear:both;}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
* html .clearfix {zoom: 1;} /* ie6 */
*:first-child+html .clearfix {zoom: 1;} /* ie7 */

#header {
    margin-bottom: 20px;
}

#headerNav {
    list-style-type:none;
    margin:0;
    padding: 0;
    position:relative;
    width: 100%;
    overflow: hidden;
    background:#efefef;
    border-radius:15px;
    -webkit-border-radius:15px;
    margin-bottom: 20px;
}

#headerNav li{
    line-height: 20px;
    padding: 5px 10px;
}

#headerNav a {
    font: bold 14px/20px Arial;
}

#headerSearch_field {
    border:1px solid #d9d9d9;
    border-radius:5px;
    -webkit-border-radius:5px;
    color:#999;
    font-size:12px;
    margin-right:4px;
    padding:5px 2px 5px 4px;
    width:140px;
    margin-bottom: 20px;
}

#headerSearch_form {
    text-align: center;
}
#headerSearch_button {
    background:#B85E00;
    border:1px solid #d9d9d9;
    border-radius:5px;
    -webkit-border-radius:5px;
    color:#fff;
    cursor:pointer;
    font-size:12px;
    padding:4px 2px;
    width:60px;
}

#header .headerNav_list_UL {
    border-bottom:1px solid #2E2E2E;
    display:none;
    left:0;
    list-style-type:none;
    margin:0;
    padding:7px 0 0 0;
    position:absolute;
    top:22px;
}
#header .headerNav_list_UL li {
    background-color:#f9f9f9;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    clear:both;
    float:left;
    font-size:12px;
    width:135px;
}
#header .headerNav_list_UL a {
    background:none;
    border-bottom:1px solid #fff;
    color:#1f8cf2;
    display:block;
    float:left;
    font-size:12px;
    font-weight:bold;
    padding:7px 0 7px 7px;
    text-transform:none;
    width:128px;
}
#header .headerNav_list_UL a:hover {
    background:#B85E00;
    color:#fff;
}
#header .headerNav_list_UL .headerNav_A_last {
    border:none;
}
.hideme{
    height:1px;
    width:1px;
    position:absolute;
    overflow:hidden;
    top:-999px;
}
#mainContent, #subMain, #footer {
    border:1px solid #d9d9d9;
    -webkit-border-radius:40px;
    border-radius:40px;
    padding:25px 19px;
    margin-bottom:20px;
}


#mainContent a:hover {
    color:#069bd0;
}
a.learnMore {
    background:#B85E00;
    border:1px solid #999;
    color:#fff;
    display:inline-block;
    font-size:12px;
    font-family:Verdana,Arial,sans-serif;
    letter-spacing:.05em;
    margin-top:10px;
    padding:4px 12px 4px;
    text-transform:uppercase;
    border-radius:5px;
    border-radius:5px;
    -webkit-border-radius:5px;
}
#mainContent a.learnMore:hover {
    background:#B85E00;
    color:#fff;
    text-decoration:none;
}
#mainContent a.learnMore:active {
    border-color:#efefef;
    color:#fff;
}

#subMain {
    background:#efefef;
    border-color:#efefef;
    text-align:center;
}

#footer {
    padding: 25px 19px 10px 25px;

}
#footer img {
    width: 50%;
    margin-top: 3px;
}
#footer a {
    display:inline-block;
}
#footer>a {
    float:left;
}
#footer p {
    line-height:normal;
    margin-bottom:1em;
}
#footer span {
    font-style:italic;
}
#article {
    clear:both;
    font-size:14px;
    padding:0 16px;
    position:relative;
}
#article h1, #article h2 {
    padding-left:0;
}
#article h1 {
    font-size:1.8em;
}
#article h2 {
    color:#B85E00;
    font-size:1.6em;
    margin:0.5em 0 0.25em 0;
}
#article h3 {
    color:#555;
    border-bottom:none;
    font-size:1.2em;
    margin:0.75em 0 0.25em 0;
    padding-bottom:0;
}
#nojsprint {
    background:url(http://o.aolcdn.com/art/ch_global/icon-printthis) no-repeat;
    display:none;
    padding-left:20px;
    position:absolute;
    right:30px;
    top:10px;
}
.content-boxes {
    float: left;
    margin: 0px 10px 0px 10px;
    width: 286px;
}
.content-boxes.wider {
    margin-right: 0;
    width: 360px;
}
.content-boxes > div {
    border:1px solid #d9d9d9;
    border-radius:20px;
    -webkit-border-radius:20px;
    margin-bottom:20px;
    padding:16px 10px 10px;
}
.box1 .boxFoot {
    border-top:1px solid #efefef;
    padding-top:4px;
}
.box2 h3 {
    border-bottom-color:#B85E00;
    color:rgb(111, 0, 194);
}
.box2 .boxFoot {
    border-top:1px solid #efefef;
    padding-top:4px;
}
.box3 {
    background:#f9f9f9;
    color:#000;
}
.box3 h3 {
    border-bottom-color:#B85E00;
    color:#333;
}
.boxContainer {
    overflow: auto;
}

.videoBox {
    margin-bottom:20px;
}
.videoBox h3 {
    border-bottom:none;
    color:#000;
    margin-bottom:2px;
}
.videoBox .caption {
    background:#efefef;
    font-size:0.9em;
    margin-bottom:0.5em;
    padding:4px;
}
.videoBox p {
    padding:0 12px 0.53em;
}

.container {
    max-width: 960px;
    margin: auto;
}

.logo {
    text-align: center;
}



.summary {
    padding: 12px;
    font-size: 14px;
    line-height: 1.4em;
}


@media only screen and (max-width: 980px) {
    .content-boxes, .content-boxes.wider{
        width: 100%;
    }
}


@media only screen and (min-width: 600px) {
    #header {
        width: 100%;
        position: relative;
        display: inline-block;
    }
    #headerNav li{
        float: left;
    }

}

@media only screen and (min-width: 850px) {
    .logo {
        float: left;
    }

    .logo img {
        position: relative;
        margin: 50px 0px 0px 50px;
    }

    .header-right {
        float: right;
    }
    #headerSearch_form {
        text-align: right;
        margin: 40px 0 25px 0;
    }
}
