/*CSS FOR LEARN MORE*/

.lm-brands {
float: left;
width: 100%;
clear: both;
margin-bottom: 48px;
}
.lm-brands-block {
float: left;
width: 100%;
height: 520px;
margin-bottom: 32px;
}
.lm-theme-block {
float: left;
width: 100%;
}
.lm-apps .lm-brands-block {
height: 600px;
}
.lm-brands-content {
padding: 10px;
}
.lm-brands-block h4 {
font-weight: bold;
}
.lm-brands-block p {
font-size: 16px;
}
.lm-brands-block img {
width:100%;
height: auto;
}
.button.primary.lm-small {
display:inline-block;
padding: 12px 16px 12px 16px;
line-height: 16px;
height: auto;
}

@media only screen and (min-width: 480px) {
.lm-brands-block {
width: 50%;
height: 500px;
}

.lm-apps .lm-brands-block {
height: 570px;
}

.lm-apps p {
height: 140px;
overflow: hidden;
}
.lm-theme-block {
float: left;
width: 33.33333%;
}
}

@media only screen and (min-width: 768px) {
.lm-brands-block {
width: 25%;
height: 420px;
}
.lm-apps .lm-brands-block {
height: 500px;
}
.lm-apps p {
height: 180px;
}
}

@media only screen and (min-width: 1024px) {
.lm-apps p {
height: 130px;
}
}
