#new-slider{
height: 693px;
width: 519px;
position: absolute;
margin-top: 88px;
margin-left: -215px;

}

.fader{
    position: relative;
    padding-top: 0%;
} 
 
.fader .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 0;
}
 
.fader img.slide{
    height: 693px;
}
