/* advertising page */
.plus img { width:150px; height:150px; }
/* END advertising page */


/* Page Headers */

#ourBrands, #About, #Intern, #jobs, #advertising, #contact, body.benefits section.hero {
  background-size: cover;
  /*height:50vh;*/
}
#ourBrands {background-image:url(/content/i/brands/ourBrands.jpg);}
#About {background-image:url(/content/i/about/about-header.jpg);}
#Intern {
  background-image:url(/content/i/careers/internship_top.jpg);

}
#jobs {background-image:url(/content/i/careers/superbowlcity2.jpg);}
#advertising, #self_service_campaign, #advertiser_acceptance_policy {background-image:url(/content/i/advertising/crowd-cheers.jpg);}
#contact {background-image:url(/content/i/contact/map.jpg);}
body.benefits section.hero {
    background-image:url(/content/i/careers/jobs-header.jpg);
}

@media only screen and (min-width: 1px) and (max-width: 650px) {
  #Intern {
    background-position-y: -30px;
  }
}

/* End Page Headers */

/*Front Door*/

body.index .cbs:before {background-image:url(/content/i/index/logos/cbsdotcom_logo_white.svg);}
body.index .cbs:after {background:rgba(0, 102, 153, .8);}

/*body.index .all-access:before {background-image:url(/content/i/index/logos/All-Access.svg);}*/
body.index .all-access:before {background-image:url(/content/i/brands/logos/CBS-AA-white.svg);}
body.index .all-access:after {background:rgba(0, 102, 153, .8);}

body.index .cbsn:before {background-image:url(/content/i/index/logos/CBSN.svg);}
body.index .cbsn:after {background:rgba(204, 0, 0, .8);}

body.index .cnet:before {background-image:url(/content/i/index/logos/CNET.svg);}
body.index .cnet:after {background:rgba(204, 0, 0, .8);}

body.index .cbsnews:before {background-image:url(/content/i/index/logos/CBS-News.svg);}
body.index .cbsnews:after {background:rgba(1, 35, 69, .8);}

body.index .gamespot:before {background-image:url(/content/i/index/logos/Gamespot2.svg);}
body.index .gamespot:after {background:rgba(255, 102, 0, .8);}

body.index .cbssports:before {background-image:url(/content/i/index/logos/CBS-Sports3.svg);}
body.index .cbssports:after {background:rgba(6, 21, 47, .8);}

body.index .chow:before {background-image:url(/content/i/index/logos/Chow.svg);}
body.index .chow:after {background:rgba(0, 0, 0, .7);}

body.index .roadshow:before {background-image:url(/content/i/index/logos/roadshow.svg);}
body.index .roadshow:after {background:rgba(0, 0, 0, .7);}

body.index .tvguide:before {background-image:url(/content/i/index/logos/TV-Guide.svg);}
body.index .tvguide:after {background:rgba(230, 0, 28, .8);}

body.index .sportsline:before {background-image:url(/content/i/index/logos/sportsline.svg);}
body.index .sportsline:after {background:rgba(33, 169, 65, .8);}

body.index .lastfm:before {background-image:url(/content/i/index/logos/lastfm.svg);}
body.index .lastfm:after {background:rgba(185, 0, 0, .8);}

body.index .metacritic:before {background-image:url(/content/i/index/logos/Metacritic-logo.svg);}
body.index .metacritic:after {background:rgba(0, 0, 0, .7);}

body.index .maxpreps:before {background-image:url(/content/i/index/logos/Maxpreps-logo.svg);}
body.index .maxpreps:after {background:rgba(21, 101, 192, .8);}

body.index .sports247:before {background-image:url(/content/i/index/logos/247sports-logo.svg);}
body.index .sports247:after {background:rgba(33, 169, 65, .8);}

body.index .metrolyrics:before {background-image:url(/content/i/index/logos/Metrolyrics-logo.svg);}
body.index .metrolyrics:after {background:rgba(237, 25, 90, .8);}

body.index .seeall {
  width: 66.66%;
}
body.index .seeall:before {background-image:url(/content/i/index/logos/seeall.svg);}
body.index .seeall:after {background:rgba(255, 102, 0, .8);}

body.index .brand.effect.cnet:before,
body.index .brand.effect.cbsnews:before,
body.index .brand.effect.gamespot:before,
body.index .brand.effect.all-access:before,
body.index .brand.effect.roadshow:before,
body.index .brand.effect.sports247:before,
body.index .brand.effect.metacritic:before {
  height: 150px;
  background-size: 340px 150px;
  margin-top: -70px;
}

body.index .brand.effect.chow:before,
body.index .brand.effect.sportsline:before {
  height: 190px;
  background-size: 340px 190px;
  margin-top: -95px;
}

body.index .brand.effect.cbsn:before,
body.index .brand.effect.maxpreps:before {
  height: 90px;
  background-size: 340px 90px;
  margin-top: -40px;
}

body.index .brand.effect.seeall:before {
  height: 190px;
  background-size: 340px 190px;
  margin-top: -95px;
}

@media only screen and (max-width: 650px) and (min-width: 1px) {
  /*body.index .brand.effect.cnet:before,*/
  /*body.index .brand.effect.cbsnews:before,*/
  /*body.index .brand.effect.gamespot:before,*/
  /*body.index .brand.effect.all-access:before,*/
  /*body.index .brand.effect.roadshow:before,*/
  /*body.index .brand.effect.sports247:before,*/
  /*body.index .brand.effect.metacritic:before {*/
    /*margin-left: -170px;*/
  /*}*/

  /*body.index .brand.effect.cbsn:before,*/
  /*body.index .brand.effect.maxpreps:before {*/
    /*margin-left: -180px;*/
  /*}*/

  body.index .brand.effect:before {
    background-size: 170px 60px !important;
    margin-left: -85px !important;
    margin-top: -30px !important;
  }

  body.index .brand.effect.cnet:before {
    margin-top: -27px !important;
  }

}

body.brands .plus.shutter.all_access img {
  width: 150px;
}



body.index #careers {
  background-image: url(/content/i/index/careers.jpg);
  background-color: #ff3300;
}

body.index #locations {
  background-image: url(/content/i/index/locations.jpg);
  background-color: #000;

}

body.index #locations h3 {
  font-size: 36px;
  line-height: 38px;
  font-weight: 200;
}

body.index #locations a {
  color: #FFF;
}

body.index .twitterLogo {
  width: 48px;
  height: 48px;
}
/*End Front Door*/

/*About*/
body.about .content.profiles h6 {
  font-weight: 700;
  font-size: 20px;
}
body.about .content.profiles p {
  font-weight: 300;
}

body.about .content.profiles {
  padding-top: 0;
  padding-bottom: 60px;
}
body.benefits .brands-container {
  margin-bottom: 60px;
}

.full_bkg_img ul {
  display: block;
  clear: both;
  margin-top: 270px;
  text-align: center;
 }

.full_bkg_img ul li {
  display: inline-block;
}

.full_bkg_img ul li:after {
  content: '\a0\b7\a0';
}

.full_bkg_img ul li:last-child:after {
  content: '';
}


.full_bkg_img ul li a {
  color: #FFF;
}

.full_bkg_img ul li a:hover {
  text-decoration: underline;
}

body.careers .hero-2 {
  height: auto;
}

body.careers p.browse {
  font-size: 16px;
  margin-top: 20px;
  height: 40px;
}

body.careers p.browse span {
  display: inline-block;
}

body.brands section.top {
  background-color: #FFF;
}

@media only screen and (max-width: 1250px) {
  body.index #locations h3 {
    font-size: 24px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 800px) {
  body.index #locations .col-6 {
    float: none;
    clear: both;
    margin: 0;
    width: 100%;
  }
  body.index #locations .col-6.last {
    margin-top: 40px;
  }
  body.index #locations.full_bkg_img {
    height: 375px;
  }


}

/*@media only screen and (max-width: 1000px) {*/
  /*#Intern {*/
    /*background-position-y: -100px;*/
  /*}*/
/*}*/

@media only screen and (max-width: 740px) {
  #Intern {
    background-position-y: auto;
  }
}

@media only screen and (min-width: 1px) and (max-width: 650px) {
  body.index #careers, body.index #locations {
    height:200px;
    padding: 40px 0;
  }
  body.index #Ads {padding:40px 0;}
}

/*Advertising*/

body.advertising .brands-container .shutter p a{
	font-size: 12px;
}

/* End Advertising */
body.internships .arrow p.internshipDek{
	font-size: 16px;
    line-height: 16px;
}
body.internships .arrow p.internshipDek span {
	font-weight: 700;
}

body.internships .content .steps span {
  font-weight: bold;
}

/*body.internships #intern-video div {*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*overflow: hidden;*/
/*}*/

/*body.internships #intern-video div img {*/
  /*float: none;*/
/*}*/
/*body.internships #intern-video div span {*/
  /*display: block;*/
  /*position: absolute;*/
  /*top: -100%;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*text-align: center;*/
  /*color: inherit;*/
/*}*/

/*body.internships #intern-video div .fa-play-circle {*/
  /*top: 50%;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*transform: translateY(-50%);*/
/*}*/

/*body.internships #intern-video {*/
  /*position: relative;*/
  /*display: inline-block; !* added *!*/
  /*overflow: hidden; !* added *!*/
/*}*/

/*body.internships #intern-video img {*/
  /*width:100%;*/
  /*float: none;*/
  /*margin-bottom: 0;*/
/*} !* remove if using in grid system *!*/


/*body.internships #intern-video img:hover {*/
  /*opacity: 0.5*/
/*}*/
/*body.internships #intern-video:hover a {*/
  /*opacity: 1; !* added *!*/
  /*!*top: 0; !* added *!*!*/
  /*z-index: 500;*/
/*}*/
/*!* added *!*/
/*body.internships #intern-video:hover a span {*/
  /*!*top: 50%;*!*/
  /*!*position: absolute;*!*/
  /*!*left: 0;*!*/
  /*!*right: 0;*!*/
  /*!*transform: translateY(-50%);*!*/
/*}*/
/*!* added *!*/
/*body.internships #intern-video a {*/
  /*display: block;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*opacity: 1;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*text-align: center;*/
  /*color: inherit;*/
/*}*/


.video-play-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.video-play-container:hover {
  opacity: .7;
}

.video-play-container img {width:100%;}

.video-play-container a {
  display: block;
  position: absolute;
  top: 0%;
  opacity: 1;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: inherit;
  z-index: 500;
}

.video-play-container a span {
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  opacity: .7;
}

.video-play-container a:hover span {
  color: #fc1907;
  opacity: 1;
}






/* Iternships  */


/* End Internships */

ol[type=a] li {
  list-style-type: lower-latin !important;
}

ol[type=a] li li {
  list-style-type: disc !important;
}

body.embedded-cbsn-player section.content .col-12 ul li {
  list-style-type: decimal;
}

body.embedded-cbsn-player section.content .col-12 ol[type=a] {
  padding-top: 20px;
}

body.embedded-cbsn-player section.content .col-12 ol[type=a] li {
  font-size: 14px;
  font-weight: normal;
}

body.internships #modal {
  top: 10vh !important;
}

body.internships #modal .window {
  height: auto;
  min-height: 50vh;
  top: 10vh !important;
  overflow: hidden;
}

#internVideo {
  width: 100%;
}