/* Simplicis Menu Styles
**********************************************************/

div#menuWrap {
  /* position: relative; */
  z-index: 990;
}

div#simMenu {
  position: absolute;
  /* margin: 5px 0 0 420px; */
  margin: 0 0 0 1em;
  top: 0;
  left: 0;
  /* width: 120px; */
  font: 107.5% arial, sans-serif;
  z-index: 990;
}

div#simMenu ul {
  list-style: none;
  line-height: 1;
  float: left;
  /* background: url(../media/image/1/toolbarbackground.png) no-repeat scroll center top; */
}

div#simMenu a {
  position: relative;
  display: block;
  width: 20px;
  text-decoration: none;
  padding: 0.25em 10px;
  color: #666666;
}

div#simMenu li {
  float: left;
  width: 30px;
}

div#simMenu li ul {
  position: absolute;
  width: 21em;
  left: -999em;
  height: auto;
  border: 1px solid #ccc;
  background: #CFC8B7;
}

div#simMenu li li {
  width: 20em;
  padding-right: 1em;
}

div#simMenu li li a {
  width: 20em;
}

div#simMenu li:hover ul {
  left: auto;
}

div#simMenu li li:hover a {
  color: #000
}