@font-face{font-family:appleLogo;src:local("Lucida Grande");unicode-range:U+F8FF}
body{-webkit-font-smoothing:antialiased}
.container h1{margin-top:2rem}
.card{overflow:hidden}
@media only screen and (max-width:480px){nav.top .mobile_btn.download_slack a,nav.top .mobile_btn.sign_in{display:none}
}
header{-webkit-transform:none;-moz-transform:none;-ms-transform:none;transform:none;display:inline}
header #menu_toggle{padding:1.55rem}
header .vert_divider{margin:.95rem 0}
header .menu_icon{margin-right:0}
#api_nav{padding:0rem .5rem 0rem 0rem}
#api_nav h5{color:#232323;letter-spacing:0;font-size:.75rem;padding-left:.25rem}
#api_nav #api_sections ul{list-style:none;margin:0 0 1.5rem}
#api_nav #api_sections ul li{font-size:1rem;margin-bottom:0}
#api_nav #api_sections ul li a{border-bottom:1px solid #EEE;color:#555459;display:block;overflow:hidden;padding:.25rem;text-overflow:ellipsis;white-space:nowrap;font-size:15.1px}
#api_nav #api_sections ul li a:hover{color:#3aa3e3;text-decoration:none}
#api_nav #api_sections ul li a.active,#api_nav #api_sections ul li a.active:hover{border-radius:.25rem;background:#3aa3e3;border-color:transparent;color:#fff;font-weight:700;padding:.25rem .5rem;text-decoration:none;text-shadow:0 1px 1px rgba(20,91,134,.5)}
@media only screen and (max-width:768px){#api_nav{-webkit-transform:translate3d(-260px,0,0);-moz-transform:translate3d(-260px,0,0);-ms-transform:translate3d(-260px,0,0);transform:translate3d(-260px,0,0);border-right:1px solid #E8E8E8;height:100vh;left:0;overflow-y:scroll;-webkit-overflow-scrolling:touch;padding:1rem;position:absolute;top:0;width:260px!important}
}
@media only screen and (max-width:640px){#api_nav{-webkit-transform:translate3d(-260px,-4rem,0);-moz-transform:translate3d(-260px,-4rem,0);-ms-transform:translate3d(-260px,-4rem,0);transform:translate3d(-260px,-4rem,0)}
}
#api_nav .btn{margin-left:5px}
.col.span_1_of_2.bordered{min-height:185px;background-color:#fff;padding:.5rem 1rem 1.5rem}
.col.span_1_of_2.bordered .legal_icon{position:relative;min-height:152px}
.col.span_1_of_2.bordered .legal_icon a{display:block;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.col.span_1_of_2.bordered ts-icon{text-decoration:none}
.col.span_1_of_2.bordered ts-icon:before{vertical-align:bottom}
.col.span_1_of_2.bordered p.small.subtle_silver{min-height:65px;display:block;margin-bottom:1rem!important}
@media screen and (max-width:900px){.col.span_1_of_2.bordered{width:100%;margin:0rem 0 1rem!important;min-height:auto}
.col.span_1_of_2.bordered p.small.subtle_silver{min-height:auto}
}
.plastic_row h4{color:#555459}
#page_contents,.col_right{overflow:hidden}
#page_contents .content,.col_right .content{font-size:19px;line-height:26px;width:100%}
#page_contents .content>ol,.col_right .content>ol{padding-left:1.5rem}
#page_contents .content:not(.card),.col_right .content:not(.card){padding-right:0}
#page_contents .span_5_of_6,.col_right .span_5_of_6{font-size:20px;line-height:28px}
#page_contents .span_5_of_6>ol,.col_right .span_5_of_6>ol{padding-left:1.5rem}
#page_contents .emphasized,.col_right .emphasized{font-size:1.5rem;line-height:2rem}
#page_contents hr,.col_right hr{margin:2.5rem auto 2rem;width:30%}
#page_contents h2,.col_right h2{margin-bottom:.5rem}
#page_contents h4,.col_right h4{font-size:20px;font-weight:700;margin-bottom:.5rem;line-height:1.25}
#page_contents li,#page_contents p,.col_right li,.col_right p{font-weight:400;font-family:Slack-Lato,appleLogo,sans-serif;margin-bottom:1.5rem}
#page_contents .tab_pane.selected li,#page_contents .tab_pane.selected p,#page_contents li.classic,#page_contents p.classic,.col_right .tab_pane.selected li,.col_right .tab_pane.selected p,.col_right li.classic,.col_right p.classic{font-size:20px;line-height:28px}
#page_contents ol,#page_contents ul,.col_right ol,.col_right ul{margin-bottom:1.5rem}
#page_contents ol.classic_margin li,#page_contents ul.classic_margin li,.col_right ol.classic_margin li,.col_right ul.classic_margin li{margin-bottom:.7rem;padding-left:1.5rem}
#page_contents li,.col_right li{margin-bottom:1rem}
#page_contents ul ul,.col_right ul ul{margin-top:1rem}
#page_contents ol,.col_right ol{counter-reset:item;margin-left:0}
#page_contents ol li:before,.col_right ol li:before{content:counters(item,".") ".";counter-increment:item;font-weight:700;text-align:right;display:inline-block;margin-left:-1.5rem;margin-right:.5rem}
#page_contents ol p,.col_right ol p{margin-top:1rem}
#page_contents ol li,.col_right ol li{margin-bottom:3rem;display:block}
#page_contents ol li strong,.col_right ol li strong{font-weight:700;display:inline-block}
#page_contents ol ol,.col_right ol ol{margin-left:2rem;margin-top:1rem}
#page_contents ol ol li:before,.col_right ol ol li:before{display:inline;content:counters(item,".") "";font-weight:400;margin-left:-3rem;margin-right:1.25rem}
#page_contents ol ol li,.col_right ol ol li{margin-bottom:1rem}
#page_contents .document_container,.col_right .document_container{position:relative;overflow:scroll;overflow:scroll-y;max-height:22em;padding:1rem;border:1px solid #eee;background:#f2f2f5}
#page_contents .archives-list li,.col_right .archives-list li{margin-bottom:0}
#page_contents del,.col_right del{color:#eb4d5c;background-color:#fdedef;text-decoration:none}
#page_contents ins,.col_right ins{color:#2ab27b;background-color:#e3f8f0;text-decoration:none}
@media only screen and (max-width:640px){#page_contents .emphasized,.col_right .emphasized{font-size:1.25rem;line-height:1.75rem}
#page_contents li,#page_contents p,.col_right li,.col_right p{font-size:1rem;line-height:1.5rem;font-weight:400;font-family:Slack-Lato,appleLogo,sans-serif;margin-bottom:1.5rem}
#page_contents a,#page_contents strong,.col_right a,.col_right strong{font-weight:700}
#page_contents ol li:before,.col_right ol li:before{margin-right:1.85rem;float:left;margin-bottom:0}
#page_contents ol li strong,.col_right ol li strong{display:block;margin-bottom:1rem}
#page_contents ol,#page_contents ol ol,.col_right ol,.col_right ol ol{margin-left:0;padding-left:0}
#page_contents ol ol li:before,.col_right ol ol li:before{display:inline;content:counters(item,".") "";font-weight:700;margin-left:0;margin-right:1.25rem;float:none}
}
#policies .plastic_row{padding-right:0;padding-left:1.25rem}
#policies .plastic_row h3{padding-right:80px}
@media screen and (max-width:640px){#policies .plastic_row h3{padding-right:0}
}
#policies .plastic_row .description{word-break:normal;font-size:16.1px;line-height:1.5}
.no_header{background-color:#fff}
.no_header .col h1{font-weight:300}
.no_header .col h2{font-weight:400}
.no_header #api_nav{display:none}
.no_header .col.span_3_of_4{width:100%;max-width:800px;float:none;margin-left:auto;margin-right:auto;padding-right:0}
.no_header:not(.no_logo) .col h1:first-child{position:relative;padding-top:60px}
.no_header:not(.no_logo) .col h1:first-child:before{left:0;width:120px;height:37px;display:block;position:absolute;content:'';top:0;background-image:url(/66f9/img/slack_logo_240.png);background-repeat:no-repeat;background-size:120px 37px;background-position:top left}
.no_header .card{padding:0rem;box-shadow:none;border-radius:0;border:none}
.no_header footer{display:none}