@font-face {
        font-family: 'MuliK-L';
        src: url('https://static.ndsu.nodak.edu/templates/fonts/muli-jkistner/muli_light-webfont.eot');
        src: url('https://static.ndsu.nodak.edu/templates/fonts/muli-jkistner/muli_light-webfont.eot?#iefix') format('embedded-opentype'),
                url('https://static.ndsu.nodak.edu/templates/fonts/muli-jkistner/muli_light-webfont.woff') format('woff'),
                url('https://static.ndsu.nodak.edu/templates/fonts/muli-jkistner/muli_light-webfont.ttf') format('truetype'),
                url('https://static.ndsu.nodak.edu/templates/fonts/muli-jkistner/muli_light-webfont.svg#MuliLight') format('svg');
        font-weight: 300;
        font-style: normal;
}
@font-face {
        font-family: 'MuliK';
        src: url('https://static.ndsu.nodak.edu/templates/fonts/muli-jkistner/muli-webfont.eot');
        src: url('https://static.ndsu.nodak.edu/templates/fonts/muli-jkistner/muli-webfont.eot?#iefix') format('embedded-opentype'),
                url('https://static.ndsu.nodak.edu/templates/fonts/muli-jkistner/muli-webfont.woff') format('woff'),
                url('https://static.ndsu.nodak.edu/templates/fonts/muli-jkistner/muli-webfont.ttf') format('truetype'),
                url('https://static.ndsu.nodak.edu/templates/fonts/muli-jkistner/muli-webfont.svg#MuliRegular') format('svg');
        font-weight: 400;
        font-style: normal;
}

html {
}
#top_bar ul,
#top_bar .clear,
#nav,
#widgets,
#breadcrumbs,
#sitenav,
#alpha_links,
#follow,
#navfooter,
.mask,
.noprint,
.share,
.search_paging,
ul.buttons,
#switchView,
#TSFE_ADMIN,
#TSFE_ADMIN_PANEL_FORM {
	display: none;
}

address p {
	padding: 0;
	margin: 0;
}
a {
	color: #063;
	text-decoration: none;
}
a:after {
	content: " <www.ndsu.edu/" attr(href) "> ";
	color: #000;
	font-family: monospace;
	word-wrap: break-word;
}
a[href^="http"]:after,
a[href^="mailto"]:after {
	content: " <" attr(href) "> ";
}
h1 a[href^="http"]:after,
h2 a:after,
address a[href^="http://maps.google.com"]:after,
address a[href^="http://www.ndsu.edu/ndsu/main/directory"]:after,
.csc-menu a:after,
.sindent-menu a:after,
a.navigation-link:after,
.csc-textpic-imagewrap a[href^="typo3temp/pics"]:after,
.csc-textpic-imagewrap a[href^="uploads/pics"]:after,
a.nohref:after {
	content: "";
	content: none;
}
.csc-menu-3:before {
	content: "In this page:";
	position: relative;
	right: 1em;
}
.csc-menu-3 a {
	color: #000;
}
blockquote {
	quotes: none;
	margin: 1em 0 1em 2em;
	padding-left: 1em;
	border-left: 3px solid #ccc;
}
 /* news titles */
.h2 {
	font-size: 1.5em;
}
.h2,
h3, h4, h5, h6 {
	color: #063;
	font-weight: normal;
	font-family: Arial, sans-serif;
	margin-top: 2em;
	margin-bottom: 0;
	padding-bottom: 0;
}
#top_bar h1 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1em;
}
#top_bar h1 img {
	width: 2.5in;
	height: auto;
	padding: 0 0 5px 0;
	margin: 0;
}
#univservices h2 {
	clear: both;
	border-bottom: 2pt solid #fc0;
	padding: 0;
	margin: 0;
	font-family: MuliK-L, sans-serif;
	font-weight: 300;
	font-size: 1.7em;
	line-height: 1em;
	text-transform: uppercase;
}
h2 a {
	color: #000;
	line-height: 1;
	padding: 0;
	margin: 0;
}
#univservices h2 br {
	display: none;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
	width: auto;
}
p {
	padding: 0;
	margin: 0.5em 0;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-justify {
	text-align: justify;
}
.align-center {
	text-align: center;
}
.width-full {
	width: 100%;
}
p.indent {
	padding-left: 2em;
	padding-right: 2em;
}
p.statement {
	font-size: 1.2em;
	color: #333;
	line-height: 25px;
	letter-spacing: 3px;
	padding: 1em 0;
}
p.tip,
p.note,
p.warning {
	margin: 10px 20px;
	display: list-item;
	list-style-image: url('/fileadmin/templates/images/icon.help_yellow.png');
	list-style-position: inside;
	border: 1px solid gray;
	padding: 5px;
}
p.note {
	list-style-image: url('/fileadmin/templates/images/icon.note_yellow.png');
}
p.warning {
	list-style-image: url('/fileadmin/templates/images/icon.important_yellow.png');
}
span.caption {
	font-size: 0.8em;
	color: #555;
}
span.key {
	font-variant: small-caps;
	text-decoration: underline;
	font-family: sans-serif;
	max-width: 8em;
	overflow: hidden;
}
table, thead, tbody, td, th, tr, textarea, input {
	font-family: inherit;
	font-size: inherit;
	vertical-align: inherit;
}
.border1, .border1 th, .border1 td {
	border: 1px solid #aaa;
	border-collapse: collapse;
}
.stripeRows1, .stripeRows1 td, .stripeRows1 th, .stripeRows2 th,
.striperows1, .striperows1 td, .striperows1 th, .striperows2 th {
	border-bottom: 1px dotted #939598;
	border-collapse: collapse;
}
.stripeRows2, .striperows2 {
	border-collapse: collapse;
}
.stripeRows2 td, .striperows2 td {
	border: 1px dotted #939598;
	border-collapse: collapse;
}
.stripeRows1 th, .striperows1 th,
.stripeRows2 th, .striperows2 th {
	color: #939598;
}
.stripeRows1 th[scope="col"], .striperows1 th[scope="col"],
.stripeRows2 th[scope="col"], .striperows2 th[scope="col"] {
	border-bottom: 2px solid #939598;
	font-size: 1.1em;
}
.stripeRows2 tr:nth-child(even) td, .striperows2 tr:nth-child(even),
.stripeRows2 tr:nth-child(even) th[scope="row"], .striperows2 tr:nth-child(even) th[scope="row"] {
	background-color: #e0ebd8;
}
.contenttable-1 th[scope="col"] {
	color: #030;
	font-size: 1.1em;
	border-bottom: 1px solid #030;
}


#sflgru {
	font-family: MuliK, sans-serif;
	font-weight: bold;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	color: #063;
	border-top: 1px solid #063;
	border-bottom: 1px solid #063;
	margin-top: 2em;
	margin-bottom: 0.75em;
	clear: both;
}
#sflgru p {
	padding: 0;
	margin: 0;
}


.frame1.col0 {
	width: 28%;
	max-width: 2.5in;
	float: right;
	margin-left: 0.5%;
	padding-left: 0.5%;
	border-left: 2px dashed #aaa;
	clear: right;
background-color: #fff;
}
.h2,
.frame1.col0 .csc-header h3 {
	margin: 0;
}
.frame2.col0 {
	width: 49%;
	float: left;
	margin-right: 0.5%;
}
.csc-frame-accordion { display:block !important; }
#czbox-info-bar, #czbox-loading,
#czbox-btn-prev, #czbox-btn-next, #czbox-btn-close { display: none; }
/* News single */
.news-single-img {
	float: right;
	padding-left: 20px;
	padding-top: 0.5em;
}
.news-single-imgcaption {
	padding-top: 0;
	padding-bottom: 1em;
}

.key {
	border: 1px solid #000;
	font-weight: bold;
	color: #888;
	font-family: monospace;
}

.sindent-menu:before {
	content: "In this document: ";
	font-weight: bold;
	color: #aaa;
	position: relative;
	right: 1.5em;
}
.sindent-menu .l0 {
	margin-left: 0em;
}
.sindent-menu .l3 {
	margin-left: 1em;
}
.sindent-menu .l4 {
	margin-left: 2em;
}
.sindent-menu .l5 {
	margin-left: 3em;
}
.sindent-menu .l6 {
	margin-left: 4em;
}

.clear {
	line-height: 0;
	font-size: 0;
	padding: 0;
	margin: 0;
}

.csc-linkToTop,
.beUserMsg,
#typo3-previewInfo,
#admPanel {
	display: none;
}

/* css-styled-content 6.2 attempts to fix */
div.csc-textpic, ul.csc-uploads li {
        overflow: visible;
}
div.csc-textpic:after, ul.csc-uploads li:after {
        /* requires IE8+ */
        content: "";
        display: table;
        clear: both;
}
