/*  ----------------------------------------------------------------------------
    responsive settings
*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
/*
Say what demo
*/
.td-what .td-header-style-6 .black-menu .sf-menu > li > a:hover,
.td-what .td-header-style-6 .black-menu .sf-menu > .sfHover > a,
.td-what .td-header-style-6 .black-menu .sf-menu > .current-menu-item > a,
.td-what .td-header-style-6 .black-menu .sf-menu > .current-menu-ancestor > a,
.td-what .td-header-style-6 .black-menu .sf-menu > .current-category-ancestor > a {
  background-color: transparent;
  color: #ff036e;
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-what .td-header-style-6 .td_mod_mega_menu .item-details a {
    font-size: 15px;
    line-height: 20px;
  }
}
.td-what .td-grid-what {
  margin-top: -48px;
}
@media (min-width: 1019px) and (max-width: 1140px) {
  .td-what .td_block_big_grid_4 .td-big-grid-meta .entry-title {
    font-size: 34px;
    line-height: 1;
  }
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-what .td_block_big_grid_4 .td-big-grid-meta .entry-title {
    font-size: 28px;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .td-what .td_block_trending_now {
    padding-bottom: 18px;
  }
}
.td-what .td-trending-now-title {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}
.td-what .block-title {
  border-bottom: none;
}
.td-what .block-title span {
  padding: 0;
  background-color: transparent;
}
.td-what .td_block_5 {
  margin-bottom: 16px;
}
.td-what .td_module_mx5 .td-meta-info-container .td-post-category {
  background-color: #000;
}
.td-what .td_module_3 {
  padding-bottom: 16px;
}
.td-what .td_module_3 .td-module-image .td-post-category {
  background-color: transparent;
  position: relative;
  color: #ff036e;
  margin-right: 0;
  padding: 0 0 8px 0;
}
.td-what .td_module_11 .td-post-category {
  background-color: transparent;
  color: #ff036e;
  padding: 0;
  font-size: 24px;
  line-height: 1;
}
.td-what .td_module_11 .td-excerpt {
  font-size: 18px;
  line-height: 22px;
  color: #111;
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-what .td_module_11 .td-module-title {
    font-size: 26px;
    line-height: 1;
  }
  .td-what .td_module_11 .td-post-category {
    font-size: 18px;
    line-height: 1;
  }
  .td-what .td_module_11 .td-excerpt {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .td-what .td_module_11 .td-module-title {
    font-size: 22px;
    line-height: 1;
  }
  .td-what .td_module_11 .td-post-category {
    font-size: 16px;
    line-height: 1;
  }
}
.td-what .td_module_18 .meta-info-container {
  text-align: left;
  border-bottom: none;
}
.td-what .td_module_18 .td-post-category {
  color: #ff036e;
  font-size: 32px;
  padding: 0 0 2px 0;
}
.td-what .td_module_18 .td-post-category:hover {
  color: #ff036e;
  opacity: 1;
}
.td-what .td_module_18 .td-module-meta-info {
  margin-bottom: 22px;
}
.td-what .td_module_18 .td-excerpt {
  font-size: 22px;
  line-height: 26px;
  color: #111;
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-what .td_module_18 .td-module-title {
    font-size: 38px;
    line-height: 1;
  }
  .td-what .td_module_18 .td-post-category {
    font-size: 24px;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .td-what .td_module_18 .td-module-title {
    font-size: 30px;
    line-height: 1;
  }
  .td-what .td_module_18 .td-post-category {
    font-size: 24px;
    line-height: 1;
  }
}
.td-what .td_module_8 {
  padding-bottom: 0;
}
.td-what .td_module_8 .entry-title {
  margin-bottom: 0;
}
.td-what .td-read-more {
  display: none;
}
.td-what .td_module_wrap .td-post-author-name,
.td-what .td-big-grid-post .td-post-author-name,
.td-what .td_module_wrap .td-post-date,
.td-what .td-big-grid-post .td-post-date,
.td-what .td_module_wrap .td-module-comments,
.td-what .td-big-grid-post .td-module-comments {
  display: none;
}
.td-what .td_block_template_1 .td-related-title {
  border: none;
}
.td-what .td_block_template_1 .td-related-title a:hover,
.td-what .td_block_template_1 .td-related-title a .td-cur-simple-item {
  color: #4db2ec;
}
.td-what .td_block_template_1 .td-related-title .td-cur-simple-item {
  background-color: transparent;
}
.td-what .td_block_template_1 .td-related-title .td-related-left {
  padding-left: 0;
}
.td-what .td_block_popular_categories .block-title span {
  background-color: transparent !important;
}
.td-what .td_block_popular_categories ul {
  font-size: 16px;
  line-height: 1;
}
.td-what .widget li {
  margin-left: 0 !important;
}
.td-what .widget_recent_comments li {
  border: none;
  font-size: 16px;
}
.td-what .widget_recent_comments a {
  font-size: 16px;
}
.td-what #td-theme-settings .td-skin-buy a {
  background-color: #ff036e;
}
