/** Basic theme structure
 * @author Swashata <swashata4u@gmail.com>
 * @package WordPress
 * @subpackage WP Category Post List
 * @since 1.0.0
 */
/*************************
 * THE WIDGET SECTION
 ************************/
/** The main widget */
.wp-cpl-widget, .wp-cpl-widget * {
    margin: 0 !important;
    padding: 0 !important;
}
.wp-cpl-widget {
    list-style: none !important;
    background: none !important;
}
/** The li */
.wp-cpl-widget li {
    background: none !important;
    float: none !important;
    padding: 3px 5px !important;
    margin: 2px 0 !important;
    overflow: hidden !important;
}
/** The thumb */
.wp-cpl-widget li span.wp-thumb-overlay {
    float: left !important;
    padding: 3px !important;
    line-height: 0 !important;
    margin: 0 5px 0 0 !important;
}
/** The teaser */
.wp-cpl-teaser {
    padding: 5px 0 0 0 !important;
    font-style: italic !important;
    margin: 0 0 5px 0 !important;
}
/** The read more */
.wp-cpl-read-more {
    text-align: right !important;
    padding: 5px 0 0 0 !important;
    font-style: italic !important;
    margin: 0 0 5px 0 !important;
}
/** The comment */
.wp-cpl-comment, .wp-cpl-date, .wp-cpl-author {
    display: block !important;
    font-size: 80% !important;
}


/*************************
 * THE SHORTCODE SECTION
 ************************/
/** Main wrap */
.wp-cpl-sc-wrap, .wp-cpl-sc-wrap * {
    margin: 0 !important;
    padding: 0 !important;
}

/** Entry wrap */
.wp-cpl-sc-wrap .wp-cpl-sc-post {
    margin: 5px 0 !important;
    padding: 5px 10px !important;
    overflow: hidden !important;
}

/** Thumb anchor */
.wp-cpl-sc-wrap .wp-cpl-sc-post .wp-cpl-sc-thumba {
    float: left !important;
    margin: 0 10px 10px 0 !important;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block !important;
}
/** Thumb image */
.wp-cpl-sc-wrap .wp-cpl-sc-post .wp-cpl-sc-thumba .wp-cpl-sc-thumb {
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block !important;
    padding: 4px !important;
}

/** Post h2 */
.wp-cpl-sc-wrap .wp-cpl-sc-post h2 {
    /* We leave it for theme compatibility */
    clear: right !important;
}

/** Post meta box */
.wp-cpl-sc-wrap .wp-cpl-sc-post .wp-cpl-sc-meta {
    clear: right !important;
    margin: 3px 0 !important;
    font-size: 10px !important;
    font-style: italic !important;
    padding: 3px !important;
    overflow: hidden !important;
}

/** Post content */
.wp-cpl-sc-wrap .wp-cpl-sc-post .wp-cpl-sc-entry {
    margin: 3px 0 !important;
}

/** Post readmore */
.wp-cpl-sc-wrap .wp-cpl-sc-post .wp-cpl-sc-readmore {
    text-align: right !important;
    font-size: 11px !important;
    font-style: italic !important;
}
