body {
	font-family: arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #00af87;
	text-decoration: none;
}
a:hover {
	color: #464646;
}

h1 {
	font-weight: 300;
}

a:hover {
	text-decoration: underline;
}

.page_header {
	margin-top: 0;
}

.widthLimit {
	width: 1090px;
	margin: 0 auto;
}

.header {
	height: 44px;
}

.mastheadLogoText {
	display: inline-block;
	height: 11.5px;
	margin: -20px 0 0 -18px;
	padding-top: 1px;
	vertical-align: middle;
	width: auto;
}
.mastheadLogoImage {
	display: inline-block;
	width: auto;
	margin: 8px 0 0 0;
	padding: 0;
	width: 168px;
	height: 26px;
}

.headerRight {
	float: right;
	width: 175px;
	font-size: 12px;
	line-height: 22px;
	margin: 6px 0;
}
.headerRight a {
	color: #fff;
}
.headerRight a.homelink {
	display: inline-block;
	padding-right: 10px;
	border-right: 1px solid #fff;
}
.headerRight a.searchMenu {
	font-size: 18px;
	padding-left: 10px;
}

.footerLogo-wrapper {
	padding: 20px;
	float: left;
}
.flagMenu-wrapper {
	padding: 20px;
	float: right;
}
.flagMenu-input {
	padding: 8px 10px;
	background: #fff;
}
.flagMenu-input a.flagMenu {
	color: #000;
	padding: 0 10px;
	text-decoration: none;
}
.flagMenu-input a.flagMenu .flag {
	display: inline-block;
	width: 29px;
	height: 17px;
	background-image: url('../images/destinations-V22.png');
	margin-bottom: -4px;
}

#flagMenu {
	width: 910px;
	height: 370px;
	background: #fff;
}
#flagMenu .jq-dropdown-panel {
	padding: 20px;
	height: 440px;
}
#flagMenu ul {
	padding: 0;
	list-style: outside none none;
}
#flagMenu .flag_heading {
	font-size: 14px;
}
#FLAGS_FLY .region {
	position: absolute;
	top: 20px;
	width: 220px;
}
#FLAGS_FLY .america {
	width: 200px;
	padding-left: 10px;
	left: 10px;
}
#FLAGS_FLY .europe.col {
	padding-left: 10px;
	height: 461px;
	left: 220px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
#FLAGS_FLY .europe.col1 {
	padding-left: 10px;
	height: 461px;
	left: 450px;
	border-right: 1px solid #dddddd;
}
#FLAGS_FLY .apac {
	padding-left: 10px;
	height: 461px;
	left: 680px;
}
#FLAGS_FLY .africa {
	width: 200px;
	padding-left: 10px;
	bottom: 0;
	left: 10px;
	top: 345px;
}
.flag_item {
	padding: 2px 0 5px 2px;
}
.flag_item a {
	height: 17px;
	font-size: 13px;
	color: #656565;
	display: inline-block;
	padding-left: 30px;
}
.flag_item.active {
	background: #00af87;
}
.flag_item.active a {
	color: #fff;
}
.flag_item.active a::after {
    content: "\2713 ";
    position: absolute;
    right: 1em;
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
}
.flag_link { background: url("../images/destinations-V22.png") no-repeat; }
.flag_us { background-position: 0px -18px; }
.flag_ca { background-position: 0px -226px; }
.flag_br { background-position: 0px -210px; }
.flag_mx { background-position: 0px -274px; }
.flag_ar { background-position: 0px -434px; }
.flag_cl { background-position: 0px -530px; }
.flag_co { background-position: 0px -498px; }
.flag_pe { background-position: 0px -546px; }
.flag_ve { background-position: 0px -514px; }
.flag_gb { background-position: 0px -34px; }
.flag_it { background-position: 0px -82px; }
.flag_es { background-position: 0px -114px; }
.flag_de { background-position: 0px -98px; }
.flag_fr { background-position: 0px -66px; }
.flag_se { background-position: 0px -178px; }
.flag_nl { background-position: 0px -194px; }
.flag_tr { background-position: 0px -242px; }
.flag_dk { background-position: 0px -258px; }
.flag_ie { background-position: 0px -50px; }
.flag_cz { background-position: 0px -690px; }
.flag_at { background-position: 0px -610px; }
.flag_gr { background-position: 0px -418px; }
.flag_fi { background-position: 0px -658px; }
.flag_hu { background-position: 0px -674px; }
.flag_no { background-position: 0px -306px; }
.flag_pl { background-position: 0px -322px; }
.flag_pt { background-position: 0px -820px; }
.flag_ru { background-position: 0px -402px; }
.flag_sk { background-position: 0px -706px; }
.flag_rs { background-position: 0px -722px; }
.flag_ch { background-position: 0px -770px; }
.flag_be { background-position: 0px -754px; }
.flag_jp { background-position: 0px -146px; }
.flag_cn { background-position: 0px -162px; }
.flag_in { background-position: 0px -130px; }
.flag_au { background-position: 0px -290px; }
.flag_my { background-position: 0px -466px; }
.flag_nz { background-position: 0px -594px; }
.flag_ph { background-position: 0px -578px; }
.flag_sg { background-position: 0px -354px; }
.flag_id { background-position: 0px -386px; }
.flag_kr { background-position: 0px -370px; }
.flag_th { background-position: 0px -338px; }
.flag_vn { background-position: 0px -626px; }
.flag_tw { background-position: 0px -450px; }
.flag_hk { background-position: 0px -804px; }
.flag_ar_intl { background-position: 0px -788px; }
.flag_eg { background-position: 0px -482px; }
.flag_za { background-position: 0px -562px; }
.flag_il { background-position: 0px -642px; }

#searchMenu {
	width: 1060px;
	color: #464646;
}
#searchMenu .jq-dropdown-panel {
	padding-left: 70px;
}
#searchMenu input[type="text"] {
	display: inline-block;
	width: 85%;
	padding: 8px;
	border: 1px solid #cbccce;
	color: #000;
	box-shadow: 0 2px 2px 0 #0000004d;
}
#searchMenu input[type="submit"] {
	display: inline-block;
	border: 0;
	padding: 7px 20px;
	border: 1px solid #2c2c2c;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 2px 2px 0 #0000004d;
	background: #525252;
	background: -moz-linear-gradient(top,#525252 0,#2c2c2c 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#525252),color-stop(100%,#2c2c2c));
	background: -webkit-linear-gradient(top,#525252 0,#2c2c2c 100%);
	background: -o-linear-gradient(top,#525252 0,#2c2c2c 100%);
	background: -ms-linear-gradient(top,#525252 0,#2c2c2c 100%);
	background: linear-gradient(to bottom,#525252 0,#2c2c2c 100%);
}
#searchMenu input[type="submit"]:hover {
	background: #2c2c2c;
}
#searchMenu form {
	margin: 20px 0; 
}

.ui-datepicker-trigger:hover {
	cursor: pointer;
}

.topbar {
	background: #00af87;
	height: 36px;
}

.heroimage {
	width: 1090px;
	height: 366px;
	background: url('../images/hero_02.png') no-repeat;
	text-align: center;
}
.herotext {
	color: #fff;
	font-size: 3.5em;
	position: absolute;
	top: 330px;
	left: 0;
	right: 0;
	margin: auto;
}

.mainnav {
	background: #fff;
	border: 1px solid #cbccce;
	width: 1010px;
	margin-top: -25px;
	z-index: 999;
}
.mainnav ul {
	overflow: auto;
}
.mainnav a {
	display: block;
	line-height: 20px;
	color: #00af87;
	padding: 25px 0;
	text-align: center;
}
.mainnav a:hover,
.mainnav a.active {
	color: #464646;
}
.mainnav ul {
	width: 90%;
	margin: 0 auto;
}
.mannav-about, .mannav-investor, .mannav-resources, .mannav-contact {
	float: left;
	list-style-type: none;
	width: 24%;
}
/*
.mannav-about {
	background: url('../images/icon-about.gif') left center no-repeat;
}
.mannav-investor {
	background: url('../images/icon-investor_relations.gif') left center no-repeat;
}
.mannav-resources {
	background: url('../images/icon-resources.gif') left center no-repeat;
}
.mannav-contact {
	background: url('../images/icon-contact.gif') left center no-repeat;
}
*/
.contentArea {
	margin-top: 10px;
	margin-bottom: 40px;
}

.leftNav {
	display: inline-block;
	width: 270px;
	border: 1px solid #f4f3f0;
	margin: 60px 30px 0 0;
	float: left;
}
.leftNav .nav {
	border: 1px solid #e8e8e8;
}
.leftNav .nav p {
	margin: 0 0 15px 0;
}

.content {
	word-wrap: break-word;
	display: inline-block;
	width: 740px;
}

.footer {
	margin-top: 40px;
	padding-top: 40px;
	clear: both;
	background: #f4f3f0 url('../images/footer-bar.gif') repeat-x;
	font-size: 11px;
	width: 100%;
}
.footerlinks {
	padding: 10px 0 40px 0;
}
.footer  a {
	color: #2574a9;
}

#terms {
	color: #006699;
	text-decoration: none;
}
#terms:hover {
	cursor: pointer;
	text-decoration: underline;
}

.pad-20 {
	padding: 20px;
}

.width-full {
	width: 100%;
}