/* Begin classes for common SPIN elements */

/* Header styles */
.page_header,
.category_header {
	font-weight: normal;
	margin-bottom: 15px;
}

.detail_header,
.detail_subheader,
.category_name { font-weight: bold; }

.category_intro { margin-bottom: 15px; }

/* END Header styles */

.item {
	margin: 0px 0px 10px 0px;
	overflow: auto;
	line-height: 1.4em;
}

.item_name {
	font-weight: bold;
	position: relative;
}

.item_date {}
.item_summary {}

table.wd_imagetable {}
td.imagecaption {
	text-align: left;
	padding: 3px 5px 3px 5px;
}

/* Toolbar styles */
div.wd_page_toolbar { margin: 35px 0px; }
div.wd_page_toolbar table { width: auto; }
div.wd_page_toolbar td {
	line-height: 16px;
	margin: 0;
	padding: 0;
}
div.wd_page_toolbar a {
	line-height: 16px;
}
/* END Toolbar styles */

/* Begin classes for individual PCTs */

/* Standard */

.wd_standard .item_name  { font-size: 1.1em; }
.wd_standard .item_summary p { margin-top: 0; }

.wd_pageid_20290 div.wd_standard .item p { margin-top: 0; }
.wd_pageid_20290 div.wd_standard .item {
	overflow: visible;
	margin-bottom: 30px;
}
/* About Us special handling */
.wd_pageid_20290 div.wd_standard .item:first-child,
.wd_pageid_20303 div.wd_standard .item:first-child,
.wd_pageid_20287 div.wd_standard .item:first-child,
.wd_pageid_20306 div.wd_standard .item:first-child,
.wd_pageid_20285 div.wd_standard .item:first-child,
.wd_pageid_20308 div.wd_standard .item:first-child,
.wd_pageid_20294 div.wd_standard .item:first-child,
.wd_pageid_20327 div.wd_standard .item:first-child,
.wd_pageid_20311 div.wd_standard .item:first-child,
.wd_pageid_20323 div.wd_standard .item:first-child,
.wd_pageid_20317 div.wd_standard .item:first-child,
.wd_pageid_20320 div.wd_standard .item:first-child,
.wd_pageid_20319 div.wd_standard .item:first-child,
.wd_pageid_34142 div.wd_standard .item:first-child,
.wd_pageid_34146 div.wd_standard .item:first-child,
.wd_pageid_34149 div.wd_standard .item:first-child,
.wd_pageid_34150 div.wd_standard .item:first-child,
.wd_pageid_34144 div.wd_standard .item:first-child,
.wd_pageid_34176 div.wd_standard .item:first-child,
.wd_pageid_34177 div.wd_standard .item:first-child,
.wd_pageid_34178 div.wd_standard .item:first-child,
.wd_pageid_34179 div.wd_standard .item:first-child,
.wd_pageid_34180 div.wd_standard .item:first-child,
.wd_pageid_34181 div.wd_standard .item:first-child,
.wd_pageid_34182 div.wd_standard .item:first-child,
.wd_pageid_34183 div.wd_standard .item:first-child,
.wd_pageid_34184 div.wd_standard .item:first-child,
.wd_pageid_34132 div.wd_standard .item:first-child,
.wd_pageid_34185 div.wd_standard .item:first-child,
.wd_pageid_34186 div.wd_standard .item:first-child,
.wd_pageid_34187 div.wd_standard .item:first-child,
.wd_pageid_34188 div.wd_standard .item:first-child,
.wd_pageid_34189 div.wd_standard .item:first-child,
.wd_pageid_34190 div.wd_standard .item:first-child,
.wd_pageid_34191 div.wd_standard .item:first-child,
.wd_pageid_34192 div.wd_standard .item:first-child,
.wd_pageid_34193 div.wd_standard .item:first-child,
.wd_pageid_34194 div.wd_standard .item:first-child,
.wd_pageid_34195 div.wd_standard .item:first-child,
.wd_pageid_34196 div.wd_standard .item:first-child,
.wd_pageid_34197 div.wd_standard .item:first-child,
.wd_pageid_34198 div.wd_standard .item:first-child,
.wd_pageid_34199 div.wd_standard .item:first-child,
.wd_pageid_34200 div.wd_standard .item:first-child,
.wd_pageid_34201 div.wd_standard .item:first-child,
.wd_pageid_34202 div.wd_standard .item:first-child,
.wd_pageid_34203 div.wd_standard .item:first-child,
.wd_pageid_34204 div.wd_standard .item:first-child,
.wd_pageid_34205 div.wd_standard .item:first-child,
.wd_pageid_34206 div.wd_standard .item:first-child,
.wd_pageid_34207 div.wd_standard .item:first-child,
.wd_pageid_34208 div.wd_standard .item:first-child,
.wd_pageid_34209 div.wd_standard .item:first-child,
.wd_pageid_34210 div.wd_standard .item:first-child,
.wd_pageid_34211 div.wd_standard .item:first-child,
.wd_pageid_20292 div.wd_standard .item:first-child {
	margin-bottom: 0;
}
/* END Standard */

/* Events */
div.wd_events {}

/* Gallery */
div.wd_gallery {}

div.wd_gallery span.filesize { font-weight: normal; }

/* hi-res link for gallery */
ul.hi_res-links {
	margin: 20px 0;
	list-style: none;
}
ul.hi_res-links li { display: inline; /*For ignore double margin in IE6*/ }
ul.hi_res-links li a, ul.hi_res-links li a:hover, ul.hi_res-links li a:link, ul.hi_res-links li a:visited { color: #FFF; }
ul.hi_res-links li a {
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
}
ul.hi_res-links li a span {
	display: block;
	text-align: center;
	margin: 0;
	padding: 2px 10px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	background: #666 url(../images/webdriver/gradient_bg.gif) repeat-x top;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 1px 1px 5px #888;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* END hi-res link for gallery */
/* END Gallery */

/* Newsfeed Releases */
div.wd_newsfeed_releases .wd_item { margin-bottom: 20px; }
div.wd_newsfeed_releases .wd_item .wd_title {
	font-size: 1.2em;
	margin-bottom: 5px;
}
div.wd_newsfeed_releases .wd_item .wd_subtitle {
	font-size: .9em;
	font-weight: normal;
	margin-bottom: 5px;
}
div.wd_newsfeed_releases .wd_item .wd_summary p {
	font-size: .8em;
	margin: 5px 0 10px;
}
div.wd_newsfeed_releases .wd_item .wd_date { font-size: .9em; }
div.wd_newsfeed_releases-detail .wd_title { margin-bottom: 10px; }

/* override font size set in feed releases */
.wd_newsfeed_releases-detail .news_body p.prnews_p {
	font-family: inherit;
	font-size: 100%;
	color: inherit;
}
.wd_newsfeed_releases-teaser .tools {
	text-decoration: none;
	margin-bottom: 12px;
}

/* slider and tooltip style for Press Release Summary */
.item_slider {
	margin: 20px 0px 20px 0px;
	padding: 10px 10px 10px 10px;
	background-color: #FEFDE1;
}

.item_more { margin: 20px 0px 0px 0px; }

.item_tooltip {
	width: 500px;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
}

.item_tooltip_contents {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	background-color: #FEFDE1;
	border: 2px solid #a5a5a5;
}
/* END slider and tooltip style for Press Release Summary */

/* items for Press Release Summary */
.item_with_slider { padding: 0px 0px 0px 20px; }

.slider_control_closed {
	position: absolute;
	left: -20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(../images/slider_open.png) no-repeat right center;
}

.slider_control_open {
	position: absolute;
	left: -20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(../images/slider_close.png) no-repeat right center;
}
/* END items for Press Release Summary */

/* END Newsfeed Releases */

/* Stories */
div.wd_stories {
}
/* END Stories */

/* Formbuilder */

div.wd_formbuilder {}
table.wd_formbuilder {}
input.wd_formbuilder_submit {}
table.wd_formbuilder p { margin: 0px; }
/* END Formbuilder */

/* Search Results */
.wd_webinator_search {}
p.search_result {}
span.search_url {}
/* END Search Results */

/* Events Calendar */
table.wd_calendar_header {
	padding: 5px 0px;
	margin: 0px;
}
table.wd_calendar_header a,
table.wd_calendar_header a:visited,
table.wd_calendar_header a:active,
table.wd_calendar_header a:link { color: #6095C3; }
td.wd_calendar_header_label {
	text-align: center;
	width: 100%;
}
.wd_events-teaser td.wd_calendar_header_label { font-weight: bold; }
.wd_calendar_header td.wd_calendar_header_prev a {
	display: block;
	background: #fff url(../images/webdriver/assets_left_arrow.gif) left center no-repeat;
	border: 1px solid #e1e1e1;
	padding: 12px; /* padding: 0px 12px 0px 40px; *//* good default if text is added */
	text-decoration: none;
	text-indent: -9999px;
	line-height: 0;
}
.wd_calendar_header td.wd_calendar_header_next a {
	display: block;
	background: #fff url(../images/webdriver/assets_right_arrow.gif) right center no-repeat;
	border: 1px solid #e1e1e1;
	padding: 12px; /* padding: 0px 40px 0px 12px; *//* good default if text is added */
	text-decoration: none;
	text-align: left;
	text-indent: -9999px;
	line-height: 0;
}
.wd_events-teaser .wd_calendar_header td.wd_calendar_header_prev a,
.wd_events-teaser .wd_calendar_header td.wd_calendar_header_next a {
	padding: 0px 12px;
	line-height: 24px;
}
table.wd_calendar {
	background-color: #ffffff;
	table-layout: fixed;
	border-spacing:0;
	border-collapse:collapse;
}
th.wd_calendar_dayofweek_header {
	padding: 4px 0;
	text-align: center;
	background: url("../images/webdriver/events/tab_background.gif") repeat-x scroll 0 bottom #FFFFFF;
	border: 1px solid #E1E1E1;
	font-weight: bold;
	border-right: 1px solid #CCC;
}
td.wd_calendar_day {
	margin: 0px;
	vertical-align: top;
	padding: 0px 2px 30px 2px;   /* account for event padding+border where width = content only */
}
.wd_events-teaser td.wd_calendar_day {
	margin: 0px;
	vertical-align: top;
	padding: 0px 2px 0px 2px;   /* account for event padding+border where width = content only */
}
td.wd_calendar_this_month {
	background-color: #fff;
	border: 1px #ccc solid;
}
td.wd_calendar_prev_month,
td.wd_calendar_next_month {
	background-color: #F8F8F8;
	border: 1px #ccc solid;
}
td.wd_calendar_today { background-color: #F2F9FC; }
div.wd_calendar_day_header {
	text-align: left;
	font-weight: bold;
	padding: 3px;
}
td.wd_calendar_prev_month div.wd_calendar_day_header,
td.wd_calendar_next_month div.wd_calendar_day_header {
}
div.wd_calendar_no_event {
	margin: 1px 0px 1px 0px;
	padding: 2px;
}
.wd_events-teaser div.wd_calendar_no_event {
	padding: 2px;
	text-align: center;
}
div.wd_calendar_event {
	cursor: pointer;
	padding: 2px 5px;
	position: relative;
	left: 0px;
	white-space: nowrap;
	overflow: hidden;
	background: #6095C3;
	border-radius: 4px;
	-webkit-border-radius: 4px;	
	-moz-border-radius: 4px;	
	color: #FFF;
	text-decoration: none;
}
.wd_events-teaser div.wd_calendar_event {
	padding: 2px;
	text-align: center;
}
div.wd_event_tip_header {
	line-height: 20px;
	border-bottom: #BBB;
	margin: 0px 0px 0px 0px;
	padding: 5px;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
}
div.wd_event_tip_info {
	background-color: #ffffff;
	margin: 0px 0px 0px 0px;
	padding: 5px;
}
div.wd_event_tip_info p {
	margin: 2px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}
div.wd_event_tip_title {
	font-size: 16px;
	font-weight: bold;
}
div.wd_event_tip_time, 
div.wd_event_tip_location_name,
div.wd_event_tip_more {}
div.wd_event_tip_date {}
div.calendar_subscribe_links img { margin-right: 5px; }
div.calendar_subscribe_links a { text-decoration: none; }
.wd_calendar_event_tip {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	font-size: 14px;
	line-height: 20px;
}
.wd_calendar_event_tip .qtip-titlebar {
	background: #6095C3;
	color: #FFF;
}
/* END Events Calendar */

/* Popup Fader */
div#wdFadeBackground {
	background-color: #555555;
	border: 5px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}
div#wdFadePopup {
	background-color: #333333;
	padding: 2px;
	z-index: 100;
}
td#wdFadeContent { background-color: #ffffff; }
td#wdFadeClose { text-align: right; }
/* END Popup Fader */ 

.tools img { vertical-align: top; }

/* Featureboxes */
div.wd_featurebox_title {}
div.wd_featurebox {overflow: auto;}
div.wd_featurebox p {
	font-size: .8rem;
	color: #00af87;
}
div.wd_featurebox div {}
div.wd_featureboxes_top {}
div.wd_featureboxes_top div.wd_featurebox_container {}
div.wd_featureboxes_top div.wd_featurebox_title {}
div.wd_featureboxes_top div.wd_featurebox {}

.wd_featureboxes_left {
	margin: 20px 0 0;
	padding: 15px;
	background: #f1f1f1;
}
.wd_featureboxes_left .wd_featurebox_title {
	color: #00af87;
	font-size: 38px;
	font-weight: bold;
}
.wd_featureboxes_left .wd_featurebox_container { margin-bottom: 15px; }
.wd_featureboxes_left .wd_featurebox_container:last-child { margin-bottom: 0; }
div.wd_featureboxes_left a { color: #069; }
div.wd_featureboxes_left div.wd_featurebox p { margin-top: 0; }

div.wd_featureboxes_right {}
div.wd_featureboxes_right div.wd_featurebox_container {}
div.wd_featureboxes_right div.wd_featurebox_title {}
div.wd_featureboxes_right div.wd_featurebox {}

.wd_featureboxes_socialhub {}
.wd_featureboxes_socialhub .wd_tabs_container {}
.wd_featureboxes_socialhub .wd_tabs_wrapper {
	background: 0 none;
	padding: 5px;
}
.wd_featureboxes_socialhub .wd_tabs {}
.wd_featureboxes_socialhub .wd_tab {
	margin: 1px;
	padding: 4px;
	border: 0px;
	background-color: transparent;
}
.wd_featureboxes_socialhub .wd_tab-inactive {}
.wd_featureboxes_socialhub .wd_tab-active {
	padding: 3px;
	background-color: #dddddd;
	border: 1px solid #cccccc;
	border-radius: 4px;
}
.wd_featureboxes_socialhub .wd_tabs_content_wrapper {}
.wd_featureboxes_socialhub .wd_tabs_content_wrapper .wd_tab_content {}
.wd_featureboxes_socialhub .wd_tabs_content_wrapper .wd_tab_content-active {}
.wd_featureboxes_socialhub .wd_tabs_content_wrapper .wd_tab_content-inactive {}
.wd_featureboxes_socialhub .wd_tabs_content_wrapper .wd_tab_content .wd_featurebox_container {}
.wd_featureboxes_socialhub .wd_tabs_content_wrapper .wd_tab_content .wd_featurebox_container .wd_featurebox {}

div.wd_featureboxes_middle { white-space: collapse; }
div.wd_featureboxes_middle a { color: #2574a9; }
div.wd_featureboxes_middle div.wd_featurebox_container {}
div.wd_featureboxes_middle div.wd_featurebox_title {
	display: inline-block;
	font-size: 2rem;
	margin-block-start: .67em;
}
div.wd_featureboxes_middle div.wd_featurebox {
	clear: both;
	margin-bottom: 40px;
}
div.wd_featureboxes_middle div.wd_featurebox .item {
	width: 28.7%;
	display: block;
	float: left;
	border-top: 2px solid #e8e8e8;
	border-right: 2px solid #cbccce;
	border-bottom: 2px solid #cbccce;
	border-left: 2px solid #e8e8e8;
	border-radius: 2px;
	min-height: 180px;
	margin: 10px 10px 20px 0;
	padding: 10px;
	background: #fff;
}
div.wd_featureboxes_middle div.wd_featurebox .item:last-child {
	margin-right: 0;
}
div.wd_featureboxes_middle div.wd_featurebox .item .wd_asset_icons { display: none; }
div.wd_featureboxes_middle div.wd_featurebox .item_date {
	font-size: .8em;
	color: #00af87;
}
div.wd_featureboxes_middle div.wd_featurebox .item_name {
	font-size: .8em;
	font-weight: normal;
	min-height: 120px;
}
div.wd_featureboxes_middle p.more {
	display: inline-block;
	float: right;
	line-height: 1.4em;
	margin: 4px 10px 0 0;
}
div.wd_featureboxes_middle p.more a { color: #00af87; }

#wd_featurebox-teaser_1380 .item_name { min-height: 80px; }
#wd_featurebox-teaser_1380 .item:nth-of-type(1) {
	background: url(../images/inthenews-01.jpg) no-repeat;
	padding: 55px 10px 10px;
}
#wd_featurebox-teaser_1380 .item:nth-of-type(2) {
	background: url(../images/inthenews-02.jpg) no-repeat;
	padding: 55px 10px 10px;
}
#wd_featurebox-teaser_1380 .item:nth-of-type(3) {
	background: url(../images/inthenews-03.jpg) no-repeat;
	padding: 55px 10px 10px;
	margin-right: 0;
}

div.wd_featureboxes_footer {
	clear: both;
	padding: 0 20px 20px;
}
div.wd_featureboxes_footer div.wd_featurebox_container {}
div.wd_featureboxes_footer div.wd_featurebox_title {}
div.wd_featureboxes_footer div.wd_featurebox p {
	font-size: 11px;
	color: #000;
}
/* END Featureboxes */

div.wd_rssfeeds_item { margin-bottom: 10px; }

/* Shadows for Press Release Summary */
.shadowTR {
	margin: 0px;
	border: 0px;
	padding: 8px 0px 0px 0px;
	background: transparent url(../images/shadowTR.png) no-repeat top right;
}

.shadowBL {
	margin: 0px;
	border: 0px;
	padding: 0px 0px 0px 8px;
	background: transparent url(../images/shadowBL.png) no-repeat bottom left;
}

.shadowBR {
	margin: 0px;
	border: 0px;
	padding: 0px 8px 0px 0px;
	background: transparent url(../images/shadowBR.png) no-repeat bottom right;
}

.shadowB {
	margin: 0px;
	border: 0px;
	padding: 0px 1px 8px 0px;
	background: transparent url(../images/shadowB.png) repeat-x bottom center;
}

.shadowR {
	margin: 0px -9px 0px 0px;
	border: 0px;
	padding: 1px 8px 1px 1px;
	background: transparent url(../images/shadowR.png) repeat-y center right;
}

.shadow-content {
	margin: -9px 0px -1px -9px;
	border: 0px;
	padding: 0px;
	background: transparent;
}
/* END Shadows for Press Release Summary */

.subscribe_links a {
	padding-right: 20px;
	background: url(../images/webdriver/email_alerts.png) no-repeat center right;
}