#notification_letter {
	position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0,0,0,.5);
    z-index: 99999;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

#notification_letter .window {
    position: absolute;
    top: 50px;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0); /* IE 9 */
    -webkit-transform: translate(-50%, 0); /* Safari and Chrome */
    -o-transform: translate(-50%, 0); /* Opera */
    -moz-transform: translate(-50%, 0);
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

#notification_letter .window .content {
    background: rgba(255,255,255,1);
    margin-bottom: 50px;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
	color: rgba(0, 0, 0, 0.85);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Sans Serif', Icons /*!System*/;
    font-style: normal;
    line-height: 1.4;
}


@media (max-width: 800px) {
	#notification_letter .window {
		max-width: calc(100% - 30px);
		top: 15px;
	}
	#notification_letter .window .content {
		padding: 30px;
		margin-bottom: 15px;
	}
}

#notification_letter .window a {
	padding-bottom: 0.1em;
	border-bottom: 0.075em solid rgba(0, 0, 0, 0.75);
	color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

#notification_letter .window #close {
	width: 36px;
    height: 36px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

#notification_letter .window #close > * {
	fill: rgba(0,0,0,.22);
}

#notification_letter .window #close .shape-outline {
	display: none;
}

#notification_letter .window #logo {
	margin-bottom: 5em;
	max-width: 250px;
	line-height: 0;
}

body.no-scroll {
	overflow: hidden;
}

/**
 * Grid / Columns
 */

[grid-row] {
    align-items: flex-start;      
    box-sizing: border-box;

    display: -webkit-box; display:
    -webkit-flex; display:
    -ms-flexbox; display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

[grid-col] {
    box-sizing: border-box;
}

[grid-row] [grid-col].empty:after {
    content: "\0000A0";
    cursor: text;
}

[grid-col="auto"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

[grid-col="x12"] { width: 100%; }
[grid-col="x11"] { width: 50%; }
[grid-col="x10"] { width: 33.33%; }
[grid-col="x9"] { width: 25%; }
[grid-col="x8"] { width: 20%; }
[grid-col="x7"] { width: 16.666666667%; }
[grid-col="x6"] { width: 14.285714286%; }
[grid-col="x5"] { width: 12.5%; }
[grid-col="x4"] { width: 11.111111111%; }
[grid-col="x3"] { width: 10%; }
[grid-col="x2"] { width: 9.090909091%; }
[grid-col="x1"] { width: 8.333333333%; }

[grid-col="1"] { width: 8.33333%; }
[grid-col="2"] { width: 16.66667%; }
[grid-col="3"] { width: 25%; }
[grid-col="4"] { width: 33.33333%; }
[grid-col="5"] { width: 41.66667%; }
[grid-col="6"] { width: 50%; }
[grid-col="7"] { width: 58.33333%; }
[grid-col="8"] { width: 66.66667%; }
[grid-col="9"] { width: 75%; }
[grid-col="10"] { width: 83.33333%; }
[grid-col="11"] { width: 91.66667%; }
[grid-col="12"] { width: 100%; }


body.mobile [grid-responsive] [grid-col] {
    width: 100%;
    -webkit-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

@media (max-width: 800px) {

    [grid-responsive] [grid-col] {
        width: 100%;
        -webkit-box-flex: none;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }
}



[grid-pad="0"] {
  padding: 0; 
}

[grid-pad="0.25"] {
  padding: .125rem; 
}

[grid-pad="0.5"] {
  padding: .25rem; 
}

[grid-pad="0.75"] {
  padding: .375rem; 
}

[grid-pad="1"] {
  padding: .5rem; 
}

[grid-pad="1.25"] {
  padding: .625rem; 
}

[grid-pad="1.5"] {
  padding: .75rem; 
}

[grid-pad="1.75"] {
  padding: .875rem; 
}

[grid-pad="2"] {
  padding: 1rem; 
}

[grid-pad="2.5"] {
  padding: 1.25rem; 
}

[grid-pad="3"] {
  padding: 1.5rem; 
}

[grid-pad="3.5"] {
  padding: 1.75rem; 
}

[grid-pad="4"] {
  padding: 2rem; 
}

[grid-pad="5"] {
  padding: 2.5rem; 
}

[grid-pad="6"] {
  padding: 3rem; 
}

[grid-pad="7"] {
  padding: 3.5rem; 
}

[grid-pad="8"] {
  padding: 4rem; 
}

[grid-pad="9"] {
  padding: 4.5rem; 
}

[grid-pad="10"]{
  padding: 5rem; 
}

/**
Gutters
**/


[grid-gutter="0"] {
  margin: 0rem; 
}

[grid-gutter="0.5"] {
  margin: -.25rem; 
}

[grid-gutter="1"] {
  margin: -.5rem; 
}

[grid-gutter="1.5"] {
  margin: -.75rem; 
}

[grid-gutter="2"] {
  margin: -1rem; 
}

[grid-gutter="2.5"] {
  margin: -1.25rem; 
}

[grid-gutter="3"] {
  margin: -1.5rem; 
}

[grid-gutter="3.5"] {
  margin: -1.75rem; 
}

[grid-gutter="4"] {
  margin: -2rem; 
}

[grid-gutter="5"] {
  margin: -2.5rem; 
}

[grid-gutter="6"] {
  margin: -3rem; 
}

[grid-gutter="7"] {
  margin: -3.5rem; 
}

[grid-gutter="8"] {
  margin: -4rem; 
}

[grid-gutter="10"]{
  margin: -5rem; 
}

[grid-gutter="12"]{
  margin: -6rem; 
}

[grid-gutter="14"]{
  margin: -7rem; 
}

[grid-gutter="16"]{
  margin: -8rem; 
}

[grid-gutter="18"]{
  margin: -9rem; 
}

[grid-gutter="20"]{
  margin: -10rem; 
}
