  #ReportDownload input[type=checkbox] {
    display: none; }
  #ReportDownload #endareas {
    display: block;
    float: left;
    width: 100%;
    height: 100px;
    /*border-top: 1px dashed #00529c;*/
    padding-top: 20px;
    position: relative; }
    #ReportDownload #endareas .error {
    display: none; 
    }
      #ReportDownload #endareas .error h4 {
        text-align: center;
        font-family: arial;
        font-size: 12px;
        color: #888888; 
        margin-top:-10px;
      }
    #ReportDownload #endareas .after {
      display: none;
      /* margin-left: 15%; */
      /* width: 70%; */
      height: 50px;
      text-align: center;
      margin-top: 10px; 
    }
      #ReportDownload #endareas .after h4 {
        /* text-align: center; */
        color: #00529c;
        font-family: arial;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px; 
        max-width:none !important;

      }
      #ReportDownload #endareas .after a, #ReportDownload #endareas .after button {
        font-family: arial;
        font-size: 12px;
        color: #000;
        /* text-align: center; */
        display: block;
        /* margin: 0 auto; */
        font-weight: bold; 
        text-transform: uppercase;
        margin-bottom:5px;
        border:none;
      }
        #ReportDownload #endareas .after a:hover, #ReportDownload #endareas .after button:hover {
          color: #00529c; }
      #ReportDownload #endareas .after button {
        color: #888888;
        background: none;
        /* margin: 0 auto; */
        cursor: pointer; 
        font-size: 10px;
        width:100%; /* NEW */
       }
    #ReportDownload #endareas .during {
      display: none;
      margin-left: 15%;
      width: 70%;
      height: 50px;
      margin-top: 10px;
      text-align: center; }
      #ReportDownload #endareas .during h4 {
        color: #00529c;
        font-family: arial;
        font-size: 12px;
        line-height: 16px; 
        max-width:none !important;
      }
      #ReportDownload #endareas .during img {
        max-height: 32px;
        max-width: 32px;
        text-align: center;
        margin: 0 auto; }
    #ReportDownload #endareas #CreateReport {
      display: block;
      position: absolute;
      background: #000;
      padding: 8px 0px;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      width: 70%;
      font-family: arial;
      text-align: center;
      margin-left: 15%;
      position: absolute;
      margin-top: 10px;
      cursor: pointer; }
      #ReportDownload #endareas #CreateReport:hover {
        background: #00529c; }

        #ReportDownload .buildCol .reportSect fieldset {
          width: 100%;
          vertical-align: top;
          margin: 12px 0; }
          #ReportDownload .buildCol .reportSect fieldset.sup label {
            font-size: 14px;
            line-height: 16px;
            color: #000;
            font-family: Arial,sans-serif;
            font-weight: bold; }
          #ReportDownload .buildCol .reportSect fieldset label {
            display: inline-block;
            /*font-family: Arial, sans-serif;*/
            font-size: 14px;
            line-height: 16px;
            color: #555555;
            background: url(../image/icons/checkOff.gif) left 1px no-repeat;
            padding-left: 20px;
            cursor: pointer; }
            #ReportDownload .buildCol .reportSect fieldset label.on {
              background: url(../image/icons/checkOn.gif) left 1px no-repeat; }
            #ReportDownload .buildCol .reportSect fieldset label strong, #ReportDownload #builderColumns .buildCol .reportSect fieldset label em {
              font-family: Arial, sans-serif;
              font-size: 12px;
              line-height: 16px;
              color: #555555;
              font-weight: bold; }
            #ReportDownload .buildCol .reportSect fieldset label em {
              font-style: normal; }

/*submit button*/
.hidden {
  display: none; }

@media only screen and (max-device-width: 767px), only screen and (max-width: 480px) {

     
}