
/******* core styles ********/

body.cq-wcm-edit .hide-on-cq-edit {
	display: none !important;
}


.elite-news-layout {
    font-family: sans-serif;
}

.elite-news-layout .editing-label {
    background-color: #dd0;
    font-size: 75%;
    color: #000;
    font-weight: bold;
    margin-top: .5em;
    padding: .25em;
    display: inline-block;
}

.elite-news-layout .news-title {
    font-weight: bold;
    font-size: 20pt;
}

.elite-news-layout .subtitle {
    font-weight: bold;
    font-size: 16pt;
}

.elite-news-layout .summary {
    font-style: italic;
}

.elite-news-layout .images-wrapper {
    border: 1px solid #999;
    min-height: 120px;
    width: auto;
    display: inline-block;
    min-width: 160px;
}

.elite-news-layout .images-wrapper .image-parsys .image.section {
    display: inline-block;
    margin: 0;
}

.elite-news-layout .images-wrapper img {
    height: 100px;
    width: auto;
    margin: 20px 20px 20px 0;
    border: 1px solid #ddd;
}

.elite-news-layout .images-wrapper .image.section:first-child img,
.cq-wcm-edit .elite-news-layout .images-wrapper .image.section img {
    margin-left: 20px;
}


/* css-cookies */

.atvi-cookie-disclaimer {
	width: 100%;
    padding: 10px 0;
    background: rgba(0,0,0,.7);
    color: #FFF;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;

    -webkit-transform: translate(0,100%);
    -moz-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    -o-transform: translate(0,100%);
    transform: translate(0,100%);

    -webkit-transition: transform 1s;
    -ms-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;    
}

.atvi-cookie-disclaimer.show {
	-webkit-transform: translate(0,0%);
    -moz-transform: translate(0,0%);
    -ms-transform: translate(0,0%);
    -o-transform: translate(0,0%);
    transform: translate(0,0%);
}

.atvi-cookie-disclaimer a {
	color: #FFF;
    text-decoration: underline;
}

.atvi-cookie-disclaimer a.cookies-close{
	cursor: pointer;
    text-decoration: none;
    color: #FFF;
    background: #666;
    display: inline-block;
    padding: 5px 15px;
}
.atvi-footer-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
.atvi-column-control {
    position: relative;
}

div.cq-text-placeholder-ipe.divedit {
    height: 20px !important;
    background: url(clientlibs-atvi-ui-main/images/edit-bg.png) top left no-repeat;
    padding-left: 23px; 
    position: relative;
    text-align: left;
	display: none;
}

div.cq-text-placeholder-ipe.divedit span {
    font-size: 13px !important;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif !important;   
    background: #ffff00;
    color: #000;
    position: absolute;
    padding: 3px 4px 2px 4px;
}
div.cq-text-placeholder-ipe.parsys-toggle {
    width: 20px !important;
    height: 20px !important;
    background: url(clientlibs-atvi-ui-main/images/par-edit-bg.png) top left no-repeat;
    position: relative;
    top: -20px;
    left: 21px;
    z-index: 100;
}

.cq-wcm-edit div.cq-text-placeholder-ipe.divedit {
	display: block;	
}

.cq-wcm-edit .non-authorable .refHeaderContent .cq-text-placeholder-ipe, 
.cq-wcm-edit .non-authorable .refFooterContent .cq-text-placeholder-ipe {
    display: none;  
}
div.atvi-floater .cq-text-placeholder-ipe.floaterholder {
    height: 20px;
    background: url(clientlibs-atvi-ui-main/images/edit-bg.png) top left no-repeat;
    position: relative;
    z-index: 9999;
}

div.atvi-floater {
    /*position: fixed;*/
    z-index: 9999;
}

div.cq-text-placeholder-ipe.floaterholder span {
    font-size: 13px !important;
    font-weight: bold !important;
    text-transform: lowercase !important;   
    background: #ffff00;
    color: #000;
    position: absolute;
    /*top: -18px;*/
    padding: 3px 4px 2px 4px;
    left: 21px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}
/*!
 * jQuery UI CSS Framework 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,.ui-helper-clearfix:after {
    content: "";
    display: table;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    zoom: 1;
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity =   0);
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*!
 * jQuery UI CSS Framework 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Segoe%20UI,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=6px&bgColorHeader=333333&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=25&borderColorHeader=333333&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=000000&bgTextureContent=05_inset_soft.png&bgImgOpacityContent=25&borderColorContent=666666&fcContent=ffffff&iconColorContent=cccccc&bgColorDefault=555555&bgTextureDefault=02_glass.png&bgImgOpacityDefault=20&borderColorDefault=666666&fcDefault=eeeeee&iconColorDefault=cccccc&bgColorHover=0078a3&bgTextureHover=02_glass.png&bgImgOpacityHover=40&borderColorHover=59b4d4&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=f58400&bgTextureActive=05_inset_soft.png&bgImgOpacityActive=30&borderColorActive=ffaf0f&fcActive=ffffff&iconColorActive=222222&bgColorHighlight=eeeeee&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=80&borderColorHighlight=cccccc&fcHighlight=2e7db2&iconColorHighlight=4b8e0b&bgColorError=ffc73d&bgTextureError=02_glass.png&bgImgOpacityError=40&borderColorError=ffb73d&fcError=111111&iconColorError=a83300&bgColorOverlay=5c5c5c&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=50&opacityOverlay=80&bgColorShadow=cccccc&bgTextureShadow=01_flat.png&bgImgOpacityShadow=30&opacityShadow=60&thicknessShadow=7px&offsetTopShadow=-7px&offsetLeftShadow=-7px&cornerRadiusShadow=8px
 */

/* Component containers
----------------------------------*/
.ui-widget {
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 1.1em;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
    {
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 1em;
}

.ui-widget-content {
    border: 1px solid #666666;
    background: #000000
        url(clientlibs-atvi-ui-main/images/ui-bg_inset-soft_25_000000_1x100.png) 50%
        bottom repeat-x;
    color: #ffffff;
}

.ui-widget-content a {
    color: #ffffff;
}

.ui-widget-header {
    border: 1px solid #333333;
    background: #333333
        url(clientlibs-atvi-ui-main/images/ui-bg_gloss-wave_25_333333_500x100.png) 50%
        50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-header a {
    color: #ffffff;
}

/* Interaction states
----------------------------------*/
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
    {
    border: 1px solid #666666;
    background: #555555
        url(clientlibs-atvi-ui-main/images/ui-bg_glass_20_555555_1x400.png) 50% 50%
        repeat-x;
    font-weight: bold;
    color: #eeeeee;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited
    {
    color: #eeeeee;
    text-decoration: none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
    {
    border: 1px solid #59b4d4;
    background: #0078a3
        url(clientlibs-atvi-ui-main/images/ui-bg_glass_40_0078a3_1x400.png) 50% 50%
        repeat-x;
    font-weight: bold;
    color: #ffffff;
}

.ui-state-hover a,.ui-state-hover a:hover {
    color: #ffffff;
    text-decoration: none;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active
    {
    border: 1px solid #ffaf0f;
    background: #f58400
        url(clientlibs-atvi-ui-main/images/ui-bg_inset-soft_30_f58400_1x100.png) 50%
        50% repeat-x;
    font-weight: bold;
    color: #ffffff;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
    color: #ffffff;
    text-decoration: none;
}

.ui-widget :active {
    outline: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
    {
    border: 1px solid #cccccc;
    background: #eeeeee
        url(clientlibs-atvi-ui-main/images/ui-bg_highlight-soft_80_eeeeee_1x100.png)
        50% top repeat-x;
    color: #2e7db2;
}

.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a
    {
    color: #2e7db2;
}

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error
    {
    border: 1px solid #ffb73d;
    background: #ffc73d
        url(clientlibs-atvi-ui-main/images/ui-bg_glass_40_ffc73d_1x400.png) 50% 50%
        repeat-x;
    color: #111111;
}

.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a
    {
    color: #111111;
}

.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text
    {
    color: #111111;
}

.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary
    {
    font-weight: bold;
}

.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary
    {
    opacity: .7;
    filter: Alpha(Opacity = 70);
    font-weight: normal;
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled
    {
    opacity: .35;
    filter: Alpha(Opacity = 35);
    background-image: none;
}

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl {
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -khtml-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
}

.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr {
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -khtml-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl {
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Overlays */
.ui-widget-overlay {
    background: #5c5c5c
        url(clientlibs-atvi-ui-main/images/ui-bg_flat_50_5c5c5c_40x100.png) 50% 50%
        repeat-x;
    opacity: .80;
    filter: Alpha(Opacity = 80);
}

.ui-widget-shadow {
    margin: -7px 0 0 -7px;
    padding: 7px;
    background: #cccccc
        url(clientlibs-atvi-ui-main/images/ui-bg_flat_30_cccccc_40x100.png) 50% 50%
        repeat-x;
    opacity: .60;
    filter: Alpha(Opacity = 60);
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
} /*!

 * jQuery UI Accordion 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion {
    width: 100%;
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1;
}

.ui-accordion .ui-accordion-li-fix {
    display: inline;
}

.ui-accordion .ui-accordion-header-active {
    border-bottom: 0 !important;
}

.ui-accordion .ui-accordion-header a {
    display: block;
    font-size: 1em;
    padding: .5em .5em .5em .7em;
}

.ui-accordion-icons .ui-accordion-header a {
    padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    display: none;
    zoom: 1;
}

.ui-accordion .ui-accordion-content-active {
    display: block;
}

/*!
 * jQuery UI Slider 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.ui-slider-horizontal {
    height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0;
} /*!
 * jQuery UI Tabs 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs {
    position: relative;
    padding: .2em;
    zoom: 1;
}
    /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a
    {
    cursor: text;
}

.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a
    {
    cursor: pointer;
}
    /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}

.ui-tabs .ui-tabs-hide {
    display: none !important;
}
/*!
 * jQuery UI Progressbar 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
.ui-progressbar {
    height: 2em;
    text-align: left;
    overflow: hidden;
}

.ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%;
}


.image-composite-template-container {
    width: 1000px;
    margin: 0 auto;
}

.image-container {
    margin-bottom: 20px;	
}

.atvi-age-gate-container {
	width: 50%;
	min-height: 150px;
	padding-top: 100px;
	margin: 0 auto;
	background: #CCC;
}

.atvi-age-gate-container .dob-prompt {
    width: 50%;
    margin: 0 auto;	
}

.image-composite-template-bottom-container {
	position: relative;
}

.image-comments-container {
    width: 63%;
    float: left;
}

.image-side-bar-container {
    width: 33%;
    float: right;
}
/*****************************************
ATVI LANGUAGE SELECTOR
*****************************************/

.language-selector {
	display: inline-block;
}

/*.cq-wcm-edit .language-selector {
	display: block;	
}*/

.atvi-language-selector {
	position: relative;
}

.atvi-language-selector .main-flag {
	background: #000;
	display: inline-block;
	padding: 5px 10px;
    cursor: pointer;
}

.atvi-language-selector .main-flag > div {
	display: inline-block;
}

.atvi-language-selector .main-flag .main-flag-text {
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
}

.atvi-language-selector .main-flag .main-flag-icon {
	background: url(clientlibs-atvi-ui-main/images/flag-sprite.png) top left no-repeat;
	width: 16px;
	height: 10px;
}

.atvi-language-selector .main-flag .main-flag-icon.US { background-position: 0 0; }
.atvi-language-selector .main-flag .main-flag-icon.CA { background-position: 0 -11px; }
.atvi-language-selector .main-flag .main-flag-icon.AU { background-position: 0 -22px; }
.atvi-language-selector .main-flag .main-flag-icon.FR { background-position: 0 -33px; }
.atvi-language-selector .main-flag .main-flag-icon.IT { background-position: 0 -44px; }
.atvi-language-selector .main-flag .main-flag-icon.ES { background-position: 0 -55px; }
.atvi-language-selector .main-flag .main-flag-icon.NO { background-position: 0 -66px; }
.atvi-language-selector .main-flag .main-flag-icon.SE { background-position: 0 -77px; }
.atvi-language-selector .main-flag .main-flag-icon.DK { background-position: 0 -88px; }
.atvi-language-selector .main-flag .main-flag-icon.FI { background-position: 0 -99px; }
.atvi-language-selector .main-flag .main-flag-icon.NL { background-position: 0 -110px; }
.atvi-language-selector .main-flag .main-flag-icon.BR { background-position: 0 -121px; }
.atvi-language-selector .main-flag .main-flag-icon.GB { background-position: 0 -132px; }
.atvi-language-selector .main-flag .main-flag-icon.DE { background-position: 0 -143px; }
.atvi-language-selector .main-flag .main-flag-icon.RU { background-position: 0 -176px; }
.atvi-language-selector .main-flag .main-flag-icon.PL { background-position: 0 -187px; }
.atvi-language-selector .main-flag .main-flag-icon.NZ { background-position: 0 -198px; }
.atvi-language-selector .main-flag .main-flag-icon.MX { background-position: 0 -209px; }
.atvi-language-selector .main-flag .main-flag-icon.JP { background-position: 0 -219px; }

.atvi-language-selector .locale-menu {
	display: none;
}

.atvi-language-selector .locale-menu.overlap {
	position: absolute;
	width: 100%;
	top: 38px;
	z-index: 10;
}

.atvi-language-selector .locale-menu.two-column {
	width: 500px;	
}

.atvi-language-selector .locale-menu.popup,
.atvi-language-selector .locale-menu.popup.overlap,
.atvi-language-selector .locale-menu.two-column.popup {
	position: fixed;
	width: 98%;
	top: 20px;
	left: 50%;
	margin-left: -49%;
	z-index: 10;
	height: auto;
	max-height: 75%;
	overflow-y: scroll;	
}

.atvi-language-selector .locale-menu.popup .locale-menu-close-btn {
	width: 21px;
	height: 21px;
	position: fixed;
	top: 25px;
	right: 25px;
	background: url(clientlibs-atvi-ui-main/images/flag-sprite.png) bottom left no-repeat;
	z-index: 20;
	cursor: pointer;
}

.atvi-language-selector .locale-menu.popup .locale-menu-close-btn:hover {
	background-position: -20px bottom;
}

.atvi-language-selector .locale-menu .locale-list {
	position: relative;	
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.74902) 2px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.74902) 2px 4px 4px;
	padding: .5em;
}

.atvi-language-selector .locale-menu .locale-list .locale-entry {
    text-overflow: ellipsis;
    font-size: 13.5px;
    font-weight: normal;
    font-style: italic;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.atvi-language-selector .locale-menu .locale-list .locale-entry.selected {
    background: url(clientlibs-atvi-ui-main/images/flag-check-mark.png) center right no-repeat;
}

.atvi-language-selector .locale-menu.two-column .locale-list .locale-entry {
	float: left;
	width: 46%;	
	text-overflow: ellipsis;
	overflow: hidden;
}

.atvi-language-selector .locale-menu.popup .locale-list .locale-entry,
.atvi-language-selector .locale-menu.two-column.popup .locale-list .locale-entry {
	float: none;
	width: 100%;
}

.atvi-language-selector .locale-menu.two-column .locale-list .locale-entry:nth-child(odd) {
	margin-right: 8%;
}

.atvi-language-selector .locale-menu .locale-list .locale-entry a {
	text-decoration: none;
	display: block;
	padding: 5px 0;
}

.atvi-language-selector .locale-menu .locale-list .locale-entry a > div {
	display: inline-block;
}

.atvi-language-selector .locale-menu .locale-list .locale-entry .flag {
    width: 16px;
	height: 10px;
	margin-right: 10px;
    padding: 0;
    text-indent: -9999em;
    background: url(clientlibs-atvi-ui-main/images/flag-sprite.png) top left no-repeat;  
}

.atvi-language-selector .locale-menu .locale-list .locale-entry .region {
	white-space: nowrap;
	line-height: 2em;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

.atvi-language-selector .locale-menu .locale-list .locale-entry.US .flag { background-position: 0 0; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.CA .flag { background-position: 0 -11px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.CA .flag { background-position: 0 -11px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.AU .flag { background-position: 0 -22px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.FR .flag { background-position: 0 -33px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.IT .flag { background-position: 0 -44px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.ES .flag { background-position: 0 -55px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.NO .flag { background-position: 0 -66px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.SE .flag { background-position: 0 -77px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.DK .flag { background-position: 0 -88px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.FI .flag { background-position: 0 -99px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.NL .flag { background-position: 0 -110px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.BR .flag { background-position: 0 -121px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.GB .flag { background-position: 0 -132px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.DE .flag { background-position: 0 -143px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.RU .flag { background-position: 0 -176px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.PL .flag { background-position: 0 -187px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.NZ .flag { background-position: 0 -198px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.MX .flag { background-position: 0 -209px; }
.atvi-language-selector .locale-menu .locale-list .locale-entry.JP .flag { background-position: 0 -219px; }

.atvi-language-selector .locale-menu .locale-list hr {
    color: #ADADAD;
    height: 2px;
    background-color: #ADADAD;
    border: none;
    border-image: initial;
    width: 100%;
    clear: both;
	margin: 0;
	padding: 0;
}

.atvi-language-selector .clearfix:after {
    clear: both; 
    content:".";
    display: block;
    height: 0;
    visibility: hidden
}

.atvi-language-selector .clearfix {
	min-width: 0;
}

/* CONTROLS */

.atvi-video-composite .player{
    position: relative; 
}

.atvi-video-composite .player .mobile-yt-player {
    /*display: none;*/
}

.controls{
    width: 590px;
    position: relative;
    margin-top: -42px;
    z-index: 100;
    display: inline-block;
    left: 6px;
    
    background-color: black;
    height: 40px;
    margin: 0px;
    left: 0px;
    padding-top: 5px;
    bottom: 5px;
}

.player-title {
    background: url(clientlibs-atvi-ui-main/images/title-bg.png) top left repeat;
    color: #FFF;
    text-align: left;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px 0;
}

.fullscreen{
    background-color: black;
    height: 65px;
    margin: 0px;
    left: 0px;
    padding-top: 20px;
    bottom: 5px;
}

/* SLIDERS */

.master{
    position: relative;
    bottom: 5px;
    margin: 15px;
    float: left;
}

.volume-slider{
    margin: 0 5px;
}

/* BUTTONS */
.fsbutton{
    width: 32px;
    height: 32px;
    background-image: url(clientlibs-atvi-ui-main/images/fullscreen-button.png);
    float: left;
    margin-left: 5px;
}

.fsbutton.fullscreen-mode {
    background-image: url(clientlibs-atvi-ui-main/images/fullscreen-button.png);
}

.fsbutton.non-fullscreen-mode {
    background-image: url(clientlibs-atvi-ui-main/images/non-fullscreen-button.png);
}

.videoClock {
    width: 95px;
    line-height: 2.3;
    height: 32px;
    float: left;
    font-size: 15px;
    margin-right: 5px;
    color: #FFF;
}

.videoClock .currClock {
    float: left;
    width: 45px;
    text-align: right;
}

.videoClock .fullClock {
    float: left;
    width: 45px;
    text-align: left;
}

.SD-HD-button{
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 5px;
}

.HD-button{
    background-image:url(clientlibs-atvi-ui-main/images/hd-small.png);
}
.SD-button{
    background-image:url(clientlibs-atvi-ui-main/images/hd-off-small.png);
}

.play-pause-button{
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 5px;
}

.play-button{
    background-image:url(clientlibs-atvi-ui-main/images/play-button.png);
}

.pause-button{
    background-image:url(clientlibs-atvi-ui-main/images/pause-button.png);
}

.speaker {
    width: 33px;
    height: 33px;
    float: left;
    background-image:url(clientlibs-atvi-ui-main/images/speaker.png); 
    cursor: pointer;
}

.controls .volume.ui-slider-vertical {
    position: absolute;
    cursor: pointer;
}

.sharecode {
    width: 103px;
    height: 34px;
    float: left;
    margin: 0 5px;
    background: url(clientlibs-atvi-ui-main/images/share-button.png);
    display: block;
}

.sharecode.fullscreen-mode {
    display: none;  
}

.c-button {
    cursor: pointer;
}


body.mobile-device .controls, 
body.mobile-device .player-title {
    display: none;  
}

body.mobile-device .atvi-video-composite .player iframe {
    /*display: none;*/ 
}

body.mobile-device .atvi-video-composite .player .mobile-yt-player {
    /*display: block;*/ 
}

.video-composite-template-container.content-par {
    width: 1000px;
    margin: 0 auto;
}

.video-container {
    margin-bottom: 20px;   
    position: relative; 
}

.video-composite-template-bottom-container {
    position: relative;
}

.video-comments-container {
    width: 63%;
    float: left;
}

.video-side-bar-container {
    width: 33%;
    float: right;
}
/******************************
ATVI STORE LOCATOR DEFAULT STYLES
******************************/

.atvi-store-locator {
	min-width: 425px;
}

.atvi-store-locator .map-field-set {
	margin-bottom: 15px;
}

.atvi-store-locator .map-field-set .select-store-list,
.atvi-store-locator .map-field-set .zip-code-field,
.atvi-store-locator .map-field-set .search-btn{
	display: inline-block;
}

.atvi-store-locator .search-btn {
	cursor: pointer;
    display: inline-block;
    background: #000;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    padding: 10px 15px;
}

.atvi-store-locator .store-error {
	display: none;
}


/* Page Navigation Button Styles */

.page-controls {
	position: absolute;
    top: 407px;
    width: 67px;
    overflow: hidden;
} 

/* Page Navigation Right Button Styles */

.next-btn-container {
	right: 0;
}

/* Page Navigation Left Button Styles */

.previous-btn-container {
    left: 0;
}
.cq-text-placeholder-ipe.vidThumbEdit {
	background: url(clientlibs-atvi-ui-main/images/edit-video-thumbnail.png) top left no-repeat;
	width: 125px;
	height: 125px;
}

.atvi-video-thumbnail {
    width: 125px;
    height: 75px;	
}

.atvi-video-thumbnail .atvi-video-thumbnail-img-container {
    position: relative;
}

.atvi-video-thumbnail .atvi-video-thumbnail-img-container span.play {
    position: absolute;
    top: 0;
    left: 0;
    background: url(clientlibs-atvi-ui-main/images/default-play-btn.png) no-repeat;
    width: 125px;
    height: 75px;
}
.atvi-tab-menu-item {
    cursor: pointer;
}
.atvi-jive-discussion {
    position: relative;
}

.atvi-jive-discussion .comments {
    word-wrap: break-word;  
}

.counter{
    position:absolute;
    right:0;
    bottom:0;
    font-size:20px;
    font-weight:bold;
    color:#CCC;
    }

.warning{color:#A00;}

.exceeded{color:#F00;}

.loading-div {
    display: none;
    position: fixed;        
    width:160px;
    height:160px;
    position:absolute;
    top:45%;
    left:45%;
    z-index:999;        
}

.comment-form-div {
     display: none;
     position: fixed;
     top: 0;
     left: 0; 
     background: url(clientlibs-atvi-ui-main/images/opaque.png) repeat top left;
}

.comment-div {
    position: fixed;
    top: 40%;
    left: 40%;
    color: #FFF;
}

.comment-div textarea {
    width: 500px;
    color: #000; 
}

.error-div {        
    display: none;
    color: red;
}

.discussion-pagination span{
    color: white;
    padding: 2px 2px 2px 2px;
}

.discussion-pagination a{
    color: yellow;
    padding: 2px 2px 2px 2px;
}

/******************************
ATVI GALLERY DEFAULT STYLES
******************************/

.atvi-gallery {
    width: 600px;
    /*height: 510px;*/
    margin: 0 auto; 
}

.atvi-gallery .display-frame {
    display: block;
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.atvi-gallery .display-frame .display-link {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 7000;
    position: absolute;
    top: 0;
}

.atvi-gallery .display-frame .display-media {
    width: 100%;
    height: auto;
    position: relative;
}

.atvi-gallery .display-frame.video-media .display-media {
    height: 100%;
    position: absolute;
}

.atvi-gallery .display-frame .display-media img {
    width: 100%;
    height: auto;
}

.atvi-gallery .display-frame .display-caption {
    display: none;
    background-color: rgba(0,0,0, .8);
    padding: 2%;
    width: 96%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: #FFF;
}

.atvi-gallery .display-frame .display-caption.active {
    display: block;
}

.atvi-gallery .display-frame.video-media .display-caption {
    /*display: none;*/
}

.atvi-gallery .thumbnails {
    height: 60px;
    position: relative;
}

.atvi-gallery .thumbnails .thumbnails-inner {
    /*width: 500px;*/
    height: 60px;
    margin: 0 auto;
}

.atvi-gallery .thumbnails .thumbnails-inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.atvi-gallery .gallery-nav{
    width: 19px;
    height: 26px;
    cursor: pointer;
    position: absolute;
    top: 15px;
}

.atvi-gallery .gallery-prev{
    background: url(clientlibs-atvi-ui-main/images/arrow_left.png) top left no-repeat;
    left: 0;
}

.atvi-gallery .gallery-next{
    background: url(clientlibs-atvi-ui-main/images/arrow_right.png) top left no-repeat;
    right: 0;
}

.atvi-gallery .thumbnails .thumbnail-container {
    /*width: 480px;*/
    height: 52px;
    margin: 0 auto;
    /*overflow: hidden;*/
    text-align: center;
}

.atvi-gallery .thumbnails .thumbnail-container ul.mobile-nav {
	display: none;
}

.atvi-gallery .thumbnails .thumbnail-container li {
    float: left;
    margin: 0 3px;
    width: 92px;
}

.atvi-gallery .thumbnails .thumbnail-container li img {
    width: 100%;
    height: auto;
}

/** Styles below only apply for the gallery component
when in responsive mode**/

.atvi-gallery.responsive {
    width: auto;
    position: relative;
}
    
.atvi-gallery.responsive .display-frame {
    width: auto;
}
    
.atvi-gallery.responsive .display-frame .display-media {
	height: 100%;
}

.atvi-gallery.responsive .thumbnails {
    position: absolute;
    width: 100%;
    bottom: -25px;
}
   
.atvi-gallery.responsive .thumbnails,
.atvi-gallery.responsive .thumbnails .thumbnails-inner,
.atvi-gallery.responsive .thumbnails .thumbnail-container,
.atvi-gallery.responsive .thumbnails .thumbnail-container ul li {
	height: 15px;
	height: 15px;	
}

.atvi-gallery.responsive .thumbnails .thumbnail-container {
	width: 100% !important;
}

.atvi-gallery.responsive .thumbnails .thumbnail-container > ul:first-of-type {
	display: none;
}

.atvi-gallery.responsive .thumbnails .thumbnail-container > ul.mobile-nav {
	display: block;
}                    

.atvi-gallery.responsive .thumbnails .thumbnail-container ul li {
    width: 15px;
	background: #000;
	float: none;
	display: inline-block;
	cursor: pointer;
}

.atvi-gallery.responsive .thumbnails .thumbnail-container ul li.active {
	background: #FF0;
}
 
.atvi-gallery.responsive .gallery-nav,
.atvi-gallery.responsive .thumbnails .thumbnail-container li div,
.atvi-gallery.responsive .thumbnails .thumbnail-container li a {
    display: none;
}
    

/******************************
ATVI GALLERY 2 DEFAULT STYLES
******************************/

.atvi-gallery2 {
	width: 100%;
	position: relative;
}

.atvi-gallery2 .gallery-display-frame {
	position: relative;
}

.atvi-gallery2 .gallery-display-frame .gallery-display {
	/*position: absolute;
	height: 100%;
	width: 100%;*/
}

.atvi-gallery2 .gallery-display-frame .gallery-display img,
.atvi-gallery2 .gallery-display-frame .atvi-age-gate-preview-image img{
	width: 100%;
    display: block;
}

.atvi-gallery2 .gallery-display-frame .atvi-age-gate-preview-image {
	cursor: pointer;
    position: relative;
    z-index: 10;                                    
}                                        

.atvi-gallery2 .gallery-display-frame .gallery-display iframe {
	width: 100%;
    height: 100%;
}

.atvi-gallery2 .gallery-display-frame .gallery-caption {
	position: absolute;
	bottom: 0;
	background-color: #000;
	background-color: rgba(0,0,0, .8);
	z-index: 10;
	color: #FFF;
	width: 94%;
	padding: 3%;
}

.atvi-gallery2 .gallery-display-frame .gallery-caption.disable {
	display: none;
}

/*.atvi-gallery2 .gallery-display-frame .display-link {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 7000;
    position: absolute;
    top: 0;
}*/

.atvi-gallery2 .gallery-thumbnails .gallery-thumbnails-container {
	width: 90%;
    margin-left: 5%;                                    
}                                       

.atvi-gallery2 .gallery-thumbnails {
	position: relative;	
}                    

.atvi-gallery2 .gallery-thumbnails ul {
	list-style: none;
	margin: 0;
	padding: 0;	
}

.atvi-gallery2 .gallery-thumbnails ul.gallery-pagination {
	text-align: center;
}

.atvi-gallery2 .gallery-thumbnails ul li {
	float: left;	
	position: relative;
    margin-bottom: 10px;
}

.atvi-gallery2 .gallery-thumbnails ul.gallery-pagination li {
	padding: 5px;
    cursor: pointer;
    margin: 0 10px;
    float: none;
    display: inline-block;
}

.atvi-gallery2 .gallery-thumbnails ul li a {
	position: relative;	
}

.atvi-gallery2 .gallery-thumbnails ul li a img {
	width: 100%;
    display: block;
}

.atvi-gallery2 .gallery-thumbnails .gallery-nav {
	position: absolute;
    top: 0;
    width: 3%;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    z-index: 5;
    cursor: pointer;
}

.atvi-gallery2 .gallery-thumbnails .gallery-nav.gallery-nav-prev {
	left: 0;
} 

.atvi-gallery2 .gallery-thumbnails .gallery-nav.gallery-nav-next {
	right: 0;
}

.atvi-gallery2 .gallery-thumbnails .gallery-nav:hover {
    background-color: rgba(0,0,0,.8);
}

.atvi-gallery2 .atvi-age-gate-container {
    width: 100%;
}

.atvi-gallery2 .clearfix:after {
   clear: both; 
   content:".";
   display: block;
   height: 0;
   visibility: hidden;
}

.atvi-gallery2 .clearfix {
   min-width: 0;
}
/**************************************
ATVI LIGHTBOX 3
**************************************/

.atvi-lightbox-3 .thumbnails li {
	cursor: pointer;
}

.atvi-lightbox-3 .overlay {
	background-color: #000;
	background-color: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 8010;
	display: none;
}

.atvi-lightbox-3 .overlay .overlay-container {
	background: #FFF;
	padding: 20px;
	position: fixed;
}

.cq-wcm-edit .atvi-lightbox-3 .overlay .overlay-container {
	min-width: 400px;
	min-height: 300px;
}

.atvi-lightbox-3 .overlay .overlay-container .overlay-content-list li {
	display: none;
}

.atvi-lightbox-3 .overlay .overlay-container .overlay-content-list li.active {
	display: block;
}

.atvi-lightbox-3 .overlay .overlay-container .overlay-nav div,
.atvi-lightbox-3 .overlay .overlay-container .overlay-close {
	cursor: pointer;
}

.atvi-reference {
	display: inline;	
}
.atvi-wheretobuy .registered {
    font-size: 70%; 
    vertical-align: super;
}

.atvi-wheretobuy .trademark {
    font-size: 60%; 
    vertical-align: super;
}
.hide-auth-content { display: none; }

.cq-wcm-edit .hide-auth-content { display: block; }

/******************************
ATVI AUDIO DEFAULT STYLES
******************************/

.atvi-audio .audio-button {
	padding: 10px 20px;
    background: #000;
    color: #FFF;
    text-align: center;
    display: inline-block;
}

.atvi-audio .audio-button.click-type,
.atvi-audio .audio-image.click-type {
	cursor: pointer;
}

.atvi-audio audio {
	display: none;
}
.atvi-parallax-carousel {
	position: relative;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.atvi-parallax-carousel .slide {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}   

.atvi-parallax-carousel .slide img {
	width: 100%;
    height: 100%;
}

.atvi-parallax-carousel .fs_loader {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	background: url(clientlibs-atvi-ui-main/images/loader-spinner.gif) center center no-repeat;
}

.atvi-parallax-carousel .p-nav-arrows {
	cursor: pointer;
    width: 30px;
	height: 30px;
    background: #000;
    color: #FFF;
    text-transform: uppercase;
	position: absolute;
	text-indent: -9999px;
    background: url(clientlibs-atvi-ui-main/images/nav-arrows.png) top right no-repeat;
}

.atvi-parallax-carousel .p-nav-next {
	top: 50%;
	right: 0;
	margin-top: -15px;
	background-position: right top;
}

.atvi-parallax-carousel .p-nav-next:hover {
	background-position: right bottom;
}

.atvi-parallax-carousel .p-nav-prev {
	top: 50%;
	left: 0;
	margin-top: -15px;
	background-position: left top;
}

.atvi-parallax-carousel .p-nav-prev:hover {
	background-position: left bottom;
}

.atvi-parallax-carousel .p-pagination {
	position: relative;
	margin-top: -20px;
	top: -10px;
}  

.atvi-parallax-carousel .p-pagination ul {
	list-style: none;
    text-align: center;
	padding: 0;
	margin: 0;
}

.atvi-parallax-carousel .p-pagination ul li {
	display: inline-block;
    width: 14px;
	height: 14px;
	margin: 0 5px;
    cursor: pointer;
	text-indent: -9999px;
	background: url(clientlibs-atvi-ui-main/images/pagination.png) top left no-repeat;
    font-size: 0;
	line-height: 0;
	padding: 0;
}  

.atvi-parallax-carousel .p-pagination ul li.active,
.atvi-parallax-carousel .p-pagination ul li:hover {
	background-position: bottom left;
}               


.atvi-media-carousel {
	position: relative;
    width: 100%;
    overflow: hidden;
}

.atvi-media-carousel .media-carousel-container,
.atvi-media-carousel .media-carousel-container .media-carousel-inner-container{
	position: relative;
	overflow: hidden;
}

.atvi-media-carousel .media-carousel-container .media-carousel-nav {
	position: absolute;
    top: 50%;
    width: 3%;
    background-color: rgba(0,0,0,.5);
    height: 40px;
    z-index: 5;
    cursor: pointer;
	margin-top: -20px;
}

.atvi-media-carousel .media-carousel-container .media-carousel-nav.media-carousel-nav-prev {
	left: 10px;
} 

.atvi-media-carousel .media-carousel-container .media-carousel-nav.media-carousel-nav-next {
	right: 10px;
}

.atvi-media-carousel .media-carousel-container .media-carousel-nav:hover {
    background-color: rgba(0,0,0,.8);
}

.atvi-media-carousel .media-carousel-slide {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}   

.atvi-media-carousel .media-carousel-slide .media-frame {
	width: 100%;
    height: 100%;
    position: relative;
}

.atvi-media-carousel .media-carousel-slide .media-preview-image {
	cursor: pointer;
}

.atvi-media-carousel .media-carousel-slide .media-frame img,
.atvi-media-carousel .media-carousel-slide .media-preview-image img{
	width: 100%;
    display: none;  
}

.atvi-media-carousel .media-carousel-slide .media-frame iframe,
.atvi-media-carousel .media-carousel-slide .media-frame obj,
.atvi-media-carousel .media-carousel-slide .media-frame video {
	width: 100%;
	height: 100%;
}

.atvi-media-carousel .media-carousel-slide .media-frame .media-link {
	position: relative;
    display: block;
    height: 100%;
}

.atvi-media-carousel .media-carousel-slide .media-frame .media-video-poster-image {
	display: none;
}

.atvi-media-carousel .media-carousel-slide .media-caption {
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #FFF;
    background-color: #000;
    background-color: rgba(0,0,0,.6);
}

.atvi-media-carousel .media-carousel-loader {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	background: url(clientlibs-atvi-ui-main/images/loader-spinner.gif) center center no-repeat;
}

.atvi-media-carousel .media-carousel-counter {
	background-color: #000;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    color: #FFF;
    position: absolute;
    bottom: 0;
	right: 0;
    font-weight: bold;
    z-index: 10;
}

.atvi-media-carousel .media-carousel-thumbnails {
	position: relative;	
}                    

.atvi-media-carousel .media-carousel-thumbnails .media-carousel-thumbnails-list {
	list-style: none;
	margin: 0;
	padding: 0;	
}

.atvi-media-carousel .media-carousel-thumbnails .media-carousel-thumbnails-list li {
	float: left;	
	position: relative;
    margin-bottom: 10px;
}

.atvi-media-carousel .media-carousel-thumbnails .media-carousel-thumbnails-list li a {
	position: relative;	
}

.atvi-media-carousel .media-carousel-thumbnails .media-carousel-thumbnails-list li a img {
	width: 100%;
    display: block;
}

.atvi-media-carousel .media-carousel-thumbnails .media-thumbnail-nav {
	position: absolute;
    top: 0;
    width: 3%;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    z-index: 5;
    cursor: pointer;
}

.atvi-media-carousel .media-carousel-thumbnails .media-thumbnail-nav.media-thumbnail-nav-prev {
	left: 0;
} 

.atvi-media-carousel .media-carousel-thumbnails .media-thumbnail-nav.media-thumbnail-nav-next {
	right: 0;
}

.atvi-media-carousel .media-carousel-thumbnails .media-thumbnail-nav:hover {
    background-color: rgba(0,0,0,.8);
}

.atvi-media-carousel .media-carousel-thumbnails-container {
	text-align: center;
}

.atvi-media-carousel .media-carousel-pagination {
	position: relative;
    list-style: none;
    text-align: center;
	padding: 0;
	margin: 0;  
	height: 14px;
    display: inline-block;
}  


.atvi-media-carousel .media-carousel-pagination li {
	float: left;
    /*display: inline-block;*/
    width: 14px;
	height: 14px;
	margin: 0 5px;
    cursor: pointer;
	text-indent: -9999px;
	background: url(clientlibs-atvi-ui-main/images/pagination.png) top left no-repeat;
    /*font-size: 0;
	line-height: 0;*/
	padding: 0;
}  

.atvi-media-carousel .media-carousel-pagination.pie-pagination li {
	border: 3px solid #ccc;
    border-radius: 100%;
    background-image: none;
    background-color: #FFF;
}

.atvi-media-carousel .media-carousel-pagination li.active,
.atvi-media-carousel .media-carousel-pagination li:hover {
	background-position: bottom left;
} 

.atvi-media-carousel .atvi-age-gate-container {
    width: 100%;
    height: 100%;
    padding-top: 0;
}

.atvi-media-carousel .atvi-age-gate-container h2 {
    margin-top: 0;
}

.atvi-media-carousel .atvi-age-gate-container form {
    position: absolute;
    width: 100%;
    top: 50%;
}  

.atvi-media-carousel-lb-thumb {
	position: relative;	
}

.atvi-media-carousel-lb-thumb .media-carousel-lb-thumb-image,
.atvi-media-carousel-lb-thumb .media-carousel-lb-button {
	cursor: pointer;
}

.atvi-media-carousel-overlay {
	display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 9999;
}

.atvi-media-carousel-overlay .atvi-media-carousel-inner-overlay {
	width: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);

} 

.atvi-media-carousel-overlay .atvi-media-carousel-close-button {
	width: 20px;
    height: 20px;
    background: #FFF;
    cursor: pointer;
	position: absolute;
    top: -10px;
    right: -10px;
} 

.atvi-media-carousel-overlay .atvi-media-carousel-inner-overlay .atvi-media-carousel {
	position: relative;
    height: auto;
}

.atvi-media-carousel-overlay .atvi-media-carousel-overlay-nav {
	position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2000;
} 

.atvi-media-carousel-overlay .atvi-media-carousel-overlay-nav > div {
	display: inline-block;
    width: 20px;
    height: 20px;
    background: #FF0000;
    cursor: pointer;
} 

.atvi-media-carousel .edit-label {
	padding: 5px !important;
    color: #000 !important;
    background: #FFFF00 !important;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    display: inline-block;
}

.atvi-media-carousel .clearfix:after {
   clear: both; 
   content:".";
   display: block;
   height: 0;
   visibility: hidden;
}

.atvi-media-carousel .clearfix {
   min-width: 0;
}

/**********************
MEDIA CAROUSEL CQ EDIT
**********************/

.cq-wcm-edit .atvi-media-carousel .media-carousel-slide {
	display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}  
