/*
 * Lemurproject.org Style Sheet
 */

html, body {
  height: 100%;
}

#wrap {
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  font-size: 100%;
  border: 0px;
}

/* general elements */

body {
  background: #FFFFFF;
  font-family: Verdana, Arial, sans-serif;
  color: #000000;
  text-align: left;
  font-size: 14px;
}

body > #wrap {
  height: auto;
  min-height: 100%;
}

p {
  padding-top: 4px;
  padding-bottom: 4px;
}

h1 {
  font-size: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

h2 {
  font-size: 20px;
  padding-top: 8px;
  color: #000000;
  padding-bottom: 8px;
}

h3 {
  font-size: 16px;
  color: #000000;
  width: 99%;
  padding-left: 4px;
  background-color: #EEEEFF;
  border: 1px solid #000000;
  padding-top: 8px;
  padding-bottom: 8px;
}

h4 {
  font-size: 16px;
  color: #000000;
  width: 100%;
  padding-left: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
}

h5 {
  font-size: 14px;
  color: #000000;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

hr {
  width: 49%;
  height: 2px;
  color: #000000;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:link {
  text-decoration: none;
  color: #000088;
}

a:visited {
  text-decoration: none;
  color: #000088;
}

a:hover, a:active {
  text-decoration: underline;
  color: #000088;
}

a[class ="ext"] {
  padding-right: 15px;
  background: transparent url(ext_lnk.png) no-repeat center right;
}

a.buttonlink, a:visited.buttonlink {
  border: 1px solid #000000;
  color: #000000;
  font-size: 16pt;
  font-weight: bold;
  background: #D4C476;
  padding: 5px;
  text-decoration: none;
}

a:hover.buttonlink, a:active.buttonlink {
  border: 1px solid #000000;
  color: #000000;
  font-size: 16pt;
  font-weight: bold;
  background: #B8BED2;
  padding: 5px;
  text-decoration: none;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 30px;
}

li {
  padding-bottom: 2px;
}

li.toc_heading {
  font-size: 14px;
  padding-bottom: 2px;
  list-style-type: disc;
}

li.toc_sub {
  font-size: 12px;
  padding-bottom: 2px;
  list-style-type: circle;
}

td {
  padding: 2px 2px 2px 2px;
  text-align: left;
  vertical-align: top;
}

th {
  padding: 2px 2px 2px 2px;
  background-color: #CCFFCC;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

table.clean, td.clean, th.clean {
  font-family: "Courier New", "Courier", monospace;
  border: none;
  border-collapse: collapse;
  padding: 8px;
}

table.bordered {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  border-spacing: 0px;
}

td.bordered {
  padding: 4px 4px 4px 4px;
  border: 1px solid #000000;
  vertical-align: top;
}

th.bordered {
  padding: 4px 4px 4px 4px;
  background-color: #CCFFCC;
  font-weight: bold;
  border: 1px solid #000000;
  text-align: center;
  vertical-align: top;
}

input {
  padding: 2px;
  border: 1px solid #000000;
  background: #CCFFCC;
}

select {
  padding: 2px;
  border: 1px solid #000000;
  background: #CCFFCC;
}

textarea {
  padding: 2px;
  border: 1px solid #000000;
  background: #CCFFCC;
}

.submit {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #CCFFCC;
  border: 1px outset #CCCCCC;
}

blockquote {
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify; 
}

dd {
  margin: 0px; 
  padding: 0px; 
  text-align: justify; 
}
  
dt {
  padding-top: 6px;
  padding-bottom: 0px;
  padding: 0px;
  font-family: "Courier New", "Courier", monospace;
  font-size: 12px;
  font-weight: bold;
  color: #008800;
}

dd {
  padding-top: 0px;
  padding-bottom: 6px;
  padding-left: 1em;
  font-family: "Courier New", "Courier", monospace;
  font-size: 12px;
}

pre {
  font-family: "Courier New", "Courier", monospace;
  font-size: 11px;
  color: #008800;
}

/* layout items */

#leftcolumn {
  position: absolute;
  width: 200px;
  top: 30px;
  left: 0px;
  padding: 10px;
  vertical-align: top;
  font-size: 11pt;
  text-align: center;
  white-space: nowrap;
}

#options {
  padding: 15px 0;
}

#sponsors {
  font-size: 7pt;
  color: #666666;
  white-space: normal;
  text-align: justify;
}

#spacer {
  height: 13px;
}

#toplogo {
  float: right;
  padding: 0px 40px 0px 0px;
}

#maindata {
  padding-left: 40px;
  padding-top: 100px;
  text-align: left;
  width: 90%;
  padding-bottom: 45px;
}

#printbody {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 8px 8px 8px 8px;
}

#footer {
  position: relative;
  margin-top: -55px;
  height: 55px;
  left: 30px;
  bottom: 2px;
  width: 90%;
  font-size: 10pt;
  clear:both;
}

#footer td {
  padding: 0px;
}

/* To make the footer stay below everything else */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End IE5-Mac hack */


/* span types */

.red {
  color: #FF0000;
  font-weight: bold;
}

.strongtext {
  font-size: 14px;
  font-weight: bold;
}

.monotype {
  font-family: "Courier New", "Courier", monospace;
}

.listtitle {
  font-size: 14px;
  font-weight: bold;
  padding-top: 8px;
}

.printlink {
  font-size: 10px;
  color: #888888;
  text-align: right;
}

.mainlink {
  font-size: 12pt;
  font-weight: bold;
  vertical-align: top;
  text-align: left;
}

/* tabs gold=D4C476 blue=B8BED2*/
#navigation {
  color: #000000;
  list-style:none;
  background: none;
  position: absolute;
  left: 30px;
  top: 35px;
  right: 40px;
  padding: 0;
  margin: 0;
  font-size:12pt;
  font-weight: bold;
  line-height: normal;
}

#navigation ul {
  margin:0;
  padding:10px 10px 0px 0px;
  list-style:none;
}
#navigation li {
  float:left;
  display:block;
  padding: 0px 2px 0px 2px;
  margin: 0;
}

#navigation a { 
  color: #000000;
  display: block;
  float: left;
  background: #B8BED2 url("images/roundedcornr_left_blue.gif") no-repeat left top;
  margin:0;
  padding-left: 10px;
  text-decoration:none;
  border-bottom: #FFFFFF 1px solid;
}
#navigation a span {
  color: #000000;
  display: block;
  float: left;
  background: #B8BED2 url("images/roundedcornr_right_blue.gif") no-repeat right top;
  padding-right: 10px;
  padding-top: 1px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#navigation a span {float:none;}
/* End IE5-Mac hack */

#navigation a:hover {
  color: #000000;
  background: #FFFFFF url("images/roundedcornr_left_gold.gif") no-repeat left top;
  padding-left: 10px;
  text-decoration:none;
  border-bottom: #FFFFFF 1px solid;
}

#navigation a:hover span {
  color: #000000;
  background: #D4C476 url("images/roundedcornr_right_gold.gif") no-repeat right top;
  padding-right: 10px;
  padding-top: 1px;
  border: none;
}

#navigation #current a {
  color: #000000;
  background: #D4C476 url("images/roundedcornr_left_gold.gif") no-repeat left top;
  padding-left: 10px;
  text-decoration:none;
  border: none;
}
#navigation #current a span {
  color: #000000;
  background: #D4C476 url("images/roundedcornr_right_gold.gif") no-repeat right top;
  padding-right: 10px;
  padding-top: 1px;
  border-bottom: #D4C476 1px solid;
}

#navigation hr {
  float: left;
  height: 20px;
  width: 100%;
  background: #D4C476;
  margin: 0 0 0 2px;
  padding: 0px;
  z-index:-1;
}

/* tabs gold=D4C476 blue=B8BED2*/
#subnav {
  color: #000000;
  list-style:none;
  position: absolute;
  top: 76px;
  left: 30px;
  right: 30px;
  padding: 0;
  margin: 0;
  font-size:11pt;
  font-weight: normal;
  line-height:normal;
}

#subnav ul {
  margin:0;
  padding:10px 10px 0px 0px;
  list-style:none;
}
#subnav li {
  float:left;
  display:block;
  padding: 0 2px 0 2px;
  margin: 0;
}

#subnav a { 
  color: #000000;
  display: block;
  float: left;
  background: #D4C476 url("images/rndbot_right_gold.gif") no-repeat left bottom;
  margin:0;
  padding-left: 15px;
  text-decoration:none;
}
#subnav a span {
  color: #000000;
  display: block;
  float: left;
  background: #D4C476 url("images/rndbot_left_gold.gif") no-repeat right bottom;
  padding-right: 15px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#subnav a span {float:none;}
/* End IE5-Mac hack */

#subnav a:hover {
  color: #000000;
  background: #FFFFFF url("images/rndbot_right_blue.gif") no-repeat left bottom;
  padding-left: 15px;
  text-decoration:none;
}

#subnav a:hover span {
  color: #000000;
  background: #B8BED2 url("images/rndbot_left_blue.gif") no-repeat right bottom;
  padding-right: 15px;
}

#subnav #current a {
  color: #000000;
  background: #B8BED2 url("images/rndbot_right_blue.gif") no-repeat left bottom;
  padding-left: 15px;
  text-decoration:none;
}

#subnav #current a span {
  color: #000000;
  background: #B8BED2 url("images/rndbot_left_blue.gif") no-repeat right bottom;
  padding-right: 15px;
}

#subnav hr {
  float: left;
  height: 15px;
  width: 100%;
  background: #B8BED2;
  margin: 0 0 0 2px;
  padding: 0px;
  z-index:-1;
}

/* For pop-down menu */
#sddm {
  position:absolute;
  width:124px;
  margin-left: 73px;
  margin-top: 20px;
  font-size:12px;
  z-index:99;
}

#sddm ul {
  display: block;
  margin-top: -11px;
  z-index:99;
}

#sddm ul li {
  width: 124px;
  height: 20px;
  line-height: 20px;
  list-style: none;
  padding-left: 3px;
  z-index:99;
}

/*
#sddm a {
  display: block;
  margin: 0 1px 0 0;
  padding: 4px 10px;
  background: #B8BED2;
  color: #000;
  text-align: center;
  text-decoration: none;
}
*/

#sddm div {
  visibility: hidden;
  background: #B8BED2;
}

#sddm a {
  margin: 0;
  padding: 1px 3px 1px 3px;
  width: 124px;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
  background: #B8BED2;
  color: #000;
  border: #FFFFFF 1px solid;
}

#sddm a:hover {
  margin: 0;
  padding: 1px 3px 1px 3px;
  width: 124px;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
  background: #D4C476;
  color: #000;
}

