/* =====================================================================
 * $Id: dwt-redesign.css 24321 2016-06-30 20:05:17Z tpalanis $
 * SVN Path: /www/branches/responsive/src/main/webapp/css/dwt-redesign.css
 * ===================================================================== */

#contentHead { position:relative;margin:15px 0; }
#inner-content { background:#fff; border-left: 1px solid #e2e2e2; padding:1px 18px; }
.pageheadline { display:block;margin:5px 0 2px;padding-bottom:6px; }


/* about.jsp */
#flashHolder {
	float:right;
	padding-left: 10px;
	padding-bottom:10px;
}