/* =====================================================================
 * $Id: dwt-legacy.css 25346 2017-11-17 19:05:03Z tpalanis $
 * SVN Path: /www/branches/responsive/src/main/webapp/css/dwt-legacy.css
 * ===================================================================== */

.small_text {
    display: block;
    margin-bottom: 2em;
    font-size: 85%;
}

.pageheadline {
    color: #313a53;
    font-family: 'Georgia', serif;
    font-size: 28px;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
    margin: 0 0 5px;
}

.pageheadline + br,
.pageheadline + br + img {
    display: none;
    visibility: hidden;
}

.pageheadsubline {
    margin: 0;
    font-weight: bold;
}

.tabletextblue {
    font-weight: bold;
    border-bottom: none;
}

.tabletextblue a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.tabletextblue a:hover {
    color: rgb(102, 119, 170);
}

.tabletext,
.tabletext2 {
    padding: 4px 4px 4px 10px;
    background-color: rgb(243, 243, 243);
}

.tabletext2 {
    padding: 5px 10px 5px 10px;
    vertical-align: top;
}

.tabletext {
    font-weight: bold;
}

.bodygreybox {
    padding: 7px;
    background-color: rgb(242, 242, 242);
}

.rightbluebox {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 3px 1px 4px 5px;
    background-color: rgb(238, 242, 247);
}

.greybold {
    color: rgb(153, 153, 153);
}

.greybold a {
    text-decoration: none;
}

.greybold,
.panel .row h2 {
    display: block;
    font-family: Arial;
    text-transform: uppercase;
    color: #5b5954, ;
    border-bottom: 3px solid #bcbdbe;
    padding: 24px 0 8px 0;
    margin-bottom: 15px;
}

.greybold + br,
.greybold + br + img,
.greybold + br + img + br {
    display: none;
    visibility: hidden;
}

.hm_left {
    padding: 3px;
    text-decoration: none;
}

.hm_left_bk {
    padding: 3px;
    text-decoration: none;
}

.hm_login {
    padding: 3px;
    text-decoration: none;
}

.cal_right {
    padding-left: 3px;
    padding-bottom: 8px;
    text-decoration: none;
}

.hm_cntr {
    padding: 7px;
}

.hm_cal_hd {
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 3px;
    color: rgb(134, 135, 136);
    text-align: center;
    font-weight: bold;
}

.hm_days {
    padding: 3px 1px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(134, 135, 136);
}

.cal_off {
    padding: 3px 1px;
    text-align: center;
    font-weight: bold;
    color: rgb(134, 135, 136);
    background-color: rgb(182, 226, 148);
}

.cal_none {
    font-size: 9px;
    font-size: 0.6429rem;
    background-color: rgb(193, 192, 193);
}

.dkgreybartitle {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 5px;
    background-color: rgb(136, 136, 136);
}

/*.hm_pub_mission {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 85%;
    padding: 15px;
    background-image: url("/images/missionbg.gif");
}*/

.photobuff {
    padding-right: 7px;
    padding-bottom: 7px;
}

.phototext {
    padding-bottom: 10px;
}

.panel h2 {
    color: #57575A;
    /*color: rgb(134, 134, 138);*/
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 6px;
    padding-bottom: 6px;
    background-image: url("/images/bluefade.jpg");
    background-position: 0% 100%;
    background-repeat: no-repeat;
}

.panel h2 a {
    text-decoration: none;
}

.panel h1 {
    margin: 0;
    /*font-size: large;*/
    font-size: 28px;
    font-size: 2rem;
    font-weight: bold;
}


.panel h2 > img[src*="images/social_"] {
    display: inline-block;
    width: 24px;
    margin-right: 5px;
}

.clear {
    clear: both;
}

tr > td > img[src*="hex-b6b6b6.gif"] {
    display: none;
    visibility: hidden;
    width: 100%;
}

td.fundingsort > a > img[src*="fund_arrows_off.gif"],
td.fundingsort > a > img[src*="fund_arrowup_on.gif"] {
    margin-left: 10px;
}

td.tabletoplink {
    width: 40%;
}

.tabletoplink,
.tabletop,
.bluebartitle,
.tabletop2 {
    color: #fff !important;
    /*color: #fff;*/
    font-size: 12px;
    font-size: 0.8571rem;
    font-weight: bold;
    padding-left: 10px;
    height: 50px;
    vertical-align: middle;
    background-color: #fff;
    background: rgb(66, 131, 184);
    background: -moz-linear-gradient(90deg, rgb(66, 131, 184) 15%, rgb(3, 83, 148) 85%);
    background: -webkit-linear-gradient(90deg, rgb(66, 131, 184) 15%, rgb(3, 83, 148) 85%);
    background: -o-linear-gradient(90deg, rgb(66, 131, 184) 15%, rgb(3, 83, 148) 85%);
    background: -ms-linear-gradient(90deg, rgb(66, 131, 184) 15%, rgb(3, 83, 148) 85%);
    background: linear-gradient(180deg, rgb(66, 131, 184) 15%, rgb(3, 83, 148) 85%);
}

.tabletoplink a,
.tabletop a,
.bluebartitle a,
.tabletop2 a {
    color: #fff;
}

.panel p.lefttitle {
    padding-top: 1em;
}

.panel #contentHead {
    margin-bottom: 1em;
}

#contentHead h1 {
    /*font-size: 200%;*/
    font-size: 28px;
    font-size: 2rem;
    font-weight: normal;
}

.tabletop {
    text-align: left;
    font-weight: bold;
}

td.tabletoplink table td[valign="center"] a {
    color: #fff;
    font-weight: bold;
}

td.rightcol2 {
    padding: 1em;
}

td.rightcol2 > p {
    padding-bottom: 1em;
}

tr > td.tabletoplink {
    width: 241px;
}

tr > td.tabletoplink + td.tabletoplink {
    width: 193px;
}

tr > td.tabletoplink + td.tabletoplink + td.tabletoplink {
    width: 94px;
}

table > tbody tr td.nest55xxsmall > strong {
    display: block;
    content: "\A";
    margin-bottom: .5em;
}

td.nest55xxsmall > strong + a,
td.nest55xxsmall > strong + a + a,
td.nest55xxsmall img[src*="grantsdotgov.gif"] {
    margin-left: -10px;
}

td.nest55xxsmall a img[src*="crosscutting.gif"],
td.nest55xxsmall a img[src*="nsfwide.gif"],
td.nest55xxsmall img[src*="grantsdotgov.gif"] {
    display: inline-block;
    border-radius: 2px;
    width: 16px;
    height: 16px;
}

table > tbody tr td.nest55xxsmall > a:nth-child(-n+3):after {
    display: block;
    content: "\A";
    margin-bottom: .25em;
}

table > tbody tr td.nest55xxsmall > a:nth-child(2):before {
    content: "- Designates an activity in which two or more NSF directorates and/or other federal agencies participate.";
    position: absolute;
    color: #000;
    margin-left: 8em;
    font-weight: normal;
}

table > tbody tr td.nest55xxsmall > a:nth-child(3):before {
    content: "- Designates an activity in which all NSF directorates participate.";
    position: absolute;
    color: #000;
    margin-left: 6.25em;
    font-weight: normal;
}

td[bgcolor="#E7F8D6"] {
    padding: 1em 1em 1em 0;
    background: none;
}

.tabletextblue a,
.tabletextblue a:visited {
    margin: 10px 5px 5px 0;
    padding: 3px 6px;
    background-color: #333E54;
    color: #fff;
    text-decoration: none;
    min-width: 25px;
    text-align: center;
    float: left;
    border-bottom: none;
}

.panel label {
    font-size: 14px;
    font-size: 1rem;
}

form[name="NSFPublicationsListForm"] p {
    margin-bottom: 2em;
}

#printFriendly2 a {
    display: none;
    visibility: hidden;
}
