/* =====================================================================
 * $Id: nav-test.css 25228 2017-10-02 16:47:11Z tpalanis $
 * SVN Path: /www/branches/responsive/doc/redesign/ui/css/nav-test.css
 * ===================================================================== */

/* menu styes */
.navbar.main {
  padding: 0;
}
.navbar.main ul li:hover a {
  background-color: #ffffff;
  color: #333333;
}
.navbar.main ul li ul li a, .navbar.main ul li:hover ul li a {
  color: #0c72b5;
  font-size: 14px;
  font-size: 1rem;
  font-family: Arial,sans-serif;
  font-weight: normal;
  background-color: inherit;
  border: 0;

}
.navbar.main ul li ul li a:hover {
  color: #2f394c;
}
.navbar-default li a:hover  {
  -webkit-box-shadow: 0 0 0 0;
	 box-shadow: 0 0 0 0;
}
.main .desc {
  color: #4a5657;
  font-family: 'Georgia',serif;
  font-style: italic;
  font-size: 16px;
  font-size: 1.143rem;
  line-height: 20px;
  border-bottom: 1px solid #e2e2e2;
  margin: 0px;
  padding: 0 0 10px 0;
  display: inline-block;
}
.main .container {
  padding: 0;
}
.megamenu> li > ul > li > a, .megamenu> li > ul > li > a:hover, .megamenu> li > ul > li > a, .megamenu> li > ul > li > a:focus, .megamenu> li > ul > li > a, .megamenu> li > ul > li > a:active {
  display: inline-block;
}
.list-unstyled,
.list-unstyled ul { min-width: 120px }

@media ( min-width: 767px ) {
  .panel-group { width: 400px; }
  .thumbnail { margin: 0; }
}
.navbar-static-top {
  border: 0;
}
.megamenu {
  padding: 7px 30px 30px 27px;
  width:614px;
  border: 0;
  border-radius: 0;
  margin-top: 0;
  margin-left: 1px;
}
.dropdown.menu-large ul.right {
  position: absolute;
  right: 0;
}
.main.navbar-default li {
    border-left: 0;
}
.megamenu> li > ul {
  padding: 0px;
  margin: 0;
}
.megamenu> li {
  margin-top: 20px;
  padding-left: 0;
}
.megamenu> li.relatedlinks {
  padding-left: 20px;
}
.push-left{
  margin-left: 20px;
}
.relatedlinks .dropdown-header,
.relatedlinks .dropdown-subheader{
  padding-left: 0;
  font-family: 'Arial',sans-serif;
  font-size: 12px;
  font-size: 0.8571rem;
  font-weight: bold;
  color: #313a53;
  text-transform: uppercase;
}
.relatedlinks .dropdown-subheader{
  margin: 12px 0 4px 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 6px 0px 6px 0;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-size: 1.286rem;
}
.dropdown-menu {
  left: inherit;
  top: inherit;
}
#searchbuttonmobile {
  border: 0;
  background-color: transparent;
  position: relative;
  top: 12px;
  right: -10px;
  margin: auto 0;
  color: #005495;
}
.megamenu > .sublinks li a{
  width: 229px;
}