/* =====================================================================
 * $Id: nsfgov-small-devices.css 25582 2018-04-16 23:07:29Z klowery $
 * SVN Path: /www/branches/responsive/src/main/webapp/css/nsfgov-small-devices.css
 * ===================================================================== */

.navbar-collapse.in {
    overflow-y: visible;
    transition: right 0.2s ease;
    right: 0;
}
.navbar-default {
    position: absolute;
    top: -90px;
    background-color: rgba(12,30,44,0.75);
    width: 100%;
    height: 100vh;
    right: -100vw;
    transition: right 0.2s ease;
}
button.navbar-toggle {
    color: #005495;
    position: relative;
    top: -4px;
    right: -10px;
}
#searchbar {
    margin-top: -10px;
}
.navbar-toggle {
    display: block;
}
.funding-opps .form-inline input,
.left-nav .add-references input {
    /*width: 304px;*/
    float: left !important;
}
.funding-opps button {
    float: right;
}
.funding-opps a.viewall-opps {
    width: 100%;
}
.closenav {
    z-index: 4000 !important;
    position: relative;
    top: -53px;
}
.navbar-default ul.nav.nav-justified {
    width: 330px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #313a53;
}
.navbar-default ul.nav.nav-justified .megamenu {
    display: block;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    width: 330px;
    background-color: #313a53;
    padding: 0;
    margin: 0 0 20px 0;
    border: 0;
    box-shadow: 0;
}
.navbar-default ul.nav.nav-justified .megamenu a,
.navbar-default ul.nav.nav-justified .megamenu a:active,
.navbar-default ul.nav.nav-justified .megamenu a:focus,
.navbar-default ul.nav.nav-justified .megamenu a:visited {
    color: #ffffff;
    padding: 12px 12px 12px 30px;
    border-bottom: 1px solid #616b85 !important;
}
.navbar-default ul.nav.nav-justified .megamenu .sublinks {
    margin: 0;
}
.navbar-default ul.nav.nav-justified .megamenu .sublinks ul li a {
    width: 330px;
}
.navbar-default ul.nav.nav-justified .dropdown-toggle {
    background: #313a53 url("../images/caret-right.png") no-repeat right center;
}
.navbar-default ul.nav.nav-justified .dropdown-toggle.active a {
    background: url("../images/caret-down.png") no-repeat right center;
}
.navbar-default ul.nav.nav-justified .dropdown-toggle,
.navbar-default ul.nav.nav-justified .dropdown-toggle:hover,
.navbar-default ul.nav.nav-justified .dropdown-toggle:visited,
.navbar-default ul.nav.nav-justified .dropdown-toggle:active,
.navbar-default ul.nav.nav-justified .dropdown-toggle:focus {
    color: #ffffff;
}
.navbar-default ul.nav.nav-justified li a {
    margin: 0;
    text-align: left;
    border-bottom: 1px solid #616b85;
    border-left: 0;
}
.navbar-default ul.nav.nav-justified .megamenu li a {
    border: 0;
}
#leftnavdivid {
    padding: 0;
}
#leftnavdivid .left-nav h2 {
    font-family: 'Arial',sans-seif;
    font-size: 14px;
    font-size: 1rem;
    font-weight: normal;
    background-color: #313a53;
    background: url("../images/caret-down.png") no-repeat right center;
    padding: 15px 15px 15px 30px;
    border-bottom: 1px solid #616b85;
}
#leftnavdivid .left-nav .dropdown a, #leftnavdivid .left-nav .add-references a {
    padding: 15px 25px 15px 45px;
}
#leftnavdivid .left-nav ul.dropdown-list li a {
    margin: 0;
    padding: 15px 15px 15px 60px;
}
#home .panel-group {
    margin-top: -30px;
}
/* Portrait and Landscape */
body {
    margin: 13px 0px 0 0;
}
.header {
    height: 75px;
}
.header h1.logo {
    margin: 10px 0 10px 0;
}
.header .logo {
    background: transparent url('../images/nsf_logo@2x.png') no-repeat;
    background-size: 259px 46px;
    width: 259px;
    height: 46px;
}
/***** HOMEPAGE-SPECIFIC ******/
/** Main Carousel **/
.container .carousel {
    margin: 0 -15px;
}
.carousel-inner .item img {
    min-height: 273px !important;
    width: auto;
}
.carousel-caption {
    padding: 0px;
    height: 150px;
	width: 270px;
    margin:auto 35%;
    text-align: center;
}
.carousel-caption h3 {
    font-size: 20px!important;
    font-size: 1.429rem!important;
    padding: 40px
}
.carousel-caption h3.doubleline {
    padding: 10px 0 0 0 !important;
    text-align: center;
}
.carousel-caption h2 {
	font-size: 12px!important;
    font-size: 0.8571rem!important;
}
.carousel-control {
    height: 58px;
    width: 36px;
    opacity: .9;
    position: absolute;
    top: 50%;
    margin-top: -29px;
}
.carousel-control.left {
    background: transparent url('../images/arrow-prev.png') no-repeat;
}
.carousel-control.left:hover, .carousel-control.right:hover {
    background-position: bottom;
    opacity: 1;
}
.carousel-control.right {
    background: transparent url('../images/arrow-next.png') no-repeat;
}
#carousel-funding .carousel-control {
    height: 35px;
    width: 35px !important;
    opacity: 1;
    position: absolute;
    top: 0;
}
#carousel-funding .carousel-control.left {
    background: transparent url('../images/gallery_prev.png') no-repeat;
    right: 35px !important;
    top: 0;
    /*left: 1070px;*/
}
#carousel-funding .carousel-control.left:hover, .carousel-control.right:hover {
    background-position: bottom !important;
    opacity: 1;
}
#carousel-funding .carousel-control.right {
    background: transparent url('../images/gallery_next.png') no-repeat;
}
#carousel-funding img {
    /*max-width:44%;*/
    height:auto;
    align-content: center;
    margin: auto 0;
}
#carousel-funding {
    align-content: center;
    text-align: center;
    margin: auto 0;
}
.div-carousel .carousel-caption {
    width: 90%;
	left: -30% !important;
	top: 40% !important;
}
.div-carousel .carousel-caption h3 {
	margin-bottom: .5em;
	text-align:left;
	font-size: 24px!important;
    font-size: 1.714rem!important;
	padding: 0;
}
.div-carousel .carousel-caption button {
    margin-left: 0px !important;
    margin-top: 1em;
}
.div-carousel .item img{
    width: 100%;
     height: auto;
}
#funding .links a {
    float: left !important;
    clear: left !important;
    text-align: left !important;
    padding: 10px 0;
}
.insp-edu {
    border-right: 0;
    border-left: 0 !important;
    padding: 0;
}
.insp-edu h4 {
    height: auto;
}
.insp-edu .caption {
    margin-bottom: 30px;
}
funding-opps a.viewall-opps {
    width: 100%;
    display: block;
}
.funding-opps .form-inline .select {
  width: 100%;
}
.grey-bg {
  /* fallback */
  background-color: #eae9e8;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eae9e8));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ffffff, #eae9e8);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ffffff, #eae9e8);
  /* IE 10 */
  background: -ms-linear-gradient(top, #ffffff, #eae9e8);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffffff, #eae9e8);
}
.social-media {
    padding-bottom: 30px;
    text-align: center;
}
.social-media .follow, .social-media .follow ul.socialicons {
    text-align: center;
    margin: auto 0;
    float: none;
}
.social-media .follow ul.socialicons {
    position: relative;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}
/********/
.hero.directorate {
    background-size: auto 100%;
}
.hero {
    text-align: center;
}
.hero ul li {
    text-align: left;
}
.container .jumbotron,.container-fluid .jumbotron {
    padding: 40px 20px;
    margin: 0 -15px;
}
.hero .btn {
    position: relative;
    left: 0;
    bottom: 0;
}
.alert a.close {
    font-size: 28px;
    font-size: 2rem;
    padding: 3px 3px 4px 4px;
    width: 34px;
    height: 34px;
    margin: 0 0 8px 8px;
    opacity: 1;
}
.alert.alert-warning {
    margin: 0px -15px 0 -15px;
}
.alert.alert-warning i {
    font-size: 28px;
    font-size: 2rem;
}
.panel {
    margin: 0 -15px;
}
.event-title {
  min-height: 43px;
  width: 81%;
}
#page-utilities {
    margin: 0 -30px 0 0;
}
#page-utilities button {
    padding: 10px 15px;
    font-size: 14px;
    font-size: 1rem;
}
.divisions {
    padding-bottom: 20px;
}
/* FOOTER */
footer {
    margin: 1px;
    padding-left: 5px;
}
footer .buttons {
    margin-bottom: 15px;
}
footer button {
    height: 37px;
    width: 31%;
    text-align: center;
}
footer button.nss {
    background-position: 8px -149px;
}
footer .nav-pills {
    margin-top: -20px;
}
footer .nav-pills > li {
    float: left;
    display: inline-block;
    width: 45%;
    margin-right: 10px;
}
footer .nav-pills > li:first-child > a {
    margin: 0px;
}
footer .nav-pills > li > a {
    padding: 5px 0;
    float: none;
    margin: 0;
}
footer .nav-pills > li + li:before {
    content: "";
}
footer p {
    margin: 20px;
    line-height: 180%;
    text-align: center;
}

/*Announcements and Additional Resources*/
.dataTables_length,
.paginate {
    display: none;
}
.tbl-top {
    padding-top: 0px;
}
.dataTables_wrapper .tbl-top .paginate + div.col-xs-4,
.dataTables_wrapper .tbl-bottom div.col-xs-4 {
    width: 100%;
}

/* international banners */
.header .logo.tokyo, .header .tokyo .logo {background-image:url('../images/nsf_logo_tokyo_m.png');background-size:242.5px 47px;width:242.5px; height:47px;}
.header .logo.beijing, .header .beijing .logo {background-image:url('../images/nsf_logo_beijing_m.png');background-size:242.5px 47px;width:242.5px; height:47px;}
.header .logo.europe, .header .europe .logo {background-image:url('../images/nsf_logo_europe_m.png');background-size:242.5px 47px;width:242.5x; height:47px;}

@media only screen and (max-width: 460px) {
	.carousel-inner .item img {
		visibility: hidden;
	}
	.carousel-caption {
	  padding: 0px;
	  height: 200px;
	  width: 100%;
	  margin:auto auto;
	  text-align: center;
	}
	.carousel-caption h3.doubleline {
		margin: 10px 40px 15px 40px;
	}
	.carousel-caption h3 {
		margin: 8px 40px 15px 40px;
	}
	.carousel-caption h2 {
		padding: 25px 0 10px 0;
	}
	.carousel-caption button {
		margin: 10px 0 0 0;
	}
	.div-carousel .carousel-inner .item img {
		visibility: visible;
	}
	.div-carousel .carousel-caption {
		width: 90%;
		left: 0!important;
	}
	.div-carousel .carousel-caption h3 {
		font-size: 20px!important;
        font-size: 1.429rem!important;
		margin: 0!important;
		padding: 0;
	}
	.div-carousel .carousel-caption p {
		font-size: 13px!important;
        font-size: 0.9286rem!important;
		padding: 10px 0 0 0;
	}

}