/* =====================================================================
 * $Id: nsfgov-med-lg-devices.css 25459 2018-01-16 18:27:56Z tpalanis $
 * SVN Path: /www/branches/responsive/src/main/webapp/css/nsfgov-med-lg-devices.css
 * ===================================================================== */

@media screen and (max-width: 1199px) and (min-width: 768px) {
	.carousel-caption { margin: auto 55%; }
	.div-carousel .carousel-caption { width: 84% !important; }
  .div-carousel .carousel-caption button { margin-left: 380px; }
}
.carousel-inner  {
	height: 273px;
}
.carousel-inner .item img{
	height: 273px;
	width: auto;
}
.carousel-inner h3 {
	font-size: 24px!important;
  font-size: 1.714rem!important;
}
.navbar-default li a {
  white-space: nowrap;
}
.dropdown.menu-large ul.right.docs {
  right: 189px;
  width: 275px;
  right: 285px\9; /* IE */
}
.dropdown.menu-large ul.news {
  right: 150px;
  right: 143px\9; /* IE */
}
#carousel-funding .carousel-control.left {
  left: 1070px;
}
.megamenu {
  width: 586px;
}
.carousel-indicators {
  bottom: 2%;
}
.breadcrumb li {
  max-width: 180px;
}
#carousel-funding .carousel-control.left {
  left: 870px;
}
.div-carousel .carousel-caption h3 + p {
  font-size: 12px;
  font-size: 0.8571rem;
}
.div-carousel .carousel-caption h3 {
  width: 100%;
  margin-bottom: .5em;
}
.div-carousel .carousel-caption {
  top: 40%;
	left:-50%;
  width: 90%;
}
.div-carousel .carousel-caption button {
  margin-left: 0px !important;
}