/* =====================================================================
 * $Id: nsfgov-medium-devices.css 25459 2018-01-16 18:27:56Z tpalanis $
 * SVN Path: /www/branches/responsive/src/main/webapp/css/nsfgov-medium-devices.css
 * ===================================================================== */

.header h1.logo {
    margin: 0;
}
#page-utilities {
    margin: 0 -15px 10px 0;
}
.links ul {
    margin-left: 0px;
}
.links ul > li > a, .accordion-inner ul li a {
    padding: 6px 0;
    float: none;
    margin: 0;
    display: block;
}
/***** HOMEPAGE-SPECIFIC ******/
/** Main Carousel **/
.home-link {
    margin-top: 10px;
}
.nsb-blue-link {
    margin-top: 10px;
}
.navbar.main {
    margin-top: 20px;
}
.navbar.main li a {
    height: 75px;
    vertical-align: middle;
}
.navbar.main li ul li a {
    height: auto;
}
.navbar-toggle {
    display: none;
}
#searchbar {
    display: inline-table !important;
}
#funding .links a {
    float: left !important;
    clear: left !important;
    text-align: left !important;
    padding: 10px 0;
}
.carousel-inner .item img {
    height: 273px;
    width: auto;
}
.carousel-caption {
   	padding: 0;
    height: 175px;
	width: 290px;
    margin: auto 50%;
    text-align: center;
}
.carousel-caption h2 {
    font-size: 12px!important;
    font-size: 0.8571rem!important;
    padding: 12px !important;
}
.carousel-caption h3 {
    font-size: 20px!important;
    font-size: 1.429rem!important;
    padding: 40px 4px 10px 4px !important;
    text-align: center;
}
.carousel-caption h3.doubleline {
    padding: 10px 0 10px 0 !important;
    text-align: center;
}
.carousel-caption button {
    background-color: #4a463e;
}
.carousel-indicators {
	bottom: 2%;
}
#carousel-funding .carousel-control.left {
    left: 645px;
}
#carousel-funding .item img {
    height: 309px !important;
    width: 720px;
    align-content: center;
    margin: auto 0;
}
.div-carousel .carousel-caption h3 {
    width: 100%;
    margin-bottom: .5em;
	text-align: left;
	font-size: 24px!important;
    font-size: 1.714rem!important;
	padding: 20px 0 10px 0 !important;
}
.div-carousel .carousel-caption {
    top: 40%;
	left: -45% !important;
    width: 90%;
}
.div-carousel .carousel-indicators {
	bottom: 0;
	left: 42%;
}
.div-carousel .carousel-caption button {
    margin-left: 0px !important;
}
.megamenu {
    width: 720px;
    left: -1px !important;
}
.dropdown.menu-large ul.right.docs {
    right: 201px;
}
.dropdown.menu-large ul.news {
    right: 183px;
}
.funding-opps .form-inline, .funding-opps .form-group {
  width: 100%;
  vertical-align: middle;
}
/*.funding-opps .form-inline input {
  max-width: 640px!important;
}*/
.funding-opps a.viewall-opps {
    width: 100% !important;
    display: block;
}
.funding-opps .form .btn-group .select {
  /*width: 600px !important;
    float: left !important;*/
  vertical-align: middle;
}
.funding-opps ul.dropdown-menu {
    width: 600px !important;
}
/***********/
.panel-footer {
    clear: left;
}
.date-stamp {
    width: 33px;
}
.divisions h4 a {
    display: block;
    padding: 4px 0;
    font-size: 16px;
    font-size: 1.143rem;
}
.accordion-heading a {
    padding: 12px 0 0 0;
}
.panel .accordion-heading:before {
    margin: 10px 5px 10px 0;
}
.tab-pane#inspiring .thumbnail {
    width: 100%;
    height: auto;
}
.tab-pane#inspiring .thumbnail img {
    width: auto;
    height: auto;
}
/* FOOTER */
footer {
    margin: 0;
}
footer .buttons {
    margin-bottom: 15px;
}
footer button {
    height: 37px;
    width: 32%;
    text-align: center;
}
footer button.nss {
    background-position: 66px -149px;
}
footer .nav-pills {
    margin-top: -20px;
}
footer .nav-pills > li {
    float: left;
    display: inline-block;
    width: 46%;
    margin-right: 10px;
}
footer .nav-pills > li:first-child > a {
    margin: 0px;
}
footer .nav-pills > li > a {
    padding: 10px 0;
    float: none;
    margin: 0;
}
footer .nav-pills > li + li:before {
    content: "";
}
footer p {
    margin: 20px;
    line-height: 180%;
    text-align: center;
}