/* =====================================================================
 * $Id: style1-redesign.css 25551 2018-04-02 18:45:48Z tpalanis $
 * SVN Path: /www/branches/responsive/doc/redesign/ui/css/style1-redesign.css
 * ===================================================================== */

.pageheadline {
    font-family: Verdana;
    font-size: 18px;/*large*/
    font-size: 1.286rem;
    font-weight: bold;
    margin:0px;
}
.pageheadsubline {
    font-weight:bold;
    margin:0px;
}
.bluebartitle {
    color: #ffffff;
    font-family: Verdana;
    font-size: 10px/*x-small*/;
    font-size: 0.7143rem;
    font-weight: bold;
    display: block;
    background-color: #8799cb;
    padding: 5px;
    text-align: center;
}
.bluebartitle a {color:#ffffff;}
.bluebartitle a:hover {
    color: #6677aa;
    font-weight: bold;
    background-color: #b5fb43;
}
#inner-content {
    background: #fff none repeat scroll 0 0;
    padding: 1px 18px;
}
#inner-content .panel-heading {
    margin: -1px -18px;
}
div.panel table div.panel-heading {
    margin: -1px -18px;
}

/* From style_home.css */
/* Alert Bar */ /* Modified 08/2015 */
.alert-bar {
    position: relative;
    display: block;
    background: #fff;
    /*background: #fff url('../images/alert_bar_bg.png') left top no-repeat;*/
    color: #000;
    height: auto;
    margin-bottom: 20px;
    z-index: 100;
}
.alert-bar p.alert-bar-top {
    font-family: 'Garamond', 'Georgia', serif;
    background: #E78329;
    color: #FFF;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 20px;
    margin-bottom: 12px;
}
.alert-bar a, .alert-bar a:visited {
    color: #0c72b5;
    text-decoration: none;
}
.alert-bar a:hover {
    color: #2f394c;
    text-decoration: none;
}
.alert-bar p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.28;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}
.alert-bar span a, .alert-bar span a:visited {
    padding: 0 12px 0 3px;
    color: #0c72b5;
    text-decoration: none;
}
.alert-bar span a:hover {
    color: #2f394c;
    text-decoration: none;
}
.alert-bar a.closeAlert {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    text-indent: -9999em;
    background: url('../images/close.gif') no-repeat;
    height: 16px;
    width: 16px;
}
.alert-bar a.closeAlert:hover {
    background: url('../images/close_hover.gif') no-repeat;
}
#az-index-list a {
	font-weight: bold;
}