.k-editor .k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active{
    background-color:transparent;
}

.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active {
    background-color:transparent;
}
.k-state-active, .k-state-active:hover, .k-active-filter,.k-tabstrip .k-state-active {
    background-color:transparent;
}

.k-block, .k-widget {
     background-color: transparent; 
}
