


/*:: FOOTER 2016 ::*/

/* FIX FOR EDITED BOOTSTRAP PADDING IN styels.css*/    
footer.advertise-blog-footer .container,
    footer.advertise-blog-footer  div[class^="col-md-"], 
    footer.advertise-blog-footer div[class*=" col-md-"]{padding-left:15px; padding-right:15px;}


footer.advertise-blog-footer { background-color: #575757; color: #fff; padding: 60px 0; }
    footer.advertise-blog-footer .logo { display: block; margin-left:0px; }
        footer.advertise-blog-footer .logo img { width: 275px; }
    footer.advertise-blog-footer .social-bar { margin: 25px auto; float: left; }
        footer.advertise-blog-footer .social-bar .social-share { float: left; width: inherit; }
            footer.advertise-blog-footer .social-bar .social-share ul.social-share-list { width: 114px; }
        footer.advertise-blog-footer .social-bar .follow-us { float: left; position: relative; top: 18px; padding-right: 25px; font-family: CoStarBrown-Light; font-size: 15px; }
    footer.advertise-blog-footer h4 { font-family: 'CoStarBrown-Light'; text-transform: uppercase; }
    footer.advertise-blog-footer .footer-links-right h3 { font-weight: 700; font-size: 18px; color: #fff; }
    footer.advertise-blog-footer .footer-links-right ul { list-style: none; padding: 0; margin: 0; font-family: 'CoStarBrown-Light'; font-size: 18px; letter-spacing: -0.36px; }
        footer.advertise-blog-footer .footer-links-right ul li { padding: 2px 0; font-size: 14px; line-height: 26px; }
    footer.advertise-blog-footer .footer-links-right a { color: #fff; }
    footer.advertise-blog-footer .footer-links-bottom ul { float: none; width: 1078px; list-style: none; margin: 40px auto 0 auto; padding: 0; }
        footer.advertise-blog-footer .footer-links-bottom ul li { display: inline-block; float: left; }
            footer.advertise-blog-footer .footer-links-bottom ul li a { display: inline-block; font-size: 14px; color: #fff; padding: 15px 20px; }
    footer.advertise-blog-footer .legal-container { padding: 10px 0 0 0; border-top: 1px solid #fff; font-size: 14px; }
        footer.advertise-blog-footer .legal-container p { display: inline-block; position: relative; bottom: -10px; }
        footer.advertise-blog-footer .legal-container ul { float: right; list-style: none; padding: 0; }
            footer.advertise-blog-footer .legal-container ul li { display: inline-block; float: left; }
        footer.advertise-blog-footer .legal-container .legal-links { float: right; }
        footer.advertise-blog-footer .legal-container ul li a { display: inline-block; font-size: 14px; color: #fff; margin: 0; padding: 0px 10px; border-right: 1px solid #fff; }
        footer.advertise-blog-footer .legal-container ul li:last-child a { border-right: none; }

@media only screen and (max-width: 992px) {
    footer.advertise-blog-footer { padding: 0; }
        footer.advertise-blog-footer .footer-links-right { clear: both; }
        footer.advertise-blog-footer .logo { text-align: center; padding-top: 25px; }
        footer.advertise-blog-footer .footer-links-right .accordion { padding: 0; margin: 0 15px; border-top: 1px solid #fff; }
            footer.advertise-blog-footer .footer-links-right .accordion:last-child { border-bottom: 1px solid #fff; }
        footer.advertise-blog-footer .footer-links-right h3 { cursor: pointer; padding: 15px 0; margin: 0; font-weight: 500; text-transform: uppercase; }
            footer.advertise-blog-footer .footer-links-right h3 span:after { display: inline-block; position: absolute; content: '+'; right: 20px; }
            footer.advertise-blog-footer .footer-links-right h3.ui-state-active span:after { display: inline-block; position: absolute; content: '-'; right: 20px; }
        footer.advertise-blog-footer .footer-links-right a { padding: 0px 15px; font-size: 14px; line-height: inherit; }
        footer.advertise-blog-footer .footer-links-bottom ul { float: none; margin: 25px 0; border-bottom: none; width: inherit; }
            footer.advertise-blog-footer .footer-links-bottom ul li { float: none; display: inherit; }
                footer.advertise-blog-footer .footer-links-bottom ul li a { padding: 5px 0; }
        footer.advertise-blog-footer .legal-container { text-align: center; }
            footer.advertise-blog-footer .legal-container ul { float: none; width: auto; margin: 10px auto; }
        footer.advertise-blog-footer .social-bar { order: 1; width: 100%; text-align: center; margin: 40px auto; }
            footer.advertise-blog-footer .social-bar ul { float: none; margin: 0 auto; }
            footer.advertise-blog-footer.social-bar span { text-align: center; }
            footer.advertise-blog-footer .social-bar .follow-us { display: block; float: none; width: 100%; padding: 0 0 10px 0; }
            footer.advertise-blog-footer .social-bar .social-share { display: block; float: none; width: 100%; }
        footer.advertise-blog-footer .legal-container ul li { float: none; }
}


        
/*:: SOCIAL SHARE (AS NAVIGATION IN SITEFINTIY) ::*/
.social-share { width: 100%; }
    .social-share ul.social-share-list { float: left; margin: 0; padding: 10px 0; list-style: none; float: left; width: 228px; }
        .social-share ul.social-share-list li { float: left; padding: 0; margin: 4px; }
            .social-share ul.social-share-list li a { position: relative; display: inline-block; text-decoration: none; height: 30px; width: 30px; border-radius: 15px; background-color: #BCBEC0; text-align: center; }
                .social-share ul.social-share-list li a span { position: relative; font-family: FontAwesome; color: #575757; background-image: none; cursor: pointer; font-size: 20px; }

    /* :: FACEBOOK :: */
    .social-share a.facebook span:after { content: "\f09a"; }
    /* :: TWITTER :: */
    .social-share a.twitter span:after { content: "\f099"; }
    /* :: YOUTUBE :: */
    .social-share a.youtube span:after { content: "\f167"; }
    /* :: GOOGLE PLUS :: */
    .social-share a.googleplus span:after { content: "\f0d5"; }
    /* :: PINTEREST PLUS :: */
    .social-share a.pinterest span:after { content: "\f0d2"; }
    /* :: LINKEDIN :: */
    .social-share a.linkedin span:after { content: "\f0e1"; }
    /* :: DIGG :: */
    .social-share a.digg span:after { content: "\f1a6"; }
    /* :: TUMBLR :: */
    .social-share a.tumblr span:after { content: "\f173"; }
    /* :: DELICIOUS :: */
    .social-share a.delicios span:after { content: "\f1a5"; }
    /* :: STUMBLE UPON :: */
    .social-share a.stumbleupon span:after { content: "\f1a4"; }
    /* :: REDDIT :: */
    .social-share a.reddit span:after { content: "\f1a1"; }
    /* :: MAIL TO :: */
    .social-share a.mailto span:after { content: "\f003"; }