#tabstrip {
    background-color:transparent;
    min-height:400px;
    border:none;
    box-shadow:inherit;
}
.k-tabstrip {
    background-color:transparent;
}

.k-item {
    margin-left:0.5em;
}

div.k-tabstrip
{
    background: none transparent;
    border-width: 0;
}
 
div.k-tabstrip .k-tabstrip-items
{
    padding: 0;
    border-left:1px solid #ccc;
}

.k-tabstrip .k-state-hover .k-link {
    
}
div.k-tabstrip .k-tabstrip-items .k-state-hover .k-link {
    color:#000;
}

div.k-tabstrip .k-tabstrip-items .k-item {
    margin-right: 5px;
    box-shadow: 1px -1px 1px #ccc;

}

.k-tabstrip .k-content.k-state-active {
    border-left:1px solid #ccc;
   
}

div.k-tabstrip .k-content
{
    margin: 0;
    min-height:400px;
}

div.k-tabstrip .k-content .k-state-active
{
    border: 1px solid #ccc;
    margin: 0;
}

div.k-tabstrip .k-tabstrip-items li
{
    /*width:20%;*/
}

    div.k-tabstrip .k-tabstrip-items .k-link {
        background-color: #4270AA;
        color:#fff;
        font-size:16pt;
        font-weight:600;
        min-width:239.7px;
        text-align:center;
    }

    div.k-tabstrip .k-tabstrip-items .k-last {
        margin-right:0;
    }


    div.k-tabstrip .k-tabstrip-items .k-state-active .k-link {
        background-color: #fff;
        color:#333;
    }
    
    div.k-tabstrip .k-tabstrip-items .k-link {
        background-color: #4270AA;
    }


div.tabs .k-content {
    padding-top:3em;
    padding-bottom:3em;
    box-shadow: 1px 1px 1px #ccc;
}



