
/*:: NAVIGATION ::*/
header.advertise-blog { position: relative; }
.navbar { border-radius: 0; }
.nav-tab-placeholder { text-align: center; }
    .nav-tab-placeholder ul { display: inline-block !important; }

header.advertise-blog nav.top-nav { display: block; width: 100%; height: 51px; background: #77b800; color: #fff; margin-bottom: 0; border: 0; }
    header.advertise-blog nav.top-nav .navbar-brand img { width: 275px; position: relative; top: -35px; padding: 0; margin: 0; }
    header.advertise-blog nav.top-nav ul { padding:0; margin: 0; }
        
    header.advertise-blog .navbar-nav{text-transform:capitalize;}
    
    header.advertise-blog nav.top-nav ul li:nth-last-child(n+3) { padding-right: 0px; }


header.advertise-blog .nav.top-nav .navbar-nav .open .dropdown-menu { padding: 0; }
header.advertise-blog nav.top-nav a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
header.advertise-blog nav.top-nav a:hover,
nav.top-nav ul.nav.navbar-nav.navbar-right li.dropdown a.dropdown-toggle:focus { color: #FFF; padding: 15px; font-size: 16px; }

header.advertise-blog nav.top-nav div .collapse.navbar-collapse ul.nav.navbar-nav.navbar-right li.dropdown ul { margin: 0; padding:5px 0; list-style: none; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a { background-color: #FFF; color: #000; padding: 3px 20px; margin: 0px; font-size: 14px; text-transform: uppercase; }
header.advertise-blog button.navbar-toggle { background-color: #799522; }

nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > a :hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { background-color: #77B800; color: #fff; }

header.advertise-blog button.navbar-toggle:hover,
header.advertise-blog button.navbar-toggle:focus,
header.advertise-blog button.navbar-toggle:active,
header.advertise-blog button.navbar-toggle[aria-expanded = "true"] { background-color: #799522; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover { background-color: transparent; color: #FFF; }
    .navbar-default .navbar-nav > .open > a:focus:before,
    .navbar-default .navbar-nav > li.dropdown a.dropdown-toggle:hover:before { content: ""; position: absolute; border-bottom: 2px solid #92C633; width: 62%; top: 37px; }
/*underlinning*/
.navbar-default .navbar-nav > li.dropdown > a > span.caret { display: none; }
.navbar-default .navbar-nav > li.dropdown a.dropdown-toggle:after { position: relative; content: "\f078"; display: inline-block; font-family: fontAwesome; font-size: 12px; }
.navbar-default .navbar-nav > li.dropdown > a:hover:after { text-decoration: none; }


@media screen and (max-width: 1150px) {
    header.advertise-blog nav.bottom-nav ul li a { width: 225px; }
}

@media screen and (max-width: 992px) {
    .dropdown-menu { position: relative; width: 100%; border: none; border-radius: 0; box-shadow: none; }
    .nav-tab-placeholder ul { display: block; }
    .top-nav .sub-dropdown > ul { display: none; }
    .navbar-default .navbar-nav > li.dropdown > a > span.caret { display: inline-block; }
    .navbar-default .navbar-nav > li.dropdown:after, .navbar-default .navbar-nav > li.dropdown a:after { display: none; }
    .navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
    header.advertise-blog nav.top-nav .navbar-brand img { top: -30px; width: 240px; }
    nav.navbar.navbar-default.top-nav .container { margin: 0; padding: 0; width: 100%; }
    .navbar-default .navbar-collapse { position: relative; z-index: 10000; border: none; padding-right: 0; padding-left: 0; }
    nav.top-nav ul.nav.navbar-nav.navbar-right { width: 100%; list-style: none; padding: 0; margin: 0; padding-bottom: 30px; background-color: #63666b; }
        nav.top-nav ul.nav.navbar-nav.navbar-right li { position: relative; width: 100%; }
            nav.top-nav ul.nav.navbar-nav.navbar-right li a { display: block; text-decoration: none; font-size: 14px; font-family: arial; text-transform: uppercase; }
            nav.top-nav ul.nav.navbar-nav.navbar-right li > a { display: block; padding: 15px; background-color: #63666b; color: #fff; text-decoration: none; font-size: 14px; font-family: arial; text-transform: uppercase; }
            nav.top-nav ul.nav.navbar-nav.navbar-right li.dropdown a.dropdown-toggle:hover,
            nav.top-nav ul.nav.navbar-nav.navbar-right li.dropdown a.dropdown-toggle:focus { background-color: #63666b; font-size: 14px; text-decoration: none; padding: 15px; }
            nav.top-nav ul.nav.navbar-nav.navbar-right li.dropdown > a > span.caret { transform: rotate(-90deg); color: #75ba00; }
            nav.top-nav ul.nav.navbar-nav.navbar-right li.dropdown.open > a > span.caret { transform: rotate(0deg); }
            nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > a { padding-left: 25px; background-color: #63666B; }
                nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li.open > a,
                nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > a:focus { padding-left: 25px; background-color: #8A8D93; color: #fff; }
                nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > a:hover { padding-left: 25px; background-color: #75BA00; color: #fff; }
                nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > a > span.caret { transform: rotate(-90deg); color: #fff; }
            nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li.open > a > span.caret { transform: rotate(0deg); }
            nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > ul > li > a { padding-left: 35px; display: block; }

                nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > ul > li > a:hover,
                nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > ul > li > a:focus,
                nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > ul > li > a:active { padding-left: 35px; background-color: #75ba00; margin-top: -1px; border-top: 1px solid #75ba00; }

                    nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > ul > li > a:hover:after { display: none; }
                nav.top-nav ul.nav.navbar-nav.navbar-right li > ul > li > ul > li > a:after { position: absolute; content: ""; height: 1px; width: calc(100% - 70px); display: block; background-color: #fff; bottom: 0; left: 35px; }
    .navbar-default .navbar-nav > li.dropdown a.dropdown-toggle:before, .navbar-default .navbar-nav > li.dropdown a.dropdown-toggle:after { display: none; }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar-collapse.collapse { display: none !important; }
        .navbar-collapse.collapse.in { display: block !important; }
    .navbar-header .collapse, .navbar-toggle { display: block !important; }
    .navbar-header { float: none; }
}

@media screen and (max-width: 768px) {
    nav.navbar.navbar-default.top-nav .container { padding-left: 15px; padding-right: 15px; }
}

@media screen and (max-width: 440px) {
    header.advertise-blog nav.top-nav .navbar-brand img { top: -25px; width: 200px; }
    header.advertise-blog .banner { height: 250px; }
    .owl-wrapper .item-img-bg img { height: 250px; }
    header.advertise-blog .banner h1.banner-text { font-size: 50px; padding: 0 25px; }
}


