/*Default green color: #77B800*/


@import url('fonts.css');

html { position: relative; min-height: 100%; }

.dropdown-states { padding-top: 0.2em; }

body { font-family: CoStarBrown-Light !important; font-size: 12pt; padding-top: 0px; padding-bottom: 0px; /* Margin bottom by footer height */ margin-bottom: 0px; background-color: #0072AD !important; }

.jumbotron { background-color: #4473B1; color: white; }

hr { border-top: 2px solid #eee; }

h1, h2, h3, h4, h5, h6 { font-family: CoStarBrown-Bold !important; }
h1 { font-size: 49.5pt; }
h2 { font-size: 34.5pt; }

/*ul li {
    font-family:CoStarBrown-Light !important;
}*/

.logo { display: block; text-indent: -9999px; background-image: url('../images/apartmentsdotcom-white.png'); background-repeat: no-repeat; width: 265px; margin-left: 15px; margin-top: 0.2em; margin-bottom: -0.2em; }

.keynote { padding: 10em; }
    .keynote p { display: none; }

video { width: 100% !important; height: auto !important; }

#footerSiteLinks { }

    #footerSiteLinks div { min-width: 220px; }

    #footerSiteLinks h1, #footerSiteLinks h2, #footerSiteLinks h3, #footerSiteLinks h4, #footerSiteLinks h5, #footerSiteLinks h6 { margin-top: 1em; color: white; }


    #footerSiteLinks table { width: 100%; vertical-align: top; }

    #footerSiteLinks p { text-align: left; }

#footerDisclaimerLinks { text-align: right; padding-left: 0px; padding-right: 0px; }

#footerCopyrightLinks { padding-left: 0px; padding-right: 0px; }

footer div[class^="col-md-"], div[class*=" col-md-"] { padding: 0px; }

footer { color: #fff; position: relative; bottom: 0; width: 100%; /* Set the fixed height of the footer here */ min-height: 100px; padding-top: 5em; padding-bottom: 5em; }

    footer .container { padding-left: 0px; }

    footer a, footer a:link, footer a:hover { color: white; }

.nav .sign-in { border-left: 1px solid white; border-right: 1px solid white; min-width: 100px; text-align: center; margin-left: 1em; }


.advertiseBoxes { text-align: center; padding-left: 2em; }


    .advertiseBoxes .panel { float: left; position: relative; margin: 0.3em; text-align: center; min-width: 24%; min-height: 130px; }

        .advertiseBoxes .panel img { margin-bottom: 0.2em; vertical-align: middle; max-height: 90px; max-width: 180px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }


ul { list-style-image: url('../images/list-dot.png'); }

.hero-unit { min-height: 300px; padding-top: 5em; }

    .hero-unit h1 { color: #fff; text-align: center; font-size: 60pt; font-weight: lighter; }

    .hero-unit p { color: #fff; text-align: center; font-size: 20pt; }



.homeHero .advertise h2 { font-size: 60px; color: white; margin-bottom: 0; margin-top: 0; }

.homeHero .advertise { margin: 0; width: 100%; padding: 7em 7em 5em; background: url('/images/default-source/heros/header_blue.jpg') 50% 50% no-repeat; background-size: cover; }
.homeHero .learnMore { /* padding-top: 5em; */ font-weight: bold; width: 100%; padding: 10em 5em; /* max-width: 750px; */ background: url('/images/default-source/heros/home-main-bg.png') 50% 50% no-repeat; margin-top: -5%; background-size: cover; }

.homeHero .learn-more { /* padding-top: 5em; */ font-weight: bold; width: 100%; padding: 10em 0em; /* max-width: 750px; */ background: url('/images/default-source/heros/home-main-bg.png') 50% 50% no-repeat; margin-top: -5%; background-size: cover; }



.homeHero .learnMore table td { vertical-align: top; width: 50%; }


.homeHero .learnMore img { margin: auto; width: 100%; }

.homeHero .learnMore h4 { margin-top: 3em; }

.homeHero .btn { width: 200px; margin-top: 2em; margin-bottom: 2em; }


.whyUsContent { padding-top: 5em; min-height: 400px; color: black; background-color: white; text-align: center; }

    .whyUsContent .row { margin-bottom: 5em; }

    .whyUsContent .container h3 { color: #333; font-size: 40px; margin-bottom: 2em; }

    .whyUsContent .container h4 { margin-top: 2em; margin-bottom: 2em; }

    .whyUsContent .panel { background-color: #EFEFEF; padding-top: 2em; padding-bottom: 2em; border-bottom: 10px solid #77B800; }

    .whyUsContent img { max-height: 90px; }

    .whyUsContent .panel h4 { font-size: 20pt; color: #77B800; text-transform: uppercase; margin-top: 1em; margin-bottom: 1em; }

    .whyUsContent .panel p { font-weight: bold; margin-left: 5em; margin-right: 5em; }

    .whyUsContent .btn { width: 100%; }


.whatOthersSay { background-color: #F4F4F4; min-height: 400px; padding-top: 5em; padding-bottom: 5em; }

    .whatOthersSay .container { text-align: center; }

        .whatOthersSay .container h3 { font-size: 40px; color: #333; margin-bottom: 2em; }

    .whatOthersSay p { color: #77B800; font-size: 40px; font-weight: lighter; }

.advertiseBoxes hr { width: 50%; border-top: dotted 5px #ccc; background-image: url('../images/apartment-finder.png'); }

.advertiseBoxes h2 { margin-top: 1em; margin-bottom: 1em; }

.advertiseBoxes p { font-weight: bold; }

.infographic { margin: 5em 0 5em 0; }

    .infographic .container { color: white; }


        .infographic .container .k-widget { color: #fff; background: transparent; }

        .infographic .container h2 { color: #fff; font-size: 30pt; margin-bottom: 0.3em; }

        .infographic .container h3, .infographic .container h4 { margin: 0; font-weight: 100; }

        .infographic .container h3 { color: #fff; font-size: 40px; font-weight: lighter; }

        .infographic .container h4 { color: #fff; font-size: 30px; }

        .infographic .container p { margin-top: 1em; }

    .infographic .btn { margin-top: 1em; margin-bottom: 1em; }

    .infographic .panel { text-align: center; color: #333; font-weight: bold; max-width: 400px; }

        .infographic .panel p { font-weight: bold; margin-top: 0.5em; padding-bottom: 1em; }

        .infographic .panel h3 { color: #333; border-bottom: 2px solid #77B800; margin-top: 1em; margin-bottom: 1em; margin-left: 1.5em; margin-right: 1.5em; font-size: 18pt; text-transform: uppercase; }

        .infographic .panel h4 { color: #889E4B; }

        .infographic .panel hr { max-width: 150px; border-bottom: 1px solid #ccc; }

.getStartedContainer { background-color: #5C5D5E; padding: 5em 0 5em 0; }

    .getStartedContainer .container { text-align: center; color: #fff; }

        .getStartedContainer .container h3 { font-size: 40px; }

        .getStartedContainer .container .k-widget { background-color: transparent; }

            .getStartedContainer .container .k-widget p { color: #fff; }


        .getStartedContainer .container .k-editor .col-md-4 { padding: 0; }

        .getStartedContainer .container h3, .getStartedContainer .container h4 { color: #fff; }

        .getStartedContainer .container .btn { min-width: 200px; margin-top: 2em; margin-bottom: 2em; }

.footerGetStarted { font-size: 40px; padding-top: 1em; padding-bottom: 1em; text-align: center; min-height: 500px; background-color: #fff; background: url('../images/footer-bg.jpg'); background-position: center; background-size: cover; background-repeat: repeat-x; }

    .footerGetStarted p { margin-top: 1em; margin-bottom: 1em; }

@media (max-width: 991px) {
    .nav .sign-in { border-left: 0px solid white; border-right: 0px solid white; min-width: 100px; text-align: left; margin-left: 0em; }

    #navbar { width: 100%; }

    footer { padding-left: 1em; }

    #footerSiteLinks h1, h2, h3, h4, h5, h6 { margin-top: 1em; }

    #footerDisclaimerLinks { text-align: center; }

    #footerCopyrightLinks { text-align: center; }
}

#footerPartnerLinks ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; }

#footerPartnerLinks li { display: inline-block; margin-left: 1em; }

#footerPartnerLinks .table-responsive { width: 100%; text-align: center; border: 0; }

    #footerPartnerLinks .table-responsive .footer-links, .footer-links th, .footer-links td { border: 0px solid blue; padding: 0em; }

#footerPartnerLinks table p { margin: 0; }

.whiteBackground { padding-top: 3em; padding-bottom: 3em; background-color: #fff; }

    .whiteBackground .center h2 { text-align: center; }

.compare table { margin-top: 5em; border-collapse: collapse; width: 100%; border: 0; }

.compare blockquote { font-weight: bold; color: #C1C1C1; margin: 0; border: 0; padding: 0; }


.compare .table-responsive .header { border: 1px solid #fff; }

.compare .table-responsive, .compare .table-responsive th, .compare .table-responsive td { border: 1px solid #C1C1C1; padding: 1em; }

.compare .header td { border: 0px solid #C1C1C1; padding: 0px; padding-left: 1em; }

.compare table h4 { text-transform: uppercase; font-weight: bold; }

.whiteBackground h3 { font-weight: 500; font-size: 30pt; }

.whiteBackground p { max-width: 300px; }

.whiteBackground .industryInsights h3 { font-size: 20pt; font-weight: 600; }


.whiteBackground .industryInsights { padding: 2em; border: 3px solid #77B800; }

    .whiteBackground .industryInsights img { margin-right: .5em; }

    .whiteBackground .industryInsights h3 { color: #77B800; }

.whiteBackground .btn { margin-top: 1em; min-width: 200px; }

.webinars { text-align: center; }
    .webinars .webinar { float: left; position: relative; width: 31%; min-height: 300px; margin: 0 10px; padding: 0; }
.webinar h3 { font-size: 20pt; }
.webinar h6 { font-size: 15pt; }

.webinar .back-link .btn-back { text-indent: -9999px; display: block; background-image: url('/images/default-source/icons/back-icon-50w.png?sfvrsn=7'); background-repeat: no-repeat; float: left; width: 50px; height: 50px; }


.webinar .btn { width: 200px; }

.webinars .webinar h5 { color: #77B800; font-size: 16pt; }


.webinars .webinar a { color: #77B800; text-transform: uppercase; }

div.tabs .k-content .webinars hr { max-width: 150px; border-bottom: 1px solid #ececec; margin-left: auto; }

div.tabs .k-content .whitepapers hr { max-width: 150px; border-bottom: 1px solid #ececec; margin-left: auto; }
div.tabs .k-content .case-studies hr { max-width: 150px; border-bottom: 1px solid #ececec; margin-left: auto; }

.whitepapers { text-align: center; }
    .whitepapers .whitepaper { float: left; position: relative; width: 31%; min-height: 300px; margin: 0 10px; padding: 0; }

        .whitepapers .whitepaper h5 { color: #77B800; font-size: 16pt; }

.whitepaper .back-link .btn-back { text-indent: -9999px; display: block; background-image: url('/images/default-source/icons/back-icon-50w.png?sfvrsn=7'); background-repeat: no-repeat; float: left; width: 50px; height: 50px; }

.whitepaper .title { text-align: center; }
    .whitepaper .title hr { margin-top: 3em; margin-bottom: 3em; }

    .whitepaper .title h3 { font-family: CoStarBrown-Bold; font-size: 20pt; margin-bottom: 1em; }

.whitepaper h6 { font-family: CoStarBrown-Bold; font-size: 15pt; margin-bottom: 0.5em; }

.whitepapers .whitepaper a { color: #77B800; text-transform: uppercase; }

.case-studies { text-align: center; }
    .case-studies .case-study { float: left; position: relative; width: 100%; min-height: 300px; }

        .case-studies .case-study blockquote { font-size: 45pt; color: #77B800; margin: unset; padding: unset; border: 0; }

        .case-studies .case-study h5 { color: #77B800; font-size: 16pt; }


        .case-studies .case-study a { color: #77B800; text-transform: uppercase; }

.carousel { margin-top: 1em; margin-bottom: 1em; }
    .carousel .icons a:hover { color: blue; }
    .carousel .icons a { color: blue; }

    .carousel .icons { text-align: center; float: right; padding-top: 0.5em; padding-right: 3em; }

.a-content .carousel .icons .apartments { background-image: url('/images/default-source/icons/carousel-on-icon.png?sfvrsn=2'); display: inline-block; height: 14px; width: 14px; text-indent: -9999px; }
.a-content .carousel .icons .apartment-finder { background-image: url('/images/default-source/icons/carousel-off-icon.png?sfvrsn=2'); display: inline-block; height: 14px; width: 14px; text-indent: -9999px; }
.af-content .carousel .icons .apartments { background-image: url('/images/default-source/icons/carousel-off-icon.png?sfvrsn=2'); display: inline-block; height: 14px; width: 14px; text-indent: -9999px; }
.af-content .carousel .icons .apartment-finder { background-image: url('/images/default-source/icons/carousel-on-icon.png?sfvrsn=2'); display: inline-block; height: 14px; width: 14px; text-indent: -9999px; }

#network-packages { min-height: 500px; position: relative; }

    #network-packages .packages { margin-left: 110px; margin-right: 110px; }


    #network-packages .arrows span { position: absolute; top: 50%; width: 100px; height: 70px; cursor: pointer; z-index: 2000; }

.arrows span:after { content: ''; position: absolute; width: 100px; height: 70px; top: 0px; left: 0px;; /*background: transparent url(../images/spin-arrows.png) no-repeat top left;*/ }


#network-packages span.spin-left { left: 0px; background: transparent url(../images/spin-arrows.png) no-repeat top right; /*background: transparent url('/ResourcePackages/Main/assets/dist/images/sidebuttons-right.png');
    background-repeat:no-repeat;*/ }
#network-packages span.spin-right { right: 0px; background: transparent url(../images/spin-arrows.png) no-repeat top left; }


#network-packages .spin-right.div { display: block; }

#network-packages .a-content h2 { margin-top: 0.2em; text-transform: uppercase; color: #77B800; font-size: 20pt; }

#network-packages .af-content h2 { margin-top: 0.2em; text-transform: uppercase; color: #cc6633; font-size: 20pt; }

.advertise-today-form { text-align: center; padding-top: 2em !important; padding-bottom: 2em !important; }

    .advertise-today-form label { display: none; }
    .advertise-today-form input { margin: 0.5em; width: 250px; }
    .advertise-today-form select { margin: 0.5em; width: 250px; }

.whitepaper-form { text-align: center; padding-top: 2em !important; padding-bottom: 2em !important; }

    .whitepaper-form label { display: none; }
    .whitepaper-form input { margin: 0.5em; width: 250px; }
    .whitepaper-form select { margin: 0.5em;; width: 250px; }

.k-window { background-color: white; }
k-window-titlebar { border-bottom: 0; background-color: transparent; }
.k-window-title { text-align: center; font-size: 20pt; }

div.kendo-window a, div.kendo-window a:link, div.kendo-window a:hover { color: #77B800; }

div.download-button { margin-top: 2em; margin-bottom: 2em; }



#network-packages h6 { margin: 0; font-size: 12pt; }

#network-packages .carousel a.icon.selected { background-image: url('/images/default-source/icons/carousel-on-icon.png?sfvrsn=2'); width: 14px; height: 14px; }
#network-packages .carousel a.icon { display: inline-block; background-image: url('/images/default-source/icons/carousel-off-icon.png?sfvrsn=2'); width: 14px; height: 14px; }
#network-packages ul.carousel { display: inline-block; list-style: none; }

    #network-packages ul.carousel li { display: inline; }
#network-packages .platinum-package { display: none; }
#network-packages .gold-package { display: none; }
#network-packages .silver-package { display: none; }

select, input { border: 0; outline: 0; background: transparent; border-bottom: 2px solid #DCDDDE; }
::-webkit-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }



@media screen and (max-width: 992px) {
    ul#service-logos li { max-width: initial; text-align: center !important; clear: none !important; width: 50% !important; }
        ul#service-logos li:nth-child(2) img { width: auto !important; }
    .footerGetStarted { background-size: auto 200%; }
    ul#service-logos li img { max-width: 100%; }

    .footer-links td { display: block; text-align: left; }
}

@media screen and (max-width: 768px) {
    ul#service-logos li { width: 100% !important; }

    .hero-unit h1 { font-size: 40pt; }

    .about h2 { font-size: 20pt; }
    .about h3 { font-size: 15pt; }
}


