/* Body and Root Style
-------------------------------------------------- */
	body {
		background: url('https://cdn.cutestat.com/cutestat/assets/img/bg.jpg') repeat;
	}

/* Common Style
-------------------------------------------------- */
	.marginLeft_none		{ margin-left: 0 !important; }
	.marginTop_none			{ margin-top: 0; }
	.marginTop_5 			{ margin-top: 5px; }
	.marginTop_20 			{ margin-top: 20px; }
	.marginBottom_none 		{ margin-bottom: 0; }
	.marginBottom_5			{ margin-bottom: 5px; }
	.marginBottom_10 		{ margin-bottom: 10px; }
	.marginBottom_15		{ margin-bottom: 15px; }

	.border_wrapper			{ border: 2px solid #eeeeee; padding: 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
	.border_wrapper:hover	{ border-color: #d6d6d6; }
	.border_wrapper h1		{ font-size: 15px; line-height: normal; padding: 0 0 5px 0; margin: 0 0 10px 0; border-bottom: 1px solid #eeeeee; }

	.padding_5 				{ padding: 5px; }
	.padding_10 			{ padding: 10px; }
	.alert_padding_fix 		{ padding: 8px 15px; }
	.normal_line_height 	{ line-height: normal; }

	.badge_link 			{ color: #ffffff; text-decoration: none; }
	.badge_link:hover 		{ color: #ffffff; text-decoration: none !important; }

	.tableHeadColor th 		{ color: #cc0000; }
	.border_bottom 			{ border-bottom: 1px solid #dddddd; }
	.width_140 				{ width: 140px; }
	.width_200 				{ width: 200px; }

	hr { margin: 10px 0; }

/* Background Flare Style
-------------------------------------------------- */
	.flare {
		background: url('https://cdn.cutestat.com/cutestat/assets/img/flare.png') no-repeat top center,-webkit-gradient(linear, left top, left 60%, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
		background: url('https://cdn.cutestat.com/cutestat/assets/img/flare.png') no-repeat top center,-moz-linear-gradient(top,  rgba(255,255,255,0.8),  rgba(255,255,255,0) 60%);
	}
	.clouds {
		background: url('https://cdn.cutestat.com/cutestat/assets/img/clouds.png') repeat-x left 150px;
	}
	.clouds_bottom {
		background: url('https://cdn.cutestat.com/cutestat/assets/img/clouds_bottom_bg.png') repeat-x left 294px;
	}

/* Container Style
-------------------------------------------------- */
	.container { width: 942px; }
	.content_body_wrapper {
		background: url('https://cdn.cutestat.com/cutestat/assets/img/body_box_shadow.png') no-repeat bottom center;
		padding-bottom: 9px;
		margin-bottom: 15px;
	}
	.content_body {
		border: 1px solid #eeeeee;
		background: #ffffff url('https://cdn.cutestat.com/cutestat/assets/img/sidebar_bg.jpg') repeat-y top right;
		min-height: 610px;
		-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
				border-radius: 8px;
	}
	.content_main 		{ width: 600px; padding: 10px; }
	.content_sidebar 	{ width: 300px; padding: 10px; margin-left: 0; }

/* Header CSS Style
-------------------------------------------------- */
	.header 			{ height: 90px; padding: 20px 0; }
	.header .logo 		{ padding-top: 17px; }
	.header .top_banner { width: 728px; height: 90px; background-color: #ffffff; }

/* Lookup Form CSS Style
-------------------------------------------------- */
	.lookup_form { background-color: #ec8e7b; }
	.lookup_form input[type="text"] 	{ width: 260px; line-height: normal; font-size: 18px; color: #999999; height: auto; padding: 7px 10px; letter-spacing: -1px; }
	.lookup_form select					{ width: 180px; height: 37px; padding: 6px 6px; font-size: 18px; color: #999999; }
	.lookup_form button[type="submit"] 	{ padding: 8px 14px; }

/* Index CSS Style
-------------------------------------------------- */
	.index_img 				{ width: 210px; margin-bottom: 0; }
	.index_img .thumbnail 	{ height: 200px; }
	.index_description 		{ width: 302px; margin-bottom: 0; margin-left: 10px !important; }
	.index_description h1 	{
		font-size: 16px;
		line-height: normal;
		border-bottom: 1px solid #eeeeee;
		padding-bottom: 3px;
		margin-bottom: 8px;
		margin-top: 0;
		letter-spacing: -1px;
	}
	.index_description p 	{ font-size: 11px; line-height: 15px; }
	.index_social 			{ width: 68px; margin-bottom: 0; margin-left: 10px !important; }

/* Tag Style
-------------------------------------------------- */
	.tag_panel {
		clear: left;
		margin: 0 auto;
		position: relative;
	}
	.tag_panel ul { margin: 0; padding: 0; list-style: none; }
	.tag {
		background: url("https://cdn.cutestat.com/cutestat/assets/img/tag.png") no-repeat 0 0;
		color: #3f3f3f;
		float: left;
		height: 25px;
		line-height: 1;
		margin: 5px;
		padding: 0 5px 0 8px;
		position: relative;
		text-decoration: none;
	}
	.tag:hover		{ cursor: pointer; }
	.tag:active		{ top: 1px; }
	.tag span		{ display: block; float: left; }
	.tag_name	{
		font-size: 11px;
		background: url("https://cdn.cutestat.com/cutestat/assets/img/tag.png") no-repeat 100% -25px;
		height: 19px;
		padding: 6px 10px 0 0;
		position: relative;
		text-shadow: 0 1px 1px #fff;
		z-index: 10;
	}
	.tag_count {
		background: url("https://cdn.cutestat.com/cutestat/assets/img/tag.png") no-repeat 100% -50px;
		color: #fff;
		height: 19px;
		padding: 5px 10px 0;
		position: absolute;
		right: 0;
		text-shadow: 0 -1px 0 #c54a0c;
		top: 1px;
		z-index: 5;
	}

/* Body Wrapper and CSS Style
-------------------------------------------------- */
	.content_wrapper { padding: 0 10px; margin-bottom: 20px; }
	.content_wrapper .page-header { padding-bottom: 5px; margin-bottom: 10px; }
	.content_wrapper .page-header h1 {
		font-size: 22px;
		letter-spacing: -1px;
		line-height: normal;
		margin-bottom: 0;
	}
	.content_wrapper .page-header h1 small { font-size: 20px; line-height: normal; }
	.content_wrapper h4 { font-size: 16px; border-bottom: 1px solid #eeeeee; margin-bottom: 10px; }
	legend {
		font-size: 20px;
		letter-spacing: -1px;
		line-height: normal;
		padding-bottom: 5px;
		margin-top: 20px;
	}

/* Stat Details CSS Style
-------------------------------------------------- */
	.stat_half_left { width: 300px; }
	.stat_half_right { width: 265px; margin-left: 15px; }

	.stat_overview {
		font-size: 13px;
		line-height: 18px;
	}

	.stat_details h2 {
		font-family: Arial, Verdana, Sans-serif;
		font-size: 16px;
		line-height: normal;
		padding: 0 0 3px 0;
		margin: 0 0 10px 0;
		border-bottom: 1px solid #eeeeee;
	}

	.pagespeed {
		width: 135px;
		height: 41px;
		background: #ffffff url('https://cdn.cutestat.com/cutestat/assets/img/page_speed_bg.png') no-repeat top left;
	}
	.pagespeed .value {
		font-weight: bold;
		font-size: 28px;
		width: 59px;
		text-align: center;
		color: #ffffff;
		padding: 4px 0 0 3px;
		line-height: normal;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}

	.stat_sidebar_nav li a { font-weight: bold; font-size: 12px; padding: 10px;}

	.map_canvas {
		width: 380px;
		height: 216px;
		border: 1px solid #fbeed5;
		-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
				border-radius: 4px;
	}

	.stat_details .accordion { margin-bottom: 15px; }
	.stat_details .accordion-heading { font-weight: bold; background-color: #eeeeee; }
	.stat_details .accordion-heading .accordion-toggle { padding: 5px 15px; }
	.stat_details .accordion-heading a:hover { text-decoration: none; }

/* Listing CSS Style
-------------------------------------------------- */
	.listings { padding: 0 10px; }
	.listings h2,
	.listings h3
		{ font-size: 15px; line-height: 20px; padding: 0; margin: 0; text-decoration: underline; }
	.listings .description { font-size: 12px; color: #333333; }

/* Widget Page CSS Style
-------------------------------------------------- */
	.widget_all, .widget_pr {
		font-size: 10px;
		line-height: normal;
		width: 273px;
	}

/* Footer CSS Style
-------------------------------------------------- */
	.footer {
		padding: 0 0 20px 0;
		font: normal 11px 'Arial', Tahoma, Sans-Seif;
		color: #767575;
	}
	.footer .copyright .footer_menu { margin-bottom: 5px; }
	.footer .social { padding-top: 6px; }
	.footer .social .span1 { margin-left: 10px; width: 32px; }
	.footer .social .span1 a:hover img {
		opacity:.80;
		filter:Alpha(Opacity=80);
		-moz-opacity:0.80;
	}