/* ========================
     FONTS
========================*/
/* ========================
     COLORS
========================*/
/* global colors */
/* misc callout colors */
/* tab colors */
/* super text colors */
/* site colors */
/* green */
/* blue */
/* dark blue */
/* lighht orange */
/* light orange */
/* diversity colors */
/* ========================
     SIZES
========================*/
/* ========================
    MIXINS
========================*/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

/* ========================
    GENERIC MICROSITES
 ========================*/
.row [class^='col'], .lt-ie9 .row [class^='col'], #mega-footer .row [class^='col'], #mega-footer .lt-ie9 .row [class^='col'] {
  border-left-color: #009FDB; }

#main, #mega-footer {
  border-top-color: #009FDB; }

#mega-footer, .component, .row form, #mega-footer .component, .component .separator {
  border-bottom-color: #009FDB; }

.rollover h3, #mega-footer .component h2, .carousel-pager .cycle-pager-active, .component .stats h3 {
  color: #009FDB; }

#mega-footer .component h2 {
  color: #FFF; }

/* ========================
    AEIS MICROSITE
========================*/
.aeis {
  /* BANNER */
  /* MEGA FOOTER */
  /* MENU GRID */ }
  .aeis .row [class^='col'], .aeis .lt-ie9 .row [class^='col'], .aeis #mega-footer .row [class^='col'], .aeis #mega-footer .lt-ie9 .row [class^='col'] {
    border-left-color: #0568AE; }
  .aeis #main, .aeis #mega-footer {
    border-top-color: #0568AE; }
  .aeis #mega-footer, .aeis .component, .aeis .row form, .aeis #mega-footer .component, .aeis .component .separator {
    border-bottom-color: #0568AE; }
  .aeis .rollover h3, .aeis #mega-footer .component h2, .aeis .carousel-pager .cycle-pager-active, .aeis .component .stats h3 {
    color: #0568AE; }
  .aeis #mega-footer .component h2 {
    color: #FFF; }
  .aeis #page {
    background: #000; }
  .aeis #mobile-footer {
    background: #FFF; }
  .aeis .banner .tagline {
    color: #FFF; }
  .aeis #mega-footer .component h2 {
    color: #FFF; }
  .aeis .rollover {
    background: #0568AE; }
    .aeis .rollover .title {
      color: #FFF;
      font-family: "Omnes-Medium", Arial, Helvetica, sans-serif;
      font-size: 18px; }

/* ========================
    IoT MICROSITE
========================*/
.iot {
  /* MISC CALLOUT */ }
  .iot .row [class^='col'], .iot .lt-ie9 .row [class^='col'], .iot #mega-footer .row [class^='col'], .iot #mega-footer .lt-ie9 .row [class^='col'] {
    border-left-color: #FFB81C; }
  .iot #main, .iot #mega-footer {
    border-top-color: #FFB81C; }
  .iot #mega-footer, .iot .component, .iot .row form, .iot #mega-footer .component, .iot .component .separator {
    border-bottom-color: #FFB81C; }
  .iot .rollover h3, .iot #mega-footer .component h2, .iot .carousel-pager .cycle-pager-active, .iot .component .stats h3 {
    color: #FFB81C; }
  .iot #mega-footer .component h2 {
    color: #FFF; }
  .iot .banner .tagline {
    color: #FFF; }
  .iot .component .carousel h2 {
    color: #FFB81C; }
  .iot .misc-callout.orange-theme.border {
    border-color: #FFB81C; }
  .iot .misc-callout.orange-theme h2, .iot .misc-callout.orange-theme.solid-bg .content {
    background: #FFB81C; }
  .iot .misc-callout.orange-theme.border h2 {
    color: #FFF; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 768px) {
  .aeis .rollover.show .title {
    font-size: 20px; } }
@media only screen and (min-width: 1025px) {
  .component [class*='-background'].headline .icons {
    display: inline; }

  .aeis .rollover {
    bottom: auto;
    display: block;
    height: 25px;
    padding: 5px 10px;
    -webkit-transition: height 0.8s ease;
    -moz-transition: height 0.8s ease;
    -ms-transition: height 0.8s ease;
    -o-transition: height 0.8s ease;
    transition: height 0.8s ease; }
    .aeis .rollover .title {
      margin: 0; }
    .aeis .rollover .description, .aeis .rollover .more, .aeis .rollover p {
      color: #FFF;
      display: block;
      opacity: 0;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease;
      zoom: 1; }
    .aeis .rollover .x {
      display: none; }
    .aeis .rollover.show {
      background: rgba(5, 116, 172, 0.8);
      bottom: 0;
      height: 90%;
      padding: 6% 5% 5%;
      -webkit-transition: height 0.8s ease;
      -moz-transition: height 0.8s ease;
      -ms-transition: height 0.8s ease;
      -o-transition: height 0.8s ease;
      transition: height 0.8s ease; }
      .no-rgba .aeis .rollover.show {
        background: transparent url("/etc/designs/microsite/clientlibs/images/aeis_mgc_bg.png") repeat 0 0; }
      .aeis .rollover.show .title {
        font-size: 26px; }
      .aeis .rollover.show .description, .aeis .rollover.show .more, .aeis .rollover.show p {
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
        zoom: 1; } }
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* ========================
      PRIVACY POLICY
  ========================*/
  .privacy-policy .col-full,
  .privacy-policy .col-1-3,
  .privacy-policy .btn {
    display: none; }
  .privacy-policy .component {
    margin-bottom: 30pt; } }

/*# sourceMappingURL=sites.css.map */
