[lang^="bg"] html, [lang^="bg"] p, [lang^="bg"] a, [lang^="bg"] h1, [lang^="bg"] h2, [lang^="bg"] h3, [lang^="bg"] h4, [lang^="bg"] h5, [lang^="bg"] li, [lang^="bg"] select, [lang^="bg"] option, [lang^="bg"] input, [lang^="bg"] button, [lang^="bg"] label, [lang^="bg"] div, [lang^="bg"] span,
[lang^="el"] html,
[lang^="el"] p,
[lang^="el"] a,
[lang^="el"] h1,
[lang^="el"] h2,
[lang^="el"] h3,
[lang^="el"] h4,
[lang^="el"] h5,
[lang^="el"] li,
[lang^="el"] select,
[lang^="el"] option,
[lang^="el"] input,
[lang^="el"] button,
[lang^="el"] label,
[lang^="el"] div,
[lang^="el"] span,
[lang^="he"] html,
[lang^="he"] p,
[lang^="he"] a,
[lang^="he"] h1,
[lang^="he"] h2,
[lang^="he"] h3,
[lang^="he"] h4,
[lang^="he"] h5,
[lang^="he"] li,
[lang^="he"] select,
[lang^="he"] option,
[lang^="he"] input,
[lang^="he"] button,
[lang^="he"] label,
[lang^="he"] div,
[lang^="he"] span,
[lang^="ko"] html,
[lang^="ko"] p,
[lang^="ko"] a,
[lang^="ko"] h1,
[lang^="ko"] h2,
[lang^="ko"] h3,
[lang^="ko"] h4,
[lang^="ko"] h5,
[lang^="ko"] li,
[lang^="ko"] select,
[lang^="ko"] option,
[lang^="ko"] input,
[lang^="ko"] button,
[lang^="ko"] label,
[lang^="ko"] div,
[lang^="ko"] span,
[lang^="ru"] html,
[lang^="ru"] p,
[lang^="ru"] a,
[lang^="ru"] h1,
[lang^="ru"] h2,
[lang^="ru"] h3,
[lang^="ru"] h4,
[lang^="ru"] h5,
[lang^="ru"] li,
[lang^="ru"] select,
[lang^="ru"] option,
[lang^="ru"] input,
[lang^="ru"] button,
[lang^="ru"] label,
[lang^="ru"] div,
[lang^="ru"] span,
[lang^="th"] html,
[lang^="th"] p,
[lang^="th"] a,
[lang^="th"] h1,
[lang^="th"] h2,
[lang^="th"] h3,
[lang^="th"] h4,
[lang^="th"] h5,
[lang^="th"] li,
[lang^="th"] select,
[lang^="th"] option,
[lang^="th"] input,
[lang^="th"] button,
[lang^="th"] label,
[lang^="th"] div,
[lang^="th"] span,
[lang^="vi"] html,
[lang^="vi"] p,
[lang^="vi"] a,
[lang^="vi"] h1,
[lang^="vi"] h2,
[lang^="vi"] h3,
[lang^="vi"] h4,
[lang^="vi"] h5,
[lang^="vi"] li,
[lang^="vi"] select,
[lang^="vi"] option,
[lang^="vi"] input,
[lang^="vi"] button,
[lang^="vi"] label,
[lang^="vi"] div,
[lang^="vi"] span {
  font-family: "Helvetica Neue", Helvetica, sans-serif !important; }

[lang^="bg"] .primary-font--thin,
[lang^="el"] .primary-font--thin,
[lang^="he"] .primary-font--thin,
[lang^="ko"] .primary-font--thin,
[lang^="ru"] .primary-font--thin,
[lang^="th"] .primary-font--thin,
[lang^="vi"] .primary-font--thin {
  font-family: "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300; }
