.maintable { width:76%;  BACKGROUND-COLOR: #fdfeff; box-shadow: 3px 0px 0px #0099ff, -3px 0px 0px #0099ff; padding-bottom:0px;}
#fx2
{
	position:fixed;top:0px; left: 12%; width: 76%; height: 38px; background-color:#bfe6ff; z-index:2;
	 box-shadow: 0px 1px 0px #0099ff; box-shadow: 3px 0px 0px #0099ff, -3px 0px 0px #0099ff;
}
.maintable3 { width:76%;  BACKGROUND-COLOR: #fdfeff; box-shadow: 3px 0px 0px #0099ff, -3px 0px 0px #0099ff; }
.maintable2 { margin-left:30px; margin-right:30px;  }
         #rightbox
        {
	position:absolute; 	top:327px; left:12%;	padding-left:22px; padding-right:22px; padding-top:27px; padding-bottom:25px; background-color:#f0f9ff;
width: 122px; margin-left: 1px; margin-right: 1px;border-top-right-radius:15px;

        }
		
		        #rightbox4
        {
	position:absolute; 	top:327px; right:12%;	padding-left:22px; padding-right:22px; padding-top:27px; padding-bottom:20px; background-color:#f0f9ff;
width: 122px; margin-left: 1px; margin-right: 1px;border-top-left-radius:15px;
	text-align:justify; 
        }
