body{
	font: 1.1em Arial,sans-serif;
	margin:0;
	line-height: 1.35em;
	color: #001320;


}

#l1	{     width:94%; margin-left:0%; margin-right:0%; 

}

#breadcrumbs
{ width:40%;
 padding-top:0px; font: 0.4em Arial, Helvetica, sans-serif; line-height:12px;padding:0px; 
		}
		
		#anc	{   width:25%; float:left; padding:0px; 

				}
#anc2	{     width:25%;float:left; padding:0px; 
	    }



		
		.maintable
		
		{width:100%; padding:0px; margin:0px;
	box-shadow: none;}
	
	
		.maintable2 { margin-left:8px; margin-right:8px; position:relative; top: -32px; }

		#movebox2
{
	position:relative; top: -32px; width: 100%; z-index:1; BACKGROUND-COLOR: #fdfeff; box-shadow: none; border:0px; padding:0px; margin:0px;
}

		.maintable3 { position:relative; top: -55px; }


	        #pic
        {

width: 150px;
        }#fx2
{
	padding-left:1%; padding-right:1%; position:fixed;top:0px; left: 0px; width: 100%; height: 38px; background-color:#bfe6ff; z-index:2;
	 box-shadow: 0px 0px 0px #0099ff;  box-shadow: 0px 0px 0px #003355, -0px 0px 0px #003355;
 }		#fx3
{
	position:relative; top: -12px; width: 100%; z-index:1; box-shadow: none; border:0px; padding:0px; margin:0px;
}

			
		#fx5
{
	position:relative; top: -28px; width: 100%; z-index:1; box-shadow: none; border:0px; padding:0px; margin:0px;
}	#topheading
	{font: 1.1em Verdana, Arial, Helvetica, sans-serif; font-weight:700;  }	
.vheading
        { 
		
		 font: 1.0em Verdana, Arial, Helvetica, sans-serif; font-weight:700;
     }
#leftbox
        { width:100%; padding-top:1px; text-align:left;	
float:left;
        }
        #vheading
        { width:100%; padding:0px; text-align:left;	
float:left;
        }
        #vheading3
        { width:100%; padding:0px; text-align:left;	
float:left;
        }
        #vheading4
        { width:100%; padding:0px; text-align:left;	
float:left;
        }

        #strongsbox
        { width:100%; padding:0px; text-align:left;	
float:left;
        }
        #vheading2
        { width:100%; padding:0px; text-align:left;	
float:left;
        }



        #centbox
        { width:100%; padding:0px;	margin:0px;
text-align:justify; float:left;

        }
		

        #rightbox2
        { width:65px; padding:0px; margin:0px;	text-align:left;	
float:left;
        }

        #rightbox4
        { width:135px; padding-left:100px; margin:0px;	text-align:left;	
float:left;
        }

		
	  #topleftbox
        { width:100%; padding:0px;	text-align:left;	
float:left;
        }



        #toprightbox
        { width:100%; padding:0px;	
position:absolute; bottom:0px;
        }



.lft {width:100%; float:left;  text-align:center;  }
.cent {width:100%; float:left; text-align:center;  margin-top: 22px; }
.rt {width:100%; float:left; text-align:center; margin-top:30px;}

.lft2 {width:100%; float:left;  text-align:center;  }
.cent2 {width:100%; float:left; text-align:center;  margin-top: 0px; }
.rt2 {width:100%; float:left; text-align:center; margin-top:0px;}





		#blnk
 {height:34px;}






