.maintable { width:100%; }
#fx2
{
	padding-left:1%; padding-right:1%; position:fixed;top:0px; left: 0px; width: 100%; height: 38px; background-color:#bfe6ff; z-index:2;
	 box-shadow: 0px 0px 0px #0099ff;  box-shadow: 0px 0px 0px #003355, -0px 0px 0px #003355;
 }.maintable3 { width:100%;}
.maintable2 { margin-left:25px; margin-right:25px; }
         #rightbox
        {      display: none;
	position: relative;	padding-left:10px; padding-right:2px; padding-top:0px; padding-bottom:0px;
width: 130px; float:left; 

        }
         #rightbox4
        {
border-top-right-radius:15px;
        }

