@charset "utf-8";
/* CSS Document */


BODY

{

    MARGIN-TOP: 0px;

    MARGIN-LEFT: 0px;

    MARGIN-RIGHT: 0px;

    MARGIN-bottom: 0px;

    BACKGROUND-COLOR: #bfe6ff;

 /*   background-image: url(bk.jpg);  */

    TEXT-DECORATION: none;}

    a:link, a:visited, a:active { 
	text-decoration: none; color: 


	#001320

	
;}

.drop{

width:97%; 
font-size:16px; font-family:Arial, Helvetica, sans-serif;
font-weight:700; BACKGROUND-COLOR: #f4faff; /*background-image: url(bkarrow.gif);*/ color:#0066aa; border: 0; z-index:-1; Border-radius:4px;

}

.hs{

font-size:16px; font-family:Arial, Helvetica, sans-serif;
font-weight:700; BACKGROUND-COLOR: #d2edff; /*background-image: url(bkarrow.gif);*/ color:#0066aa; border: 0; z-index:-1; Border-radius:0px; 
}



/*.tb1{min-width:500px;}*/