@charset "utf-8";
/* CSS Document */


BODY

{

    MARGIN-TOP: 0px;

    MARGIN-LEFT: 0px;

    MARGIN-RIGHT: 0px;

    MARGIN-bottom: 0px;

    BACKGROUND-COLOR: #bfe6ff;

 /*   background-image: url(bk.jpg);  */

    TEXT-DECORATION: none;}

    a:link, a:visited, a:active { 
	text-decoration: none; color: 


	#001320

	
;}



.drop{

width:97%; 
font-size:16px; font-family:Arial, Helvetica, sans-serif;
font-weight:700; BACKGROUND-COLOR: #f4faff; /*background-image: url(bkarrow.gif);*/ color:#0066aa; border: 0; z-index:-1; Border-radius:4px;

}

.drop2{

width:98%; 
font-size:16px; font-family:Arial, Helvetica, sans-serif;
font-weight:700; BACKGROUND-COLOR: #f4faff; /*background-image: url(bkarrow.gif);*/ color:#0066aa; border: 0; z-index:-1; Border-radius:4px;

}


.tb1 { width:20%; vertical-align:middle; height:30px;}
.tb2 { width:19%; vertical-align:middle; height:30px;}

.tb3 { width:61%; height:30px;}

/*.mwid {width:1100px; margin-left:3px;}*/
