body{
	font: 1.2em Arial,sans-serif;
	margin:0;
	line-height: 1.4em;
	color: #001320;

/*     BACKGROUND-COLOR: #fdfeff;
	text-align:left;


 
     background-repeat: no-repeat; 
	    background-image: none;*/
}

/*

.versiontext

{ font-size: 0.9em;
	
		line-height: 1.6em;
	}

*/





 #container
        {
            margin-left:0px;
            margin-top:0px; margin:0px; 
			
			
	BACKGROUND-COLOR: #fdfeff;
	height: auto;
	       	border:none;
			
			
			
			
			
			
			width:100%; padding:0px;
	
        }
        
		
		.maintable
		
		{width:93%; margin-top:10px;
		}
		
		
		
		.versiontext { 
			font: 0.9em Arial,sans-serif;

	font-weight: 700; 	line-height: 1.4em;

	}
	
.titletext { 
	font: 0.9em Arial,sans-serif;

	font-weight: 700; 
	}
	

		
		
		
        .padright
        {
		padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; 
        }


        .padleft
        {
		padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; 
        }
	
		
			
		
        #movebox
        {
	
	    }
		
		
  #topheading
        { width:160px; 
			font: 0.8em Arial, Helvetica, sans-serif;

        }
		


        #lefti
        {
	width: 10px; 		

        }

        #righti
        {
	width: 10px;	

        }


		
		
        #leftbox
        { width:100%; padding:0px; text-align:left;	
float:left;
        }
        #vheading1
        { width:100%; padding:0px; text-align:left;	
float:left;
        }
        #vheading3
        { width:100%; padding:0px; text-align:left;	
float:left;
        }
        #vheading4
        { width:100%; padding:0px; text-align:left;	
float:left;
        }

        #strongsbox
        { width:100%; padding:0px; text-align:left;	
float:left;
        }
        #vheading2
        { width:100%; padding:0px; text-align:left;	
float:left;
        }



        #centerbox
        { width:100%; padding:0px;	
text-align:justify; float:left;

        }

        #rightbox
        { width:100%; padding:0px;	text-align:left;	
float:left;
        }

		
	  #topleftbox
        { width:100%; padding:0px;	text-align:left;	
float:left;
        }



        #toprightbox
        { width:100%; padding:0px;	
position:absolute; bottom:0px;
        }











