/*
 * Settings tab
 */
/* General */
.cptch_thumb_block {
	margin-top: 8px !important;
}
.cptch_example_input {
	position: relative;
	max-width: 30px;
	display: inline-block;
	vertical-align: middle;
}
.cptch_block {
	direction: ltr;
}
#cptch_settings_form_block {
	position: relative;
}
.cptch_limit_label {
	display: block;
}
input.cptch_settings_input {
	width: 252px;
}
.cptch_how_to_use {
	float: right;
}
.cptch_settings_slick {
	min-height: 100px;
}
.cptch_settings_slick li {
	width: 200px;
}

/* Carousel */
#cptch_settings_slick {
	margin-top: 10px;
	display: none;
}
#cptch_settings_slick .slick-list {
	background: #e5e5e5;
	padding: 0 !important;
	margin: 0 50px;
	border-top: 1px solid #ccc;
}
#cptch_settings_slick .slick-arrow {
	position: absolute;
	width: 50px;
	height: 40px;
	border: 1px solid #ccc;
	font-size: 30px;
	line-height: 40px;
	background: #e5e5e5;
	z-index: 3;
}
#cptch_settings_slick .slick-prev {
	top: 0;
	left: 0px;
}
#cptch_settings_slick .slick-next {
	top: 0;
	right: 0;
}
#cptch_settings_slick a {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 39px;
	text-align: center;
}
#cptch_settings_slick .slick-current a {
	border-bottom: 1px solid #fff;
}

#cptch_settings_tabs_wrapper {
	position: relative;
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
	font-size: 13px;
	border: 1px solid #ccc;
	background: #fff;
	font-family: inherit;
	padding: 0;
}
#cptch_settings_slick.cptch_slick_mobile .slick-list {
	margin: 0 40px;
}
#cptch_settings_slick.cptch_slick_mobile a {
	display: table-cell;
	height: 59px;
	max-width: 200px;
	vertical-align: middle;
}
#cptch_settings_slick.cptch_slick_mobile .slick-arrow {
	width: 40px;
	height: 60px;
}
#cptch_settings_slick.cptch_slick_mobile .slick-arrow:before {
	margin-top: 9px;
	display: inline-block;
}

/* Tabs */
#cptch_settings_tabs {
	font-family: inherit;
	padding: 0;
}
#cptch_settings_slick *,
#cptch_settings_tabs_wrapper * {
	box-sizing: border-box;
}
#cptch_settings_tabs_bg {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 150px;
	height: 100%;
	min-height: 100%;
	background: #e5e5e5;
	border-right: 1px solid #ccc;
}
#cptch_settings_tabs_wrapper ul:not([class="cptch_tabs_package_list_items"]) {
	position: absolute;
	width: 150px;
	margin: 0;
	z-index: 2;
	float: left;
}
#cptch_settings_tabs_wrapper ul.ui-tabs-nav {
	float: none;
	padding: 0;
	border:none;
	background: none;
	line-height: inherit;
}
#cptch_settings_tabs_wrapper ul li {
	margin: 0;
	padding: 0;
	float: none;
    white-space: normal;
    border: none;
}
#cptch_settings_tabs_wrapper .form-table th {
	font-weight: normal;
}
#cptch_settings_slick a,
#cptch_settings_tabs_wrapper ul li a {
	margin: 0;
	padding: 10px;
	display: block;
	box-shadow: none;
	text-decoration: none;
	font-weight: bold;
	color: #555;
}
#cptch_settings_slick .slick-arrow:hover,
#cptch_settings_slick a:hover,
#cptch_settings_tabs_wrapper ul li a:hover {
	background: #eee;
	color: #999;
	cursor: pointer;
}
#cptch_settings_tabs_wrapper ul li a {
	border-bottom: 1px solid #ccc;
	width: 100%;
}
#cptch_settings_slick .slick-current a,
#cptch_settings_tabs_wrapper .ui-tabs-active a {
	color: #000 !important;
	background: #fff !important;
}
#cptch_settings_tabs_wrapper .ui-tabs-active a {
	width: 151px;
}
.cptch_form_tab {
	margin-left: 150px;
	padding: 15px;
	background: #fff;
}
#cptch_settings_tabs_wrapper .ui-tabs-panel {
	color: #444;
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	padding: 15px;
	width: calc( 100% - 150px );
}
#cptch_settings_tabs_wrapper .ui-tabs-panel a:not(.bws_button) {
    color: #0073aa;
}
#cptch_settings_tabs_wrapper .ui-tabs-panel a:not(.bws_button):hover {
    color: #00a0d2;
}
.cptch_form_tab_label {
	width: 100%;
	padding: 10px 20px 10px 10px;
	margin: -15px 0 15px -15px;
	box-sizing: content-box;
	line-height: 1.4em;
	font-size: 23px;
	font-weight: 400;
}
.cptch_enable_images_notice {
	margin-bottom: 14px;
}

/* The list of packages in the "Used Packages" option */
.cptch_tabs_package_list {
	position: relative;
	padding-right: 16px;
	display: inline-block;
	height: 200px;
	min-height: 200px;
	width: 280px;
	min-width: 280px;
	max-width: 500px;
}
.cptch_tabs_package_list ul {
	display: inline-block;
	width: 100%;
	margin: 0;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.cptch_tabs_package_list ul li:hover {
	background: #e0f1f8;
}
.cptch_tabs_package_list ul li {
	padding: 3px 5px 3px 9px;
	margin: 0;
	display: block;
}
.cptch_tabs_package_list ul li span {
	display: table-cell;
	vertical-align: middle;
}
.cptch_tabs_package_list ul img {
	width: 40px;
	height: auto;
	margin: 0 10px;
	border: 1px solid #ccc;
}
.cptch_tabs_package_list .ui-resizable-handle {
	bottom: -11px;
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	font-size: 24px;
	color: #ccc;
}
.cptch_tabs_package_list .ui-resizable-se {
	right: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: se-resize;
}
.cptch_tabs_package_list .ui-resizable-sw {
	left: -18px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	cursor: sw-resize;
}
.cptch_tabs_package_list_items li span:first-child {
	padding-left: 5px;
}
.cptch_tab_deactivated,
.cptch_tab_not_installed {
	color: #bbb !important;
}

/*
 * Whitelist tab
 */
.cptch_whitelist_form table td {
	vertical-align: top;
}
.cptch_whitelist_buttons .alignleft {
	margin-right: 10px;
}
.cptch_save_ip {
	margin-left: 10px;
}

/*
 * Packages tab
 */
.cptch_install_package_wrap {
	display: none;
}
.cptch_package_list .has-media-icon img {
	max-width: 40px;
	height: auto;
	vertical-align: top;
	margin: 0 9px 0 0;
	float: left;
}
.cptch_package_list .column-add_time {
	max-width: 150px;
}
.cptch_edit_package_form {
	margin-top: 10px;
	position: relative;
}
.cptch_colorpicker_table {
	vertical-align: middle;
	table-layout: fixed;
	width: 400px;
	box-sizing: border-box;
}
.cptch_colorpicker_table th {
	width: 100px;
}
.cptch_colorpicker_table td {
	width: 150px;
}
.cptch_colorpicker_table .wp-picker-holder,
.cptch_colorpicker_table .wp-picker-input-wrap {
	min-width: 130px;
	position: absolute;
	z-index: 2;
}
.cptch_use_settings * {
	line-height: 2.5;
	vertical-align: top;
}
#cptch_preview_wrap {
	text-align: center;
	border: 1px solid #ddd;
}
#cptch_preview_wrap img,
#cptch_preview_wrap svg {
	display: block;
	width: 40px;
	height: auto;
	margin: 15px auto 0 auto;
	cursor: pointer;
}
.cptch_package_color_picker .wp-picker-container {
	width: 120px;
}
.cptch_color_label {
	display: none;
}
.cptch_add_ons_link {
	display: inline-block;
	margin: 0 30px;
	text-decoration: none;
}

/*
 * Go Pro banners
 */
 .cptch_packages_banner {
    max-width: 100% !important;
    box-sizing: border-box;
}
#cptch_packages_list {
	margin: 15px 0;
}
#cptch_packages_list img {
    width: 40px;
    height: auto;
    float: left;
    margin: 0 9px 0 0;
}
.cptch_packages_banner .bws_pro_version_table_bloc {
    padding: 10px;
}
.cptch_packages_banner .bws_table_bg {
    top: 0;
    left: 0;
}
.cptch_packages_banner .column-add_time {
    max-width: 20px;
}
.cptch_packages_banner .cptch_install_package_wrap {
    display: block;
    padding: 0;
}
.cptch_packages_banner .cptch_install_package_wrap .wp-upload-form {
    margin-top: 0;
}
.cptch_add_ons_link {
    display: inline-block;
    position: relative;
    margin: 0 30px;
    text-decoration: none;
    z-index: 10;
}
.cptch_pro_block .bws_pro_version_tooltip {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    top: 5px;
}
.nav-tab.cptch_pro_tab,
#cptch_settings_slick .cptch_pro_tab,
#cptch_settings_tabs_wrapper .cptch_pro_tab,
#cptch_settings_slick .cptch_pro_tab a,
#cptch_settings_tabs_wrapper .cptch_pro_tab a {
	background: rgba(245, 225, 119, 0.3);
}
.cptch_pro_block .form-table {
	margin: 0 5px 5px;
}
.cptch_pro_block .bws_table_bg {
	top: 0px;
	left: 0px;
}
.cptch_pro_block .cptch_tabs_package_list_items {
	padding-top: 5px;
}
.cptch_tabs_package_list.cptch_pro_pack_tab ul {
	height: 140px;
}
/*
 * RTL styles
 */
.rtl .cptch_how_to_use {
	float: left;
}
.rtl .cptch_tabs_package_list {
	right: 0;
	padding-right: 0;
}
.rtl table.cptch_package_list .media-icon {
	float: right;
}
.rtl table.cptch_package_list .media-icon img {
	margin: 0 0 0 9px;
}
.rtl #cptch_settings_tabs_bg {
	left: auto;
	right: 0;
	border-right: none;
	border-left: 1px solid #ccc;
}
.rtl .cptch_form_tab {
	margin-left: 0px;
	margin-right: 150px;
}
.rtl .cptch_tabs_package_list_items li span:first-child {
	padding-left: 0;
	padding-right: 5px;
}

@media only screen and ( max-width: 1024px ) {
	#cptch_settings_form_block .form-table td  label {
		width: calc( 100% - 0.5em );
	}
	.cptch_tabs_package_list {
		max-width: 280px;
	}
	.cptch_tabs_package_list.ui-resizable {
		margin-bottom: 40px;
	}
	.cptch_tabs_package_list .ui-resizable-handle {
		width: 40px;
		height: 40px;
		font-size: 48px;
	}
	.cptch_tabs_package_list .ui-resizable-se {
		bottom: -40px;
		right: 8px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		cursor: ns-resize;
	}
	.rtl .cptch_tabs_package_list .ui-resizable-sw {
		bottom: -45px;
		left: 0;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		cursor: ns-resize;
	}
}

@media only screen and ( max-width: 782px ) {
	#cptch_whitelist_search p.search-box {
		position: static;
	}
	#cptch_whitelist .tablenav.top {
		display: none;
	}
	.cptch_how_to_use {
		float: none;
		text-align: left;
	}
	.cptch_save_ip {
		margin-left: 0;
	}
	#cptch_whitelist .column-ip_from,
	#cptch_whitelist .column-ip_to,
	#cptch_whitelist .column-add_time {
		display: none;
	}
	.cptch-below-nav-tab {
		display: none;
	}
	#cptch_install_package_form label {
		display: inline-block;
		margin-bottom: 10px;
	}
	.cptch_colorpicker_table,
	.cptch_colorpicker_table th,
	.cptch_colorpicker_table td {
		width: 100%;
		box-sizing: border-box;
	}
	.cptch_use_settings * {
		vertical-align: middle;
	}
	.cptch_color_table_header {
		display: none !important;
	}
	.cptch_package_color_picker td {
		width: 100%;
		text-align: left;
		vertical-align: top;
	}
	label.cptch_color_label {
		vertical-align: top;
		line-height: 1.5;
	}
	strong.cptch_color_label {
		margin-top: -2px;
		display: inline-block;
	}
	.wp-picker-active .cptch_color {
		display: inline !important;
		width: 80px !important;
	}
	#cptch_preview_wrap {
		padding-bottom: 20px;
	}
	#cptch_settings_slick {
		display: block;
	}
	#cptch_settings_tabs_wrapper {
		margin-top: 0;
		border-top: none;
	}
	#cptch_settings_tabs_wrapper .ui-tabs-panel {
		width: 100%;
	}
	#cptch_settings_tabs,
	#cptch_settings_tabs_bg {
		display: none;
	}
	.cptch_form_tab {
		margin: 0;
	}
	/*
	 * RTL styles
	 */
	.rtl .cptch_how_to_use {
		text-align: right;
	}
}

@media only screen and ( max-width: 480px ) {
	#cptch_whitelist .bulkactions {
		float: none;
	}
	#cptch_whitelist .tablenav-pages {
		display: block;
		margin-bottom: 10px;
		float: none;
		clear: both;
	}
	#cptch_whitelist .tablenav-pages .displaying-num {
		position: static;
	}
	.cptch_reload_button {
		margin: 0;
	}
	#cptch_whitelist .column-add_reason {
		display: none;
	}
	#cptch_preview_wrap {
		text-align: left;
		padding-left: 20px;
		padding-bottom: 20px;
	}
	#cptch_preview_wrap img,
	#cptch_preview_wrap svg {
		margin: 15px 0 0;
	}
	.cptch_add_ons_link {
		display: block;
		float: none;
		clear: both;
		margin: 10px 0;
	}
}
