.page-a .par .columncontrol .col-par-0 div.section {
  padding: 0px;
}

.page-a .par .columncontrol .col-par-1 div.section {
  padding: 15px;
}

.page-a .par .columncontrol .col-par-2 div.section {
  padding: 0 0 0 0;
}

