#sign-in-modal,
#register-modal,
#save-graph-modal,
#add-to-dashboard-modal {
    z-index: 9999;
}

#sign-in-modal .modal-content,
#register-modal .modal-content,
#save-graph-modal .modal-content,
#add-to-dashboard-modal .modal-content
{
    position: relative;
    margin-bottom: 27px;
    background-color: #ffffff;
    border-radius: 3px;
}
#sign-in-modal .modal-header,
#register-modal .modal-header,
#save-graph-modal .modal-header,
#add-to-dashboard-modal .modal-header
{
    position: relative;
    height: 52px;
    line-height: 49px;
    letter-spacing: 0.2px;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    padding: 0 8px;
    background: #fafafa;
    border: 1px solid #e2e2e2;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
#sign-in-modal .modal-header .close,
#register-modal .modal-header .close,
#save-graph-modal .modal-header .close,
#add-to-dashboard-modal .modal-header .close
{
    margin-top: 10px;
    font-size: 26px;
}
#sign-in-modal .modal-header p,
#register-modal .modal-header p,
#save-graph-modal .modal-header p,
#add-to-dashboard-modal .modal-header p
{
    margin-left:23px;
}
#sign-in-modal .modal-title,
#register-modal .modal-title,
#save-graph-modal .modal-title,
#add-to-dashboard-modal .modal-title
{
    padding-left: 6px;
    margin-top: 0;
    margin-bottom: 0;
}
#sign-in-modal .modal-header + .modal-body,
#register-modal .modal-header + .modal-body,
#save-graph-modal .modal-header + .modal-body,
#add-to-dashboard-modal .modal-header + .modal-body
{
    border-top: 0;
}
#sign-in-modal .modal-body + .modal-footer,
#register-modal .modal-body + .modal-footer,
#save-graph-modal .modal-body + .modal-footer,
#add-to-dashboard-modal .modal-body + .modal-footer
{
    border-top: 0;
}

#sign-in-modal .modal-body,
#register-modal .modal-body,
#save-graph-modal .modal-body,
#add-to-dashboard-modal .modal-body
{
    position: relative;
    padding: 15px;
    border: 1px solid #e2e2e2;
    height: auto;
    overflow: auto;
}
#sign-in-modal .modal-footer,
#register-modal .modal-footer,
#save-graph-modal .modal-footer,
#add-to-dashboard-modal .modal-footer
{
    padding: 10px 15px;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.sign-in-register-modal label, .sign-in-register-modal input, .sign-in-register-modal button, .sign-in-register-modal select, .sign-in-register-modal textarea
{
    margin: 0;
    font-size: 14px !important;
    font-weight: 400;
    color: #626262;
    outline: none;
}

.sign-in-register-modal strong {
    font-size: 14px !important;
}

.sign-in-register-modal .append-icon, .sign-in-register-modal .prepend-icon
{
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;

}

.sign-in-register-modal .prepend-icon > input, .sign-in-register-modal .prepend-icon > textarea
{
    padding-left: 36px;
}
.sign-in-register-modal .select, .sign-in-register-modal .gui-input, .sign-in-register-modal .gui-textarea, .sign-in-register-modal .select > select, .sign-in-register-modal .select-multiple select
{
    position: relative;
    vertical-align: top;
    border: 1px solid #DDD;
    display: -moz-inline-stack;
    display: inline-block;
    display: inline;
    color: #626262;
    outline: none;
    height: 42px;
    width: 100%;
    zoom: 1;
}

.sign-in-register-modal .gui-input, .sign-in-register-modal .gui-textarea
{
    padding: 10px;

}
.sign-in-register-modal .radio, .sign-in-register-modal .button, .sign-in-register-modal .tooltip, .sign-in-register-modal .checkbox, .sign-in-register-modal .gui-input, .sign-in-register-modal .input-footer, .sign-in-register-modal .notification, .sign-in-register-modal .gui-textarea, .sign-in-register-modal .select > select, .sign-in-register-modal .select-multiple select
{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    outline: none;

}
.sign-in-register-modal .prepend-icon .field-icon
{
    left: 0;
}
.sign-in-register-modal .append-icon .field-icon, .sign-in-register-modal .prepend-icon .field-icon
{
    top: 0;
    z-index: 4;
    width: 42px;
    height: 42px;
    color: inherit;
    line-height: 42px;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events: none;

}
.sign-in-register-modal label, .sign-in-register-modal input, .sign-in-register-modal button, .sign-in-register-modal select, .sign-in-register-modal textarea
{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #626262;
    outline: none;

}
.sign-in-register-modal .gui-textarea
{
    resize: none;
    line-height: 19px;
    overflow: auto;
    max-width: 100%;
    height: 96px;

}

.sign-in-register-modal label
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;

}
.sign-in-register-modal .btn-primary
{
    color: #ffffff;
}
.modal-body .btn-primary
{
    display:none;
}
.sign-in-register-modal .empty
{
    color: #626262!important;
}
.sign-in-register-modal .select option
{
    background: #fff;
    content: "&#xf107;";

}
.sign-in-register-modal .select .arrow:after, .sign-in-register-modal .select .arrow:before
{
    content: '';
    position: absolute;
    font: 12px "Consolas", monospace;
    font-style: normal;
    pointer-events: none;
    display: none\9;
    left: 5px;
}
.sign-in-register-modal .select {
    border: 0;
    z-index: 10;
    background: #FFF;
}
.sign-in-register-modal .select > select {
    display: block;
    z-index: 10;
    margin: 0;
    padding: 9px 10px;
    color: #626262;
    outline: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: #FFF;
    border: 1px solid #DDD;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;
}
.sign-in-register-modal .select:before,
.sign-in-register-modal .select:after {
    background: #FFF;
}
.sign-in-register-modal .select > select::-ms-expand {
    display: none;
}
.sign-in-register-modal .select .arrow {
    pointer-events: none;
    position: absolute;
    top: 9px;
    right: 4px;
    width: 24px;
    height: 24px;
    color: #9F9F9F;
    z-index: 100;
}
.sign-in-register-modal .select .arrow:after,
.sign-in-register-modal .select .arrow:before {
    content: '';
    position: absolute;
    font: 12px "Consolas", monospace;
    font-style: normal;
    pointer-events: none;
    display: none\9;
    left: 5px;
}
.sign-in-register-modal .select .arrow:before {
    content: '\25BC';
    bottom: 4px;
}
.sign-in-register-modal .select .double:after {
    content: '\25B2';
    top: -1px;
}
.sign-in-register-modal .select .double:before {
    content: '\25BC';
    bottom: -1px;
}

.sign-in-register-modal .field-icon {
    font-size: 14px !important;
    line-height: 42px !important;
    font-weight: normal;
}

.sign-in-register-modal span {
    font-weight: normal;
}

.sign-in-register-submit:hover {
    background: #476a9b !important;
}

meter {
    margin: 1em auto 1em;
    width: 100%;
    height: .5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}
meter[value="0.1"]::-webkit-meter-optimum-value { background: red; }
meter[value="1.1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2.1"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3.1"]::-webkit-meter-optimum-value { background: #2ea8e5;}
meter[value="4.1"]::-webkit-meter-optimum-value { background: #2ca05b; }

meter[value="0.1"]::-moz-meter-bar { background: red; }
meter[value="1.1"]::-moz-meter-bar { background: red; }
meter[value="2.1"]::-moz-meter-bar { background: orange; }
meter[value="3.1"]::-moz-meter-bar { background: #2ea8e5; }
meter[value="4.1"]::-moz-meter-bar { background: #2ca05b; }



/* SAVE GRAPH MODAL CATEGORIES */
#add-category-modal .category-group,
#save-graph-modal .category-group,
#add-to-dashboard-modal .category-group {
    width: 100%;
}

#add-category-modal .category-group.pad-left,
#save-graph-modal .category-group.pad-left,
#add-to-dashboard-modal .category-group.pad-left {
    padding-left: 10px;
}

#add-category-modal .category,
#save-graph-modal .category,
#add-to-dashboard-modal .category {
    padding: 5px;
    display: block;
}

#add-category-modal .category.selected,
#save-graph-modal .category.selected,
#add-to-dashboard-modal .category.selected {
    background-color: lightblue;
}

#add-category-modal .is-active:after,
#save-graph-modal .is-active:after,
#add-to-dashboard-modal .is-active:after {
    content: '\f058';
    font-family: 'FontAwesome';
    padding-left: 5px;
    color: #476a9b;
}

/* Hide the root category of the react-ui-tree component */
.category-tree .m-tree > .m-node > .inner {
    display: none;
}

.category-tree .m-tree > .m-node > .children {
    padding-left: 0 !important;
}

.category-tree .m-node > .inner > div {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #dedede;
}

.category-tree .node {
    cursor: pointer;
}

.category-tree .children .children .node:before {
    content: '\21b3';
    font-size: 1.1em;
    line-height: .5em;
    color: #777777;
    position: relative;
    top: 1px;
    padding-right: 2px;
}

.category-tree {
    margin-top: 10px;
    background-color: #f4f4f4;
    max-height: calc(100vh - 416px);
    overflow-y: scroll;
    border: 1px solid #dedede;
}

.modal-tab {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.modal-tab.active {
    border-bottom: 3px solid #476a9b
}

.text-center {
    text-align: center !important;
}

.category-parent-option:hover {
   cursor: pointer;
}