.rn_GuidedAssistant .rn_Node{position:relative;word-wrap:break-word;}
.rn_GuidedAssistant .rn_QuestionText, .rn_GuidedAssistant .rn_ResultHeading{clear:both;overflow:hidden;}
.rn_GuidedAssistant .rn_ChatLink{display:block;margin:2px 20px 0 80%;}
.rn_GuidedAssistant .rn_AgentText{background-color:#F4F4F4;border:1px solid #DDD;font-family:sans-serif;margin-top:10px;padding:4px 6px;}
.rn_GuidedAssistant .rn_AgentText em{font-style:normal;font-weight:bold;display:block;}
.rn_GuidedAssistant .rn_LinkQuestion label{cursor:pointer;}
.rn_GuidedAssistant .rn_TransparentScreenReaderOnly{opacity:0;position:absolute;left:0;}
.rn_GuidedAssistant .rn_ImageQuestion img{overflow:hidden;}
.rn_GuidedAssistant .rn_ImageQuestion div{display:inline-block;*display:inline;margin-bottom:16px;}
.rn_GuidedAssistant .rn_ImageQuestion label{cursor:pointer;display:inline-block;position:relative;zoom:1;}
.rn_GuidedAssistant .rn_ImageQuestion .rn_ImageCaption{bottom:0;font-weight:bold;left:10px;position:absolute;top:10px;text-shadow:0 1px 1px #FFF;width:100%;background: url(adff);}
.rn_GuidedAssistant .rn_ButtonQuestion button{margin: 0 6px 6px 0;padding: 2px 4px;}
@media print{.rn_GuidedAssistant .rn_Question{display:block;}
}
.rn_GuidedAssistant img{display:inline-block;max-width:500px;max-height:500px;padding:6px;}
.rn_GuidedAssistant .rn_Node{border-bottom:1px solid #DDD;margin-bottom:26px;padding-bottom:14px;}
.rn_GuidedAssistant .rn_QuestionText{margin:24px 0 10px;}
.rn_GuidedAssistant .rn_Result{margin:6px 0 10px;}
.rn_GuidedAssistant .rn_ResultHeading{line-height:1.6em;margin-bottom:10px;}
.rn_GuidedAssistant .rn_RadioQuestion div{margin-top:6px;position:relative;padding-left:25px;}
.rn_GuidedAssistant .rn_RadioQuestion input{position:absolute;left:0;border:none;}
.rn_GuidedAssistant .rn_ImageQuestion input{border:none;}
.rn_GuidedAssistant .rn_LinkQuestion div{margin-bottom:8px;}
.rn_GuidedAssistant .rn_LinkQuestion .rn_HighlightResponse a{color:#FFF;background-color:#0E53A7;}
.rn_GuidedAssistant .rn_ButtonQuestion .rn_HighlightResponse{font-weight:bold;}
.rn_GuidedAssistant .rn_ButtonQuestion .rn_HighlightResponse.rn_SelectedButton{background-position: 0px -40px;border:1px solid #333;color:#FCFCFC;}
.rn_GuidedAssistant .rn_TextQuestion .rn_Label, .rn_GuidedAssistant .rn_TextQuestion button{display:block;margin-top:6px;}
.rn_GuidedAssistant .rn_TextQuestion input{width:200px;}
.rn_GuidedAssistant .rn_ResultLink a{display:block;}
.rn_AnswerFeedbackDialog{max-width:375px;}
.rn_AnswerFeedbackDialog .rn_AnswerFeedbackForm .rn_EmailField, .rn_AnswerFeedbackDialog label[for*='EmailInput']{display: none;}
.yui3-skin-sam .yui3-panel .yui3-widget-hd, .yui3-skin-sam .rn_AnswerFeedbackDialog .yui3-widget-hd{color: #000;background: #e5e5e5;}
.yui3-skin-sam .yui3-panel .yui3-widget-ft{background: #fff;}
.rn_AnswerFeedbackDialog .yui3-button-close{display: none;}
.rn_AnswerFeedbackDialog [id*="rn_Dialog"]{color: #000;font-family: 'TradeGothicW01-BoldCn20 675334', Helvetica, Arial, sans-serif;}
.rn_AnswerFeedbackControl .rn_Title{line-height: 1.4em;font-weight: normal;font-family: 'TradeGothicW01-BoldCn20 675334',Helvetica, Arial, sans-serif;text-transform: uppercase;font-style: italic;font-size: 16px;color: #111;}
.rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCell{background:url(../themes/gethelp/images/RatingStars.png) 0 0 no-repeat;display: -moz-inline-box;display: inline-block;height: 18px;margin: 4px 0;text-decoration: none;width: 20px;}
.rn_HighContrastMode .rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCell:before{content: "\2606";}
.rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCellOver{background-position:0px -18px;cursor:pointer;}
.rn_HighContrastMode .rn_AnswerFeedback .rn_RatingMeter a.rn_RatingCellOver:before{content: "\2605";}
.rn_AnswerFeedbackForm .rn_DialogSubtitle{margin-bottom: 6px;text-align: left;font-size: 12px;margin-top: 8px;}
.rn_AnswerFeedbackForm label{clear:left;display:block;font-size: 14px;}
.rn_AnswerFeedbackForm .rn_EmailField{clear:left;display:block;margin-bottom:1em;width:200px;}
.rn_AnswerFeedbackForm .rn_Textarea{clear:left;display:block;margin-bottom:1em;width:100%;}
.yui3-skin-sam .rn_AnswerFeedbackDialog .yui3-widget-ft{background: #fff;}
@media print{.rn_AnswerFeedback{display:none;}
}
.rn_ConditionalAnswerFeedback.rn_AnswerFeedback{}
.rn_GSPreviousAnswers.rn_PreviousAnswers{}
.rn_AnswerDetailSidebar{}
.rn_FileListDisplay .rn_DataLabel{float:left;font-weight:bold;}
.rn_FileListDisplay .rn_DataValue{margin-left:180px;}
.rn_FileListDisplay .rn_DataValue ul{clear:none;}
.rn_FileListDisplay .rn_DataValue.rn_LeftJustify{clear:left;margin-left:0;padding-bottom:.5em;}
.rn_FileListDisplay .rn_FileSize{font-style:italic;padding-left:4px;}
.rn_ProductCategoryDisplay .rn_DataLabel{float:left;font-weight:bold;}
.rn_ProductCategoryDisplay .rn_DataValue{margin-left:180px;}
.rn_ProductCategoryDisplay .rn_DataValue ul{clear:none;}
.rn_ProductCategoryDisplay .rn_DataValue.rn_LeftJustify{clear:left;margin-left:0;padding-bottom:.5em;}
.rn_IncidentThreadDisplay .rn_ThreadContent{word-wrap:break-word;}
.rn_IncidentThreadDisplay p.MsoNormal, .rn_IncidentThreadDisplay li.MsoNormal, .rn_IncidentThreadDisplay div.MsoNormal{margin:0;}
.rn_IncidentThreadDisplay p.MsoListParagraph, .rn_IncidentThreadDisplay li.MsoListParagraph, .rn_IncidentThreadDisplay div.MsoListParagraph{margin: 0 0 0 48px;}
.rn_IncidentThreadDisplay .rn_ThreadHeader{background-color:#EEE;border: 1px solid #CCC;text-shadow: 0px 1px 1px #FFF;font-size:1.083em;font-weight:bold;padding:0.25em;position:relative;}
.rn_IncidentThreadDisplay .rn_ThreadHeader .rn_ThreadTime{position:absolute;right:1em;}
.rn_IncidentThreadDisplay .rn_ThreadHeader.rn_Customer{background-color:#CCC;}
.rn_IncidentThreadDisplay .rn_ThreadContent{background-color:#FFF;border:1px solid #DDD;border-width:0 1px 1px;color:#404040;font-size:1em;margin-bottom:0px;overflow:hidden;padding:1em 10px;}
@media print{.rn_IncidentThreadDisplay .rn_ThreadContent{overflow:visible;}
.rn_IncidentThreadDisplay .rn_ThreadHeader{*overflow: hidden;}
.rn_IncidentThreadDisplay .rn_ThreadTime{*float: right;*position: static;}
.rn_IncidentThreadDisplay .rn_ThreadAuthor{*float: left;}
}
.rn_FieldDisplay .rn_DataLabel{float:left;font-weight:bold;}
.rn_FieldDisplay .rn_DataValue{margin-left:180px;word-wrap:break-word;}
.rn_FieldDisplay .rn_DataValue.rn_LeftJustify{clear:left;margin-left:0;padding-bottom:.5em;}
