/* UA Global CSS */

/* UA Overrides */
body {
    color: #333;
    font-size: 1.25rem;
}

html[data-device-type="mobile"] p, p {
    margin: 1em 0;
    padding-top: 0.0625rem;
    padding-bottom: 0.0625rem;
    color: #333;
    font-size: 1.25rem;
}

html[data-device-type="mobile"] #print_pic, html[data-device-type="mobile"] #print {
    display: none;
}

html[data-device-type="mobile"] h1, h1 {
    font-size: 2.35rem;
}

html[data-device-type="mobile"] h2, h2 {
    font-size: 2.15rem;
}

html[data-device-type="mobile"] h3, h3 {
    font-size: 1.95rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

ol[type="disc"],[list-style-type="disc"] {
    list-style-type: disc;
    margin-bottom: 1rem;
    margin-left: 2rem;
    color: #333;
}

ol[type="a"],[list-style-type="lower-alpha"] {
    list-style-type: lower-alpha;
    margin-bottom: 1rem;
    margin-left: 2rem;
    color: #333;
}

ol[type="i"],[list-style-type="lower-roman"] {
    list-style-type: lower-roman;
    margin-bottom: 1rem;
    margin-left: 2rem;
    color: #333;
}

ol {
    list-style-type: decimal;
    margin-bottom: 1rem;
    margin-left: 2rem;
    color: #333;
}

li {
    margin-top: 1rem;
    font-size: 1.25rem;
}

.list-sort-nobullet {
    list-style-type: none;
}

ul[type="disc"],[list-style-type="disc"], ul {
    list-style-type: disc;
    margin-bottom: 1rem;
    margin-left: 2rem;
    color: #333;
}

/* UA CSS table class for user agreement tables.*/
table.ua_table {
    border:1px solid #000;
    border-collapse:separate;
    width:auto
}

.ua_table table {
    border:1px solid #000;
    border-collapse:separate;
    width:auto;
    margin: 0.25em 0.0625rem;
}

.ua_table th {    
    border:1px solid #000;
    padding:0 0.1875rem;
    text-align:center;
    vertical-align:middle
}

.ua_table td {
    border:1px solid #000;
    padding:0 0.1875rem;
    text-align:inherit;
    vertical-align:middle
}

.ua_table td > p, .ua_table p {
    margin:0.0625rem;
    padding:0 0.1875rem;
}

.ua_legalhub_div {
    padding:0.3125em
}

/* TOC list CSS Class */
.toc_list
{
    list-style-type: none;
    margin-bottom: 0;
}

/* Remove margins for proper print view */
@page {
    margin: 0;
}

