@CHARSET "ISO-8859-1";
.chpcs_clearfix {
	float: none;

	clear: both;
}

/*read more text */
.chpcs_more {

	font-size:11px;"
}

.chpcs_foo_con {

	clear: left;

	font-weight:normal;

	font-style:normal;

	height:auto;

	overflow: hidden;

	margin-bottom: 8px;
}

/* Post title */
.chpcs_title {

	clear: both;

	height: auto;

	overflow: hidden;

	display: block;
}

.chpcs_image_carousel {

	position: relative;

	width: auto;

	padding: 15px 10px 15px 10px;

}

/*  image of posts on slider */
.chpcs_foo_content .chpcs_img {

    display: block;

    margin: auto;

}

.chpcs_foo_content {

	position: relative;

    height: auto;

    padding: 5px;

    margin: 6px;

    display: block;

    float: left;

 	text-align: center;
}

/**************** slider controllers - horizontal ****************/
.chpcs_image_carousel .chpcs_prev, .chpcs_image_carousel .chpcs_next {

	z-index: 250;	

	font-weight: normal;

	text-align: center;

	text-decoration: none;

	display: block;

	position: absolute;

	top: 50%;

	z-index: 4;

}

.chpcs_image_carousel .chpcs_prev {

	background-position: 0 0;

	left: -0px;

}
			
.chpcs_image_carousel .chpcs_next {

	background-position: -18px 0;
	
	right: -0px;

}

/**************** Pagination controls ****************/
.chpcs_image_carousel .chpcs_pagination {

	text-align: center;
	margin: 0 auto;
	margin: 20px;

}
.chpcs_image_carousel .chpcs_pagination a {

	text-decoration: none;
	text-indent: -999px;
	display: inline-block;
	overflow: hidden;
	width: 8px;
	height: 8px;
	margin: 0 5px 0 0;
	z-index: 250;	
	cursor: pointer;
	opacity: 0.5;

}
.chpcs_image_carousel .chpcs_pagination a.selected {

	text-decoration: underline;	
	zoom: 1;
	opacity: 1;

}

/* disable direction arrows */
.chpcs_prev.disabled, .chpcs_prev.disabled,.chpcs_next.disabled, .chpcs_next.disabled {

	color: #865;
	opacity: 0;
	cursor: default;

}