/* Tabs */
.style-simple .ui-tabs { border: 0; }
.style-simple .ui-tabs .ui-tabs-panel { background: none; }
.style-simple .ui-tabs .ui-tabs-nav { background: none; text-align: center; }
.style-simple .ui-tabs .ui-tabs-nav li { border: 0; display: inline-block; float: none; }
.style-simple .ui-tabs .ui-tabs-nav li.ui-state-active a,
.style-simple .ui-tabs .ui-tabs-nav li.ui-tabs-selected:after,
.style-simple .ui-tabs .ui-tabs-nav li.ui-state-active:after { background-color: transparent; }
.style-simple .ui-tabs .ui-tabs-nav li.ui-tabs-selected a:after,
.style-simple .ui-tabs .ui-tabs-nav li.ui-state-disabled a:after,
.style-simple .ui-tabs .ui-tabs-nav li.ui-state-processing a:after,
.style-simple .ui-tabs .ui-tabs-nav li.ui-state-active a:after { bottom: -1px; height: 2px; margin-left: -50%; width: 100%; }

.style-simple .tabs_vertical.ui-tabs .ui-tabs-panel { border-width: 0 0 0 1px !important; }
.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav { border: 0; }
.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:after,
.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav li.ui-state-disabled a:after,
.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav li.ui-state-processing a:after,
.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav li.ui-state-active a:after { display: block; width: 2px; height: 100%; right: -1px; top: 0; bottom: auto; left: auto; margin: 0; }
.style-simple .tabs_vertical.ui-tabs .ui-tabs-nav li a { background: none; text-align: right; padding-right: 20px !important; padding-left: 10px !important; }


/* Accordion & Toggle */
.style-simple .accordion .question { border-width: 0 0 0 1px; border-radius: 0; position: relative; margin-bottom: 0px; }
.style-simple .accordion .question:after { content: ""; display: none; width: 2px; height: 100%; position: absolute; left: 0px; top: 0; background-color: #ccc; }
.style-simple .accordion .question.active:after { display: block; }
.style-simple .accordion .question .title { background: none; padding-left: 50px; border: 0; }
.style-simple .accordion .question .title:before { display: none; }
.style-simple .accordion .question .answer { background: none; padding: 0 20px 10px 50px; }

/* FAQ */
.style-simple .faq .question { border-width: 0 0 0 1px; border-style: solid; margin-bottom: 0px; position: relative; background: none; }
.style-simple .faq .question:before { display: none; }
.style-simple .faq .question:after { content: ""; display: none; width: 2px; height: 100%; position: absolute; top: 0; background-color: #ccc; }
.style-simple .faq .question .title,
.style-simple .faq .question .answer { padding-left: 70px; }
.style-simple .faq .question.active:after { display: block; }

/* Table */
.style-simple table th { background: none; }
.style-simple table tr:first-child td { background: none; }
.style-simple table tr:hover td { background: none; color: inherit; }
.style-simple table th,
.style-simple table td { border-width: 0 1px 1px 0; }
.style-simple table tr td:last-child,
.style-simple table tr th:last-child { border-right: 0; }
.style-simple table tr:last-child td { border-bottom: 0; }
.style-simple table tr:nth-child(2n) td { background: none; }

/* Opening hours */
.style-simple .opening_hours { padding: 0; border: 0; background-color: transparent; }
.style-simple .opening_hours .opening_hours_wrapper li { padding-bottom: 0; border: 0; margin-bottom: 0; }
.style-simple .opening_hours .opening_hours_wrapper li { text-align: left; }
.style-simple .opening_hours .opening_hours_wrapper li label { background-color: transparent; background-image: none; font-size: 15px; border-bottom: 1px solid #ccc; padding: 10px 0; border-radius: 0; }
.style-simple .opening_hours .opening_hours_wrapper li span { font-size: 32px; line-height: 32px; padding: 10px 0; }
.style-simple .opening_hours .opening_hours_wrapper li span sup { top: -1px; font-size: 16px; line-height: 16px; margin-left: 4px; }

/* Icon box */
.style-simple .icon_box .image_wrapper,
.style-simple .icon_box .icon_wrapper { padding-top: 5px; margin-bottom: 25px; }
.style-simple .icon_box .icon_wrapper { font-size: 80px; background-color: transparent; box-shadow: 0 0 0 0 rgba(0,0,0,.0); border-width: 0px; background-image: none; -webkit-transform: scale(1) !important; -moz-transform: scale(1) !important; -ms-transform: scale(1) !important; -o-transform: scale(1) !important; transform: scale(1) !important; }
.style-simple .icon_box .icon_wrapper:before { display: none; }
.style-simple .icon_box .icon_wrapper i { position: relative; top: 0; }
.style-simple .icon_box .image_wrapper img { position: relative; top: 0; }
.style-simple .icon_box .desc_wrapper h4 { margin-bottom: 20px; }
.style-simple .icon_box .desc_wrapper h4:before { content: ""; display: block; width: 0px; margin: 0 auto; height: 2px; top: -15px; position: relative; background-color: #ccc; }

.style-simple .icon_box:hover .icon_wrapper i { top: -5px; }
.style-simple .icon_box:hover .image_wrapper img { top: -5px; }
.style-simple .icon_box:hover .desc_wrapper h4:before { width: 100px; }

	/* Animation */
	.style-simple .icon_box .icon_wrapper i,
	.style-simple .icon_box .image_wrapper img,
	.style-simple .icon_box .desc_wrapper h4:before { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
	
/* Filters */
.style-simple #Filters { text-align: center; }
.style-simple #Filters .filters_buttons { background:none; padding:15px 0;}
.style-simple #Filters .filters_wrapper { margin-top:0;}
.style-simple #Filters .filters_wrapper ul { overflow: visible; display: inline-block; border-bottom-width: 1px; border-style: solid; }
.style-simple #Filters .filters_wrapper ul li { float: none; width: auto; display: inline-block; margin: 0; }
.style-simple #Filters .filters_wrapper ul li a { background: none; border: 0; padding: 14px 25px; position: relative; }
.style-simple #Filters .filters_wrapper ul li a:after { content: ""; display: none; position: absolute; left: 0; bottom: -1px; width: 100%; height: 2px; background: #ccc; }
.style-simple #Filters .filters_wrapper ul li.close a { color: inherit; padding: 14px 15px; width: auto; border:0 !important; }
.style-simple #Filters .filters_wrapper ul li a:hover,
.style-simple #Filters .filters_wrapper ul li.current-cat a { background: none; color: inherit; }
.style-simple #Filters .filters_wrapper ul li.current-cat a:after { display: block; }

/* Clients */
.style-simple ul.clients.clients_tiles li .client_wrapper::after { display: none; }


/* Progress bars */
.style-simple .progress_bars .bars_list li .bar,
.style-simple .progress_bars .bars_list li .bar .progress { height: 5px; }
.style-simple .progress_bars .bars_list li .bar { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset; background: rgba(0, 0, 0, 0.03); border-radius: 0; }
.style-simple .progress_bars .bars_list li .bar .progress { background-image: none; }

/* Counters */
.style-simple .counter { background-image: none; }

/* Lists */
.style-simple .list_item.lists_1 .list_left { background-image: none; border-radius: 2px; box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset; }
.style-simple .list_item .circle { background-image: none; box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset; }

/* Blockquote */
.style-simple blockquote { background: none; line-height: 25px; font-style: italic; }
.style-simple blockquote:after { display: none; }

/* Testimonials slider */
.style-simple .testimonials_slider .testimonials_slider_ul li .bq_wrapper { padding-top: 0; padding-bottom: 0; background: none; text-align: center; }
.style-simple .testimonials_slider .slider_images { background-color: transparent; }
.style-simple .testimonials_slider .slider_images:before { display: none; }

/* Article box */
.style-simple .article_box .desc_wrapper { background-image: none; }
.style-simple .article_box .desc_wrapper p { border-bottom-width: 0px; margin-bottom: 0; padding-bottom: 10px; }
.style-simple .article_box .desc_wrapper p:after { background-color: rgba(0,0,0,.1); content: ""; display: block; height: 2px; margin-top: 10px; width: 20px; }
.style-simple .article_box:hover .desc_wrapper p:after { width: 40%; }
.style-simple .article_box .desc_wrapper i.icon-right-open { display: none; }

	.style-simple .article_box .desc_wrapper p:after { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
	
/* Idea box */
.style-simple .idea_box { padding: 0; border: 0; background: none; }
.style-simple .idea_box .icon { display: block; position: static; float: left; left: 0; top: 0; margin-top: 0; width: 60px; text-align: center; margin-top: 5px; }
.style-simple .idea_box .desc { border-left: 1px solid rgba(0, 0, 0, 0.08); padding: 10px 15px 10px 20px; margin-left: 60px; }

/* Sliding box */
.style-simple .sliding_box .photo_wrapper { top: 0; }
.style-simple .sliding_box .desc_wrapper { background: none; padding-left: 0; padding-right: 0; }
.style-simple .sliding_box .desc_wrapper h4 { color: inherit; margin-bottom: 5px; }
.style-simple .sliding_box .desc_wrapper:after { display: inline-block; content: ""; width: 20%; height: 2px; border: 0; background-color: rgba(0,0,0,.1); position: static; top: 0; margin: 0; }
.style-simple .sliding_box:hover .desc_wrapper:after { width: 60%; }

/* Trailer box */
.style-simple .trailer_box {}
.style-simple .trailer_box .desc { padding: 27px 15px 30px; }
.style-simple .trailer_box .desc .line { display: none; }
.style-simple .trailer_box .desc .subtitle { background-image: none; background-color: transparent; color: rgba(255,255,255,.7); margin-bottom: 10px; padding: 0; }
.style-simple .trailer_box:hover .desc h2 { bottom: 0px;}
.style-simple .trailer_box:hover .desc .subtitle { bottom: 0px; }

	/* Animation */
	.style-simple .trailer_box .desc { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
	
	
/* Timeline */
.style-simple .timeline_items { background: none; }
.style-simple .timeline_items:after { display: none; }
.style-simple .timeline_items li { width: 50%; padding: 0 0 0 50%; background: none; margin-bottom: 15px !important; }
.style-simple .timeline_items li:nth-child(even) { padding: 0 50% 0 0; background: none; }
.style-simple .timeline_items li h3 span { background: none !important; border-radius: 4px; font-size: 14px; font-style: italic; top: 22px; }
.style-simple .timeline_items li h3:before { display: none; }
.style-simple .timeline_items li .desc:before { display: none; }

.style-simple .timeline_items li h3 { border-left: 2px solid rgba(0, 0, 0, 0.08); margin: 0; padding: 15px 0 0 25px; width: 100%; box-sizing: padding-box; }
.style-simple .timeline_items li h3 span { position: absolute; right: 52%; }

.style-simple .timeline_items li:nth-child(even) h3 { padding: 15px 25px 0 0; text-align: right; border-left: 0; border-right: 2px solid rgba(0, 0, 0, 0.04);  }
.style-simple .timeline_items li:nth-child(even) h3 span { left: 52%; right: auto; }

.style-simple .timeline_items li .desc { border-left: 2px solid rgba(0, 0, 0, 0.08); padding: 15px 0 15px 25px; background: none; width: 100%; box-sizing: padding-box; }
.style-simple .timeline_items li:nth-child(even) .desc { padding: 15px 25px 15px 0; border-left: 0; border-right: 2px solid rgba(0, 0, 0, 0.04); }

	/* Animation */
	.style-simple .timeline_items li:hover h3,
	.style-simple .timeline_items li:nth-child(even):hover h3, 
	.style-simple .timeline_items li:hover .desc,
	.style-simple .timeline_items li:nth-child(even):hover { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
	
/* Quick fact */
.style-simple .quick_fact .number-wrapper { font-family: inherit; font-size: 60px; line-height: 60px; }
.style-simple .quick_fact .title { font-family: inherit; font-size: 18px; font-weight: 400; }
.style-simple .quick_fact hr { display: none; }

/* Chart box */
.style-simple .chart_box:before { background-color: transparent; background-image: none; border-width: 0; }
.style-simple .chart_box .chart .num { font-family: inherit; font-size: 30px; }

/* Content link */
.style-simple a.content_link { border-width: 0 0 2px; margin: 0 10px; background-color: transparent; background-image: none; }
.style-simple a.content_link:after { border-width: 0 0 2px; bottom: -2px; }
.style-simple a.content_link:before { border-width: 0 5px 6px; }

/* How it works */
.style-simple .how_it_works .image { border-width: 0 0 2px; background: transparent; border-radius: 0; margin-bottom: 30px; }
.style-simple .how_it_works .image .number { border-radius: 0; bottom: -17px; left: 50%; margin-left: -17px; box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset; }
