.corp-page h5{color:#74c005}
.corp-page h1{color:#444}
.advisory-board ul.zsg-list_square{margin-left:3em}
.advisory-board ul.zsg-list_square li{line-height:200%}
.who-we-are .zsg-media-img{text-align:center;width:100px}
#zmap{width:140px;height:130px;position:relative;background-color:#ccc;overflow:hidden}
.directions{margin-right:30px}
.termbox{width:400px;border:1px solid black;text-align:left;margin:0 auto;padding:10px}
.alphabet li{list-style-type:lower-alpha}
.terms li{margin-bottom:15px}
@media screen and (max-width:768px){.advisory-board h3{padding-top:43px;margin-top:-43px}
}
@media screen and (max-width:480px){.termbox{width:auto}
}
.zsg-theme-classic .directors h3,.zsg-theme-classic .partner-relations h3,.zsg-theme-classic .who-we-are h3,.zsg-theme-classic .advisory-board h3,.zsg-theme-classic .about h3{color:#fd8602}
.zsg-theme-classic .directors h4,.zsg-theme-classic .partner-relations h4,.zsg-theme-classic .who-we-are h4,.zsg-theme-classic .advisory-board h4,.zsg-theme-classic .about h4{color:#5d9900}
.zsg-theme-classic .advisory-board .brokage-name{color:#444}