.act-auth-container .user-account .continue,.act-auth-container .user-account .extension,.act-auth-container .user-account .module-footer,.act-auth-container .user-account .module-separator,.act-auth-container .user-account .submit-div{text-align:center}
@-webkit-keyframes zsgLoaderSpin{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes zsgLoaderSpin{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.act-auth-container .user-account{margin:0 auto;width:100%}
@media screen and (max-width:480px){.act-auth-container .user-account{max-width:100%}
}
.act-auth-container .user-account .module-forgot-password,.act-auth-container .user-account .module-redirect,.act-auth-container .user-account .module-terms-of-use{padding:8px}
.act-auth-container .user-account .zsg-form-field{position:relative}
.act-auth-container .user-account input{height:38px}
.act-auth-container .user-account input[type=submit]{width:100%}
.act-auth-container .user-account .continue a,.act-auth-container .user-account .continue label,.act-auth-container .user-account .extension a,.act-auth-container .user-account .extension label,.act-auth-container .user-account .module-separator a,.act-auth-container .user-account .module-separator label{line-height:38px}
.act-auth-container .user-account .phone-label{padding:0 0 0 10px;line-height:38px}
.act-auth-container .user-account.passwordless-auth{width:auto;max-width:520px}
@media only screen and (max-width:520px){.act-auth-container .user-account.passwordless-auth{max-width:100%}
}
.act-auth-container .user-account.streamlined-agent{width:560px}
.act-auth-container .user-account.streamlined-agent .module-wrap{padding:20px;box-shadow:0 1px 2px #ddd;box-shadow:0 1px 2px rgba(0,0,0,.3)}
.act-auth-container .user-account.sem-lightbox .module-right{padding:20px;border:1px solid #ddd}
.act-auth-container .user-account.sem-lightbox .module-forgot-password{padding:0;line-height:1em}
.act-auth-container .user-account .bold-search-label{font-weight:700}
.act-auth-container .user-account .save-search-freq>label{margin-right:1rem;display:inline-block}
.act-auth-container .user-account .save-search-freq .zsg-list_inline{display:inline-block}
.act-auth-container .user-account .save-search-option-label.sms{margin-top:5px}
@media screen and (max-width:480px){.act-auth-container .user-account .submit-div{width:100%}
}
@media screen and (max-width:768px){.act-auth-container .user-account .save-search-option-label.sms,.act-auth-container .user-account .sms-phone-number{margin-left:15px}
}
.act-auth-container .user-account .sem-auth-header-image{width:100%}
.act-auth-container .user-account .sem-auth-header-image img{width:100%;margin-bottom:15px}
.act-auth-container .user-account .async-validator-feedback{position:absolute;text-indent:-9999px;top:5px;right:10px;background-position:right 10px}
@media only screen and (min-width:448px){.act-auth-container .user-account .zsg-lg-1-2.zsg-sm-1-1{width:50%}
.act-auth-container .user-account .zsg-lg-1-5.zsg-sm-1-1{width:20%}
.act-auth-container .user-account .zsg-lg-2-5.zsg-sm-1-1{width:40%}
.act-auth-container .user-account .zsg-lg-3-5.zsg-sm-1-1{width:60%}
.act-auth-container .user-account h2{font-size:28px;line-height:1.3;font-weight:700}
.act-auth-container .user-account .continue{text-align:left}
}
@media only screen and (max-width:447px){.act-auth-container .user-account .phone-label{width:28%}
.act-auth-container .user-account .sm-hide{display:none}
.act-auth-container .user-account .continue a,.act-auth-container .user-account .continue label,.act-auth-container .user-account .module-separator a,.act-auth-container .user-account .module-separator label{line-height:1}
}
.act-auth-container .user-account.login input[readonly],.act-auth-container .user-account.register input[readonly]{background-color:#EEE;border-color:#CCC;box-shadow:none;color:#CCC;cursor:default;opacity:1}
.inline-auth .user-account{width:auto;min-width:375px;max-width:448px;padding:20px}
@media only screen and (max-width:448px){.inline-auth .user-account{min-width:300px;max-width:100%}
}
.inline-auth .user-account.save-search{max-width:645px}
.inline-auth .user-account.passwordless-auth{max-width:520px}
@media only screen and (max-width:520px){.inline-auth .user-account.passwordless-auth{max-width:100%}
}
.inline-auth .user-account.sem-lightbox{max-width:645px}
.inline-auth .user-account.save-image-digs-lightbox{min-width:457px;padding:0}
.login-success .login-success_hide{display:none}
@media screen and (min-width:481px){.login-success .submit-div .zsg-button_primary{width:75%}
}
.sms-tooltip-launch{margin-top:10px}
.sms-phone-form{margin-right:7px;width:auto}
.sms-phone-form-large{width:auto}
#website-reg-steps ol.zsg-steps li>a{padding-left:20px;padding-right:20px;word-spacing:normal}
[class^=zsg-button]{margin-bottom:0}
[class^=zsg-button] input{border:none;background:inherit}
.act-auth-container .submit-div{padding:0}
@media screen and (max-width:480px){.act-auth-container .do-this-later{padding:10px 0 0}
}
.module-footer{padding:15px 0 8px;text-align:center}
.module-footer.line-bottom{margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #ccc}
.module-footer.line-left{margin-left:15px;padding-left:15px;border-left:1px solid #ccc}
.module-footer.line-right{margin-right:15px;padding-right:15px;border-right:1px solid #ccc}
.act-50-social-on-top .social-text:before,.module-footer .view-toggle-msg{margin-right:4px}
.module-footer.line-top{margin-top:15px;padding-top:15px;border-top:1px solid #ccc}
.module-footer.line-none{padding-top:0}
.module-footer .btn-email.hidden~.zsg-form{margin-bottom:15px;text-align:left}
.module-footer .outer-fineprint{padding:8px 0}
.social-logins .btn-social-connect{display:inline-block}
.social-logins .social-error-msg{color:#c00}
.social-logins .social-icon-google-g,.social-logins .zsg-icon-facebook,.social-logins .zsg-icon-google-plus{margin-left:10px;font-size:30px}
.social-logins .social-icon-google-g{vertical-align:-2px}
.social-logins .social-icon-google-g:hover{border-color:#999}
.social-logins .zsg-icon-google-plus,.social-logins .zsg-icon-google-plus:visited{color:#DD4B39}
.social-logins .zsg-icon-google-plus:hover{color:#E47365}
.social-logins .zsg-icon-facebook,.social-logins .zsg-icon-facebook:visited{color:#3B5998}
.social-logins .zsg-icon-facebook:hover{color:#4C70BA}
.user-account .fb-button{background:0 0}
iframe[src^="https://apis.google.com/u/0/_/widget/oauthflow/toast"]{display:none}
.act-50-social-on-top .btn-social-connect{position:relative;margin-bottom:15px;padding:.7em .67em;font-size:1.2rem;display:block}
.act-50-social-on-top .btn-social-connect.hidden,.professional.pro-type-0 .community-pillar-field,.professional.pro-type-0 .phone-label,.professional.pro-type-1 .community-pillar-field,.professional.pro-type-1 .phone-ext-field,.professional.pro-type-10 .community-pillar-field,.professional.pro-type-10 .phone-label,.professional.pro-type-11 .community-pillar-field,.professional.pro-type-11 .phone-label,.professional.pro-type-2 .community-pillar-field,.professional.pro-type-2 .name-fields,.professional.pro-type-2 .phone-fields,.professional.pro-type-2 .phone-label,.professional.pro-type-3 .community-pillar-field,.professional.pro-type-3 .phone-label,.professional.pro-type-4 .phone-label,.professional.pro-type-5 .phone-label,.professional.pro-type-6 .community-pillar-field,.professional.pro-type-6 .phone-label,.professional.pro-type-7 .community-pillar-field,.professional.pro-type-7 .phone-label,.professional.pro-type-8 .community-pillar-field,.professional.pro-type-8 .phone-label,.professional.pro-type-9 .community-pillar-field,.professional.pro-type-9 .phone-label{display:none}
.act-50-social-on-top .social-logo{position:absolute;left:20px;padding-top:.2em}
.act-50-social-on-top .social-error-msg{text-align:center;color:#c00}
.act-50-social-on-top.login .social-text:before{content:"Sign in with"}
.act-50-social-on-top.register .social-text:before{content:"Sign up with"}
.act-50-social-on-top .btn-google-plus{background:#fff;color:#666;border-color:#ccc}
.act-50-social-on-top .btn-google-plus:hover,.act-50-social-on-top .btn-google-plus:visited{background:#fff}
.act-50-social-on-top .btn-google-plus:hover{color:#444;border-color:#999}
.act-50-social-on-top .btn-facebook{background:#3B5998;color:#fff}
.act-50-social-on-top .btn-facebook:visited{background:#3B5998}
.act-50-social-on-top .btn-facebook:hover{background:#4C70BA}
.async-validator-feedback{color:#999;display:inline;margin-left:-15px;position:absolute;background-repeat:no-repeat;background-position:0 3px;line-height:30px}
.async-validator-feedback.invalid,.async-validator-feedback.valid{font-weight:700;padding-left:20px}
.async-validator-feedback.valid{color:#87d300;background-image:url(/static/images/icon_checkmark.gif)}
.async-validator-feedback.invalid{color:#c00;background-image:url(/static/images/icon_negative-x.gif)}
.act-auth-lightbox{-webkit-overflow-scrolling:auto!important}
.act-auth-lightbox.mobile-scroll-override{-webkit-overflow-scrolling:touch!important}
.act-auth-lightbox .user-account{padding:20px}
.act-auth-lightbox.yui3-lightbox-mask.hidden,.act-auth-lightbox.yui3-lightbox.hidden{display:none!important}
.act-auth-lightbox .yui3-lightbox-content .lightbox-body{padding:0}
.digs .auth-lightbox:not(.faux-hidden) .yui3-lightbox-content .lightbox-body{display:block}
@media screen and (max-width:767px){.act-auth-lightbox .yui3-lightbox-content{margin:0;padding-top:30px;border:none;box-shadow:none;max-width:none!important;min-height:100%}
.act-auth-lightbox .yui3-lightbox-content iframe[scrolling=no]{position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
.yui3-lightbox-mask.auth-lightbox{opacity:1}
}
.zsg-lightbox_override{overflow:visible!important}
iframe[scrolling=no]{overflow:hidden}
.z-google-g-logo.z-google-g-logo_badge{display:inline-block;line-height:0;border:1px solid #CCC}
.act-auth-container .lower-right-panel{padding:8px 0;text-align:center}
.act-auth-container .extension-label{padding:4px 0;text-align:center}
.act-auth-container .hidden{display:none}