div#location_results strong {
    font-size: 130%;
    color: #b65f17;
}

div#location_results {
    font-size: 110%;
    line-height: 140%;
}

div#location_results li { position: relative; }
div#location_results a { padding: 4px 2px; overflow: visible; }
div#location_results a:hover img {
    border: 0;
    padding: 0;
    display: block;
    position: absolute;
    left: -6px;
    top: 6px;
}

div#location_instructions h3 { font-size: 1.308em; margin-bottom: 0.5em; }
div#location_instructions p { margin: 0; line-height: 1.2em; clear: left; font-size: 120%; width: 415px;}
div#location_instructions span.inst { font-size: 81.3%; }


input#location-search {
    padding: 1px 0 0 1px;
    font-size: 160%;
    /* font-weight: bold; */
}
#where_are_cars_trigger {
	background:  url(/images/template/css/btn_select_blank_header.gif) 0 0 no-repeat;
	color: #333;
	font-size: .7em;
	font-weight: normal;
	height: 35px;
	line-height: 2.6em;
	padding-left: 11px;
	position: absolute;
	top: 113px;
	left: 6px;
	width: 193px;
   	}
	form#where_are_cars_trigger{
        padding-left: 8px;
		padding-top: 6px;
		width: 196px;
    }

	#where_are_cars_trigger input{
	   background: none;
		background-color: transparent;
		border: none;
		color: #777;
		float: left;
        font-size: 1.2em;
		margin: 1px 1px 0 0;
		width: 164px;
    }

	#where_are_cars_trigger input#location-search{
        padding: 1px 0 0 1px;
        font-size: 160%;
    }

	#where_are_cars_trigger input:focus {color: #222; }
	#where_are_cars_trigger legend{
        display: none;
    }
	#where_are_cars_trigger button{
		background: transparent;
		border: none;
		float: left;
		height:24px;
		width: 24px;
		text-indent: -9999em;
    }
    #where_are_cars_trigger label{ /* match the size when js is off */
        color:#555555;
        font-family: arial, helvitica, sans-serif;
        font-size:160%;
    }


/*   #where_are_cars_trigger input.prompt { padding: 3px 0 0 1px; font-size: 130%; width: 162px; font-weight: normal; } */
#where_are_cars { clear: both;}
#where_are_cars.js-on {
    overflow: hidden;
	width: 714px;
	background-color: white;
    	box-shadow: 0 0 5px #333;
    	border-radius: 0 0 4px 4px;	
	position: absolute;
	top: 149px;
	left: 211px;
    	z-index: 10;
	}
	* html #where_are_cars.js-on { background-image:url(/images/template/css/bg_chooser_bottom.gif)}
	#where_are_cars ul{
	    list-style-type: none;
		margin: 0;
	    padding:0;
		}
	#where_are_cars .cities h2 { 
        font-weight: normal; 
        width: 415px;
    }
	* html #where_are_cars .cities h2 { margin-top: 1em; }
	#where_are_cars .cities ul{
		float: left;
		width: 100%;
		}
    #where_are_cars .cities ul ul{
		}
	#where_are_cars .cities ul li{
    	display: block;
		float: left;
		width: 33%;
		}
	#where_are_cars .cities ul li li{
    	display: block;
		float: none;
		width: auto;
		}
	#where_are_cars h2, #where_are_cars h3 {clear: left;}
	#where_are_cars h3.nojsfriendly{
        border-bottom: 1px solid #949699;
		font-size: 1.846em;
		padding-bottom: 5px;
		margin-bottom: .5em;
		padding-top: 2em;
    	}
	#where_are_cars.js-on h3{cursor: pointer; float: left; font-weight: normal; width: 100%} /* float is for ie6 */
	#where_are_cars .universities{
		float: left;
	    overflow: hidden;
		width: 100%; /* for opera */
	}
	#where_are_cars h3 span{
		background: transparent url(/images/template/css/btn_reveal_arrow.gif) 0 2px no-repeat;
        display: none;
    }
	#where_are_cars h3 span.open{
        display: inline;
		padding-left: 23px;
    }
	#where_are_cars h3 span.closed{
        background-position: 0 -37px;
        display: inline;
		padding-left: 23px;
	    }
	#where_are_cars input{
        float: left;
		margin-right: 4px;
		padding: 1px 1px 2px 1px;
		width: 50%;
	    }
	#where_are_cars button {clear: none; float: left;} /* for opera. shouldn't need it! */
    #where_are_cars #location_results_container {
        border-bottom: 1px solid #949699;
		float: left;
        /* margin-bottom: 10px; */
		margin-left: 15px;
        padding-bottom: 20px;
		width: 428px;
    }
    #where_are_cars #location_quick_links {
        margin-top: 10px;
        padding-bottom: 10px;
        }
	#where_are_cars .cities {
		float: left;
		overflow: hidden;
		margin: 0 0 4px;
		width: 100%;
	    }
			* html #where_are_cars .cities {margin: 0;}
			*+html #where_are_cars .cities {margin: 0;}
	#where_are_cars .cities ul {
		font-size: 93%;
	    }
	#where_are_cars .universities ul {
		font-size: 85%;
	    }
	#where_are_cars .cars-footer {
		clear: both;
		font-size: 85%;
		margin: 4px 10px 12px 15px;
		overflow: hidden;
        width: 415px;
	    }
	#where_are_cars .cars-footer p {
	    margin-bottom: 0px;
    	}
	#where_are_cars .cars-footer form, 	#where_are_cars .cars-footer h4 {
		clear: left;
		float: left;
		width: 68%;
	    }

#where_are_cars .notetxt { color: #888; font-size: 80%; }

/* fixes for firefox's charming multiple background image effect. plus a few opera mac goodies. */
div#where_are_cars_container {	padding: 8px 0 0 0; }
	div#where_are_cars_container > div{ float: left;	}
	#where_are_cars .cities { width: 710px;} /* for opera mac */
	#where_are_cars .cities ul {
	    margin-left: 15px;
		width: 97%;
	}
	#where_are_cars .cities li { width: 32%; }
	div#location_no_results, div#location_instructions p, div#location_instructions h3, #where_are_cars .cities h2, body #where_are_cars #cars-footer p{
	    margin-left: 15px;
	}
	div#location_quick_links {clear: left;} /* for opera mac */

#where_are_cars .cities ul {
    margin-bottom: 11px;
}
