@media only screen and (max-width:940px){
    /* Sticky Footer for Responsive */
    body{
        /* Margin bottom by footer height */
        /* If you change the calculated height of the responsive footer, you need to update it here */
        margin-bottom:618px;
    }

    /* Body */
    #wrapper,
    #wrapper #content,
    #wrapper #content #primary{
        width:100%;
    }
    div.page-background{
        background:#ffffff;
        background-image:none !important;
    }


    /* Footer */
    div#footer{
        min-width:100% !important;
        width:100%;
        padding:32px 0;
        background:#4c4d4f;
    }
    div#footer-content{
        width:90%;
    }
    #footer p{
        margin:1em 6px 1em 0;
    }

    .dp_strong_box .widecontent{
        margin:auto;
    }
    #footer .app-row,
    #footer .social-row{
        width:100%;
    }
    #footer .app-row{
        margin:0 0 35px 0;
    }
    #footer .social-row{
        margin:0 0 21px 0;
    }
    #footer .social-row li.has-icon{
        margin-bottom:14px;
    }
    #footer .social-row li.has-icon svg{
        display:block;
    }
    #footer #first-row li:after{
        content:"";
        margin:0;
    }
    #footer ul#first-row{
        -webkit-column-count:2;
        -webkit-column-gap:10px;
        -webkit-column-width:20px;
        -moz-column-count:2;
        -moz-column-gap:10px;
        column-count:2;
        column-gap:10px;
        margin:0 0 35px 0;
    }
    #footer ul#second-row{
        margin:0 0 35px 0;
    }
    #footer ul#second-row li:first-child{
        display:block;
        width:100%;
    }
    #footer ul#third-row{
        margin:0;
    }
    #footer ul#first-row li{
        font-family:'DinFamilyLight', Arial, sans-serif;
        font-size:1.25em;
        margin:0 0 1em 0;
        display:list-item;
    }
    #footer .contact-phone,
    #footer .contact-phone *{
        display:none;
    }
    #footer .contact-phone-responsive{
        display:block;
    }
    #footer .company-foot-description{
        display:none;
    }
    #footer .foot-copyright{
        display:none;
    }
    #footer .foot-copyright-responsive{
        display:block;
    }


    /* register/index (member login page) */
    body.register-index #wrapper #content,
    body.register-index #wrapper #content #primary{
        margin:0;
        padding:0;
        overflow:visible;
    }
    body.register-index #primary{
        width:90% !important;
        margin:auto !important;
        float:none;
    }
    body.register-index #login_form{
        width:100%;
        margin:0 auto 2em auto;
    }
    body.register-index #login_form ul li{
        width:100%;
        margin:auto;
        padding:0.8em 0 !important;
        float:none;
        clear:both;
        text-align:left;
    }
    body.register-index #login_form ul label,
    body.register-index #login_form ul li input[type="text"],
    body.register-index #login_form ul li input[type="password"],
    body.register-index #login_form ul li button{
        width:100% !important;
        float:none;
    }
    body.register-index .dp_box ul li button.orange-button.xl-button{
        max-width:15em;
    }
    body.register-index #login_form h2,
    body.register-index #login_form p,
    body.register-index #login_form .exptxt,
    body.register-index #login_form .form-action-buttons,
    body.register-index #login_form .checkbox-right{
        margin-left:0 !important;
    }


    /* register/explain-persistent-cookies */
    body.register-explain-persistent-cookies #wrapper #content,
    body.register-explain-persistent-cookies #wrapper #content #primary{
        margin:0;
        padding:0;
    }
    body.register-explain-persistent-cookies #primary{
        width:90% !important;
        margin:auto !important;
        float:none;
    }
    body.register-explain-persistent-cookies #wrapper #content #primary p{
        width:90%;
        padding:0 !important;
        margin:0 auto !important;
        float:none;
    }


    /* register/forgot-password */
    body.register-forgot-password-1 #wrapper #content,
    body.register-forgot-password-1 #wrapper #content #primary{
        margin:0;
        padding:0;
        overflow:visible;
    }
    body.register-forgot-password-1 #primary{
        width:90% !important;
        margin:auto !important;
        float:none;
    }
    body.register-forgot-password-1 .generic-form .dp_box,
    body.register-forgot-password-1 .generic-form .dp_box h2,
    body.register-forgot-password-1 .generic-form .dp_box h3,
    body.register-forgot-password-1 .generic-form .dp_box .content{
        background-image:none !important;
    }
    body.register-forgot-password-1 .generic-form ul li{
        width:100%;
        margin:auto;
        float:none;
        clear:both;
        text-align:left;
    }
    body.register-forgot-password-1 .generic-form ul label,
    body.register-forgot-password-1 .generic-form ul li input[type="text"],
    body.register-forgot-password-1 .generic-form ul li button{
        width:100% !important;
        max-width:15em !important;
        float:none;
    }


    /* register/forgot-password-2 */
    body.register-forgot-password-2 #wrapper #content,
    body.register-forgot-password-2 #wrapper #content #primary{
        margin:0;
        padding:0;
    }
    body.register-forgot-password-2 #primary{
        width:90% !important;
        margin:auto !important;
        float:none;
    }


    /* user/password-update */
    body.account-password-update .form-action-buttons button{
        max-width:15em !important;
    }


    /* register/login-expired */
    body.register-login-expired #wrapper #content,
    body.register-login-expired #wrapper #content #primary{
        margin:0;
        padding:0;
    }
    body.register-login-expired #primary{
        width:90% !important;
        margin:auto !important;
        float:none;
    }


    /* register/restricted-user */
    body.register-restricted-user #wrapper #content,
    body.register-restricted-user #wrapper #content #primary{
        margin:0;
        padding:0;
    }
    body.register-restricted-user #primary{
        width:90% !important;
        margin:auto !important;
        float:none;
    }


    /* members/activation/zipcard-activation */
    body.zipcard-activation div#content div#primary{
        float:none !important;
        width:90% !important;
        margin:auto !important;
        padding:0 !important;
        overflow:visible !important;
    }
    body.zipcard-activation div#content{
        float:none;
        min-height:0;
    }
    body.zipcard-activation div#content p{
        font-family:'DinFamily', Arial, sans-serif;
        line-height:1.5em;
    }
    body.zipcard-activation div#content div#secondary{
        display:none;
    }
    body.zipcard-activation div#content .zipcard-form table{
        width:100% !important;
    }
    body.zipcard-activation .zipcard-number-input-container{
        background-image:none !important;
        height:1em;
        width:100%;
    }
    body.zipcard-activation .zipcard-form img,
    body.zipcard-activation .zipcard-form svg{
        display:none !important;
    }
    body.zipcard-activation .zipcard-number-input-container input#zipcard{
        position:relative !important;
        top:0;
        left:0;
        width:100% !important;
        max-width:318px;
        height:30px;
        padding:0.25em 0;
        font-size:20px;
        font-family:'DinFamilyLight', Arial, sans-serif;
        text-align:center;
        border:1px solid #9b9b9b;
        border-radius:4px;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
        background:#FFFFFF;
    }
    body.zipcard-activation button.orange-button.large-button{
        width:100% !important;
        max-width:320px;
        padding:0;
        line-height:2.5em;
    }


    /* input-error */
    body.input-error div#content div#primary{
        float:none !important;
        width:90% !important;
        margin:auto !important;
        padding:0 !important;
        overflow:visible !important;
    }


    /* Shared Rules accross "my stuff" */
    body.account-tabs ul.tabs-grey{
        text-align:center;
    }
    body.account-tabs #primary{
        width:90% !important;
    }

    /* members/account */
    body.account-about-me .category .category-icon{
        margin-bottom:1em;
    }
    body.account-about-me table.billing-methods{
        width:100%;
        margin:auto;
    }
    body.account-about-me div.category-content{
        float:none;
        width:100%;
    }
    body.account-about-me table.billing-methods tbody tr:first-child td{
        width:auto;
        padding:3px;
        font-size:10px;
    }
    body.account-about-me .waiver-background-box-wrapper{
        width:100%;
    }
    body.account-about-me .waiver-background-middle{
        width:100%;
        padding:0 !important;
        background:#eeeeee !important;
        border-radius:5px;
        border:1px solid #4d4d4f;
    }
    body.account-about-me .waiver-background-middle p{
        padding:1em !important;
    }
    body.account-about-me .waiver-background-top,
    body.account-about-me .waiver-background-bottom{
        display:none;
    }
    body.account-about-me ul.my-info li span.label{
        width:50%;
        margin-right:1em;
    }


    /* members/account-contact */
    body.account-contact-me .dp_strong_box .section_content,
    body.account-contact-me .dp_strong_box #contact-wrapper,
    body.account-contact-me #ext-ex,
    body.account-contact-me #opt-in{
        width:90%;
        margin:auto !important;
    }
    body.account-contact-me #ext-ex,
    body.account-contact-me #opt-in{
        left:5% !important;
        top:10% !important;
    }
    body.account-contact-me #ext-ex .sms-box-content{
        margin:0 1em;
    }
    body.account-contact-me #opt-in .big-numbered-list > li, #sms-steps > li{
        width:100% !important;
        padding:0 !important;
    }
    body.account-contact-me .big-numbered-list .num,
    body.account-contact-me .big-numbered-list > li:before{
        display:none;
    }
    body.account-contact-me table.contact-addresses tr{
        border-width:1px 0 1px 0;
        border-color:#dddddd;
        border-style:solid;
    }
    body.account-contact-me table.contact-addresses tr td{
        display:inline-block;
        padding:5px 10px !important;
        height:auto !important;
    }
    body.account-contact-me table.contact-addresses tr td.two-way-not-activated{
        background-image:none !important;
    }


    /* members/addresses */
    body.account-where-i-zip .category .category-icon{
        margin-bottom:1em;
    }


    /* members/sms/optin */
    body.account-sms-optin .big-numbered-list .num,
    body.account-sms-optin .big-numbered-list > li:before{
        display:none;
    }


    /* members/account-address-ae */
    body.account-address-add form.generic-form fieldset li,
    body.account-address-add form.generic-form label{
        width:100%;
        max-width:100%;
        float:none;
        clear:both;
        text-align:center;
    }
    body.account-address-add form.generic-form input,
    body.account-address-add form.generic-form select,
    body.account-address-add form.generic-form textarea{
        max-width:17.5em;
        margin:auto;
        float:none !important;
    }
    body.account-address-add form.generic-form li .checkbox-right{
        margin:0 auto;
    }


    /* members/refer */
    body.account-refer #speedometer{
        display:none;
    }
    body.account-refer .refer-a-wrapper{
        width:100%;
        max-width:600px;
        margin:auto;
        float:none;
    }
    body.account-refer .refer-buttons button{
        display:block;
        float:none;
        margin:1em auto;
        width:100%;
        max-width:225px;
    }


    /* members/refer-a-friend */
    body.account-refer-a-friend #refer-my-friends p.blurb{
        width:100%;
    }
    body.account-refer-a-friend .push-section{
        width:100% !important;
    }
    body.account-refer-a-friend #refer-my-friends .chooser{
        width:auto;
    }
    body.account-refer-a-friend #refer-my-friends .chooser #account-chooser{
        padding:0.5em;
    }
    body.account-refer-a-friend #refer-my-friends .right{
        width:100% !important;
        float:none !important;
        margin:auto !important;
    }
    body.account-refer-a-friend #refer-my-friends .right h3{
        width:100% !important;
        text-align:center;
    }
    body.account-refer-a-friend ul.social-networks li{
        display:inline-block;
        float:none;
        width:100%;
        padding-left:0 !important;
    }
    body.account-refer-a-friend ul.social-networks li a{
        float:none;
        margin:auto;
    }
    body.account-refer-a-friend #refer-my-friends .left{
        width:100% !important;
        margin-left:0 !important;
        float:none !important;
    }
    body.account-refer-a-friend #refer-my-friends #invites-textarea{
        width:100%;
        padding:2px;
    }
    body.account-refer-a-friend #refer-my-friends #import-invites{
        display:none;
    }
    body.account-refer-a-friend #refer-my-friends .your-message-container{
        width:90% !important;
        margin:auto;
    }
    body.account-refer-a-friend #refer-my-friends .your-message-container #your-message{
        min-height:163px;
    }
    body.account-refer-a-friend #refer-my-friends #email-friends-action{
        display:block;
        width:100%;
        max-width:200px;
        margin:auto;
    }


    /* members/refer-a-business & members/refer-a-business-submit */
    body.account-refer-a-business .rab-refer-form{
        margin-top:1em;
    }
    body.account-refer-a-business .rab-refer-form .dp_box{
        width:100%;
        margin:0;
        padding:0;
    }
    body.account-refer-a-business .rab-refer-form .content.refer-form{
        margin-left:0;
        margin-right:0;
        width:100%;
        padding:0;
    }
    body.account-refer-a-business .rab-refer-form .content.refer-form .contact-form{
        padding:1em;
        text-align:center;
    }
    body.account-refer-a-business .rab-refer-form .content.refer-form .pseudo-header{
        margin-left:0;
    }
    body.account-refer-a-business .rab-refer-form .content.refer-form ul{
        width:100%;
        max-width:210px;
        margin:auto;
    }
    body.account-refer-a-business .rab-refer-form .content.refer-form ul li{
        width:100%;
        padding:0.8em 0;
        float:none;
    }
    body.account-refer-a-business .rab-refer-form .content.refer-form ul li label{
        text-align:left;
        margin-right:1em;
        min-width:0;
        width:auto;
    }
    body.account-refer-a-business .rab-refer-form .content.refer-form ul li input{
        width:100%;
        max-width:210px;
        clear:both;
    }
    body.account-refer-a-business .rab-refer-form .content.refer-form .form-action-buttons{
        margin-left:0;
    }
    body.account-refer-a-business .rab-refer-form .content.refer-form .form-action-buttons button{
        width:100%;
        max-width:200px;
    }
    body.account-refer-a-business img.refer-pic{
        margin:1em auto;
        max-width:352px;
        width:90%;
        height:auto;
        margin-bottom:1em;
        float:none;
        display:block;
    }
    body.account-refer-a-business .rab-footie{
        float:none;
        clear:both;
        width:100%;
        text-align:center;
    }
    body.account-refer-a-business .refer-confirm{
        float:none;
        width:100%;
        height:auto;
    }
    body.account-refer-a-business .inside-refer{
        position:relative;
        top:0;
    }
    body.account-refer-a-business .inside-refer *{
        float:none;
        width:100%;
    }
    body.account-refer-a-business .inside-refer img{
        max-width:32px;
        max-height:32px;
    }


    /* members/refer-summary */
    body.account-refer-summary .footnote-small{
        width:100%;
    }
    body.account-refer-summary .referral-history{
        display:none;
    }
    body.account-refer-summary .referral-history-referree-responsive{
        display:block !important;
    }
    body.account-refer-summary div.referral-history-responsive{
        display:block !important;
        background-color:rgba(81, 166, 1, 0.25);
        margin:1em auto;
        width:100%;
        max-width:400px;
        border-radius:4px;
        box-shadow:1px 1px 2px #4d4d4d;
    }
    body.account-refer-summary div.referral-history-responsive p{
        padding:5% 0;
        margin:auto !important;
        width:90%;
        word-wrap:break-word;
    }
    body.account-refer-summary div.referral-history-responsive p a.orange-button{
        margin-top:0.5em;
    }


    /* members/send */
    body.account-send .widecontent h2{
        display:none;
    }
    body.account-send .refer-nav{
        float:none;
    }


    /* members/refer-sticker */
    body.account-refer-sticker .content-well{
        margin:1em auto !important;
        float:none !important;
        display:block !important;
    }


    /* members/refer-sticker-2 */
    body.account-refer-sticker-2 .widecontent h2{
        display:none;
    }
    body.account-refer-sticker-2 .refer-nav{
        float:none;
    }
    body.account-refer-sticker-2 textarea{
        width:100%;
    }


    /* members/preferred-account */
    body.account-preferred-account .widecontent h2{
        display:none;
    }
    body.account-preferred-account .refer-nav{
        float:none;
    }
    body.account-preferred-account form .exptxt{
        clear:both;
        margin-left:0 !important;
    }


    /* help/referafriend */
    body.account-referafriend-faqs .widecontent h2{
        display:none;
    }
    body.account-referafriend-faqs .refer-nav{
        float:none;
    }
    body.account-referafriend-faqs .help-questions .column{
        float:none !important;
        width:100%;
        display:block;
    }


    /* help/referafriend-rules */
    body.account-referafriend-rules .widecontent h2{
        display:none;
    }
    body.account-referafriend-rules .refer-nav{
        float:none;
    }
    body.account-referafriend-rules .widecontent ol.rules{
        margin:auto;
        clear:both;
    }

    /*Documents - member-contract, privacy, zipfleet/apply/... */
    body.privacy-policy #primary,
    body.member-contract #primary,
    body.apply_fees #primary,
    body.apply_rules-of-vehicle-use #primary,
    body.apply_services-for-disabled #primary{
        width: 90% !important;
        margin: auto !important;
        padding: 0;
        float: none;
    }
    body.privacy-policy #secondary,
    body.member-contract #secondary,
    body.apply_fees #secondary,
    body.apply_rules-of-vehicle-use #secondary,
    body.apply_services-for-disabled #secondary{
        margin: auto !important;
        float: none;
    }
}

/* mobile responsive css for members/account/billing/cc/edit*/

@media only screen and (max-width:320px){
    .responsive-topnav .small-button:lang(de-AT),
    .responsive-topnav .small-button:lang(fr-FR),
    .responsive-topnav .small-button:lang(ca-ES){
        margin-left:0%;
        padding:3px 7px;
    }
}
