
/* application engagement */
.zipcard {
    border: none;
}
.zipcard-position {
    float: right;
    margin: -15px -13px 0px 0px;
}
.zipcard-join-include {
    background:transparent url(https://media.zipcar.com/images/includes/include-home-zipcard.png) no-repeat scroll 0 0;
    height: 357px;
    margin-top: -13px;
}
.zipcard-signmeup-include {
    background:transparent url(https://media.zipcar.com/images/includes/include-bizhome-zipcard.png) no-repeat scroll 0 0;
    height: 352px;
    margin-top: -13px;
}
.zipcard-signmeup-include-narrow {
    background:transparent url(https://media.zipcar.com/images/includes/include-narrow-zipcard.png) no-repeat scroll 0 0;
    height: 331px;
    margin-top: -13px;
}
.zipcard-join-include h3 {
    color: #51A601;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
}
.zipcard-signmeup-include h3 {
    color: #51A601;
    font-size: 23px;
    line-height: 25px;
    font-weight: bold;
}
.zipcard-signmeup-include p {
    margin-bottom: 6px;
}
.zipcard-signmeup-include-narrow h3 {
    color: #51A601;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
}
.zipcard-join-include p {
    color: #696A6C;
    font-size: 13px;
    line-height: 16px;
}
.zipcard-join-include-position {
    position: relative;
    top: 166px;
    left: 10px;
    width: 92%;
}
.zipcard-join-include-position:lang(de-AT) {
  width:auto;
  padding-right:5%
}
.zipcard-signmeup-include-position {
    position: relative;
    top: 135px;
    left: 20px;
    width: 82%;
}
.zipcard-signmeup-include-position-narrow {
    top: 135px;
    width: 82%;
}
.zipcard-join-include-position-finish {
    position: relative;
    top: 180px;
    left: 10px;
    width: 92%
}
.zipcard-join-include-position-checkapp {
    position: relative;
    top: 169px;
    left: 20px;
    width: 70%
}

.mini-reserve-include {
    height: 344px;
}

#mini-reserve-include-us {
    background:transparent url(https://media.zipcar.com/images/includes/include-home-MINI.png) no-repeat scroll 0 0;
}

#mini-reserve-include-uk {
    background:transparent url(https://media.zipcar.com/images/includes/include-home-uk.png) no-repeat scroll 0 0;
}

.mini-reserve-include h3 {
    color: #51A601;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
}
.mini-reserve-include-position {
    position: relative;
    top: 9px;
    left: 10px;
    width: 92%
}


#secondary #application-engagement {
    background: transparent url(https://media.zipcar.com/images/includes/homepage-reengage-bluesky.jpg) no-repeat;
    height: 105px;
    padding-top: 10px;
    color: #fff;
}

#secondary #application-engagement.app-status {
    padding-top: 25px;
}

#secondary #application-engagement p {
    margin: 0px 50px 0px 5px;
    font-size: 1.3em;
    line-height: 1.2em;
    margin-bottom: 0;
}

#secondary #application-engagement.app-status p {
    margin-right: 30px;
}

#secondary #application-engagement p.pun {
    font-size: 1em;
    margin-bottom: 1em;
}

#secondary #application-engagement div.zipcard-layover {
    background: transparent url(https://media.zipcar.com/images/includes/homepage-reengage-zipcard.jpg) no-repeat 0 0;
    width: 55px;
    height: 40px;
    position: absolute;
    right: -45px;
    bottom: -5px;
}
#secondary .callout {
    padding:0 9px 6px;
    overflow:hidden;
}