/* Locale-specific styles
 * Used to override styles for particular locales
 */
 
 
div.zipcard-join-include-position h3:lang(en) {
	width: 80%;
}

/* ca-ES
 * =====
 */

#footer a:lang(ca-ES),
#footer li.first:lang(ca-ES),
#footer p:lang(ca-ES) {
    margin-left: 3px;
    margin-right: 3px;
}

div.refer-nav:lang(ca-ES) {
    text-align: right;
    width: 100%;
    font-size:12px;
}

div.refer-buttons:lang(ca-ES) {
	height: 60px
}

div.refer-buttons button.inline-button:lang(ca-ES) {
	margin-bottom: 12px;
}

#nav ul.nav-main li a:lang(ca-ES) {
    padding-left: 11px;
    padding-right: 13px;
}

div.mini-reserve-include-position a.orange-button:lang(ca-ES) {
	padding-left: 20px;
	padding-right: 20px;
}

div.zipcard-join-include-position h3:lang(ca-ES) {
	font-size: 20px;
	line-height: 25px;
}

div.zipcard-join-include h3:lang(fr-FR) {
        line-height: 28px;
}
div.zipcard-join-include a.large-button:lang(de-AT){
        padding-left: 20px;
        padding-right: 20px;
}
div.zipcard-join-include h3:lang(ca-ES) {
        line-height: 28px;
}

.registration ul.choices div.choice-button p:lang(ca-ES) {
    margin-left: 64px;
}

.registration ul.choices div.choice-button p:lang(fr-FR) {
    width: 71%;
    padding-left: 72px;
    text-align: left;
}

.registration ul.choices div.choice-button p:lang(tr-TR) {
    margin-left: 40px;
}
.registration form.license label[for="registration_does_not_expire"]:lang(ca-ES),
.registration form.license label[htmlfor="registration_does_not_expire"]:lang(ca-ES) {
}

.registration ul#plan_steps li:lang(ca-ES) {
    margin-right: 10px;
}

.registration div#bubbles:lang(ca-ES) {
    display: none;
}

/* es-ES
 * =====
 */


.btn-reserve:lang(es-ES) {
  padding: 4px 12px;
}

ul.tabs.nav-members li a:lang(es-ES)  {
	padding-left: 15px;
	padding-right: 15px;
}

ul.tabs.nav-members li a:lang(de-AT){
    padding: 4px 31px 2px 31px;
}

ul.tabs.nav-members li a:lang(de-AT):after {
    right: -35px;
}

ul.tabs.nav-members li a:lang(de-AT):before {
    left: -35px;
}



div.refer-nav:lang(es-ES) {
	text-align: right;
    width: 100%;
    font-size:12px;
}

div.refer-buttons:lang(es-ES) {
	height: 60px
}

div.refer-buttons button.inline-button:lang(es-ES) {
	margin-bottom: 12px;
}
ul.tabs.nav-members li a:lang(es-ES):before {
	left: -19px;
}

ul.tabs.nav-members li a:lang(es-ES):after {
    right: -19px;
}

#nav ul.nav-main li a:lang(es-ES) {
    padding-left: 14px;
    padding-right: 16px;
}

#nav ul.nav-before-login li a:lang(es-ES) {
    padding-left: 10px;
    padding-right: 10px;
}
	
.ie #nav ul.nav-before-login li a:lang(es-ES) {
    padding-left: 10px;
    padding-right: 10px;
} 	 	 	 

div.mini-reserve-include h3:lang(fr-FR){
        line-height: 26px;
}

div.mini-reserve-include h3:lang(de-AT){
        line-height: 26px;
}


div.mini-reserve-include h3:lang(es-ES){
        line-height: 26px;
}

ul.my-info li span.label:lang(es-ES),
ul.my-info li span.label:lang(ca-ES) {
  width: 230px;
}

div.mini-reserve-include-position a.orange-button:lang(es-ES) {
	padding-left: 20px;
	padding-right: 20px;
}

.registration ul.choices div.choice-button p:lang(es-ES) {
    margin-left: 70px;
}

.registration ul.choices div.choice-button p:lang(de-AT) {
    margin-left: 85px;
    text-align:left;
}

.registration ul.choices div.choice-button br:lang(de-AT) {
    display:none;
}

.registration ul.choices div.choice-button span.indent:lang(de-AT) {
    margin-left:5px
}

.registration form.license label[for="registration_does_not_expire"]:lang(es-ES),
.registration form.license label[htmlfor="registration_does_not_expire"]:lang(es-ES) {
}
.registration ul#plan_steps li:lang(es-ES) {
    margin-right: 10px;
}

.registration div#bubbles:lang(es-ES) {
    display: none;
}

.ie .registration #z4b_tax_exempt_container label,
.ie10 .registration #z4b_tax_exempt_container label {
   bottom: -4px;
}

#find-cars-search .findcar-update-results:lang(es-ES),
#find-cars-search .findcar-update-results:lang(ca-ES) {
    padding-top: 0;
}

#find-cars-search .findcar-update-results:lang(fr-FR) {
    padding-top: 0;
    width: 200px;
    margin-top: -19px;
    line-height: 31px;
}

/* en-GB
 * =====
 */

a#brand:lang(en-GB) {
    background-image: url("/images/i18n/logo.en-GB.gif");
}

/* en-CA
 * =====
 */

a#brand:lang(en-CA) {
    background-image: url("/images/i18n/logo.en-CA.gif");
}

/* en-US
 * =====
 */

a#brand:lang(en-US) {
    background-image: url("/images/i18n/logo.en-US.gif");
}

div.map-navbar-text:lang(ca-ES),
div.map-navbar-text:lang(es-ES), 
div.map-navbar-text:lang(de-AT) {
    font-size:9px;
    padding:7px 0 0 2px; 
}

div#findcars-byloc-map-navbar-right p:lang(ca-ES),
div#findcars-byloc-map-navbar-right p:lang(de-AT) {
    width: initial;
    font-size: 9px;
}
div#findcars-byloc-map-navbar-right p:lang(es-ES) {
    padding: 1px 0 0 10px;
    font-size: 10px;
}

div#findcars-byloc-map-navbar li:lang(de-AT){
    padding:0 11px !important;
}

form.generic-form label[for="gift_code"]:lang(ca-ES),
form.generic-form label[for="gift_code"]:lang(es-ES),
form.generic-form label[for="gift_code"]:lang(de-AT){
     width:200px;
 }

/* de-AT
 * ====
  */
  
#nav ul.nav-main li a:lang(de-AT) {
    padding-left: 13px;
    padding-right: 15px;
}
#wrapper #secondary .callout h3:lang(de-AT){
    font-size: 1.11em;
    }
#footer ul.nav li:lang(de-AT) {
        color: #bcbec0;
        font-size: 1em;
        text-transform: none;
        }

/* fr-FR
 *  * ====
 *    */

#nav ul.nav-before-login li a:lang(fr-FR) {
    font: 14px DINFamily, sans-serif;
    padding-left: 6px;
    padding-right: 6px;
}

.ie #nav ul.nav-before-login li a:lang(fr-FR) {
    padding-left: 4px;
    padding-right: 4px;
}
#nav ul.nav-main li a.nav-main:lang(de-DE) {
   padding:0 13px 0 13px !important
}
a.large-button-engage:lang(de-AT){
        padding-left: 20px;
        padding-right: 20px;
        margin-top:-3%;
}
#gift-certificate-section:lang(de-AT),
#gift-certificate-section:lang(es-ES),
#gift-certificate-section:lang(ca-ES),
#gift-certificate-section:lang(tr-TR),
#gift-certificate-section:lang(fr-FR){
    font: bold 77.3%/1.335em Arial, Helvetica, sans-serif;
}
#gift-certificate-footer:lang(de-AT) {
    margin-top: 2%;
    line-height: 165%;
    padding-left: 12%;
    font-size:5px;
    width: 54%
}	
#gift-certificate-footer:lang(ca-ES),
#gift-certificate-footer:lang(es-ES),
#gift-certificate-footer:lang(tr-TR),
#gift-certificate-footer:lang(fr-FR) {
    padding-left: 10%;
    font-size: 5.5px;
    width: 50%;
    margin-top: 1%;
    line-height: 140%;
}	
#extend-estimate:lang(de-DE){
    margin-top: -5%;
}

#overlay-alert-reserve p:lang(de-AT) {
    position: absolute;
    top: 27%;
    width: 71%;
    font-size: 81%;
    margin-left: -2%;
    margin-top: 0.7%;
}
.orientation-page .orientation-nav ul li:lang(tr-TR){
    float: left;
    background: none;
    padding: 0 3px 0 4px;
}

#what_to_expect:Lang(de-DE) {
    top:36.2% !important;
}

#what_to_expect:Lang(fr-FR) {
   top:33.5% !important;
}

.error div.error_message:lang(fr-FR){
    word-break:break-all;
}

ul.my-info li span.label:lang(de-AT),
ul.my-info li span.label:lang(de-DE){
    text-transform: none !important;
}
#overlay-address-bottom-search-results.show-favorites .results:lang(de) {
    height: 188px;
}

ul.registration_waiver_de-DE h3:lang(de-DE){
        width: 80%;
}

ul.tabs.nav-members li a:lang(tr-TR) {
    padding: 4px 23px 2px 23px;
}

div.reserve-car-book ul li a.btn-upgrade:lang(tr-TR),a.btn-upgrade:lang(de-AT),a.btn-upgrade:lang(de-DE) {
        width: 100px;
        margin-top: 14px !important;
}

div.reserve-car-book ul li p a.reserve-car-upgrade-info-popup:lang(de-AT){
        margin:2px 0px;
}

div.reserve-car-book ul li p a.reserve-car-upgrade-info-popup:lang(de-DE){
        margin:2px 0px;
}

.lt-ie9 div.reserve-car-div-large div.reserve-price p.rates:lang(de-DE){
        margin-top:20px !important;
}

.lt-ie9 div.reserve-car-div-large div.reserve-price p.rates:lang(de-AT){
        margin-top:20px !important;
}

.tab-border:lang(es-ES) {
   height:600px;
}

.ui-datepicker table th:lang(zh-TW) {
width:40px !important;
}

body.transition.pre-reg-choose h1.transition:lang(zh-TW) {
 -webkit-padding-before:5px;
}
