#nav, #footer, #secondary, #header, #where_are_cars_wrapper, .nav, .noprint {
    display: none;
}


#primary, #content, #wrapper {
    float: none !important;
    width: auto;
    overflow: visible;
}

body {
    background: none;
    font-size: 12pt !important;
}
.content {
    position: relative; /* for IE peek-a-boo bug */
    text-align:left;
    padding: 0px;
    font-weight: normal;
    width: 768px; 
    margin:auto;
}

