

/* Date picker styles */
a.dp-choose-date {
    background: transparent url("/images/calendar-icon.gif") no-repeat;
    display: inline;
    float: left;
    font-size: 0px;
    height: 16px;
    text-indent: -1000em;
    width: 16px;
    
}

#dp-popup,
#dp-popup h2,
#model_or_style_widget .inner,
#addAddress,
#whatsthis {
    border: 3px solid #AAA;
    border-radius: 4px;
    behavior: url(/styles/template/PIE.htc);
}

#dp-popup {
    background-color: #FFF;
    font-family: arial;
    position: absolute;
    z-index: 20;
}

#dp-popup .dp-applied {
    float: left;   
}

#dp-popup a {
    text-decoration: none;   
}

#dp-popup h2 {
    border: 1px solid #AAA;
    background-color: #DDEBD4;
    color: #4D4D4F;
    font-size: 12px;
    line-height: 1.8em;
    margin: 2px;
    text-align: center;
    text-transform: none;
    width: 165px;
}

#dp-popup .dp-nav-prev,
#dp-popup .dp-nav-next{
    position: absolute;
    text-decoration: none;
    top: 6px; 
}

#dp-popup .dp-nav-prev a,
#dp-popup .dp-nav-next a{
    color: #555;
    display: block;
    font-size: 0px;
    height: 15px;
    text-indent: -1000em;
    width: 13px;
    
}

#dp-popup .dp-nav-prev a.disabled,
#dp-popup .dp-nav-next a.disabled {
    display: none;
}

#dp-popup .dp-nav-prev {
    left: 8px;    
}

#dp-popup .dp-nav-prev a {
    background: transparent url(/images/btn_prev-next-small.gif) left top no-repeat;
}

#dp-popup .dp-nav-next {
    right: 8px;   
}

#dp-popup .dp-nav-next a {
    background: transparent url(/images/btn_prev-next-small.gif) right top no-repeat;
}

#dp-popup a.dp-nav-prev-year,
#dp-popup a.dp-nav-next-year {
    display: none;   
}

#dp-popup table {
    font-family: verdana, arial, helvetiac, sans-serif;
    font-size: 10px;
    margin: 2px;
    padding: 2px 5px;   
    text-align: center;
}

#dp-popup table td {
    border-bottom: 1px solid #D3D3D3; 
    color: #555;
    cursor: pointer;
    line-height: 1.5em;
    padding: 3px 5px;   
}

#dp-popup table td.weekend {
    background-color: #F8FBF6;   
}

#dp-popup table td.selected {
    background-color: #DDEBD4;   
}

#dp-popup .other-month.disabled,
#dp-popup .current-month.disabled,
#dp-popup .dp-disabled,
#dp-popup .dp-nav-prev a.disabled,
#dp-popup .dp-nav-next a.disabled{
    background-color: #FFF !important;
    color: #AAA !important;  
    cursor: auto;
}

#dp-popup .other-month {
    color:#AAA;
}

#dp-popup table td.dp-hover {
    background-color: #C5C7C9 !important;
    color: #333 !important;
}

#dp-popup table th {
    padding-bottom: 3px;
}
/* End date picker styles */
