.VideoPlayListContainer{
    overflow:hidden;
    width: 100% !important;
    height :100%;
    margin: 0 !important;
    left : 0 !important;
    top : 0 !important;
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;
}

.activePlaylist {
	opacity: 0;
}

.PlayListThumbnail:hover {
	cursor: pointer;
}

.PlayListRightArrow:hover {
  cursor: pointer;
}

.PlayListLeftArrow:hover {
  cursor: pointer;
}