@import (reference)"../global_vars.less";
#medium {
  display: none;
}
.sidekick-homepage-small {
  display:none;
}
html, body {
height: 100%;
}

.tab {
  width:75%;

  &-title {
    font-family: Lato;
    color:  #000000;
    font-size: 30px;
    font-weight: 800;20
    line-height: 18px;
    text-align: center;

  }
  &-line {
    width:50%;
    height:1px;
    background-color:black;
  }
}

.sidekick-homepage{
  width:300px;
//  background-color: white;
  position: relative;
  margin-top: 40px;
  float: right;
  margin-right: 2%;
  &-item {
    width:300px;
    height:600px;
    background-color:@tcx-blue;
  //  position:absolute;

  }
}
.sidekick-homepage-small {
  width: 650px;
  height: 250px;
  background-color:@tcx-blue;
  margin: auto;

}
.test {
  width:73%;
  display:flex;
//  margin-left: 1%
}
//body {
 // margin: 0;
 // display: none;
//}
a {
  text-decoration: none;
  cursor: pointer;

  &:hover{

    //text-decoration: underline;
    text-decoration: none;
  }
}
@media (max-width:1020px) {
  .sidekick-homepage {
  //  display: none;
  }

}
@media (max-width:1225px){

  .test {
    width:68%;

  }
  .topstory {
  //  width: 85%;
  }
  #nation {
    width:70%;
  }


  .fourtwo {
    width:66.6%;
    &-content-right-item-image {

      width:245px;
    }
    &-content-right-item-info {
      height: 213px;
    }
  }


}
@media (max-width:1024px) {
  .test {
    width:62%;
  //  margin-left:
  }
  #nation {
    display: none;
  }
}
@media (max-width:1440px)
{
  .test {
    width: none;
  }

}

.homepage {
  width:100%;
  min-height: 100%;
  margin-bottom: -223px;
  position: relative;

}
.homepage-container {
  max-width: 1440px;
  margin: auto;
  height: auto;
}



@media (max-width:850px) {
  .homepage {

    margin-bottom: -170px;


  }
}
@media (max-width:905px) {
  .test {
    width: 100%;
  }
  .sidekick-homepage {
    display: none;
  }

}
@media (max-width: 995px) {
  .sidekick-homepage {
  //  display: none;
  }
}
  @media (max-width: 650px) {
    .sidekick-homepage-small {
      width: 300px;
      height: 250px;
    }
  }


@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}
