.static-page-content{
	margin: 0 auto;
	font-family: 'Lato';
	font-size: 16px;
	text-align: left;
	width: 80%;
	line-height: 22px;
	margin-top: 40px;
}

.static-page-content .pp-wrapper, .static-page-content .tos-wrapper{
	a{
		color: #00b9e3;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.wrapper{
	margin: 0 auto;
	width: 80%;
}

body{
   margin: 0px;
   padding: 0px;
}

img{
   border: 0px;
   margin: 0px;
   padding: 0px;
}

p{
   margin: 10px;
   padding: 0px;
}
ul{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 35px;
   padding: 0px;
   line-height: 20px;
	 color: #000000;
}
a{
	color: #00b9e3;
	font-weight: 400;
}
a:hover{
	color: #000000;
	font-weight: 400;
}

h1{
   color: #272727;
   font-weight: 800;
	 line-height: normal;
	 font-size: 32px;
}

h3{
   color: #272727;
   font-weight: 700;
	 line-height: normal;
	 font-size: 18px;
}
