/*Check-in Flow*/

.swa_feature_checkInOnline_footer .airport-information--container a,
.checkInPageNew .swa_feature_checkIn_flyByInfo a {
    text-decoration: underline;
}

/*My Account Login Flow*/
.manageYourTravelInfo a {
    text-decoration: underline;
}


/*Rapid Rewards Section*/
.rr_marketing_disclaimer a, .rr_marketing_disclaimer a:link, .rr_marketing_disclaimer a:visited {
    color: #304CB2;    
}


/*cancel-car-reservation Flow*/
.car_itinerary_container_with_vertical_label .itineraries_header_data_cancel a {
    text-decoration: underline;
}

/*Low Fare Calendar Flow*/
.bagsAndFareInfo a {
     text-decoration: underline;
 }

/*Change Flow*/
.senior_message_info a,
.carhotel_air_modify_search_widget_inner a {
    text-decoration: underline;
}

/*Book a flight link Account Bar Flow*/
.graphBlockCp_blue.graphBlock_myTravel .a11y-book--underline a {
    text-decoration: underline;
}

/* My-Account Flow*/
.overlay--content.overlay--info a,
.recent-activity-details .secondary-page--title a,
.request-past-points--content .request-past-points--terms-list a,
.notify--content-column.notify--content-column-email-twitter a,
.snapshot--status-not-eligible-for-companion .snapshot--status-benefits-label a,
.overlay--container .companion-details-overlay a {
    text-decoration: underline;
}

/*Body Links on Booking flow*/
.rrPointsNotification .points_calc_link a,
.price_carhotel_widget .baggage_info_container a,
.price_car_cross_sell_widget_content .price_car_cross_sell_text_container a,
.information-message a,
.purchasePageWarningGreen a,
.swa_feature_air_options_earlyBird_explanation a,
.payment_pref_options .a11y-wrapper a,
.confirmation_page_outer_container .baggage_info_container a,
.right_nav_join_rr_content .a11y-wrapper a,
.saved_trip_success .success_note a,
.car-search-results-outer-container .page_bottom_container a,
.companionPass-background .companionPass--label-wrapper a,
.oopsError_wrapper .a11y-underline {
    text-decoration: underline;
}

/* Manage Reservations - Hotel*/
.hotel_itinerary_container_with_vertical_label .retrieve_add_another a {
    text-decoration: underline;
}

/* Manage Reservations - Car*/
.car_itinerary_container_with_vertical_label .retrieve_add_another a {
    text-decoration: underline;
}

/* Manage Reservations - Air*/
.air_itinerary_container_with_vertical_label .retrieve_add_another a {
     text-decoration: underline;
}

/* Manage Reservations - Share Itinerary*/
.swa_panels_tip_inner .swa_panels_tip_content a {
    text-decoration: underline;
}
/*Copyright Footer*/
.swa-footer--copyright .swa-footer--copyright-text a {
    text-decoration: underline;
}

/*Oops error messages*/
.oopsError_wrapper .a11y-wrapper a,
.oopsError_wrapper .a11y-underline,
.error-message .error-message--footer a {
    text-decoration: underline;
}

/*Static Pages*/
/*T1 / T2*/
.checklist_list a,
.contactUs_wrapper a,
.swa_modules_vertical_menu .ui-tabs-panel a,
.swa_templates_t1 .swa_layout_main_inner p a,
.swa_templates_t1 .swa_modules_secondary_message_item p a,
.swa_templates_t1 .advertiseWithUs_wrapper a,
.swa_templates_t2 .swa_layout_main_inner a {
    color: #304CB2;
    text-decoration: underline;
}

.checklist_list a:hover,
.contactUs_wrapper a:hover,
.swa_modules_vertical_menu .ui-tabs-panel a:hover,
.swa_templates_t1 .swa_layout_main_inner p a:hover,
.swa_templates_t1 .swa_modules_secondary_message_item p a:hover,
.swa_templates_t1 .advertiseWithUs_wrapper a:hover,
.swa_templates_t2 .swa_layout_main_inner a:hover {
    color: #111B40;
}

/*T3*/
.swa_modules_tab_list_mainContent a {
    color: #304CB2;
    text-decoration: underline;
}

.swa_modules_tab_list_mainContent a:hover {
    color: #111B40;
}

/*T4*/
.swa_templates_t4 #swa_module_content li > a,
.swa_templates_t4 .swa_layout_main_inner #swa_module_content a,
.swa_templates_t4  .swa_content_module li > a,
.swa_templates_t4 .swa_layout_main_inner  .swa_content_module a,
.swa_templates_t4 .swa_layout_main_inner p > a {
    color: #304CB2;
    text-decoration: underline;
}

.swa_templates_t4 #swa_module_content li > a:hover,
.swa_templates_t4 .swa_layout_main_inner #swa_module_content a:hover,
.swa_templates_t4  .swa_content_module li > a:hover,
.swa_templates_t4 .swa_layout_main_inner  .swa_content_module a:hover,
.swa_templates_t4 .swa_layout_main_inner p > a:hover {
    color: #111B40;
}

.swa_templates_t4 #swa_module_content a[href^="#"],
.swa_templates_t4  .swa_content_module a[href^="#"],
.swa_templates_t11 .swa_benefits_list table a {
    color: #304CB2;
    text-decoration: none;
}

.swa_templates_t4 #swa_module_content a[href^="#"]:hover,
.swa_templates_t4  .swa_content_module a[href^="#"]:hover,
.swa_templates_t11 .swa_benefits_list table a:hover {
    color: #111B40;
    text-decoration: underline;
}

/*T6*/
.swa_templates_t6 .swa_expandables_expandable_list a,
.swa_templates_t6 .swa_panels_rounded_yellowWithBorder a {
    color: #304CB2;
    text-decoration: underline;
}

.swa_templates_t6 .swa_expandables_expandable_list a:hover,
.swa_templates_t6 .swa_panels_rounded_yellowWithBorder a:hover {
    color: #111B40;
}

/*T9*/
.swa_templates_t9 .swa_module_how_to_content a {
    color: #304CB2;
    text-decoration: underline;
}

.swa_templates_t9 .swa_module_how_to_content a:hover {
    color: #111B40;
}

/*T11*/
.swa_templates_t11 .swa_module_employee_quotes a,
.swa_templates_t11-retired .swa_module_employee_quotes a,
.swa_templates_t11 .swa_text_small a,
.swa_templates_t11-retired .swa_text_small a,
.swa_templates_t11 .swa_right_content_contentDetailText a {
    color: #304CB2;
    text-decoration: underline;
}

.swa_templates_t11 .swa_module_employee_quotes a:hover,
.swa_templates_t11-retired .swa_module_employee_quotes a:hover,
.swa_templates_t11 .swa_text_small a:hover,
.swa_templates_t11-retired .swa_text_small a:hover,
.swa_templates_t11 .swa_right_content_contentDetailText a:hover {
    color: #111B40;
}

.swa_templates_t11 .swa_right_content_contentDetailText .dests a {
    text-decoration: none;
}

.swa_templates_t11 .swa_right_content_contentDetailText .dests a:hover {
    text-decoration: underline;
}


/*T12*/
.swa_templates_t12 .wcm_grid_container li a,
.swa_templates_t12 .wcm_grid_container p a,
.swa_feature_rapidRewards_partners_grid_partnerDetails table.dotted_table a,
.swa_templates_t12 .partner_details_content a {
   color: #304CB2;
   text-decoration: underline;
}

.swa_templates_t12 .wcm_grid_container p .swa-button {
   text-decoration: none;
}

.swa_templates_t12 .wcm_grid_container li a:hover,
.swa_templates_t12 .wcm_grid_container p a:hover {
   color: #111B40;
}

/*U4*/
.swa_main_content_inner_left_center .swa_benefits_list a,
.swa_templates_u4 .swa_layout_main_inner p a {
    color: #304CB2;
    text-decoration: underline;
}

.swa_main_content_inner_left_center .swa_benefits_list a:hover,
.swa_templates_u4 .swa_layout_main_inner p a:hover {
   color: #111B40;
}

.swa_errors_informationalMessage_inner a{
    text-decoration: underline;
}

.earlyBirdTableWrapper-a11y--links a{
    text-decoration: underline;
}

/*HTML errors page*/
.swa_templates_error .swaContent a {
    color: #304CB2;
    text-decoration: underline;
}

.swa_templates_error .swaContent a:hover {
    color: #111B40;
}