.easy-autocomplete-container{background-color:#FFF;position:absolute;width:100%}
.easy-autocomplete-container .easy-autocomplete-list{margin:0}
.easy-autocomplete-container .easy-autocomplete-list .easy-autocomplete-item{border-bottom:0;color:#111b40;font:bold 16px arial;padding:5px 3px}
.easy-autocomplete-container .easy-autocomplete-list .easy-autocomplete-item .easy-autocomplete-already-typed{font-weight:normal}
.easy-autocomplete-container .easy-autocomplete-list .easy-autocomplete-item.selected{background-color:#e6e7e8}
.gsaSearchResultPage{background-color:#FFF;position:relative}
.gsaSearchResultPage .easy-autocomplete-list{margin:0;padding:0}
.gsaSearchResultPage .easy-autocomplete-list .easy-autocomplete-item .easy-autocomplete-already-typed{display:inline-block;font-weight:normal;padding:0}
.gsaSearchResultPage .easy-autocomplete-list .easy-autocomplete-item.selected{background-color:#e6e7e8}
.gsaSearchResultPage .easy-autocomplete-container{width:256px}
.gsaSearchResultPage .easy-autocomplete-container .easy-autocomplete-list .easy-autocomplete-item{border-bottom:0;color:#111b40;font:bold 12px arial;list-style:none;margin:0;padding:2px 0}
.button-align{float:left;margin-left:10px}
.gsa-search-faq{background-color:#FFF;position:relative}
.gsa-search-faq .easy-autocomplete-list{margin:0;padding:0}
.gsa-search-faq .easy-autocomplete-list .easy-autocomplete-item .easy-autocomplete-already-typed{display:inline-block;font-weight:normal;padding:0}
.gsa-search-faq .easy-autocomplete-list .easy-autocomplete-item.selected{background-color:#e6e7e8}
.gsa-search-faq .easy-autocomplete-container{width:371px}
.gsa-search-faq .easy-autocomplete-container .easy-autocomplete-list .easy-autocomplete-item{border-bottom:0;color:#111b40;font:bold 12px arial;list-style:none;margin:0;padding:2px 0}