@CHARSET "UTF-8";IMG{-ms-interpolation-mode:bicubic}
.boldText{font-weight:bold}
.gray2_text{color:#707070}
#print_image{display:none}
#page p{margin:0;padding:0 0 10px 0}
#sw_breadcrumb{width:965px;display:block;padding-top:11px;padding-bottom:11px;margin-left:9px;background:url(/assets/images/12.5_dotted_line.gif) repeat-x bottom;margin-bottom:10px}
#sw_breadcrumb.loyalty{padding-left:12px;font:15px helvetica,arial,sans-serif;margin:0;font-weight:bold;color:#707070}
#sw_breadcrumb.loyalty img{margin-left:5px;margin-right:5px}
#sw_breadcrumb.loyalty span.current{color:black!important}
#sw_main_column_container{float:left;clear:left}
#sub-nav-bookend{width:8px;height:35px;float:left;background-image:url('/assets/images/sprites/sw_common_vertical.png');background-position:left -418px}
#sub-nav-bookend-car{width:8px;height:35px;float:left;background-image:url('/assets/images/sprites/sw_common_vertical.png');background-position:left -418px}
#oopsSuccesses{width:750px;font-size:0;line-height:0;margin-bottom:10px}
#wide_title{margin-left:10px;position:relative;width:758px}
#sw_main{width:980px}
#sw_main_section{float:left;width:750px}
#sw_content{margin:0;width:750px;padding-left:10px}
#sw_content_wide{float:left;margin:0;width:760px;height:auto;padding-left:10px}
#right_nav{float:right;width:194px;height:auto}
#memberNumber{width:169px;font-size:11px;color:#656565;margin-bottom:5px}
#password,#defaultPassword{width:169px;font-size:11px;color:#656565}
#password{color:black}
.rememberMeLabel{position:relative;bottom:3px;font-weight:normal;font-size:11px;letter-spacing:-1px}
.rememberMeDiv{float:left;width:120px}
#rememberMe{margin-left:10px;margin-right:0}
.account_bar_content1{background:url(/assets/images/signin_box_bg.gif) no-repeat top left;padding:10px 0 0 0}
.account_bar_content1 .content{background:white url(/assets/images/signin_box_bg.gif) no-repeat bottom left;padding:0 10px}
.buttonActingAsAnchor{display:inline;font-size:11px;text-align:left;border:0;color:#2683f9;background-color:transparent;cursor:pointer;padding:0 6px}
FIELDSET{border:0}
input.buttonActingAsAnchor:hover{cursor:pointer;text-decoration:underline}
.loginLink{display:block;clear:both;padding:5px 0;font-size:11px;line-height:12px;letter-spacing:-1px}
.logoutLink{padding:0 5px 0 0;font-size:11px;border:0;color:#2683f9;background-color:transparent;cursor:pointer;float:right;line-height:13px}
input.buttonAsLink:hover{text-decoration:underline}
input.buttonAsLink,input.buttonAsBigLink{font-size:11px;line-height:12px;text-align:left;border:0;color:#2683f9;background-color:transparent;cursor:pointer;text-decoration:none}
.createAccountLink{display:block;clear:both;padding:5px 0;font-size:11px;line-height:12px;text-align:left;border:0;color:#2683f9;background-color:transparent;cursor:pointer}
input.logoutLink:hover{cursor:pointer;text-decoration:underline}
input.createAccountLink:hover{cursor:pointer;text-decoration:underline}
#loginButton{float:left}
.loginButton{float:left;background:transparent url(/assets/images/header/btn_go.gif) no-repeat scroll left top;width:28px;height:20px;color:white}
.submitDisabled{cursor:auto!important;background:url(/assets/images/button_submit_disabled.png) no-repeat scroll left top!important}
#profile p.loginError{padding:5px!important}
.loginError{color:red;font-weight:bold;font-size:11px}
.mySouthwestLogin{border-left:1px solid #cbcedf;border-right:1px solid #cbcedf;padding-left:8px}
.mySouthwestLogin span{font-size:10px;color:#656565;font-weight:normal;clear:left}
.oopsError_wrapper{padding-bottom:7px;width:740px;margin:0 0 10px 10px;font-size:11px;line-height:13px}
.oopsError_wrapper_lower{padding-top:7px;width:740px;margin:0 0 10px 10px;font-size:11px;line-height:13px}
#error_wrapper,#notification_wrapper,#notification_wrapper_noimage,#companion_pass_wrapper,#soda_error_wrapper,#maintenance_wrapper{padding-bottom:7px;width:740px;float:left;clear:both;display:inline;font-size:11px;line-height:13px}
#oopsSuccesses .swa_notification_enjoyMessage{margin-left:10px}
.thanks_wrapper{width:755px!important;margin-left:10px!important}
.notices_override{background-image:url(/assets/images/notice_message_top.gif);padding:9px 0 15px 0!important}
.notices_override_soda_disablemodalelements H5{display:none}
.notices_override_soda_disablemodalelements .sodaModalMessage{color:#d5152e;margin-bottom:0!important}
#error_wrapper,#multi_pax_air_error_wrapper,#soda_error_wrapper,#maintenance_wrapper{background:url(/assets/images/error_message_bottom.gif) no-repeat bottom left}
#notification_wrapper{background:url(/assets/images/enjoy_message_bottom.gif) no-repeat bottom left}
#companion_pass_wrapper{background:url(/assets/images/companion_pass_bottom.gif) no-repeat bottom left}
#notification_wrapper_noimage{background:url(/assets/images/announcement_message_bottom.gif) no-repeat bottom left;margin-bottom:10px;margin-left:10px}
#notice_wrapper{background:url(/assets/images/error_message_bottom.gif) no-repeat bottom left;clear:left}
.oopsError_message{color:#d5152e;float:left;font-family:verdana,arial,sans-serif;font-size:29px;font-weight:normal;letter-spacing:-1px;line-height:55px;margin-left:50px}
#errors,#soda_errors{background:#f4f5fa url("/assets/images/error_message_top.gif") no-repeat left top;padding:9px 10px 15px 150px;list-style:none}
.errors_no_image{background:#f4f5fa url(/assets/images/error_message_no_image_top.gif) no-repeat top left!important;padding:9px 80px 15px!important}
#maintenance_wrapper{margin:0 0 300px 10px!important}
#maintenance_wrapper #errors{background:#f4f5fa url(/assets/images/error_message_no_image_top.gif) no-repeat top left;padding:9px 75px 15px 75px}
#maintenance_wrapper #errors li{border:0 solid blue}
ul#soda_errors{color:red;margin:0;line-height:15px}
#notifications{background:#f4f5fa url(/assets/images/enjoy_message_top.gif) no-repeat top left;padding:5px 10px 10px 150px;list-style:none;line-height:18px}
.thanks_notification{background-image:url(/assets/images/thanks_message_top.gif)!important;padding-top:10px!important}
.thanks_notification LI{padding-left:21px!important;margin:0!important}
.success_notification{background:#f4f5fa url(/assets/images/success_message_top.gif) no-repeat top left!important;padding:5px 10px 1px 193px!important}
#companion_pass{background:#f4f5fa url(/assets/images/companion_pass_top.gif) no-repeat top left;padding:5px 10px 0 150px;list-style:none}
#companion_pass_wrapper UL#companion_pass{float:left;width:580px;^width:740px!important}
.companionPass--label{color:#304cb2;font:bold 31px Arial;letter-spacing:-1px}
.companionPass-background{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F7F7FF',GradientType=0)}
.companionPass--wrapper-background{background:linear-gradient(to bottom,#FFF 0,#f7f7ff 12%,#f7f7ff 100%);border:1px solid #CCC;border-collapse:separate;box-shadow:inset 0 0 5px 1px #CCC;padding:5px 3px 2px}
.companionPass--label-wrapper{display:inline-block;margin:7px 7px 10px}
#sw_main_content #companion_pass_wrapper UL#companion_pass{width:580px!important}
ul#companion_pass{margin:0;line-height:15px}
.dynamic_notification{background:url(/assets/images/dynamic_message_top.gif) no-repeat top left!important;padding:5px 10px 5px 55px!important;width:auto!important;^width:675px!important}
#oopsSuccesses .swa_messageSuccess_resetPassword{background:url(/assets/images/enjoy_message_bottom_reset_pwd.gif) no-repeat bottom left!important;width:950px}
.swa_messageSuccess_resetPassword #notifications.dynamic_notification{background:url(/assets/images/dynamic_message_top_reset_pwd.gif) no-repeat top left!important;width:885px!important;^width:950px!important}
.dynamic_notification LI.large{font-size:16px;font-weight:bold;font-family:Helvetica,Arial,Sans-serif;margin:8px 0 5px 0!important;width:675px}
.dynamic_notification LI.small{line-height:13px;color:#666;width:675px;margin:0!important}
#notifications_noimage{padding:10px 10px 10px 20px;margin-bottom:0;list-style:none;line-height:18px;background:url(/assets/images/announcement_message_top.gif) no-repeat top left;margin-left:0!important}
#notices{background:#f4f5fa url(/assets/images/notice_message_top.gif) no-repeat top left;padding:15px 10px 18px 160px;list-style:none}
#soda_error_wrapper UL#soda_errors,#notifications{float:left;width:580px;min-height:35px;^height:auto!important;^height:50px}
#error_wrapper UL#errors>li,#soda_error_wrapper UL#soda_errors>li,#notifications>li{^width:580px}
#oopsSuccesses .swa_messageSuccess_resetPassword{margin:10px 0 0 10px}
#errors li,#soda_errors li{margin-top:10px}
#notifications li{margin:10px 0}
#notifications li.certificate{width:680px}
#companion_pass li{margin:8px 0 10px 110px}
#notices_li{margin:7px 0}
#errors li.error_reference{margin-top:50px;color:gray}
#errors li.error_reference_nomargin{color:gray}
#errors li ul{list-style-type:disc}
.no_data{background-color:transparent!important;font-weight:normal}
.largestSubmitButtonBlue,.submitButtonBlue96,.submitButton,.mediumSubmitButton,.submitLink,.submitButtonLargest,.submitButtonWhite,.mediumSubmitButtonWhite,.largeSubmitButtonWhite,.largestSubmitButtonWhite,.largeSubmitButton,.smallSubmitButtonWhite,.buttonWhiteWidth126,.buttonWhiteWidth80{border:0;cursor:pointer;font:bold 12px/14px Helvetica,Arial,sans-serif;padding-bottom:2px;text-align:center;vertical-align:middle}
A.largestSubmitButtonBlue,A.submitButtonBlue96,A.submitButton,A.mediumSubmitButton,A.submitLink,A.submitButtonLargest,A.submitButtonWhite,A.mediumSubmitButtonWhite,A.largeSubmitButtonWhite,A.largestSubmitButtonWhite,A.largeSubmitButton,A.smallSubmitButtonWhite{display:inline-block;^display:block;padding-top:5px;margin-top:5px}
.largestSubmitButtonBlue:hover,.submitButtonBlue96:hover,.smallSubmitButtonWhite:hover,.submitButton:hover,.submitButtonLargest:hover,.largeSubmitButton:hover,.mediumSubmitButton:hover,.mediumSubmitButtonWhite:hover,.submitButtonWhite:hover,.largeSubmitButtonWhite:hover,.largestSubmitButtonWhite:hover,.buttonWhiteWidth126:hover,.buttonWhiteWidth80:hover{text-decoration:none}
.submitButton,.mediumSubmitButton,.submitButtonLargest,.largeSubmitButton,.submitButtonBlue96,.largestSubmitButtonBlue{color:white!important}
.submitButtonBlue96_disabled,.submitButton_disabled,.mediumSubmitButton_disabled,.submitButtonLargest_disabled,.largeSubmitButton_disabled,.largestSubmitButtonBlue_disabled{color:#ccc!important}
.submitButtonWhite,.mediumSubmitButtonWhite,.largeSubmitButtonWhite,.largestSubmitButtonWhite,.smallSubmitButtonWhite,.buttonWhiteWidth126,.buttonWhiteWidth80{color:#2683f9!important}
.submitButtonDisabled{width:97px!important;cursor:auto!important;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png')!important;background-position:left -925px!important}
.submitButtonWhite_disabled,.mediumSubmitButtonWhite_disabled,.largeSubmitButtonWhite_disabled,.largestSubmitButtonWhite_disabled,.smallSubmitButtonWhite_disabled,.buttonWhiteWidth126_disabled,.buttonWhiteWidth80_disabled{color:#ccc!important}
.largestSubmitButtonBlue{width:188px;height:27px;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -951px}
.submitButtonBlue96{width:96px;height:25px;background-color:transparent;background-repeat:no-repeat;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -988px}
.submitButton,.submitLink{width:86px;height:25px;background-color:transparent;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1023px}
.submitButton45{font-size:11px;width:45px;height:25px;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1058px}
INPUT.submitButton_disabled,INPUT.submitLink_disabled,A.submitButton_disabled,A.submitLink_disabled{background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png')!important;background-position:left -1093px!important}
.submitButtonLargest{width:200px;font-size:12px;height:25px;background-color:transparent;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1128px}
INPUT.submitButtonLargest_disabled,A.submitButtonLargest_disabled{background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png')!important;background-position:left -1163px!important}
.smallSubmitButtonWhite{width:60px;height:25px;margin-top:1px;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1198px}
.submitButtonWhite{width:101px;height:25px;background-color:transparent;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1233px}
.mediumSubmitButtonWhite{width:139px;height:25px;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1268px}
.largeSubmitButtonWhite{width:160px;height:25px;font-size:11px;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1303px}
.largestSubmitButtonWhite{width:190px;height:25px;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1338px}
.largeSubmitButton{width:160px;height:25px;background-color:transparent;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1373px}
.submitButtonLargest{border:0;width:200px;height:26px;color:white;font-weight:bold;text-align:center;font-size:12px;font-family:Helvetica,Arial,Sans-serif;padding-bottom:2px;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1128px}
a.submitButtonLargest{display:block;padding-top:5px;margin-top:5px;color:white!important}
.mediumSubmitButton{width:120px;height:25px;background-color:transparent;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1408px}
.buttonWhiteWidth126{display:inline-block;^display:block;line-height:24px!important;width:126px;height:24px;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1443px}
.buttonWhiteWidth80{display:inline-block;^display:block;width:80px;height:24px;line-height:24px;background-color:transparent!important;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1477px}
.adSpace #purchaseForm{float:left}
.adSpace .chaseOffer{background:#f0f0f0;margin:10px auto;padding:2px;border:1px solid #736e97;float:left;clear:none;text-align:left;width:auto;height:auto}
.adSpace .chaseText IMG{float:right;padding:1px}
.adSpace .chaseText{padding:2px;float:left;font-size:11px;font-weight:normal;width:auto;height:auto}
.travelAlert{width:931px;display:block;padding:7px 10px 8px;margin:0 5px 0 10px;background-color:#ebebeb;border-color:#ff9700;border-style:solid;border-width:0 1px 1px;line-height:18px}
.travelAlert_title{color:#ff0200;font-weight:bold;background:url(/assets/images/alert.gif) no-repeat top left;padding:0 0 3px 20px}
a:active{outline:0}
a:focus{-moz-outline-style:none}
#find-deal-widget-content-wrapper{width:760px}
#ad{text-align:center;margin-top:40px}
#left_nav_border{border:1px solid #d9d9d9}
#left_nav{float:left;padding:5px;width:200px;background-color:white}
.deal-snapshot{padding:10px 0 0 5px;width:185px}
.deal-snapshot hr{margin-bottom:5px}
.cityInputSize{width:170px;margin:0 0 10px 0}
.no_results{clear:left;padding-top:10px}
.max_amount{color:green;font-weight:normal}
#find-deal-widget{width:190px;padding:0 0 25px 0;margin:5px 10px 10px 5px;background:url(/assets/images/fdw-background.png) bottom right no-repeat}
#find-deal-widget h5{margin:0;padding:15px 10px 3px 10px;background:url(/assets/images/fdw-background.png) top left no-repeat}
#find-deal-widget .input_holder{margin:0;padding:0 5px;background:#e7e9f4 url(/assets/images/deal-widget-gradient-trans.gif) repeat-x top left}
#checkbox_holder,#depart_on,#return_on,#airports_pickers{padding-left:5px}
#find-deal-widget .deals-widget-buttons{display:block;background:url(/assets/images/fdw-background_ie.png) 190px 50% no-repeat;padding:0 24px 0 10px;margin:0 0 10px 0}
#find-deal-widget label{font-weight:bold;font-family:helvetica,arial,sans-serif;font-size:15px;line-height:17px;margin:5px 0 0 0;cursor:pointer}
#find-deal-widget .checkbox{position:relative;top:1px;cursor:pointer}
#find-deal-widget #return_on{margin-top:10px}
._border_{background-color:#d9d9d9;padding:1px}
#_border-holder_{float:left;width:192px;position:relative;top:-6px;left:1px;background-color:white}
#checkbox_holder{padding-top:7px}
.input_checkbox{margin-top:4px}
.vacation_input_checkbox{margin-top:4px}
.cruise_input_checkbox{margin-top:4px}
.dateInput{font-size:11px;margin-bottom:3px;width:148px}
div.date_field img.ui-datepicker-trigger{position:absolute;bottom:7px;right:3px;top:auto;cursor:pointer}
.ua_js_no div.date_field img.ui-datepicker-trigger{display:none}
div.date_field{position:relative;float:left}
#ui-datepicker-div{display:none;z-index:3000}
#find-deal-widget img{padding:5px 0}
.deals-widget-buttons input,.deals-widget-buttons a{vertical-align:bottom;cursor:pointer}
input#btnFrmAirBookGoBtnInsideBookExploreWidget{background:url(/assets/images/btnFrmBookGoBtn.jpg) no-repeat top left;width:66px;height:25px;border:0;float:left}
.deals-widget-buttons #reset{background:url(/assets/images/button.png) no-repeat top left;float:left;width:86px;height:26px;color:white;font-size:12px;font-weight:bold;text-align:center;padding-top:6px;padding-bottom:2px;margin-left:3px}
div.button input,div.button button{background:url(/assets/images/button.png) no-repeat top left;height:26px;width:86px;border:0;color:white;font-weight:bold;margin-top:5px;font-size:11px;line-height:22px;cursor:pointer}
.deals-widget-buttons #reset:hover{text-decoration:none}
div.pager{text-align:right;color:#000;position:relative;bottom:15px}
div.pager li{list-style:none;display:inline;padding:0 3px}
div.pager li span.separator_bar{color:#666;padding:0 0 0 3px}
#hotel_detail_booking_widget{width:260px;float:left;background-color:#efefef;padding:10px;margin-top:18px}
#hotel_detail_booking_widget .input_holder{min-height:55px}
#hotel_detail_booking_widget #checkin_date,#hotel_detail_booking_widget #checkout_date{width:120px;min-height:55px;margin:5px 5px 0 0;float:left}
#how_many #adults,#how_many #children{width:120px;margin:0 5px 0 0;float:left}
#hotel_detail_booking_widget p{margin:0}
#hotel_detail_booking_widget #checkin_date input,#hotel_detail_booking_widget #checkout_date input,#how_many #adults select,#how_many #children select{width:110px!important}
#how_many{height:30px;margin:10px 0}
a.button{background:transparent url(/assets/images/button-right.png) no-repeat scroll top right;color:white;display:block;height:25px;margin:3px 4px 3px 3px;padding-right:4px;text-decoration:none;font-weight:bold;text-align:center;cursor:pointer}
a.button:hover,a.button:visited{color:white;text-decoration:none;cursor:pointer}
a.button span{background:transparent url(/assets/images/button-left.png) no-repeat;display:block;line-height:14px;padding:5px 0 5px 5px;color:white}
#profile{width:194px;background:#f6f6ff url(/assets/images/account-bar-bottom.gif) no-repeat bottom left;margin:0 0 5px 0;padding:0 0 10px 0}
div.account_bar_content,#profile p{border-left:1px solid #cbcedf;border-right:1px solid #cbcedf;font-size:11px}
#profile div.content p{border-left-style:none!important;border-right-style:none!important}
.account_bar_content_box ul{margin:0;padding:5px 0 0 10px;list-style:none}
.account_bar_content_box h6{background:url(/assets/images/account-gradient-sliding-door-bg.gif) no-repeat top left;padding:10px 0 0 8px;letter-spacing:-1px}
.account_bar_content_box li{background:url(/assets/images/account_bar_list_arrow.gif) no-repeat 0 5px;padding-left:7px;line-height:15px}
.box_closed{background:url(/assets/images/account-bar-closed.gif) no-repeat top left!important;height:25px}
.box_closed h6{background:none!important}
.box_closed .content{display:none!important}
.account_bar_content_box{margin-left:3px;margin-bottom:5px;background:url(/assets/images/account-gradient-sliding-door-bg.gif) no-repeat bottom left;width:186px;padding-bottom:10px}
.account_bar_content_box .content{background:#fff url(/assets/images/account-gradient-center-large.gif) repeat-x top;border-left:solid 1px #b3bceb;border-right:solid 1px #b3bceb}
.account_bar_content_box .content p.text{padding:5px 7px!important}
#sl_MyProfileWidget{background:url(/assets/images/travel_talk_bg.png) no-repeat top left;margin:0;padding:5px 0}
#loginErrorMessageIE{background:url(/assets/images/travel_talk_bg.png) no-repeat top left;text-align:center}
.sl_MyProfileWidget_spotlight{background-color:#f6f6ff;border-left:1px solid #cbcedf;border-right:1px solid #cbcedf;padding:0 3px}
.sl_MyProfileWidget_avatar img{border:1px solid #c4c7df;padding:3px;background-color:white;margin:10px 5px;float:left}
#profile .sl_MyProfileWidget_howdy,#profile .sl_MyProfileWidget_user{display:block;float:left;width:110px;color:black}
#profile .sl_MyProfileWidget_howdy{margin-top:10px;font-size:10px;line-height:14px;font-weight:bold}
#profile .sl_MyProfileWidget_user,#profile div.log_in{font-weight:normal;font-size:12px;line-height:20px;color:black}
#profile .sl_MyProfileWidget_user_link{padding-top:10px;width:118px;float:left;font-weight:bold;font-size:15px;line-height:17px;font-family:helvetica,arial,sans-serif}
#profile #memberLoginForm,#profile .sl_MyProfileWidget_content_links,#profile #modalLoginForm{clear:left}
#profile #memberLoginForm,#profile #modalLoginForm{border-bottom:1px solid #d1d8fe;padding-bottom:10px;margin-bottom:10px}
#profile .sl_MyProfileWidget_meta,#profile .sl_MyProfileWidget_content_links{width:186px;background:url(/assets/images/login_background.png) no-repeat bottom right;padding:0 0 10px 0}
#profile .profile_widget_content{background-color:white;border-left:1px solid #d1d8fe;border-right:1px solid #d1d8fe;padding:0 7px}
#profile .log_in{background:white url(/assets/images/login_background.png) no-repeat top left;padding:17px 5px 0 7px}
#profile form .text_input{width:125px}
input.go_button{background:url(/assets/images/btnFrmBookGoBtn.jpg) no-repeat top left;width:66px;height:25px;border:0}
input.go_button_small{background:url(/assets/images/btnFrmBookGoBtn2.jpg) no-repeat top left;width:34px;height:25px;border:0}
#profile ul.checklist{margin:0 0 0 20px;padding:0}
ul.checklist{list-style-image:url(/assets/images/3.3_red_checkmark.gif);margin:10px 0 0 20px}
ul.checklist li{margin-bottom:5px}
#profile .sl_MyProfileWidget_content_links div.sl_MyProfileWidget_manage_link,#profile .sl_MyProfileWidget_content_links div.sl_MyProfileWidget_content_links_trips,#profile .sl_MyProfileWidget_content_links div.sl_MyProfileWidget_content_links_posts,#profile .sl_MyProfileWidget_content_links div.sl_MyProfileWidget_content_links_photos,#profile .sl_MyProfileWidget_content_links div.sl_MyProfileWidget_content_links_videos,#profile .sl_MyProfileWidget_content_links div.sl_MyProfileWidget_content_links_comments{width:166px;padding:8px 10px;border-bottom:1px solid #e5e5e5;color:black}
#profile div.sl_MyProfileWidget_content_links_journal{background:url(/assets/images/my_journal_background.png) no-repeat top left;width:186px;height:25px;font-size:16px;line-height:20px;font-weight:bold;color:black;letter-spacing:-1px;padding:5px 10px;border:0}
#profile div.sl_MyProfileWidget_content_links .sl_MyProfileWidget_manage_link{text-align:right;padding:5px 0 0 2px;border-bottom:0;margin-right:0}
#profile .sl_MyProfileWidget_content_links div span.title_span{font-size:14px;font-weight:bold;letter-spacing:-1px}
#profile .sl_MyProfileWidget_content_links div span.add_another{font-size:10px}
img.sl_avatar_image,img.sl_member_avatar,img.sl_user_avatar,.sl_journal_header_user img{background-color:white;border:1px solid #c4c7df!important;margin:10px;padding:3px}
.required,.template_star,.sl_TripCreate_requiredFieldNotice_star{color:#d5152e!important;font-weight:normal}
.template_star,.sl_TripCreate_requiredFieldNotice_star{padding-right:2px}
.requiredGreen{color:green!important;font-weight:normal}
#tab-holder{display:block;width:100%;line-height:normal;margin-bottom:0;background:url(/assets/images/12.3_divider_tab.gif) repeat-x bottom left;padding-top:1px}
#tab-holder ul{margin:0;padding:5px 0 6px 0;list-style:none}
#tab-holder li{display:inline;background:url(/assets/images/tab_right_inactive.png) no-repeat right top;margin:0 2px 0 0;padding:6px 0}
#tab-holder a{background:url(/assets/images/tab_left_inactive.png) no-repeat left top;padding:6px 12px 5px;color:white;font-weight:bold}
#tab-holder a:hover{text-decoration:none}
#sl_JournalWidget #tab-holder{margin:10px 0}
.indented_option{margin-left:15px}
.optionalFields{padding-bottom:10px;padding-top:10px;text-align:center;font-size:12px}
.even_more_details{background-color:white;border-left:1px solid #d1d8fe;border-right:1px solid #d1d8fe;border-top:1px solid #d1d8fe;margin-top:10px;padding-top:8px;padding-left:7px;padding-right:7px}
#streetViewButtonDiv{color:#000;background-color:white;font:small Arial;border:1px solid black;text-align:center;width:85px;cursor:pointer}
ul.disabilityRequested li{background:url(/assets/images/exclamation_new.gif) no-repeat 20px 0;height:20px;padding:4px 0 0 38px}
p.passengerInfoCaption{margin:0;padding:0!important;color:black;font-family:Helvetica,Arial,Sans-serif;font-size:11px;font-weight:bold;float:left;width:100%;clear:both;text-align:right}
.questionIcon{vertical-align:middle}
.product_tabs{background:#f6f6ff url(/assets/images/product_tabs_bottom.gif) repeat-x left bottom;height:53px;position:relative}
.product_tabs .FD_name{margin:0 15px 5px 15px;padding-top:5px}
.product_tabs_name{color:#000;font:bold 15px/1.2 helvetica,arial,sans-serif;margin:0 15px 5px 15px;padding-top:5px}
#terms_and_conditions{clear:both}
#terms_and_conditions UL{list-style:none;margin:0;padding:0}
#terms_and_conditions LI{padding-bottom:3px}
.aboveSubmitButtonText{padding-top:25px;padding-bottom:6px;clear:both;font-size:16px;line-height:18px}
input.fieldError,select.fieldError{border:1px solid red;background-color:#ffc}
span.fieldError{color:red;font-weight:bold}
.labelFieldError{color:red}
.destination_flyout_button_errorstate{top:19px!important}
.expanderImage{cursor:pointer;height:11px;width:11px;display:inline-block!important;margin:0;font-size:11px;line-height:11px;background-color:transparent;background-repeat:no-repeat;background-position:0 0;background-image:url('/assets/images/sprites/sw_common_vertical.png');background-position:left -453px}
.plusImage{background-image:url('/assets/images/sprites/sw_common_vertical.png')!important;background-position:left -464px!important}
.minusImage{background-image:url('/assets/images/sprites/sw_common_vertical.png')!important;background-position:left -453px!important}
.priceItineraryForm-container .plusImage,.trip_itinerary_detail_table_container .plusImage{background-image:url('/assets/images/sprites/sw_common_vertical.png')!important;background-position:left -475px!important}
.priceItineraryForm-container .minusImage,.trip_itinerary_detail_table_container .plusImage{background-image:url('/assets/images/sprites/sw_common_vertical.png')!important;background-position:left -486px!important}
.instructionalText{padding-top:10px}
.headerAboveSubsection{margin:20px 0 10px}
.topPageInstructions{margin:10px 0;width:710px}
.skipNavigationLink{height:1px;width:1px;position:absolute;top:0;left:0}
.notranslate .skip-top-navigation--link,.ua_js_no .skip-top-navigation--link{color:#304cb2;cursor:default;display:block;font:11px Arial,Helvetica,sans-serif;height:1px;overflow:hidden;position:absolute;text-decoration:none;width:1px;z-index:100}
.notranslate .skip-top-navigation--link:focus,.notranslate .skip-top-navigation--link:active,.ua_js_no .skip-top-navigation--link:focus,.ua_js_no .skip-top-navigation--link:active{height:auto;left:2px;top:2px;width:auto}
.form_optional{color:#666}
.italic{font-style:italic}
.swaGiftCardBold{font-weight:bold}
.centeredText{text-align:center}
.certificateFlightSearchPopup #buildItinShowFares,.certificateFlightSearchPopup #bigRadios{display:none}
.genericFlightSearchPopup #flexibleDatesOption{display:none}
.clear{clear:both;height:0;line-height:0;font-size:0}
.clear-empty{clear:both;font-size:0;line-height:0;height:0}
#page_bottom_popup_outer_container{text-align:left;clear:both}
#page_bottom_popup_outer_container P{margin:5px 0}
.superscript{font-size:xx-small;vertical-align:super}
.noTopMargin{padding-top:0}
#global_account_bar,body,.std_body2,textarea{font:11px/13px Verdana,Tahoma,sans-serif;color:#333}
.std_body1{font:12px/14px Verdana,Tahoma,sans-serif}
.std_body3{font:10px/12px Verdana,Tahoma,sans-serif}
.std_body4{font:9px/11px Verdana,Tahoma,sans-serif}
.passengersTable caption,.caption{font-family:Helvetica,Arial,sans-serif;font-size:10px;text-transform:uppercase;text-align:left;font-weight:bold;color:black;padding-left:10px}
ul#errors{color:#d5152e;line-height:15px;margin:0;min-height:35px}
ul#errors h4{color:#d5152e;margin-bottom:5px}
ul#errors a{color:#304cb2}
ul#errors a:hover{color:#111b40}
ul#notifications{color:green;margin:0}
ul#notices{color:red;margin:0}
.error,.sl_addreview_errormessage,.error_list{color:red;font-weight:bold;font-size:11px!important;line-height:13px!important;padding:5px 0}
.global_account_bar_login_form_container .error{clear:both}
.error_list{margin-left:30px}
.dateError{display:none;color:red;font-weight:bold;font-size:11px;line-height:13px;margin:1px 0}
.back_to_top{font-size:9px;line-height:11px;font-weight:normal}
a,a:link,a:visited{color:#304cb2;text-decoration:none}
a:hover{color:#111b40;cursor:pointer;text-decoration:underline}
a img,a:link img,a:visited img{border:0}
.right_nav_my_account_link a{color:#304cb2}
.right_nav_my_account_link a:hover{color:#111b40;text-decoration:underline}
.right_nav_my_account_link a:focus{color:#304cb2}
.global-account-bar--rapid-rewards-link-wrapper{padding-bottom:8px}
.global-account-bar--rapid-rewards-link{font-weight:bold;line-height:22px;margin-left:10px}
h1{font:30px/32px helvetica,arial,sans-serif;color:#000;margin:0;font-weight:bold;letter-spacing:-1px}
h2{font:24px/28px helvetica,arial,sans-serif;color:#000;margin:0;font-weight:bold}
h3{font:22px/25px helvetica,arial,sans-serif;color:#000;margin:0;font-weight:bold}
h3.topTitle,#wide_title h3{font-weight:normal;font-size:26px;margin-top:10px;line-height:30px;letter-spacing:-1px}
.RapidRewardsOverview #wide_title h3{margin-top:0}
h3#inbound_results,h3#outbound_results{font-weight:normal;font-size:26px;line-height:29px;letter-spacing:-1px}
h4{font:20px/23px helvetica,arial,sans-serif;color:#000;margin:0;font-weight:bold}
h5{font:18px/20px helvetica,arial,sans-serif;color:#000;margin:0;font-weight:bold}
h6{font:15px/17px helvetica,arial,sans-serif;color:#000;margin:0;font-weight:bold}
h7{font:14px/16px helvetica,arial,sans-serif;margin:0;font-weight:bold!important;display:block;margin:5px 0 0 0}
h8{font:12px/14px helvetica,arial,sans-serif;margin:0;font-weight:bold}
.carouselHeadingContainer .carousel--title{color:#000;font-family:Helvetica,Arial,sans-serif;font-size:24px;font-weight:bold;margin:0;letter-spacing:0;line-height:20px;padding:15px 0}
.wcm_booking_widget_title .booking_widget--title-left{color:#000;font:bold 18px/20px helvetica,arial,sans-serif;line-height:25px;margin:0 0 10px 0;padding:0}
.swa_benefits_list .swa-select--benefits{font-size:16px;font-family:Helvetica,Arial,Sans-serif;font-weight:bold;margin:0;letter-spacing:-1px;line-height:20px}
.page_title{margin-bottom:10px}
.subTitle{font:12px/14px Verdana,Tahoma,sans-serif;color:#666}
strong{font-weight:bold}
.regular_text{font-weight:normal}
.price1{font:38px/34px helvetica,arial,sans-serif;font-weight:bold}
.price2{font:16px/18px helvetica,arial,sans-serif;font-weight:bold}
.number1{font:36px/42px helvetica,arial,sans-serif;font-weight:bold;color:#091d86}
.number2{font:30px/36px helvetica,arial,sans-serif;color:#abcdf8}
.number3{font:20px/23px helvetica,arial,sans-serif;color:#abcdf8}
.tab1_ON{font:20px/23px helvetica,arial,sans-serif;color:#000}
.tab1_OFF{font:14px/16px helvetica,arial,sans-serif;font-weight:bold;color:#fff}
tab2_ON{font:14px/16px helvetica,arial,sans-serif;color:#000}
tab2_OFF{font:11px/13px helvetica,arial,sans-serif;font-weight:bold;color:#fff}
button1_text{font:13px/15px helvetica,arial,sans-serif;font-weight:bold;color:#fff}
button2_text{font:11px/13px helvetica,arial,sans-serif;font-weight:bold;color:#fff}
#attention{list-style:none;line-height:18px;width:670px;min-height:55px}
#attention.dynamic{background:url(/assets/images/dynamic_attention_top.gif) no-repeat top left;border:silver solid thin;^margin-left:0;padding:5px 10px 5px 55px}
#attention.dynamic LI.large{font-size:16px;font-weight:bold;font-family:Helvetica,Arial,Sans-serif;margin:8px 0 5px 0!important;width:auto;color:#00008b}
#attention.dynamic LI.small{line-height:13px;margin:0!important;width:auto;color:#5466c7}
.marginTopIEFix{^margin-top:-1px}
.ua_js_no .noScriptAlternative{display:none!important}
.clearfix{clear:both;font-size:0;line-height:0;height:0}
.swaClearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.swaClearfix{display:inline-block}
/*\*/* html .swaClearfix{height:1%}
.swaClearfix{display:block}
/**/#popup_promoCode,#promo_code_help_popup,#purchase_help_popup,.purchase_help_popup{float:left;width:16px;height:16px;background-repeat:no-repeat;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1511px}
#popup_promoCode.air-landing{float:right;margin-right:45px;margin-top:3px}
#paypalLogo{display:inline-block;vertical-align:top;width:37px;height:24px;background-repeat:no-repeat;background-position:top left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1527px}
.question-icon{float:left;height:16px;width:16px;cursor:pointer;background-color:transparent;background-repeat:no-repeat;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1551px}
.close-button-icon{background-color:transparent;background-postion:0;background-repeat:no-repeat;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1572px}
.green-check-icon{width:33px;height:35px;float:left;background-repeat:no-repeat;background-position:0 0;background-color:transparent;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1596px}
.to-from-arrow{width:10px;height:8px;float:left;background-repeat:no-repeat;background-position:0 0;background-color:transparent;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1639px}
.to-from-arrow-space{margin-top:4px}
.to_from_arrow_right{float:left;margin-right:4px}
.to_from_arrow_left{float:left;margin-left:4px}
.to-from-arrow-dot{float:left;margin:3px 9px 0 0;width:15px}
.btn-ok-icon{width:26px;height:20px;float:right;background-repeat:no-repeat;background-position:0 0;background-color:transparent;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1655px}
#footer-above-background-content{margin:35px 0 0 20px;color:#666;display:none}
#footer-above-background-content.swabiz{margin:0 0 25px 0}
#footer-above-background-content a{color:#304cb2}
#footer-above-background-content a:hover{color:#111b40}
.confirmation #footer-above-background-content{display:block}
.calendarDayOfWeek{margin-left:2px}
.calendarDayOfWeek .month{background:#ffbf27;border:0;color:#111b40;font-size:9px;font-weight:bold;text-transform:uppercase;text-align:center;width:55px;height:13px}
.calendarDayOfWeek .dayOfWeek{background-color:transparent;background-repeat:repeat-x;background-position:bottom left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1683px;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;width:53px;height:25px;line-height:25px;border-width:0 1px 1px 1px;border-style:solid;border-color:#CCC;letter-spacing:-0.3px;color:#444}
.smallCalendarDayOfWeek .month{background:#ffbf27;color:#111b40;font-size:8px;font-weight:bold;text-align:center;text-transform:uppercase;width:36px;height:13px}
.smallCalendarDayOfWeek .dayOfWeek{background-color:transparent;background-repeat:repeat-x;background-position:bottom left;background-image:url('/assets/images/sprites/sw_buttons_icons_vertical.png');background-position:left -1683px;font-weight:bold;font-size:12px;font-family:arial;text-align:center;text-transform:uppercase;border-width:0 1px 1px 1px;border-style:solid;border-color:#CCC;width:34px;^width:36px;height:24px;line-height:24px}
.blueButton{height:23px;width:90px;cursor:pointer}
.blueButton span{font-size:11px;font-weight:bold;float:left;height:20px;width:70px;text-align:center;background-image:url('/assets/images/sprites/sw_common_vertical.png');background-position:left -497px;padding:4px 0 0 10px;color:white}
.blueButton div{margin:0!important;float:left;height:23px;width:9px;background-image:url('/assets/images/sprites/sw_common_vertical.png');background-position:left -520px}
.nowrap{white-space:nowrap}
.no_js{display:none}
.stopCityMessage{float:left;margin-right:5px}
.stopCityList{float:left}
.stopCityList ul{list-style:none;margin:0;padding-left:0}
#headerLogoutFormSubmit{clear:left}
.inline-form{display:inline}
.info-box-wrapper{margin:0;padding-left:10px;width:750px}
.page_content_border{background-color:transparent;background-repeat:no-repeat;font-size:3px;height:4px;width:100%}
.page_content_border_top{background-image:url('/assets/images/sprites/sw_common_vertical.png');background-position:left -543px}
.page_content_border_bottom{background-image:url('/assets/images/sprites/sw_common_vertical.png');background-position:left -547px;clear:both;float:left}
.globalnav_footer_image_clouds{float:left;clear:both;width:980px;height:60px;background:transparent url(/assets/navigation/images/footer/above-background-clouds.jpg) scroll no-repeat top left}
.swa-header--search-overlay{margin:0}
.swa-header--nav{height:22px}
.swa-header--search{height:22px}
#page .swa-header--overlay-promotion-box .swa-header--overlay-promotion-details{margin:0 0 9px;padding:10px 0 13px}
.sw2 a{color:#304cb2}
.sw2 .swa-overlay_quirksmode .swa-header--overlay-heading a:link,.sw2 .swa-overlay_quirksmode .swa-header--overlay-heading a:visited,.sw2 .swa-overlay_quirksmode a.swa-header--overlay-ad-link:visited,.sw2 .swa-overlay_quirksmode .swa-header--overlay-utility a:link,.sw2 .swa-overlay_quirksmode .swa-header--overlay-utility a:visited{color:#304cb2}
.sw2 .swa-overlay_quirksmode .swa-header--overlay-heading a:hover,.sw2 .swa-overlay_quirksmode .swa-header--overlay-utility a.swa-header--overlay-utility-link:hover,.sw2 .swa-overlay_quirksmode .swa-header--overlay-list a:link,.sw2 .swa-overlay_quirksmode .swa-header--overlay-list a:visited{color:#111b40}
.sw2 .swa-overlay_quirksmode a.swa-header--overlay-ad-link:hover{color:#4765ce}
.sw2 .swa-overlay_quirksmode .swa-header--overlay-list a:hover{color:#304cb2}
.swa-footer--contact-title{color:#636363}
p.swa-footer--copyright-text{font-family:Arial,sans-serif}
.swa-footer--social-icons .swa-footer--icon-link{height:41px}
div#pts-mask{z-index:915}
div.tbox{z-index:920}
div#jquery-overlay{z-index:915}
div#jquery-lightbox{z-index:925}
.swa-footer_quirksmode .swa-footer--copyright-logo:hover{text-decoration:none}
.a11y #errors{background:url("/assets/images/error_message_background_top.png") no-repeat left top;margin:0}
.a11y .oopsError-a11y-message{color:#d5152e;float:left;font:bold 29px/55px Verdana,Geneva,sans-serif;letter-spacing:-2px;margin-left:50px}
.related_searches{border:1px solid #ccc;padding:1em;width:205px;_width:225px;.width:225px;position:absolute;top:46em;_top:48em;.top:48em}
.related_searches UL{padding:0;margin:1em 0}
.related_searches UL LI{list-style:none;margin:.25em 0}
.global_account_bar_login_form_container .error_list-login{color:#d5152e}
#oopsSuccesses .swa_notification_enjoyMessage .enjoyMessage--list{list-style:none;padding:0 0 0 115px}
#oopsSuccesses .swa_notification_enjoyMessage .notifications--enjoy-text{float:left}
.soda-error-container{background:url(/assets/images/error_message_background_top.png) no-repeat left top;overflow:hidden}
.notice-title{color:#d5152e;float:left;font:bold 28px Verdana,Geneva,sans-serif;letter-spacing:-2px;padding:10px 0 0 51px;width:109px}
#soda_errors.notices_override{background:transparent}