/* jQuery lightBox plugin - Gallery style */
	#swa_image_gallery {
		background-color: #ffffff;
		margin-left:0px;
        padding-left:0px;
		width: 430px;
	}
	#swa_image_gallery ul { list-style: none; margin-left:0px;padding-left:0px;}
	#swa_image_gallery ul li { display: inline; margin-left:0px;padding-left:0px;}
	#swa_image_gallery ul img {
		border: 2px solid #cccccc;
		border-width: 2px 2px 2px;
		margin-bottom:20px;
	}
	#swa_image_gallery ul a:hover img {
		border-width: 2px 2px 2px;
		border: 2px solid #3E3E3E;
		color: #3E3E3E;
	}

	#swa_image_gallery ul a:hover { color: #fff; }

	#photos {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}



	#swa_image_gallery ul li a {
	    display: inline-block;
	    margin-bottom: 20px;
		margin-left: 10px;
	}

	#swa_image_gallery ul li a img,
	#swa_image_gallery ul li a:hover img {
		display: block;
	    margin: 0;
	}
