.swa_module_orienting_image ul,.swa_module_secondary_message ul,.swa_module_newsLeftRail ul,.swa_module_singleVideo ul,.swa_module_employee_quotes ul{margin:0 0 0 25px;padding:0}
.swa_module_newsLeftRail ul,.swa_module_employee_quotes ul{margin:0 0 0 11px}
.swa_module_orienting_image ul li,.swa_module_secondary_message ul li,.swa_module_newsLeftRail ul li,.swa_module_singleVideo ul li,.swa_module_employee_quotes ul li{background:url(/assets/images/framework/content/modules/pleaseNotice/arror_pleaseNotice_list_item.png) no-repeat 0 5px;padding-left:15px;margin-bottom:14px;list-style:none;line-height:14px}
.swa_module_orienting_image img{margin-left:-10px;position:relative}
.swa_module_orienting_image .swa_text_small p,.swa_module_secondary_message .swa_text_small p,.swa_module_secondary_message .swa_text_small li{font-size:11px}
.swa_module_orienting_image .swa_text_large p,.swa_module_secondary_message .swa_text_large p,.swa_module_secondary_message .swa_text_large li{font-size:14px}
.swa_module_secondary_message .swa_modules_secondary_message_item{background-image:none!important}
.swa_module_secondary_message .swa_text_large{line-height:150%}
.swa_module_secondary_message ul li{font-family:Verdana,Tahoma,sans-serif!important}
.swa_modules_secondary_message_item h4,.swa_module_singleVideo h4{font-family:Helvetica,Arial,Sans-serif;font-size:14px;letter-spacing:-1px}
.swa_module_relatedInformation .swa_content_module_inner{padding-left:0!important}
.swa_module_newsLeftRail .swa_content_module_inner{padding-left:0!important}
.swa_module_checklist ul li{font-size:11px;font-family:Verdana,Tahoma,sans-serif}
.swa_module_singleVideo{padding-left:0!important}
.swa_module_newsLeftRail{background-image:none!important}
.swa_module_newsLeftRail ol,.swa_module_employee_quotes ol{padding:0 0 0 25px}
.swa_module_newsLeftRail ul li,.swa_module_employee_quotes ul li{list-style:none outside none;margin-bottom:.5em!important;padding-left:14px}
.swa_module_employee_quotes .employee_quote_item p{font-size:11px!important}
.swa_module_employee_quotes h3{margin-bottom:11px}
.singleVideo_image_wrapper{margin-left:-10px}
.singleVideo_image_wrapper img{position:relative}
.swa_content_module hr{background:transparent url(/assets/images/giftCards/separators/dotted_grayOverBlue_1_2.gif) repeat-x left bottom;padding-bottom:1px;border:0;margin-left:-10px}
.swa_module_newsLeftRail .swa_relatedInformation_list{padding:0 0 0 5px;margin:9px 0}
.swa_module_newsLeftRail .swa_relatedInformation_list li{padding-right:15px;background:url(/assets/images/framework/content/modules/arrow_related_information_link.png) no-repeat right center;line-height:16px}