dl, dt, dd {
  margin: 0;
}

@font-face {
  font-family: "FC2Help-SourceHanSansHeavy";
  src: url("/assets/fonts/help/FC2Help-SourceHanSansHeavy.eot");
}
@font-face {
  font-family: "FC2Help-SourceHanSansHeavy";
  src: url("/assets/fonts/help/FC2Help-SourceHanSansHeavy?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "FC2Help-SourceHanSansHeavy";
  src: url("/assets/fonts/help/FC2Help-SourceHanSansHeavy.woff") format("woff");
}
.serviceLogo {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 27px;
  font-size: 2.7rem;
  font-family: "FC2Help-SourceHanSansHeavy";
}
.serviceLogo > a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.serviceLogo > a > span {
  padding-left: 3px;
}

/* Base */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  word-wrap: break-word;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

em {
  color: #ef5763;
  font-style: normal;
}

br {
  clear: both;
}

::-webkit-input-placeholder {
  color: #959595;
}

.l-drop-loginBase {
  display: none;
  position: absolute;
  top: 54px;
  right: 0;
  width: 240px;
  margin: 0;
  border: 1px solid #e1e8ed;
  background: #fff;
  line-height: 1.6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 1px #ddd;
  -webkit-box-shadow: 0px 0px 1px #ddd;
  box-shadow: 0px 0px 1px #ddd;
  z-index: 9998;
}

.l-drop-loginList {
  list-style-type: none;
  margin: 0;
  padding: 12px;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.l-drop-loginList > li > a {
  display: block;
  width: 200px;
  padding: 8px;
  text-decoration: none;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.l-drop-loginList > li > a:hover {
  background: #f5f8fA;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.drop-balloon-login:after,
.drop-balloon-login:before {
  position: absolute;
  bottom: 100%;
  left: 210px;
  width: 0;
  height: 0;
  border: solid transparent;
  content: " ";
  pointer-events: none;
}

.drop-balloon-login:after {
  border-color: transparent transparent #fff;
  border-width: 10px;
  margin-left: -10px;
}

.drop-balloon-login:before {
  border-color: transparent transparent #e1e8ed;
  border-width: 12px;
  margin-left: -12px;
}

.l-drop-help {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 926px;
  padding: 16px;
  margin: 0;
  border: 1px solid #e1e8ed;
  background: #fff;
  line-height: 1.6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 1px #ddd;
  -webkit-box-shadow: 0px 0px 1px #ddd;
  box-shadow: 0px 0px 1px #ddd;
  z-index: 9998;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.l-drop-box {
  margin-bottom: 16px;
}

.l-drop-box > p {
  margin: 4px 0 4px 4px;
  font-weight: bold;
}

.l-drop-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
}
.l-drop-list > li {
  float: left;
  width: 25%;
}
.l-drop-list > li > a {
  display: block;
  padding: 8px;
  color: #4d4d4d;
  font-weight: normal;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.l-drop-list > li > a:hover {
  background: #f5f8fA;
  color: #4d4d4d;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.l-drop-list > li > a > span {
  margin-left: 4px;
}

.drop-balloon:after,
.drop-balloon:before {
  position: absolute;
  bottom: 100%;
  left: 26px;
  width: 0;
  height: 0;
  border: solid transparent;
  content: " ";
  pointer-events: none;
}

.drop-balloon:after {
  border-color: transparent transparent #fff;
  border-width: 10px;
  margin-left: -10px;
}

.drop-balloon:before {
  border-color: transparent transparent #e1e8ed;
  border-width: 12px;
  margin-left: -12px;
}

/* Pagetop */
.pagetop {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* TOS */
/*-- default -------- --*/
body {
  text-align: left;
}

/*-- layout -------- --*/
.l-main {
  width: 960px;
  margin: 0 auto 20px;
}

/*-- style -------- --*/
.tos-title {
  width: auto;
  margin: 2em 0 1em;
  padding: 0 0 16px 0;
  font-size: 28px;
  font-size: 2.8rem;
  border-bottom: 2px solid #e7e7e7;
  line-height: 1.1;
}

.l-tos-container {
  padding: 0 12px;
}
.l-tos-container h3 {
  border-bottom: 2px dotted #e7e7e7;
  padding-bottom: 5px;
}
.l-tos-container h4 {
  border-bottom: 1px solid #e7e7e7;
  margin: 10px 0;
  padding-bottom: 5px;
  font-weight: bold;
}
.l-tos-container p {
  margin: 1em 0;
  word-break: normal;
  line-height: 1.6;
}
.l-tos-container ol {
  padding: 0;
}
.l-tos-container ol li {
  list-style: decimal outside;
  margin: 10px 50px;
  word-break: normal;
}
.l-tos-container ol li ol li {
  list-style: decimal-leading-zero outside;
  margin: 10px 50px;
  word-break: normal;
}

#company_outline h4 {
  border-bottom: 0px;
  margin: 1em 0;
  padding: 0;
}

.back_gray {
  background: #f0f0f0;
}
