@font-face{
font-family:"Neue Frutiger W06_n1";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/ca8c2438-705a-46be-a2ac-67df523a5dea/db52e442-676b-4a6d-a0e2-a316c16daabc.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Frutiger W06";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/db52e442-676b-4a6d-a0e2-a316c16daabc.eot?#iefix");
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/db52e442-676b-4a6d-a0e2-a316c16daabc.eot?#iefix") format("eot"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/489e190c-5b0a-43b3-9e24-f5c0bc4a3ed2.woff2") format("woff2"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/a906b496-efb7-4466-8650-f3c278932517.woff") format("woff"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/2dab2701-1af0-4418-b09c-8215cf99f08f.ttf") format("truetype"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/79e91c2e-5324-4873-9789-455914e80d89.svg#79e91c2e-5324-4873-9789-455914e80d89") format("svg");
font-weight: 100;
font-style: normal;
}
@font-face{
font-family:"Neue Frutiger W06_n2";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/65e8e636-c8bd-465d-b59c-0a6a975e7e4e.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Frutiger W06";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/65e8e636-c8bd-465d-b59c-0a6a975e7e4e.eot?#iefix");
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/65e8e636-c8bd-465d-b59c-0a6a975e7e4e.eot?#iefix") format("eot"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/ca9c0395-d220-494c-8421-f2b4716e362b.woff2") format("woff2"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/58c43d42-f6b2-4cac-9dc8-232ba23cdb20.woff") format("woff"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/31722e5a-a6f0-4f55-b6df-ccdbf6500807.ttf") format("truetype"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/a791ca23-e805-42eb-8d53-ec2d87754833.svg#a791ca23-e805-42eb-8d53-ec2d87754833") format("svg");
font-weight: 200;
font-style: normal;
}
@font-face{
font-family:"Neue Frutiger W06_n3";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/eacbf6c2-ef44-4857-b153-3f8fe906e053.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Frutiger W06";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/eacbf6c2-ef44-4857-b153-3f8fe906e053.eot?#iefix");
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/eacbf6c2-ef44-4857-b153-3f8fe906e053.eot?#iefix") format("eot"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/5d45c016-7f3c-446c-8154-eb18bb0da14c.woff2") format("woff2"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/3da96504-eecf-4043-8047-d6645d1fcf0c.woff") format("woff"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/b01f2703-fd12-427a-a448-b3ee3214faeb.ttf") format("truetype"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/460492af-db64-4559-b519-e74dc8a6705b.svg#460492af-db64-4559-b519-e74dc8a6705b") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Neue Frutiger W06_n4";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/0e30381f-4f13-4f10-bf2a-fa8d6d077dcf.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Frutiger W06";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/0e30381f-4f13-4f10-bf2a-fa8d6d077dcf.eot?#iefix");
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/0e30381f-4f13-4f10-bf2a-fa8d6d077dcf.eot?#iefix") format("eot"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/86fb3670-1e3d-4833-8fc2-37dfba73680d.woff2") format("woff2"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/4927cdec-3339-45ba-9da1-090dd5d6f254.woff") format("woff"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/b819c910-4f85-4985-98ee-c8e51ddb492c.ttf") format("truetype"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/8d6f3d18-9a5a-41db-9657-fe11853abaaa.svg#8d6f3d18-9a5a-41db-9657-fe11853abaaa") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Neue Frutiger W06_n5";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/fe7e94be-5a70-4497-811b-1dec48cbef98.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Frutiger W06";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/fe7e94be-5a70-4497-811b-1dec48cbef98.eot?#iefix");
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/fe7e94be-5a70-4497-811b-1dec48cbef98.eot?#iefix") format("eot"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/a7cf9397-70a3-4b73-8f59-cec9c5088445.woff2") format("woff2"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/f01ea3c0-131d-4edf-b949-b4b6d38525e2.woff") format("woff"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/3085e1e8-068e-4c63-bee7-b6e9ee016b82.ttf") format("truetype"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/e685ba08-1a65-49af-a33e-c9227ca940ef.svg#e685ba08-1a65-49af-a33e-c9227ca940ef") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
font-family:"Neue Frutiger W06_n7";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/5656fd28-0c8a-45fd-bd99-f3d798e777c5.eot?#iefix") format("eot")
}
@font-face{
font-family:"Neue Frutiger W06";
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/5656fd28-0c8a-45fd-bd99-f3d798e777c5.eot?#iefix");
src:url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/5656fd28-0c8a-45fd-bd99-f3d798e777c5.eot?#iefix") format("eot"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/d13f4ce3-6d5f-4e11-b7a6-9cde6f1624a0.woff2") format("woff2"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/9147fb15-b4da-4721-8ed8-d82293660aec.woff") format("woff"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/82654d6a-ec17-4dcc-be94-5092663b0bd2.ttf") format("truetype"),url("../fonts/ca8c2438-705a-46be-a2ac-67df523a5dea/2f96c1cb-f1c3-433f-aa09-21e3d556d1f6.svg#2f96c1cb-f1c3-433f-aa09-21e3d556d1f6") format("svg");
font-weight: 700;
font-style: normal;
}
