@font-face {
  font-family: 'mendel-icons';
  src: url('/resources/css/fontello/font/mendel-icons.eot?70068663');
  src: url('/resources/css/fontello/font/mendel-icons.eot?70068663#iefix') format('embedded-opentype'),
       url('/resources/css/fontello/font/mendel-icons.woff2?70068663') format('woff2'),
       url('/resources/css/fontello/font/mendel-icons.woff?70068663') format('woff'),
       url('/resources/css/fontello/font/mendel-icons.ttf?70068663') format('truetype'),
       url('/resources/css/fontello/font/mendel-icons.svg?70068663#mendel-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mendel-icons';
    src: url('/resources/css/fontello/font/mendel-icons.svg?70068663#mendel-icons') format('svg');
  }
}
*/
 
 [class^="ui-icon-"]:before, [class*=" ui-icon-"]:before {
  font-family: "mendel-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ui-icon-mail:before { content: '\e800'; } /* '' */
.ui-icon-link-ext:before { content: '\e834'; } /* '' */
.ui-icon-twitter:before { content: '\f099'; } /* '' */
.ui-icon-facebook:before { content: '\f09a'; } /* '' */
.ui-icon-gplus:before { content: '\f0d5'; } /* '' */
.ui-icon-mail-alt:before { content: '\f0e0'; } /* '' */
.ui-icon-linkedin:before { content: '\f0e1'; } /* '' */
.ui-icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.ui-icon-youtube-play:before { content: '\f16a'; } /* '' */
.ui-icon-instagram:before { content: '\f16d'; } /* '' */
.ui-icon-flickr:before { content: '\f16e'; } /* '' */
.ui-icon-yahoo:before { content: '\f19e'; } /* '' */
.ui-icon-pinterest:before { content: '\f231'; } /* '' */