/*! Adidas fonts loading
--------------------------------------------*/
@font-face {
    font-family: "adiBlack";
    src: url('fonts/adineuePRO-BlackWeb.eot');
    src: url('fonts/adineuePRO-BlackWeb.eot?#iefix') format('embedded-opentype'),
    	 url('fonts/adineuePRO-BlackWeb.woff2') format('woff2'),
    	 url('fonts/adineuePRO-BlackWeb.woff') format('woff'),
    	 url('fonts/adineuePRO-BlackWeb.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "adiLight";
    src: url('fonts/adineuePRO-LightWeb.eot');
    src: url('fonts/adineuePRO-LightWeb.eot?#iefix') format('embedded-opentype'),
    	 url('fonts/adineuePRO-LightWeb.woff2') format('woff2'),
    	 url('fonts/adineuePRO-LightWeb.woff') format('woff'),
    	 url('fonts/adineuePRO-LightWeb.ttf') format('truetype');
    font-weight: normal;
    letter-spacing: 1px;
}

@font-face {
	font-family: 'adihausregular';
	src: url('fonts/adihausregular.eot');
	src: url('fonts/adihausregular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/adihausregular.woff2') format('woff2'),
		 url('fonts/adihausregular.woff') format('woff'),
		 url('fonts/adihausregular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adihausbold';
	src: url('fonts/adihausbold.eot');
	src: url('fonts/adihausbold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/adihausbold.woff2') format('woff2'),
		 url('fonts/adihausbold.woff') format('woff'),
		 url('fonts/adihausbold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adiNeueRegular';
	src: url('fonts/adiNeueRegular.eot');
	src: url('fonts/adiNeueRegular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/adiNeueRegular.woff2') format('woff2'),
		 url('fonts/adiNeueRegular.woff') format('woff'),
		 url('fonts/adiNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adiNeueBold';
	src: url('fonts/adiNeueBold.eot');
	src: url('fonts/adiNeueBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/adiNeueBold.woff2') format('woff2'),
		 url('fonts/adiNeueBold.woff') format('woff'),
		 url('fonts/adiNeueBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoonregular';
	src: url('fonts/icomoon.eot');
	src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		 url('fonts/icomoon.woff2') format('woff2'),
		 url('fonts/icomoon.woff') format('woff'),
		 url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adiPictoRegular';
	src: url('fonts/adipictos-Regular.eot');
	src: url('fonts/adipictos-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/adipictos-Regular.woff2') format('woff2'),
	url('fonts/adipictos-Regular.woff') format('woff'),
	url('fonts/adipictos-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
