@media print {
	.returndetails .return-ticket .barcode {
		float: none;
	    position: absolute;
	    padding: 0;
	    top: 50%;
	    right: 0;
	    transform: rotate(-90deg) translateX(25%);
	    -ms-transform: rotate(-90deg) translateX(25%);
	    -webkit-transform: rotate(-90deg) translateX(25%);
	}
	
	.returndetails .return-ticket .barcode div:last-child {
		padding: 5px 0 0;
		font-size: 1.1em !important;
		font-weight: bold;
	}
	
	.returndetails .order-details-block > div {
		width: auto;
	}
}

/*end cnc-epoch-error*/
.state-autofill-fix {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/* Renewed Checkout Payment page */
.co-renewed-checkoutpayment.checkout-payment {
	padding: 30px 0;
}
.co-renewed-checkoutpayment h2 {
    margin-bottom: 10px;
    padding-bottom: 8px;
    line-height: 22px;
    color: #333;
}
.co-renewed-checkoutpayment .cybersource_paypal .payment-title {
	display: none;
}
.co-renewed-checkoutpayment.checkout-payment .payment-header {
	margin: 0;
}
.co-renewed-checkoutpayment.checkout-payment .payment-method-select .payment-logo {
	float: left;
}
.co-renewed-checkoutpayment.checkout-payment .payment-method-select .payment-logo img {
	height: 18px;
}
.co-renewed-checkoutpayment .card-details .credit-cards-list {
	margin-left: 165px;
}
.co-renewed-checkoutpayment .outer-payment-submit {
	padding: 25px 4% 0 0;
}
.co-renewed-checkoutpayment .payment-method .payment-method-select .ffRadioWrapper > span {
	display: block;
	float: none;
}
.co-renewed-checkoutpayment .isgiftcard {
	border-top: 3px solid #000;
	padding-top: 30px;
}
.co-renewed-checkoutpayment.checkout-payment .payment-method .payment-details {
	margin-top: 0;
}
.co-renewed-checkoutpayment.checkout-payment .payment-method.selected .payment-details {
	margin-top: 20px;
}
.co-renewed-checkoutpayment.checkout-payment .payment-method {
	padding: 24px 0;
}
.renewed-checkoutpayment .cybersource_creditcard .savecard label {
	display: none;
}
.renewed-checkoutpayment {
	min-height: 0;
}
.renewed-checkoutpayment .paymentmethod .ffRadio {
	top: 50%;
	margin-top: -10px;
}
.co-renewed-checkoutpayment .recurring-payment-option.new .ffRadio + span {
    min-height: 24px;
    font-weight: bold;
    line-height: 26px;
    padding: 0 0 0 77px;
    position: relative;
}
.co-renewed-checkoutpayment .recurring-payment-option.new .ffRadio + span:after {
    position: absolute;
    left: 34px;
    top: 1px;
    background: url('../images/adidas_desktop_sprite.png') no-repeat -249px -1403px;
    width: 31px;
    height: 21px;
    content: '';
}
.co-renewed-checkoutpayment .formfields {
	margin-top: 0;
}
.co-renewed-checkoutpayment .adyen_creditcard .card-details .credit-cards-list,
.co-renewed-checkoutpayment .card-details .new-creditcard-form .credit-cards-list {
	margin-top: -68px;
	text-align: right;
}
.co-renewed-checkoutpayment .adyen_creditcard .card-details .credit-cards-list img,
.co-renewed-checkoutpayment .card-details .new-creditcard-form .credit-cards-list img {
	padding-right: 0;
}

.co-renewed-checkoutpayment .adyen_creditcard .card-details .credit-cards-list .credit-cards-images,
.co-renewed-checkoutpayment .card-details .new-creditcard-form .credit-cards-list .credit-cards-images {
	float: none;
	display: inline-block;
}
.co-renewed-checkoutpayment .adyen_creditcard .card-details .credit-cards-list .tips_container,
.co-renewed-checkoutpayment .card-details .new-creditcard-form .credit-cards-list .tips_container {
	float: right;
	top: 15px;
}
.co-renewed-checkoutpayment .card-details .recurring-payment-form.active .new-creditcard-form .credit-cards-list .credit-cards-images {
	margin-top: 5px;
}
.co-renewed-checkoutpayment .card-details .recurring-payment-form.active .new-creditcard-form .credit-cards-list .tips_container {
	margin-right: 10px;
	margin-top: 10px;
}
/* End Renewed Checkout Payment page */

.co-delivery-right .cart-bottom-actions .paypal-button {
	border: 1px solid #9a9b9b;
	background: #eeeeee;
	margin-top: 10px;
	height: 46px;
}

.button-brd-sol {
	border: 1px solid #9a9b9b;
	background: #eeeeee;
	height: 46px;
}

.checkoutlogin .paypal-button {
	width: 200px;
	height: 46px;
}

.button-ctn.paypal-button span {
	width: 100px;
}

.button-ctn.paypal-button span:after {
	background: url('../images/adidas_desktop_sprite.png') no-repeat -1440px -1236px;
	width: 100px;
	height: 26px;
}

.cart-right .co-actions .btn-paypal span:after {
	margin: -10px 0 0;
}

.summary_wrapper .co-actions .checkout-or,
.checkoutlogin .checkout-or {
	display: none;
}

#store-inventory-lookup .store-inventory-lookup-results-wrapper .store-inventory-lookup-result-right .show-store-details .cncsection .nocncmsg {
	display: none;
}