* {
    padding: 0;
    margin: 0;
}
#GMI_Product_Recall, #GMI_Privacy_Policy {
            width: 100%;
            display: inline-block;
            position: relative;
            font-family: Arial;
            background: #e5e5e5;
            padding: 0px;
            margin: 0px;
            z-index: 9999;
        }
        #GMI_Product_Recall_DesktopMessage, #GMI_Privacy_Policy_DesktopMessage {
            padding: 10px 50px 0 20px;
            font-size: 16px;
            text-align: left;
        }
        #GMI_Product_Recall_DesktopMessage a, #GMI_Privacy_Policy_DesktopMessage a {
            text-decoration: underline;
            color: #125eab;
        }
        /* Site will have to use Media Queries to show the mobile messages*/
        #GMI_Product_Recall_MobileMessage, #GMI_Privacy_Policy_MobileMessage {
            font-size: 16px;
            padding: 10px 50px 0 20px;
            display: none;
        }
        #GMI_Product_Recall_AcknowledgeButton, #GMI_Privacy_Policy_AcknowledgeButton {
            margin: 10px 20px 20px;
            background: #125eab;
            padding: 10px;
            text-align: center;
            text-decoration: underline;
            color: #FFFFFF;
            width: auto;
            float: left;
            cursor: pointer;
            text-decoration: none;
        }
        #GMI_Product_Recall_AcknowledgeButton:hover, #GMI_Privacy_Policy_AcknowledgeButton:hover {
            background: #0d5195;
        }
        #GMI_Product_Recall_CloseButton, #GMI_Privacy_Policy_CloseButton {
            position: absolute;
            right: 0px;
            top: 0px;
            background: #125eab;
            padding: 5px 5px 5px 7px;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 20px;
            cursor: pointer;
            text-decoration: none;
        }
        #GMI_StaticContent {
            width: 100%;
            display: inline-block;
            position: relative;
            font-family: Arial;
            background: #e5e5e5;
        }
            #GMI_StaticContent iframe {
                width: 100%;
                height: 50px;
                border: 0px;
                font-family: Arial;
                overflow: hidden;
            }
