html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
body{background:#f6f7f7;font-family:arial, sans-serif;color:#8f8f8f;font-size:13px}
a{text-decoration:none;color:#9c9c9c}
a:hover{text-decoration:underline}
.clickable{cursor:pointer}
.inline{display:inline}
.clear{clear:both}
.break{clear:both;margin:10px 0}
.no_border{border:0!important}
.hide{display:none}
.required{color:red}
.good{color:green;font-weight:700}
.bad{color:red;font-weight:700}
.pad{padding:10px}
.pad_side{padding:0 10px}
.pad_top{padding:10px 0}
.margin_side{margin:0 5px}
.margin_right{margin-right:5px}
.margin_bottom{margin-bottom:5px}
.left{float:left}
.right{float:right}
.half{float:left;width:425px}
.text_left{text-align:left}
.text_center{text-align:center}
.text_right{text-align:right}
.small{font-size:12px}
.dashed_break{background:url(../img/bg/dotted.png) center top no-repeat;height:24px;width:100%;margin:5px 0}
.bold{font-weight:700}
.unspaced{line-height:15px}
.inline_img{vertical-align:middle}
.light_green{color:#93ad2a}
.green{color:#6c8d14}
.orange{color:#f36b28}
.dark{color:#4a484a}
h1{font-size:27px}
h2{font-size:25px;font-weight:400}
h3{font-size:20px}
h4{font-size:16px}
h5{color:#606060;font-size:18px;line-height:30px}
.error-message{height:30px;float:left;line-height:30px;font-weight:700}
input{border:0}
.submit input{background:#f25711;color:#fff;font-weight:700;padding:5px 20px}
.input_wrapper{background:url(../img/bg/input/generic/bg.png) repeat-x;height:39px;width:340px;color:#8f8f8f}
.input_wrapper input{height:27px;margin-top:1px;float:left;width:210px;padding-top:8px;color:#8f8f8f}
.input_wrapper select{margin-top:10px;background:#fff;border:0;width:210px}
.input_wrapper label{line-height:39px;float:left;width:100px;font-weight:700;color:#4a484a}
label{font-weight:700;color:#4a484a}
textarea{border:1px solid #c9d0da;width:340px;color:#8f8f8f}
.big_textarea{border:1px solid #c9d0da;width:700px;color:#8f8f8f}
.regular_select{background:#fff}
.regular_input{border:1px solid #dfdfdf;width:200px}
.big .input_wrapper{width:600px}
.big .input_wrapper input{width:470px}
.message{color:red;text-align:center;font-weight:700;line-height:30px}
.list li{margin:5px 0}
.spaced,.valign{line-height:20px}
.input_wrapper .time select,.input_wrapper .date select{width:auto}
#container{width:916px;background:url(../img/bg/container.gif) repeat-y;margin:0 auto}
#footer{width:870px;margin:0 auto;padding:10px 0}
#header{padding-top:30px}
#header .logo{float:left}
#header .nav a{color:#76757a}
#header .hover a{color:#fff}
#header .nav{float:right;padding-top:25px;padding-right:30px}
#header .nav img{visibility:hidden}
#header .nav ul{list-style-type:none}
#header .nav li{float:left;margin:0}
#header .nav div{height:27px;line-height:27px;padding:0 5px}
#header .hover{background:#f25711;color:#fff}
#header .hover img{visibility:visible}
#main{background:url(../img/bg/rounded/main/bg.png) repeat-y;height:100%}
#main .main_bottom{background:url(../img/bg/rounded/main/bottom.png) bottom no-repeat;height:100%}
#members_dash{width:268px;margin-top:30px}
#members_dash .top{background:url(../img/bg/rounded/members/top.png) no-repeat;width:208px;height:52px;line-height:58px;padding-left:60px;font-size:17px}
#members_dash .content{background:url(../img/bg/rounded/members/bottom.png) bottom no-repeat;width:268px;padding-bottom:10px}
#members_dash .inner{background:url(../img/bg/rounded/members/bg.png) repeat-y;width:248px;padding:10px}
#members_dash .input_container .input{background:url(../img/bg/input/members/bg.png) repeat-x;height:39px;float:left;line-height:39px}
#members_dash .input_container .input label{color:#949292;font-weight:700}
#members_dash .input_container .input input{border:0;background:none;color:#7b7878;padding-left:5px;width:150px}
#members_dash label{color:#949292}
#main .main_home{background:url(../img/bg/rounded/main/home.png) top no-repeat;height:100%}
#main .main_generic{background:url(../img/bg/rounded/main/generic.png) top no-repeat;height:100%}
#home_top{height:306px;color:#fff}
#home_top .left_col{width:520px;float:left;padding:80px 35px 0}
#home_top .left_col h2{font-size:19px;line-height:35px;font-weight:400}
#home_top .left_col p{line-height:25px;padding:5px}
#home_top .right_col{width:290px;float:left}
#home_content .left_col{float:left;width:525px;padding:50px 40px}
#home_content .right_col{float:left;width:243px;border-left:1px solid #ebeaeb;padding:20px}
#home_content .right_col .blog{background:url(../img/icons/blog.png) left no-repeat;padding:10px 0 10px 40px}
#home_content .right_col .blog_item{background:#f6f6f7;border-bottom:1px dotted #9d9d9d;padding:13px}
#home_content .right_col .blog_read_more{color:#f25711;font-weight:700;text-decoration:underline}
#home_features .feature{float:left;width:150px;margin-left:5px;font-size:12px;background-position:left;background-repeat:no-repeat;color:#626062;padding:20px 0 20px 105px}
#home_features .core{background-image:url(../img/icons/core.png)}
#home_features .scalable{background-image:url(../img/icons/scalable.png)}
#home_features .on_time{background-image:url(../img/icons/on_time.png)}
#home_features .financial{background-image:url(../img/icons/financial.png)}
#generic_top{height:190px;color:#fff}
#generic_top .left_col{width:540px;float:left;padding:60px 35px 0}
#generic_top .left_col h2{font-size:17px;line-height:35px;font-weight:400}
#generic_top .right_col{width:220px;float:left;padding-top:60px}
#generic_content{padding:20px}
#feature_list{color:#626062;padding:0}
#feature_list .feature{float:left;width:370px;padding:20px}
.small_box_out{background:url(../img/bg/rounded/small/bg.png) repeat-y;height:81px;width:243px;float:left}
.small_box{background:url(../img/bg/rounded/small/top.png) top no-repeat;height:81px}
.small_box_in{background:url(../img/bg/rounded/small/bottom.png) bottom no-repeat;height:81px;padding-top:5px}
.small_box2_out{background:url(../img/bg/rounded/small2/bg.png) repeat-y;height:81px;width:333px;float:left;margin:0 25px 0 20px}
.small_box2{background:url(../img/bg/rounded/small2/top.png) top no-repeat;height:81px}
.small_box2_in{background:url(../img/bg/rounded/small2/bottom.png) bottom no-repeat;height:81px;padding-top:5px}
.small_box_tracking{background-image:url(../img/icons/tracking.png)}
.small_box_pie{background-image:url(../img/icons/pie.png)}
.small_box_customize{background-image:url(../img/icons/customize.png)}
.small_box_tools{background-image:url(../img/icons/tools.png)}
.small_box_refresh{background-image:url(../img/icons/refresh.png)}
.small_box_stats{background-image:url(../img/icons/stats.png)}
#home_top .left_col h1,#generic_top .left_col h1{font-size:25px;line-height:35px}
.small_box_content,.small_box2_content{background-position:left 5px;background-repeat:no-repeat;height:100%;padding:8px 10px 8px 75px}
.blog_item .spaced h3 { font: bold 13px "Arial", sans-serif; }

.input_wrapper input, .input_container input { padding-right: 0px !important; }
