* {
    margin: 0;
    padding: 0;
}
#createformlabel {
    text-align: center;
}
.smallink {
    font-size: 11px;
}
.biglink {
    font-size: 22px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
.ioslink {
    font-size: 30px;
}
.tip {
    padding-top: 10px;
    font-size: 10px;
}
input.tb {
    width: 480px;
    font-size: 20px;
    font-family: verdana, serif;
}
img.menuimg {
    float: left;
    border: 0;
}
img.graph {
    border: 2px solid #000;
    margin-bottom: 10px;
}
img.floatRight {
    float: right;
    margin: 4px;
    border: 0;
}
img.floatLeft {
    float: right;
    margin: 4px;
    border: 0;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    background: #fff;
}
#footer, #push {
    height: 50px;
    font-size: 12px;
    text-align: right;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
}
#footer p {
    margin: 0;
}
#footer br {
    margin: 0;
}
#footer a {
    text-decoration: none;
}
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    padding-top: 10px;
}
#frontpage form {
    padding: 0;
    margin: 0;
}
#sidebar {
    float: right;
    width: 150px;
}
#main {
    position: relative;
    text-align: left;
    margin: 5px;
    font-size: 14px;
}
#main blockquote {
    font-family: serif;
    font-size: 12pt;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
}
#main h2 {
    font-size: 26px;
}
#main h4 {
    font-size: 20px;
}
#main form {
    padding: 0;
    margin: 0;
}
#menu img {
    border: 0;
    margin-top: 0px;
    vertical-align: bottom;
}
#main ul {
    list-style-type: disc;
    margin-left: 40px;
    font-size: 14px;
    padding-bottom: 10px;
}
h4 {
    padding-bottom: 5px;
    padding-top: 5px;
}
#menu {
    position: relative;
    width: 100%;
    font-size: 15px;
    font-family: verdana, serif;
    text-align: left;
    padding-bottom: 1px;
    border-color: #b00;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#menu a {
    bottom: 0;
    margin: 0;
    padding: 0;
    padding-left: 2px;	
    padding-right: 15px;
}
#menu a:link {
    text-decoration: none;
    color: #000;
}
#menu a:visited {
    text-decoration: none;
    color: #000;
}
#menu a:hover {
    text-decoration: none;
    color: #f00;
}
#errortext {
    color: red;
    text-align: center;
    font-size: 15px;
}
#shorturllabel {
    width: 445px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 10px;
    font-family: verdana, serif;
    text-align:right;
}
#shorturllabel2 {
    width: 445px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align:right;
    font-size: 10px;
    font-family: verdana, serif;
}
#shorturllabel3 {
    width: 445px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align:right;
    font-size: 10px;
    font-family: verdana, serif;
}
#urlboxcontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: 30px;
    width: 450px;
    text-align: center;
}
input.urlbox {
    margin: 0;
    width: 440px;
    font-size: 20px;
    font-family: verdana, serif;
}
input.shorturlbox {
    margin: 0;
    font-size: 14px;
    font-family: verdana, serif;
    width: 260px;
}
#shorturlboxcontainer {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 5px;
    height: 20px;
    width: 400px;
    text-align: left;
    font-family: verdana, serif;
    font-size: 14px;
}
#options {
    display: none;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana, serif;
    font-size: 12px;
    text-align: center;
}
#statsopt {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: verdana, serif;
    font-size: 12px;
    text-align: center;
}
#options input {
    margin-left: 4px;
    margin-right: 2px;
}
input.submitbutton {
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    font-size: 16px;
}
html, body {
    height: 100%;
    font-family: verdana, serif;
    min-width: 460px;
}
body hr {
    border-top: 1px solid #b00;
    height: 1px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
body h1 {
    margin-bottom: 12px;
}
body h2 {
    margin-bottom: 12px;
}
body h3 {
    margin-bottom: 12px;
}
body p {
    margin-bottom: 15px;
}
body a:link {
    text-decoration: underline;
    color: #b70900;
}
body a:visited {
    text-decoration: underline;
    color: #b70900;
}
body a:hover {
    text-decoration: underline;
    color: #f00;
}
body {
    text-align: center;
    padding: 0;
    margin: 0;
}
#hosting {
    text-align: center;
    font-size: 11px;
}
#notice {
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}
body span.reg {
    font-size: 10px;
}
body a.memsetlink:link {
    text-decoration: none;
    color: #b70900;
    font-family: "arial black", serif;
    font-size: 14px;
    font-weight: bold;
}
body a.memsetlink:visited {
    text-decoration: none;
    color: #b70900;
    font-family: "arial black", serif;
    font-size: 14px;
    font-weight: bold;
}
body a.memsetlink:hover {
    text-decoration: none;
    color: #f00;
    font-family: "arial black", serif;
    font-size: 14px;
    font-weight: bold;
}
#disabled {
    padding: 10px;
    margin: 0px;
    background: #a00;
    border-style:solid;
    border-width: 10px;
    border-color: black;
    color: #fff;
    text-align: left;
}
#disabled h2 {
    text-align: center;
}
#disabled a:link {
    text-decoration: underline;
    color: #fff;
}
#disabled a:visited {
    text-decoration: underline;
    color: #fff;
}
#disabled a:hover {
    text-decoration: underline;
    color: #faa;
}
.question {
    font-size: 14px;
    font-weight: bold;
    color: #b70900;
}
.answer {
    font-size: 14px;
    font-style: italic;
}
.newspost {
    border:3px solid #505050;
    margin-bottom: 4px;
}
.newsdate {
    font-style: italic;
    font-size: 14px;
    float: right;
    margin: 2px;
}
.newstitlebar {
    background-color: #f44;
    padding: 4px;
}
.newsheadline {
    font-weight: bold;
    font-size: 24px;
}
.newscontent {
    margin: 2px;
    font-size: 14px;
    font-weight: normal;
}
.newsposter {
    font-weight: normal;
    font-style: italic;
    font-size: 10px;
    color: #900;
    margin: 2px;
}
#reftable {
    border: 2px solid black;
    min-width: 400px;
}
#reftable th {
    background-color:#ff8888;
    padding: 6px;
}
#reftable td {
    border: 1px solid black;
    padding: 2px;
}
#statsmenu {
    font-size: 12px;
    width: 560px;
}
#statsmenu a {
    padding-left: 2px;
    padding-right: 12px;
}
#qrlabel {
    font-size: 11px;
    margin-top: 15px;
}
#origurl {
    font-size: 11px;
    margin-top: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
#qrmessage {
    font-size: 11px;
    margin-top: 15px;
    display: none;
}
#count {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}
#minisculetext {
    font-size: 4px;
}
#recent {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}
