	.fullwidth-inner-stories {
	width:96%;
}
.head-section-light1 h1,
.head-section-light2 h1,
.head-section-light2 h2 {
	margin-left:16px;
}
.faded .thumb-box,
.faded.thumb-box {
	opacity:.5;
	-webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.faded .thumb-box:hover,
.faded.thumb-box:hover {
	opacity:1;
}
.phone-accordion .collapse {
	height:auto !important;
}
	.light-theme .shaded {
	background-color:#fafafa;
}
.light-theme .section-marked2 {
	border-top-color:#ececec;
}
	#pageheader {
	background-color:#0f0f0f;
}
#pageheader > div > .ad {
	display:inline-block;
}
.show-sponsor {
	margin-top:36px;
}
.show-subtitle {
	max-width:230px;
	letter-spacing: 1px;
}
.showmasthead {
	padding: 15px 0;
}
.show-title {
	font-size:50px;
	line-height:1em;
	font-weight:400;
	margin:0 20px 0px 0;
	text-transform:uppercase;
	max-width:530px;
	display: inline-block;
}
.showheader:not(.topicheader) .show-title {
	font-size:55px;
}
.topicheader .show-title {
	font-size:50px;
}
.showmasthead-inner.fullwidth-inner {
	position: relative;
}
.show-title-meta {
	bottom:0;
	float:none;
	display: inline-block;
	vertical-align:bottom;
}
.showmasthead .show-social-list {
	position:absolute;
	right:0;
	top: 50%;
	padding-top:0;
	margin-top:-8px;
}
.showmasthead .show-social-list a {
	color:#ac781e;
}
.ie8 .mastheadtop .log-links {
	white-space: nowrap;
}
.ie8 .site-nav .nav-items > ul > li{
	margin:0 14px;
}
@media (min-width: 1025px) and (max-width: 1280px) {
	header.global-header.sticky-nav .menu-wrapper .icon-cancel {
		right: 20px;
	}
}
@media (min-width: 1281px) {
	header.global-header.sticky-nav .menu-wrapper .icon-cancel {
		right: 46px;
	}
}
	.ie8 .thumb-box.active .thumb {
	position:absolute;
	top:0px;
	left:0px;
}
.ie8 .thumb-box.active .thumb-wrapper {
	background-color:#bbb;
}
.ie8 .thumb-box.sizeA.active .thumb-wrapper {
	height:192px;
}
 
.ie8 .thumb-box.sizeA.active .thumb {
	clip:rect(9px,325px,183px,9px);
}
.ie8 .thumb-box.sizeAB.active .thumb-wrapper {
	height:250px;
}
 
.ie8 .thumb-box.sizeAB.active .thumb {
	clip:rect(9px,325px,241px,9px);
}
.ie8 .thumb-box.sizeB.active .thumb-wrapper {
	height:158px;
}
 
.ie8 .thumb-box.sizeB.active .thumb {
	clip:rect(9px,149px,149px,9px);
}
.ie8 .thumb-box.sizeC.active .thumb-wrapper {
	height:89px;
}
 
.ie8 .thumb-box.sizeC.active .thumb {
	clip:rect(9px,149px,80px,9px);
}
.ie8 .thumb-box.sizeD.active .thumb-wrapper {
	height:100px;
}
 
.ie8 .thumb-box.sizeD.active .thumb {
	clip:rect(9px,149px,91px,9px);
}
	.slider {
	margin-right:-18px;
	margin-bottom:50px;
}
.slider-inner {
	
}
.thumb-nobottomspace .slider {
	margin-bottom:50px;
}
.thumb-nobottomspace .slider-inner {
	padding:0;
	top:0;
}
.carousel-pager {
	text-align:center;
}
.carousel-pager .carousel-page {
	width:10px;
	height:10px;
}
#videoCarousels .head-section1 {
	float:left;
	max-width:40%;
}
.dropdown.media-filter {
	font-size:11px;
	width:150px;
	margin-left:104px;
	padding-bottom:5px;
}
.input-check {
	background:url(../img/sprite.png) -724px -69px no-repeat;
	border:none;
	padding:8px 0 8px 14px;
	font-size:11px;
	color:#858585;
	font-weight:normal;
	float:right;
	margin:0 0 0 20px;
	line-height:1.4em;
}
.input-check:hover {
	background-position: -697px -106px;
}
.input-check.active {
	background-position:-672px -150px;
}
.input-check.active:hover {
	background-position:-643px -185px;
}
.dropdown.media-filter.open {
	padding-bottom:0;
	margin-bottom:20px;
}
.media-filter .dropdown-menu {
	width:150px;
}
.slider-inner:after {
	display:none;
}
	.sched-list > ul > li {
	margin:0 0 .571em;
}
.text-body .text-date-data {
	font-size:1.2em;
	font-weight:normal;
	margin:.3em 0;
	clear:left;
}
.textlist.textlist-img {
	margin-bottom:0;
}
.textlist.textlist-img .text-body .text-date-data {
	margin:0;
	line-height:1em;
	font-size:1em;
}
.text-body .text-date-data > strong,
.text-body .text-date-data > .epnumber {
	font-size:.85em;
	margin-right:.5em;
}
.textlist.textlist-img .text-body .text-date-data > strong,
.textlist.ep-detail .text-body .text-date-data > .epnumber {
	font-size:1em;
}
	.hub-head {
	margin-top:50px;
	margin-bottom:40px;
}
.hub-head .square .ad-label {
	position:relative;
	margin:0 0 5px;
}
.topics-accordion.phone-accordion .collapse {
	overflow:visible !important;
}
.hub-list .thumb-list.multiline > li {
	display:inline-block;
	float:none;
	vertical-align:top;
}
.topics-article .slider-light {
	margin-bottom:40px;
}
	.grid-list.topics-list .slider {
	margin-right:0;
}
.grid-list.topics-list li {
	width:100%;
	margin-left:0;
	display:block;
}
.grid-list.topics-list li .thumb-wrapper {
	height:188px;
	overflow:hidden;
}
.grid-list.topics-list .slider-inner {
	overflow:visible;
}
.slide-in {
	opacity:0;
}
.come-in {
  opacity:1;
  transform: translateY(400px);
  -webkit-transform: translateY(400px);
  animation: come-in 0.8s ease forwards;
  -webkit-animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
}
.already-visible {
	opacity:1;
  transform: translateY(0);
  animation: none;
  -webkit-transform: translateY(0);
  -webkit-animation: none;
}
@keyframes come-in {
  to { transform: translateY(0);  }
}
@-webkit-keyframes come-in {
  to { -webkit-transform: translateY(0); }
}
	
.article-hero img {
	width:100%;
}
 @media (min-width: 1390px) {
 	.hero-move {
 		background-size:100%;
 	}
 }
	
.article .align-left,
.article .alignleft,
.article .align-right,
.article .alignright {
	display:flex;
	align-items:flex-end;
}
.article figure.alignleft figcaption,
.article figure.alignright figcaption {
	flex-grow:1;
	margin-left:20px;
}
.article figure.alignleft > a,
.article figure.alignright > a,
.article figure.alignleft > img,
.article figure.alignright > img {
	min-width:500px;
}
	.list-accordion .accordion-body ul:nth-child(3n+0) {
	margin-right:0;
}
.list-accordion .accordion-heading:hover {
    background-color:#0095D1;
}
.list-accordion .accordion-heading:hover a {
    color:#fff;
}
.list-accordion .accordion-heading:hover a small {
    color:#fff;
    opacity:0.75;
    filter:alpha(opacity=75); 
}
	.mobile-accordion .collapse {
	height: auto !important;
}
	.tdih .sidebar > div {
	margin-bottom:30px;
}
.tdih .fullwidth-inner > .container {
	width:auto;
}
.tdih .day-articles .midpage-ad {
	border-bottom:none;
	background:transparent;
}
.tdih div.categories {
	margin-bottom:60px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tdih .categories h3 {
	border-bottom:1px solid #ddd;
}
.tdih .categories li {
	margin:5px 0;
	font-size:15px;
	font-weight:600;
}
.tdih .categories li a {
	
}
.tdih .categories li.current:before {
	content:"";
	display:inline-block;
	width:9px;
	height:10px;
	background-color:#F72F17;
	margin-left:-15px;
}
.tdih .categories .year {
	color:#999;
}
.tdih-head:not(.sticky-head) .tdih-label {
	padding:25px 20px;
}
.tdih-head.sticky-head {
	margin-left:auto;
	margin-right:auto;
}
.tdih .slider .slider-item {
	width:22.167%;
}
.tdih .head-box1 {
	letter-spacing:0;
}
.tdih .promobox .img-wrapper {
	width:100px;
	float:left;
	display:block;
	margin-right:10px;
}
.tdih .promobox .promo-txt {
	font-size:14px;
}
.tdih .promobox .promo-txt h4 {
	font-weight:600;
}
.tdih .promobox .blue-btn {
	padding:4px 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
.tdih .email-flyout {
	-webkit-transform: translate(101%, 0);
	-moz-transform: translate(101%, 0);
	-ms-transform: translate(101%, 0);
	-o-transform: translate(101%, 0);
	transform: translate(101%, 0);
}
.tdih .email-flyout.flyout {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
 @media (max-width: 1390px) {
 	.tdih-head.sticky-head {
 		width:100%;
 	}
 }
 @media (max-width: 1200px) {
 	.tdih .head-section-light2 .tdih-label {
 		font-size:50px;
 		padding-top:30px;
 		padding-bottom:30px;
 	}
 	.tdih .head-section-light2 .sticky-head .tdih-label {
		font-size:24px;
		padding:10px 3px;
	}
 }
	
.franchise .social-float {
	-webkit-transform: translate(0, 155px);
      -ms-transform: translate(0, 155px);
          transform: translate(0, 155px);
}
.franchise .midpage-ad {
	background:transparent;
}
.news-highlight {
	padding:28px 0;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-style:italic;
}
.news-highlight .highlight-head {
	font-size:40px;
	color:#999;
	font-weight:600;
	line-height:1.2em;
}
.news-highlight p {
	line-height:1.6em;
	font-size:18px;
}
.story-header:not(.story-header-no-title) {
	padding:75px 0 20px;
}
.story-header.story-header-no-title {
	padding:80px 0;
}
.story-header .meta {
	margin-bottom:46px;
}
.story-header .story-share {
	padding: 20px;
}
.grid-list.stories-list ul li {
	width:40%;
	max-width:50%;
	flex-grow:1;
}
.stories-list ul li:nth-child(odd) {
	margin-right:16px;
}
	.speeches #mostPopular h3 {
	margin-top:40px;
}
.speech-tags .list-section {
	padding:20px 0;
}
.speech-tags .list-section:nth-child(odd) {
	background:#f9f9f9;
}
.speech-tags .tag-item {
	width:33.33%;
	float:left;
}
.speech-list .li-inline {
	margin-left: calc( 1.7045% - 4px );
  	width: 31.6288%;
  	display:inline-block;
  	vertical-align:top;
  	min-height:250px;
}
.speech-list .li-inline.ad-desktop {
	display:inline-block;
}
	.sap-container header {
	margin:0 0 30px;
}
.sap-container .sap-item li {
	display:inline-block;
	vertical-align:top;
}
.sap-container .sap-item li:nth-child(1) {
	width:20%;
}
.sap-container .sap-item li:nth-child(2) {
	width:10%;
}
.sap-container .sap-item li:nth-child(3) {
	width:calc( 100% - 20% - 10% - 10% - 15px - 10px);
	margin-right:10px;
}
.sap-container .sap-item li:nth-child(4) {
	width:10%;
}
	
.newsletter-signup .signup-promo-wrapper h4 {
	margin:0 20px 0 0;
	line-height:1.8em;
}
.newsletter-signup .signup-wrapper input {
	width:calc(100% - 210px);
	max-width:360px;
	margin-right:6px;
}
.sticky-signup.screen-expand .signup-promo-wrapper {
	max-height:0;
	overflow:hidden;
	display:none;
}
.sticky-signup.screen-expand .signup-wrapper {
	max-height:1000px;
	opacity:1;
}
	.aetn-player-wrapper.sticky-player:not(.non-sticky) .player-inner {
	width:100%;
	padding-bottom:56.25%;
	position:relative;
}
.aetn-player-wrapper.sticky-player:not(.non-sticky) .player-inner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url(http://bundler.watch.aetnd.com/images/history/generic-thumb.jpg) no-repeat center center;
  background-size: cover;
}
.aetn-player-wrapper.sticky-player:not(.non-sticky) .section-main-img {
	position:fixed;
    right:25px;
    top:15px;
    z-index:10000;
    height:225px;
    width:400px;
    background:#000;
    -webkit-transition:all 0.3s ease-in-out, width 1ms;
    -moz-transition:all 0.3s ease-in-out, width 1ms;
    o-transition:all 0.3s ease-in-out, width 1ms;
    transition:all 0.3s ease-in-out, width 1ms;
}
.tdih .aetn-player-wrapper.sticky-player:not(.non-sticky) .section-main-img {
	top:60px;
}
.aetn-player-wrapper .tpPlayer .tpVideo > div:first-child {
	width:100% !important;
	height:100% !important;
}
.aetn-player-wrapper.sticky-player:not(.non-sticky) .player-local-controls {
	padding:10px;
}
.aetn-player-wrapper.sticky-player:not(.non-sticky) .player-local-controls .closed-captioning {
	display:none!important;
}
.aetn-player-wrapper.sticky-player:not(.non-sticky) .player-local-controls .progress-bar {
	width:calc( 90% - 145px);
}
.aetn-player-wrapper .sticky-player-close {
	display:none;
}
.aetn-player-wrapper.sticky-player:not(.non-sticky) .sticky-player-close {
	display:block;
	color:#fff;
    width:20px;
    height:20px;
    text-align:center;
    border-radius:20px;
    background:rgba(0,0,0,0.6);
    border:2px solid;
    line-height:24px;
    position:absolute;
    right:-10px;
    top:-10px;
    z-index:100;
}
.aetn-player-wrapper.sticky-player .sticky-player-close:hover {
	text-decoration:none;
}
