body {
	padding:0;
	font-size:14px;
}
.page {
	width:100%;
	padding-left:0;
	padding-right:0;
}
.span12,
.span8,
.container,
.span6,
.page {
	width:100%;
	margin-left:0;
	float:none;
}
.fullwidth-inner {
	width:100%;
}
.fullwidth-inner-stories {
	width:96%;
}
.row {
	margin:0;
}
#sidebar {
	width:100%;
	margin:0;
	float:none;
	text-align:center;
	padding:0;
}
#sidebar > div {
	display:inline-block;
	width:300px;
	text-align:left;
	vertical-align:top;
	margin-left:23px;
	margin-right:23px;
	padding-left:0;
	padding-right:0;
}
#sidebar .promobox.visible-tablet,
#sidebar .promobox.hidden-desktop {
	display:inline-block !important;
}
.head-page1 {
	font-size:36px;
	color:#999;
	letter-spacing:normal;
}
.head-page2 {
	font-size:30px;
	color:#fff;
	margin:0 -2.459% !important;
	background-color:#2e2e2e;
	padding:20px 2.459%;
	line-height:1em;
}
.head-section-light2 h1,
.head-section-light2 .tdih-label {
	font-size:45px;
}
.head-section1 {
	margin-bottom:13px;
	margin-left:2.34375%;
}
.head-section4, .head-section-grp > h1 {
	font-size:26px;
}
.head-section4 > small {
	font-size:.7em;
}
.head-section6 {
	font-size:20px;
}
.head-section8 {
	font-size:16px;
}
.section-marked {
	padding-top:20px;
	background-color:#1b1b1b;
}
.section-marked .head-section1 {
	font-size:16px;
}
.section-marked .sizeD .thumb-label {
	font-size:12px;
	margin-bottom:3px;
	color:#999;
}
.section-marked .sizeD .thumb-meta {
	font-size:10px;
}
.section-content {
	padding-bottom:20px;
}
#sidebar {
	margin-bottom:30px;
	margin-top:20px;
}
.section-marked2 {
	border-top-width:2px;
}
#videoGalleries #sidebar .ad.square .ad-label{
	position:static;
	margin:0;
}
#episodes .section-content {
	padding-bottom:0px;
}
#homepageGalleries .head-section1,
#videoCarousels .head-section1 {
	font-size: 24px;
}
#videoCarousels .head-section1 {
	padding-top:20px;
}
.thumb-list .popover {
	display:none !important;
}
.phone-accordion .collapse {
	height:auto !important;
}
.fluid-row-14 > [class*=span],
.fluid-row-14 [class*='span'].offset1_a,
.fluid-row-14 .topic-body > [class*=span] {
	margin-left: 2.34375%;
	margin-right: 2.34375%;
	width:auto;
}
.fluid-row-14 .span-full-tablet {
	width:100%;
}
.device-fullwidth {
	margin-left: -2.34375%;
	margin-right: -2.34375%;
}
.light-theme .container,
.pagemasthead .fullwidth-inner {
	margin-left:2.34375%;
	margin-right:2.34375%;
	width:auto;
}
.light-theme .container .container {
	margin-left:0;
	margin-right:0;
}
.light-theme [class*="head-"] {
	margin-left:0;
}
.light-theme .slider-inner,
.light-theme div:not(.slider-inner) > .thumb-list {
	margin-left:-2.459569%;
	margin-right:-2.459569%;
	width:auto;
}
.light-theme .container .section-header,
.light-theme .container .subsection-header,
.light-theme .container .section-main-img,
.light-theme .container .media-info,
.light-theme .container .dropdown.media-filter {
	margin-left:0;
	margin-right:0;
}
.light-theme .section-marked2 {
	border-top:none;
}
.showmasthead {
	padding-left:2.604%;
	position:relative;
	padding-top:25px;
	padding-bottom:20px;
}
.showmasthead-inner.fullwidth-inner {
	position: relative;
}
.show-title {
	font-size:37px;
	float:none;
	margin-bottom:10px;
	margin-right:0px;
	max-width:469px;
	position: static;
}
.show-title-meta {
	float:none;
	position: static;
	display: block;
}
.show-subtitle {
	max-width:9999px;
	margin-top:0;
	font-size:15px;
	margin-right:50px;
	text-transform:none;
}
.show-subtitle {
	color:#ffcc00;
}
.show-subtitle > br {
	display:none;
}
.show-sponsor {
	margin-bottom:-3px;
	margin-top:0;
}
.icon-list.show-social-list {
	position:absolute;
	top:50%;
	right:2.604%;
	margin-top:-8px;
}
.showmasthead .show-social-list a {
	color:#ffcc00;
}
.mainnav {
	background:#4f4f4f;
	padding-left:1%;
}
.mainnav a {
	font-size:14px;
	letter-spacing:.05em;
	padding:0 16px;
}
.login-area {
	display:none;
}
.show-social-list > li {
	margin-left:19px;
}
.show-social-list .icon.lighticon.icon-twitter {
	width:20px;
	height:17px;
	background-position: -131px -379px;
}
.show-social-list .icon.lighticon.icon-facebook {
	width:7px;
	height:17px;
	background-position: -205px -379px;
}
.show-social-list .icon.lighticon.icon-instagram {
	width:16px;
	height:16px;
	background-position:-244px -379px;
	background-size:800px;
}
.site-fblike .fb_reset iframe {
	width:10px;
}
.light-theme .showmasthead {
	padding:20px 0;
	background-color:#2e2e2e;
}
.light-theme .show-title {
	margin:0 2.34375%;
	color:#fff;
	font-size:30px;
}
.thumb-list {
	margin-bottom: 20px;
}
.thumb-list > .span2,
.thumb-list > .span4 {
	margin-left:2.34375%;
	width:22.0703%;
	margin-bottom:20px;
}
.thumb-list > .tablet-span8,
.lg-thumb .thumb-list > .span4 {
	width:46.484375%;
}
.thumb-list > .span2:nth-child(4n+1),
.thumb-list > .span4:nth-child(4n+1),
.thumb-list > .tablet-span8:nth-child(2n+1) {
	margin-left:2.34375%;
	clear:left;
}
.thumb-list > .span2:nth-child(4n),
.thumb-list > .span4:nth-child(4n),
.thumb-list > .tablet-span8:nth-child(2n) {
	margin-right:2.34375%;
}
.thumb-label,
.sizeB .thumb-label,
.sizeA .thumb-label {
	font-size:14px;
	line-height:1.3em;
}
.tablet-span8 .thumb-label {
	font-size:15px;
}
.thumb-meta,
.sizeA .thumb-meta {
	font-size:10px;
}
.thumb-list.multiline .thumb-box .caption {
	min-height:58px;
}
.carousel-phone .item,
.slider-phone .item {
	width: 40%;
}
.carousel-phone .thumb-list > .span2,
.slider-phone .thumb-list > .span2 {
	width:46.484375%;
}
.thumb-list > .tablet-span8,
.thumb-list > .tablet-span6 {
	width:46.484375%;
}
.dropdown.media-filter {
	font-size:15px;
	margin-left:0px;
	margin-right:18px;
	width:auto;
	padding:0;
}
.dropdown.media-filter > a {
	padding:12px 38px 12px 18px;
	white-space:nowrap;
}
.dropdown.media-filter .data-meta {
	display:none;
}
.dropdown.media-filter .caret {
	border-width:6px;
	right:17px;
	top:18px;
}
.dropdown.media-filter.open {
	margin-bottom:0;
}
.media-filter .dropdown-menu a {
	color:#fff;
	padding-top:8px;
	padding-bottom:8px;
}
.media-filter .active a {
	background-position: -543px -318px;
}
.media-filter .active a:hover {
	background-color:transparent;
	color:#fff;
}
.input-check,
.input-check:hover {
	background-position: -461px -395px;
	padding: 23px 0 0px 30px;
	margin-right:18px;
	font-size:15px;
}
.input-check.active,
.input-check.active:hover {
	background-position: -503px -345px;
}
.carousel-control,
.slider-control {
	display:none;
}
.carousel-pager {
	text-align:right;
	margin-right:2.34375%;
}
.carousel-pager .carousel-page {
	background-color:#878787;
	border:none;
	margin-left:2px;
	margin-right:2px;
	width:8px;
	height:8px;
}
.carousel-pager .carousel-page.active {
	background-color:#fff;
}
.light-theme .media-filter .dropdown-menu {
	width:135px;
}
#videoCarousels .head-section1 {
	float:left;
	max-width:40%;
}
.section-header {
	padding-top:36px;
	margin-left:2.34375%;
	margin-right:2.34375%;
	border-bottom: 2px #414141 solid;
	margin-bottom:21px;
	position:relative;
}
.subsection-header {
	margin-left:2.34375%;
	margin-right:2.34375%;
	margin-bottom:8px;
	position:relative;
}
.section-title {
	margin-bottom:8px;
}
.section-nav > li {
	font-size:17px;
}
.section-nav > li > a {
	padding:0 .5em;
}
.section-nav {
	margin-bottom:.6em;
}
.subsection-header .icon-share,
.section-header .icon-share {
	position:absolute;
	top:3px;
	right:0;
}
#interactiveDetailPage .subsection-header:first-child {
	margin-top:36px;
}
.subsection-title {
	margin-bottom: 10px;
}
.section-social-list .icon {
	margin-left:30px;
}
.text-body {
	margin-left:2.34375%;
	margin-right:2.34375%;
	font-size:18px;
	line-height:1.9em;
}
.textlist.textlist-img .text-body .text-date-data {
	font-weight:normal;
}
.text-body h2 {
	font-size:24px;
	margin-bottom:.5em;
	color:#fff;
}
#singleArticle article.section-content,
#bioDetailPage article.section-content {
	padding-bottom:10px;
}
.text-body h4 {
	font-weight:600;
	color:#4b4b4b;
	font-size:1.3em;
	margin:0 0 .5em;
}
.text-body p {
	margin:0 0 1.5em;
}
#bioDetailPage #sidebar {
	margin-top:0;
}
.preview:before {
	background-size:100% 33%;
}
.media-info {
	line-height:1.5em;
	margin-bottom: 1em;
	margin-left:2.34375%;
	margin-right:2.34375%;
	color:#ddd;
}
.media-info > p {
	font-size:18px;
	line-height:1.94em;
	margin-bottom:1em;
}
.section-main-img  {
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.section-main-img > img {
	width:100%;
}
.section-main-img.margin-large {
	margin-bottom:24px;
}
.media-info {
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.textlist .text-body {
	font-size:18px;
}
.textlist {
	margin-bottom:100px;
}
.textlist .text-title {
	font-size: 25px;
	margin-bottom:.3em;
}
.text-body .text-date-data {
	margin-bottom:1em;
}
.textlist.textlist-img {
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.textlist.textlist-img .text-body {
	margin:0;
	font-size:16px;
}
.textlist.textlist-img .text-title {
	font-size:22px;
}
.textlist.textlist-img .text-date-data {
	margin:0;
	line-height:1em;
}
.textlist.textlist-img li figure {
	width:21.584699%;
	margin-right:3.4153%;
}
.textlist.textlist-img li figure img {
	width:100%;
}
.textlist.textlist-img li article {
	width:75%;
}
.sched-list {
	font-size:16px;
}
#galleryWrapper {	
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.light-theme #galleryWrapper {
	margin-left:0;
	margin-right:0;
}
.light-theme #galleryDetailPage .carousel-control {
	display:none;
}
#galleryWrapper .subsection-header  {
	margin-left:0;
	margin-right:0;
}
.carousel-text {
	font-size:14px;
	padding:10px 10px 0;
}
.carousel-thumbs img {
	width:100%;
}
.main-gallery .slider-image-region {
	position:relative;
}
.main-gallery .carousel-control.left,
.main-gallery .slider-control.left {
	left:15px;
	top:50%;
	margin-left:0;
	background-position:-50px -176px;
	display:block;
}
.main-gallery .carousel-control.right,
.main-gallery .slider-control.right {
	right:15px;
	top:50%;
	margin-right:0;
	background-position:0 -176px;
	display:block;
}
#galleryDetailPage #sidebar {
	float:none;
}
.summarylist {
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.summarylist > li {
	margin-bottom:40px;
}
.summarybox .thumb-label {
	font-size:24px;
	line-height:23px;
	margin:0px 0 .5em;
	font-weight:200;
}
.summarybox .span2 {
	margin:0 21px 0 0;
	width:171px;
}
.summarybox .span6 {
	width:auto;
}
.summarybox p {
	padding:0;
	margin:0;
	font-size:17px;
	line-height:1.5em;
}
.hp-shop .span4 {
	width: 46.484375%;
	margin-left:2.34375%;
}
.hp-shop .span4:first-child {
	margin-left:0;
}
.popularLinks .link-container {
	height:22px;
	overflow:hidden;
}
.mobile-accordion .collapse {
	height: auto !important;
}
.video-list li {
	margin-left:1.7045%;
	width:31.6288%
}
.video-list li.ad-bordered {
	float:none;
	clear:both;
	margin:0 0 18px;
	position:relative !important;
}
.shows-list li {
	max-height:79px;
}
#networks-tab li {
	padding-bottom:8px;
}
.hub-head {
	margin-bottom:30px;
}
.hub-head [class*=span] {
	margin-left:0;
	margin-right:0;
	width:100%;
}
.hub-head .ad {
	margin:0 -2.459%;
	background-color:#f9f9f9;
}
.hub-head .ad > * {
	width:300px;
	margin:0 auto;
	position:relative;
}
.hub-head .section-social-list {
	float:left;
	margin-left:-30px;
}
.hub-head .social {
	margin-bottom:20px;
}
.hub-head .social > ul > li {
	float:left;
	margin-right:15px;
}
.hub-head .social:after {
	content:"";
	display: table;
  	line-height: 0;
  	clear:both;
}
.topics-article.fluid-row-14 .span1,
.topics-article.fluid-row-14 .topic-body .span8,
.topics-article.fluid-row-14 .flex12-8 {
	width:95.3125%;
	margin-left:2.34375%;
	margin-right:2.34375%;
	
}	
.topics-article.fluid-row-14 .topic-intro {
}
.topics-article.fluid-row-14 .topic-intro .span8,
.topics-article.fluid-row-14 .topic-intro .span4  {
	float:left;
	margin-left:2.34375%;
}
.topics-article.fluid-row-14 .topic-intro .span4 {
	width:36.2437%;
}
.topics-article.fluid-row-14 .topic-intro .span4 .ad {
	float:right;
}
.topics-article.fluid-row-14 [class*=span] .slider [class*=span] {
	margin-right:0;
}
.topics-article.fluid-row-14 div:first-child .span1 {
	margin-left:2.34375%;
}
.topics-article.fluid-row-14 .slider .span4 {
	width:48.828125%;
}
.topics-article.fluid-row-14 .slider .span4:first-child {
	
}
.topics-article.fluid-row-14 .grid-list .slider .span4 {
	width:22.65625%;
}
.light-theme .topics-article .slider-inner {
	margin:0;
}
@media (max-width: 835px) {
	.topics-article.fluid-row-14 .topic-intro .span8 article {
		width:95%;
	}
}
.article-tools-section {
	border-bottom: 1px solid #ececec;
  	margin-bottom: 30px;
}
.article-tools-section .article-tools {
	padding-bottom:10px;
	margin-bottom:0;
	float:left;
	position:static !important;
}
.article-tools:first-child + .article-tools {
	float:right;
}
.article-tools:first-child > li:first-child {
	margin-left:0;
}
.topic-intro .article-tools > li,
.franchise .article-tools > li {
	float:left;
	border:none;
	margin-left:25px;
	padding:0;
}
.article-tools .social ul {
	margin:0;
}
.article-tools .social li {
	float:left;
	margin-right:15px;
	margin-left:0;
}
.article-tools:first-child + .article-tools li {
	position:relative;
	top:-5px;
}
.topic-intro .article-tools li span,
.franchise .article-tools li span {
	display:inline-block;
	position:relative;
	top:8px;
	margin-left:5px;
}
.article-tools li.contents {
	margin-left:0;
	margin-right:40px;
	top:-16px;
	font-style:italic;
}
.article-tools li.contents > a {
	font-style:normal;
}
.article-tools li.contents span { 
	top:12px;
}
.article-tools li.contents span:first-child {
	display:inline-block;
	margin-right:8px;
}
.article-tools li.contents span:first-child + span {
	display:none;
}
.article-tools .cite-overlay {
	right:85px;
	left:auto;
	top:-100px;
}
.article-tools .cite-overlay:before {
	right:-25px;
	left:auto;
	top:110px;
	border-left-color: #808080;
	border-right-color: transparent;
}
.extra-tools {
	border-bottom: 1px solid #ececec;
  	margin-bottom: 30px;
}
.extra-tools .article-tools-section {
	border-bottom:none;
	margin-bottom:0;
	float:right;
}
.extra-tools .social-float {
	position:static;
	float:left;
}
.extra-tools .social-float li {
	float:left;
}
.extra-tools .social-float li:first-child {
	margin-left:0;
}
.article .trivia h5 {
	width:auto;
	float:none;
}
.topics-article .article .trivia p {
	margin-left:0;
}
.article .flush-left {
	max-width:none;
	width:100%;
	margin-left:0;
}
.article .flush-left img {
	width:100%;
}
.article .pull-right.wrapped {
	margin-left:20px;
	margin-bottom:20px;
}
.article .pull-right.wrapped .square .ad-label {
	margin-top:0;
	position:static;
}
.grid-list.topics-list {
	margin-bottom:50px;
	
}
.grid-list.topics-list h3 {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    font-weight:400;
    text-transform:uppercase;
}
.grid-list.topics-list .slider {
	margin-left:-2.34375%;
}
.grid-list.topics-list li span {
	top:0;
	bottom:auto;
	left:auto;
	right:0;
}
.hero-move {
	background:none !important;
}
.hero-move.closed {
	height:auto !important;
}
.hero-move .expand-content > .player {
	width:90%;
	height:auto;
}
.hero-move .expand-content .video-desc {
	width:86%;
	padding-right:0;
}
.hero-move .close-btn {
	right:-30px;
}
.hero-move img.heroimg {
	opacity: 1;
}
.article-hero img {
	width:100%;
}
.article-hero figcaption {
	width:96%;
}
.tags-overlay .span3 {
	width:23.1638%;
}
.tags-overlay .span10 {
	width:68.5%;
}
.tags-overlay .offset3 {
	margin-left:27.118644%;
}
.grid-list.tag-list > ul > li {
	width:30.927835%;
	margin-left:3.6%;
}
.grid-list.tag-list > ul > li img {
	max-width:none;
	width:100%;
}
.grid-list.tag-list > ul li:nth-child(5n+1) {
	margin-left:3.6%;
}
.grid-list.tag-list > ul li:nth-child(3n+1) {
	margin-left:0;
}
.tags-overlay .tag-items li a {
	padding:15px 12.19%;
}
.tags-overlay .tag-list h4 {
	font-size:24px;
	width:55%;
}
.topics-article .tags-overlay {
	width:80%;
	left:10%;
}
.topic-body:not(.day-article) .social-float {
	display:none !important;
}
.list-accordion .accordion-body li {
	
}
.list-accordion .accordion-body ul:nth-child(3n+0) {
	margin-right:0;
}
.article .align-left,
.article .alignleft,
.article .align-right,
.article .alignright {
	display:flex;
	align-items:flex-end;
}
.article figure.alignleft figcaption,
.article figure.alignright figcaption {
	flex-grow:1;
	margin-left:20px;
}
.article figure.alignleft > a,
.article figure.alignright > a,
.article figure.alignleft > img,
.article figure.alignright > img {
	min-width:500px;
}
.tdih-head .fullwidth-inner {
	margin-left:0;
	margin-right:0;
}
.head-section-light2 .tdih-head .tdih-label {
	margin-left:168px;
	padding-top:15px;
	padding-bottom:10px;
	float:none;
}
.tdih-head .extra {
	margin:0 0 0 20px;
}
.head-section-light2 .tdih-head.sticky-head .tdih-label {
	font-size:24px;
	margin-left:0;
}
.sticky-head .article-toggle {
	padding-top:15px;
	padding-bottom:15px;
}
.sticky-head .article-previous {
	left:20px;
}
.sticky-head .article-next {
	right:20px;
}
.tdih .day-articles .midpage-ad {
	border-bottom:none;
	background:transparent;
}
.tdih .slider {
	margin-right:2.832%;
}
.tdih .slider-inner {
	margin-left:-2.832%;
}
.tdih .slider .slider-item {
	width:22.167%;
}
.tdih .slider .slider-item:nth-child(4n) {
	margin-right:0;
}
.tdih .slider .slider-item:nth-child(4n+1) {
	margin-left:2.832%;
}
.tdih .email-flyout {
	position: static;
	border: none;
	box-shadow: none;
	text-align: center;
	margin-left: -4.6875%;
	margin-right: -4.6875%;
	margin-bottom:40px;
	width: auto;
	background: #ddd;
	display:block !important;
	visibility:visible !important;
}
.tdih .email-flyout .close-btn {
	display:none;
}
.tdih #signup_screen {
	position:relative;
	margin:0 20px;
	background:#fff;
	padding:20px;
	z-index:100;
	background: white;
}
.tdih #signup_screen iframe {
	height:340px;
	width:300px;
	margin:auto;
}
.tdih .email-flyout .close-btn-inner {
	display:block;
}
.tdih .email-flyout .no-signup {
	display:none;
}
.tdih .generic-popover .min-btn {
	top:10px;
	right:10px;
}
.tdih-head .extra li .popover {
	left:auto;
	right:0;
}
.tdih .article-tools .cite-overlay {
	left:auto;
	right:40px;
}
.tdih .article-tools .cite-overlay:before {
	border-right-color:transparent;
	border-left-color:#808080;
	left:auto;
	right:-25px;
}
.franchise .tdih-head .tdih-label {
	margin-left:0;
	display: inline-block;
	width: calc( 100% - 175px - 140px - 4px);
	font-size: 57px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.franchise .tdih-head .sponsor-ad {
	float:none;
	display:inline-block;
	margin-bottom:20px;
	vertical-align:bottom;
}
.franchise .tdih-head .extra {
	float:none;
}
.franchise .article-list .span1 {
	width:100%;
}
.franchise .article .section-main-img {
	margin-left:0;
	margin-right:0;
}
.franchise .article-body {
	margin-bottom:120px;
}
.story-header:not(.story-header-no-title) {
	padding:75px 0 20px;
}
.story-header.story-header-no-title {
	padding:80px 0;
}
.story-header .meta {
	margin-bottom:46px;
}
.story-header .story-share {
	padding: 20px;
}
.grid-list.stories-list ul li {
	width:40%;
	max-width:50%;
	flex-grow:1;
}
.stories-list ul li:nth-child(odd) {
	margin-right:16px;
}
.speech-tags .tags-list {
	font-size:12px;
}
.speech-tags .list-section {
	padding:20px 0;
}
.speech-tags .list-section:nth-child(odd) {
	background:#f9f9f9;
}
.speech-tags .tag-item {
	width:33.33%;
	float:left;
}
.speech-list .li-inline {
	margin-left: calc( 1.7045% - 4px );
  	width: 31.6288%;
  	display:inline-block;
  	vertical-align:top;
  	min-height:250px;
}
.sap-container header {
	margin:0 0 30px;
}
.sap-container .sap-item li {
	display:inline-block;
	vertical-align:top;
}
.sap-container .sap-item li:nth-child(1) {
	width:20%;
}
.sap-container .sap-item li:nth-child(2) {
	width:10%;
}
.sap-container .sap-item li:nth-child(3) {
	width:calc( 100% - 20% - 10% - 10% - 15px - 10px);
	margin-right:10px;
}
.sap-container .sap-item li:nth-child(4) {
	width:10%;
}
.newsletter-signup .signup-promo-wrapper h4 {
	margin:0 20px 0 0;
	line-height:1.8em;
}
.newsletter-signup .signup-wrapper input {
	width:calc(100% - 210px);
	max-width:360px;
	margin-right:6px;
}
.sticky-signup.screen-expand .signup-promo-wrapper {
	max-height:0;
	overflow:hidden;
	display:none;
}
.sticky-signup.screen-expand .signup-wrapper {
	max-height:1000px;
	opacity:1;
}
.sticky-player-close{
    display:none;
}
.aetn-player .player-layer .box-overlay.alert-wrapper .overlay-dialog {
  box-sizing:border-box;
}
