body {
	padding:0;
	font-size:16px;
	line-height:1.375em;
}
.page {
	width:100%;
	padding-left:0;
	padding-right:0;
}
.fullwidth-inner-stories {
	width:90%;
}
#sidebar {
	padding-left:4.6875%;
	padding-right:4.6875%;
}
.head-page1 {
	font-size:22px;
	letter-spacing:normal;
}
.head-page2 {
	font-size:20px;
	color:#fff;
	margin:0 -5.179% !important;
	background-color:#2e2e2e;
	padding:8px 5.179%;
	line-height:1.2em;
	font-weight:bold;
}
.head-section1 {
	margin-bottom:20px;
	margin-left:4.6875%;
	color:#ccc;
}
.head-section4, .head-section-grp > h1 {
	font-size:18px;
}
.head-section-grp > h1 {
	margin-bottom:0;
}
.head-section8 {
	font-size:12px;
}
.head-section-light1 {
	background-color:#2e2e2e;
	padding:8px 0;
}
.head-section-light1 h1 {
	font-size:20px;
}
.head-section-light1 h1 a {
}
.head-section-light2 h1,
.head-section-light2 .tdih-label {
	font-size:20px;
	font-weight:600;
}
.head-section-light2 h1,
.head-section-light2 h2 {
	padding:22px 16px;
}
.section-content {
	padding:0 0 20px;
}
.section-marked .sizeD .thumb-label {
	font-size:15px;
	font-weight:normal;
	color:#fff;
}
#sidebar > div {
	margin-bottom:40px;
}
.section-marked2 {
	padding:0;
	border:none;
}
#videoGalleries #sidebar .ad.square .ad-label{
	position:static;
	margin:0;
}
#episodes .section-content {
	padding-bottom:0px;
}
.thumb-list .popover {
	display:none !important;
}
.fluid-row-14 .span-full-tablet {
	width:100%;
}
.fluid-row-14 > [class*=span],
.fluid-row-14 > [class*=span].offset1_a {
	margin-left: 4.6875%;
	margin-right: 4.6875%;
	width:auto;
}
.device-fullwidth {
	margin-left: -4.6875%;
	margin-right: -4.6875%;
}
.light-theme .container,
.pagemasthead .fullwidth-inner {
	margin-left:4.6875%;
	margin-right:4.6875%;
	width:auto;
}
.light-theme .container.full-mobile {
	margin-left:0;
	margin-right:0;
}
.light-theme .container.full-mobile > .row > .span12 > *,
.light-theme .container.full-mobile .inside-pad > div > * {
	padding-left:3.125%;
	padding-right:3.125%;
}
.light-theme .container.full-mobile .inside-pad {
	padding-left:0 !important;
	padding-right:0 !important;
}
.light-theme .container .container {
	margin-left:0;
	margin-right:0;
}
.light-theme .container #sidebar {
	padding-left:0;
	padding-right:0;
}
.light-theme .text-container {
	padding:0;
}
.light-theme [class*="head-"] {
	margin-left:0;
}
.light-theme .slider-inner,
.light-theme div:not(.slider-inner) > .thumb-list {
	margin-left:-5.1747%;
	margin-right:-5.1747%;
	width:auto;
}
.light-theme .headertype-1 {
}
.light-theme .section-marked2 {
	border-top:none;
}
.light-theme .container .section-header,
.light-theme .container .subsection-header,
.light-theme .container .section-main-img,
.light-theme .container .media-info,
.light-theme .container .media-summary,
.light-theme .container .dropdown.media-filter,
.light-theme .container .carousel.main-gallery,
.light-theme .text-body {
	margin-left:0;
	margin-right:0;
}
.showmasthead {
	padding:0;
}
.show-title {
	margin:0;
	padding:10px 39px 10px 14px;
	font-size:2.363em; 
	line-height:1.15em;
	font-weight:normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	min-height:48px;
}
.color-gray.showheader {
	background-color:#333;
}
.show-title-meta {
	float:none;
}
.show-subtitle {
	font-size:12px;
	line-height:1.1em;
	margin:0;
	background-color:#515151;
	float:none;
	padding:0px 14px;
	height:30px;
	line-height:30px;
	max-width:9999px;
	display:block;
	white-space: nowrap;
}
.show-subtitle > br {
	display:none;
}
.show-sponsor {
	background-color:#333333;
	text-align:center;
	display:block;
	padding-left:14px;
	padding-right:14px;
}
.show-sponsor iframe {
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	margin:2px 0;
	width:100%;
	border:none;
}
.show-sponsor > strong {
	display:block;
	font-size:1.1em;
}
.icon-list.show-social-list {
	height:38px;
	background-color:#484848;
	float:none;
	display:block;
	padding:0 14px;
	margin:0;
}
.show-social-list .icon {
	padding-right:8px;
}
.show-social-list > li {
	margin-right:25px;
	margin-left:0;
	margin-top:11px;
}
.show-social-list.icon-list li a {
	font-weight:normal;
	line-height:16px;
}
.mainnav.navbar {
	position:relative;
}
.navbar .btn-navbar {
	display:block;
	margin-top:-116px;
	padding:0 0 0 0;
	height:48px;
	width:46px;
	background:url(../img/sprite.png) -177px -49px no-repeat;
	
	background-size:400px 300px;
	outline:none;
}
.navbar.topicsnavbar .btn-navbar {
	background-position:-368px -110px;
	margin-top:-40px;
	height:40px;
}
.no-tunein .navbar .btn-navbar {
	margin-top:-86px;
}
.navbar .nav-collapse.in + .btn-navbar {
	background-color:#222;
	background-position: -170px -83px;
}
.navbar.topicsnavbar .nav-collapse.in + .btn-navbar {
	background-color:transparent;
}
.navbar-inner {
	width:100%;
	position:absolute;
	background-color:#222222;
	z-index:9999;
	margin-top:-68px;
}
.topicsnavbar .navbar-inner {
	margin-top:0;
}
.no-tunein .navbar-inner {
	margin-top:-38px;
}
.mainnav .nav {
	margin: 15px;
}
.nav-collapse {
	-webkit-transform: translate3d(0, 0, 0);
}
.nav-collapse {
	clear: both;
}
.nav-collapse .nav > li {
	float: none;
	margin:3px 0;
	background-color:#333;
}
.topicsnavbar .nav-collapse .nav > li {
	background-color:#ebebeb;
}
.nav-collapse .dropdown-menu {
	position: static;
	top: auto;
	left: auto;
	display: none;
	float: none;
	max-width: none;
	padding: 0;
}
.nav-collapse .open > .dropdown-menu {
	display: block;
}
.nav-collapse .dropdown-menu:before,
.nav-collapse .dropdown-menu:after {
	display: none;
}
.nav-collapse .dropdown-menu .divider {
	display: none;
}
.nav-collapse .nav > li > .dropdown-menu:before,
.nav-collapse .nav > li > .dropdown-menu:after {
	display: none;
}
.nav-collapse,
.nav-collapse.collapse {
	height: 0;
	overflow: hidden;
}
.color-gray .mainnav .active a {
	background-color:#515151;
}
#pageheader {
	position:relative;
	z-index:2000;
}
.main-menu .nav-items {
	padding-left:10px;
}
.light-theme .showmasthead {
	padding:8px 0;
	background-color:#2e2e2e;
}
.light-theme .show-title {
	margin:0 4.6875%;
	color:#fff;
	font-size:24px;
	padding:0;
	min-height:0;
	letter-spacing:1px;
}
header.global-header.sticky-header {
	display:none;
}
header.sticky-header .title,
header.sticky-header .story-share {
	visibility:hidden;
}
header.global-header.sticky-nav .navigation {
	position:fixed;
}
.icon-list > li {
	font-size:12px;
	line-height:12px;
	text-transform:uppercase;
}
.icon.icon-play.size-medium,
.icon.icon-play.size-large {
	width:36px;
	height:35px;
	margin-left:-16px;
	margin-top:-16px;
	background-position: -199.5px -263.375px;
	background-size:700px;
}
.icon.icon-key.size-medium {
	width:35px;
	height:35px;
	margin-left:-16px;
	margin-top:-16px;
	background-position: -112px -263.375px;
	background-size:700px;
}
.icon.icon-share {
	width:20px;
	height:22px;
	background-size:400px;
	background-position: -215px -24px;
	float:right;
}
.thumb-list {
	margin-bottom: 20px;
}
.thumb-list > .span2,
.thumb-list > .span4 {
	width:42.96875%;
	float:left;
	margin-bottom:20px;
}
.thumb-list > .span2:nth-child(2n),
.thumb-list > .span4:nth-child(2n) {
	margin-right:4.6875%;
	margin-left:4.6875%;
}
.thumb-list > .span2:nth-child(2n+1),
.thumb-list > .span4:nth-child(2n+1) {
	clear:left;
	margin-left:4.6875%;
}
.thumb-box .thumb-wrapper {
	margin-bottom:6px;
}
.thumb-list.multiline .thumb-box .caption {
	min-height:auto;
}
.thumb-list > .fullwidth-phone {
	width:90.625%;
	float:none;
}
.thumb-list > .fullwidth-phone .thumb {
	width:100% !important;
	height:auto !important;
}
.fullwidth-phone .sizeA .thumb-label {
	font-size:14px;
}
.fullwidth-phone .sizeA .thumb-meta {
	font-size:10px;
}
.thumb-box .thumb,
.thumb-box .thumb:hover {
	opacity: 1;
}
.media-filter + .input-check + .head-section1 {
	float:none;
	max-width:9999px;
}
.carousel,
.slider {
	margin-bottom:20px;
}
.thumb-list > .span2:nth-child(2n+1),
.thumb-list > .span4:nth-child(2n+1) {
	margin-left:4.6875%;
}
.carousel-pager {
	margin-right:4.6875%;
	position:relative;
	z-index:3;
}
.carousel-pager .carousel-page {
	margin-left:2px;
	margin-right:2px;
	width:8px;
	height:8px;
}
.carousel-control,
.slider-control {
	display:none;
}
.carousel-phone .carousel-inner,
.slider-phone .slider-inner {
	overflow:hidden;
	position:relative;
}
.carousel-phone .item {
	display:none;
	float:none;
	margin-bottom:0;
	margin-left:0;
}
.carousel-phone .item.active {
	display:block;
}
.carousel-phone .carousel-control {
	display:none;
}
.carousel-phone .carousel-inner > .active,
.carousel-phone .carousel-inner > .next,
.carousel-phone .carousel-inner > .prev,
.slider-phone .slider-inner > .next,
.slider-phone .slider-inner > .prev {
  display: block;
}
.carousel-inner-wrap {
	position:relative;
}
.media-filters {
	float:left;
}
.media-filters .media-filter {
	margin-left:8px;
	margin-bottom:20px;
}
.media-filter .dropdown-toggle {
	padding: 11px 33px 11px 16px;
	font-size:12px;
}
.dropdown.media-filter .caret {
	border-width:6px;
	top:18px;
}
.input-check {
	font-size:13px;
	padding:0 0 24px;
	background-position:3px -215px;
	background-size:400px;
	line-height:1em;
	margin-top:6px;
}
.input-check.active {
	background-position:-45px -215px;
}
.dropdown.media-filter .data-meta {
	display:none;
}
.media-filter .dropdown-menu {
	width:100%;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:20px;
}
.media-filter .dropdown-menu a {
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
}
.media-filter .active a {
	background-position: -543px -320px;
}
.control-outside .carousel-control.left,
.control-outside .slider-control.left {
	margin-left:0;
}
.control-outside .carousel-control.right,
.control-outside .slider-control.right {
	margin-right:0;
}
.light-theme .media-filter .dropdown-menu {
	width:115px;
}
.preview:before {
	background-size:100% 33%;
}
.media-info {
	line-height:1.95em;
	margin-bottom: 1em;
	margin-left:2.34375%;
	margin-right:2.34375%;
	font-size:14px;
}
.media-info > p {
	margin-bottom:1em;
}
.section-main-img  {
	margin-left:4.6875%;
	margin-right:4.6875%;
}
.section-main-img.margin-large {
	margin-bottom:14px;
}
.media-summary .subsection-header,
.media-summary .section-main-img,
.media-summary .media-info {
	margin-left:0;
	margin-right:0;
}
.media-summary {
	margin-left:4.6875%;
	margin-right:4.6875%;
}
.preview:before {
	display:none;
}
.text-body h2 {
	font-size:18px;
	line-height:1.95em;
}
.text-body {
	margin-left:4.6875%;
	margin-right:4.6875%;
	font-size:15px;
	line-height:1.95em;
}
.text-body h2 {
	font-size:18px;
}
#singleArticle article.section-content,
#bioDetailPage article.section-content {
	padding-bottom:10px;
}
.text-body h4 {
	font-weight:600;
	color:#3e3e3e;
	margin:0 0 .5em;
}
.text-body p {
	margin:0 0 2em;
}
#bioDetailPage #sidebar {
	margin-top:0;
}
.textlist.textlist-img .text-body .text-date-data {
	font-weight:normal;
	line-height:1.4em;
	font-size:14px;
}
.textlist.textlist-img .text-body .text-date-data .epnumber,
.textlist.textlist-img .text-body .text-date-data h5 {
	display:inline-block;
	vertical-align:top;
}
.textlist.textlist-img .text-body .text-date-data > h5 {
	width:70%;
}
.section-header {
	padding-top:16px;
	margin-left:4.6875%;
	margin-right:4.6875%;
	border-bottom-color:#414141;
	border-bottom-width:2px;
	margin-bottom:11px;
	position:relative;
}
.subsection-header {
	margin-left:4.6875%;
	margin-right:4.6875%;
	margin-bottom:1em;
	position:relative;
}
.subsection-header .head-section4 > small {
	display:block;
	font-size:.8em;
}
.section-title {
	margin-bottom:.3em;
}
.section-nav > li {
	font-size:14px;
}
.section-nav > li > a {
	padding:0 .5em;
}
.section-nav {
	margin-bottom:1em;
}
.subsection-header .icon-share,
.section-header .icon-share {
	position:absolute;
	top:0px;
	right:0;
}
.section-header .section-nav + .icon-share {
	bottom:20px;
	top:auto;
}
#interactiveDetailPage .subsection-header:first-child {
	margin-top:16px;
}
.subsection-title {
	float:none;
	margin:0;
	padding-right:25px;
}
.ad .ad-label {
	margin-top:-1.2em;
	font-size:12px;
}
.ad.square,
.promobox  {
	width:300px;
	margin-left:auto;
	margin-right:auto;
}
.ad.ad-fullwidth {
	margin-bottom:40px;
}
.light-theme .list-ad .ad > * {
	width:300px;
	position:relative;
	margin: 0 auto;
}
.textlist {
	margin-bottom:100px;
}
.textlist .text-title {
	font-size: 18px;
	margin-bottom:.3em;
}
.textlist .text-body {
	font-size:15px;
}
.textlist > li {
	border:none;
	margin:0;
}
.sched-list {
	font-size:12px;
}
.sched-list > .head-section8 {
	width:60px;
	white-space:normal;
}
.textlist .text-title {
	float:none;
}
.textlist .text-title-meta {
	border-left:0;
	padding-left:0;
}
.textlist.textlist-img .text-body {
	margin-bottom:60px;
}
.textlist.textlist-img li article {
	display:block;
	width:auto;
}
.textlist.textlist-img .text-title {
	margin-bottom:0;
}
.textlist.textlist-img.ep-detail .text-title {
	margin-bottom:10px;
}
.textlist.textlist-img .text-body .text-date-data .epnumber {
	margin-right:5px;
}
.textlist.textlist-img .text-body .text-date-data .epnumber:after {
	margin-left:5px;
}
.textlist.textlist-img.ep-detail .text-body .text-date-data {
	line-height:1.4em;
}
.promobox {
	font-size:15px;
}
.promo-img-inline {
	margin:0 11px 0 0;
}
.promo-img-inline + .promo-txt {
	margin-bottom:45px;
}
.carousel.main-gallery, .slider.main-gallery {
	margin-bottom:30px;
	margin-left:4.6875%;
	margin-right:4.6875%;
}
.main-gallery .carousel-control,
.main-gallery .slider-control {
	display:block;
	top:40%;
}
	
.carousel-info {
	position:relative;
	background:none;
	display:block;
}
	
.carousel-text {
	display:block;
	width:auto;
	font-size:14px;
	padding:8px 0 0;
	line-height:1.95em;
}
.carousel-buttons {
	position:static;
	display:block;
	width:auto;
}
#galleryDetailPage .section-content {
	padding-bottom:20px;
}
#galleryDetailPage #sidebar {
	margin-top:0;
}
.icon.icon-play-nobg,
.icon.icon-pause-nobg {
	position:absolute;
	left:50%;
	top:-30px;
	background-color:#f90;
	float:none;
	background-color:#000;
	border-radius:20px;
	width:20px;
	height:20px;
	padding:0;
	margin:0 0 0 -10px;
	background-size:400px;
	opacity:.6;
}
.icon.icon-pause-nobg {
	background-position:-179px -22px;
}
.icon.icon-play-nobg {
	background-position:-107px -22px;
}
.main-gallery .carousel-control,
.main-gallery .slider-control {
	width:18px;
	height:35px;
	margin-top:-17px;
}
.main-gallery .slider-image-region {
	position:relative;
}
.main-gallery .carousel-control.left,
.main-gallery .slider-control.left {
	background-size:500px;
	background-position: -31px -103px;
	opacity:1;
	display:block;
	left:5px;
	top:50%;
}
.main-gallery .carousel-control.right,
.main-gallery .slider-control.right {
	background-size:500px;
	background-position:0 -103px;
	opacity:1;
	display:block;
	right:5px;
	top:50%;
}
#galleryDetailPage #sidebar {
	float:none;
}
.light-theme .carousel-text > p {
	color:#333;
}
.light-theme .main-gallery .carousel-control.right,
.light-theme .main-gallery .slider-control.right {
	margin-right:0;
}
.summarylist {
	margin-left:4.6875%;
	margin-right:4.6875%;
	line-height: 1.95em;
}
.summarybox .thumb {
	margin-bottom:1em;
	width:100%;
}
.summarybox .thumb-label {
	font-size:24px;
	line-height:1em;
	margin:0px 0 .5em;
	font-weight:200;
}
.popularLinks li {
	float:none;
	margin:5px 0;
}
.popularLinks li:first-child + li:before {
	content:"•";
	color:#0096d2;
	padding-right:10px;
}
.hub-head .article p {
	font-size:16px;
	line-height:1.8em;
	margin:20px 0;
}
.topics-accordion .section-content {
	padding-bottom:0;
}
.topics-accordion .accordion-group:nth-child(2n+0) {
	background-color:#f2f2f2;
}
.topics-accordion.topics-article #topicArticle .accordion-group:nth-child(2n+0) {
	background-color:#fff;
}
.topics-accordion.topics-article #topicArticle .accordion-group:nth-child(2n+1) {
	background-color:#f2f2f2;
}
.topics-accordion .ad-fullwidth {
	margin-top:30px;
}
.topics-accordion .section-head {
	margin-bottom:0;
	cursor:pointer;
}
.topics-accordion .section-group {
	padding:0 4.6875%;
}
.topics-accordion .slider {
	margin:0 4.6875%;
}
.topics-accordion .slider-content {
	white-space: normal;
}
.topics-accordion .slider li,
.topics-accordion .thumb-list li {
	width:90.625%;
	margin-right:4.6875%;
}
.topics-article {
	margin-top:20px;
}
.topics-article .span8 {
	margin-left:4.6875%;
	margin-right:4.6875%;
	width:90.625%;
}
.topics-article .span8.offset1_a {
	margin-left:auto;
}
.tags-overlay {
	display:none !important;
}
.light-theme .topics-accordion .accordion-group .thumb-list {
	margin:0;
}
.social-float {
	display:none !important;
}
.share-section {
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	padding:15px 0 20px;
	text-align:center;
	margin:20px 0;
}
.share-section .share-btn {
	font-style:italic;
	font-weight:600;
}
.share-section .share-btn span {
	display:inline-block;
	width:23px;
	height:23px;
	background:url(../img/sprite-mob.png) 0 0 no-repeat;
	background-size:300px;
	margin-right:5px;
	position:relative;
	top:4px;
}
.share-section .share-overlay {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,.56);
	z-index:100;
	
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	display:box;
	box-pack:center;
	box-align:center;
}
.share-section .share-overlay ul {
	padding:20px 18px;
	border:1px solid #dadada;
	background-color:#fff;
}
.share-section .share-overlay li {
	float:left;
	margin-left:25px;
}
.share-section .share-overlay li:first-child {
	margin-left:0;
}
.article .trivia h5 {
	width:auto;
	float:none;
}
.topics-article .article .trivia p {
	margin-left:0;
}
.article .flush-left {
	max-width:none;
	width:100%;
	margin-left:0;
}
.article .flush-left img {
	width:100%;
}
.hero-move {
	background:none !important;
}
.hero-move.closed {
	height:auto !important;
}
.hero-move img.heroimg {
	opacity:1;
	top:-10.68%;
	height:110.68%;
}
.article-hero .img-wrapper {
	overflow:hidden;
}
.article-hero img {
	max-width: 9999px;
	width: 200%;
    margin-left: -50%;
}
.article-hero .img-wrapper figcaption {
    width:90%;
}
.hero-move .expand-content > .player {
	width:100%;
	margin:0 auto;
}
.hero-move .expand-content .video-desc {
	width:86%;
	padding-right:0;
}
.hero-move .close-btn {
	background-position:-180px -92px;
	background-size:400px;
	right:-15px;
	top:-15px;
	display: none;
}
.section-main-img{
	margin-left:0;
	margin-right:0;
}
.breadcrumbs li {
	font-size:12px;
}
.shows-accordion .accordion-toggle span,
.phone-accordion .accordion-toggle span {
	display:block;
}
.list-accordion.shows-accordion .accordion-toggle.collapsed {
	background-color:transparent;
}
.list-accordion .accordion-body .accordion-inner {
	padding:10px 0;
}
.list-accordion .accordion-body ul {
	width:100%;
	margin-bottom:10px;
}
.list-accordion .accordion-body li {
	margin-bottom:10px;
}
.topics-accordion .accordion-group {
	margin:0 -5.179%;
}
.topics-accordion .slider-inner li {
	margin-bottom:40px;
}
.topics-accordion .accordion-toggle,
.main-accordion .accordion-toggle {
	font-size:1em;
	color:#333;
	font-weight:600;
	display:block;
	text-transform:uppercase;
	padding:12px 14% 12px 4.6875%;
	letter-spacing: 1px;
	position:relative;
	line-height:1.2em;
	margin:0;
}
#networks-tab {
    float:none;
}
#networks-tab li {
    margin-left:8px;
}
#networks-tab li a { 
    font-size:18px;
    padding-right:8px;
    padding-left:8px;
    display:block;
}
#networks-tab li a span {
    display:block;
    margin:0 auto;
}
.tabsort-container {
	margin-bottom:0;
}
.video-list {
	margin-left:0;
    margin-bottom:0;
}
.video-list li {
	float:none;
	margin:0 0 18px 0;
	width:100%;
}
.video-list li img{
	width:100%;
}
.shows-list li {
	width:auto;
	float:none;
	width:99%;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
    min-height:84px;
    height:auto;
}
.shows-list li:first-child + li {
	border-top:none;
}
.shows-accordion .accordion-toggle {
	position:relative;
    z-index:1;
    overflow:hidden;
    list-style:none;
    padding:20px 0;
 	color:#333;
 	font-weight:bold;
}
.shows-accordion .accordion-toggle.collapsed {
	background-color:#efefef;
}
.shows-accordion .accordion-toggle span {
	text-indent:-9999px;
}
.shows-accordion .last-toggle {
    border-top:1px solid #e5e5e5;
}
.show-ad {
	padding:20px 0;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
.show-ad .ad .ad-label,
.list-ad .ad .ad-label {
	font-size:10px;
}
.textover-list .slider .caption .thumb-label {
	position:static;
	padding:5px 0;
}
#ipad-overlay-inner {
    margin:8px;
}
#ipad-overlay-inner p,
#ipad-overlay-inner p.launch-button {
    font-size:1em;
    margin:8px auto;
}
#ipad-overlay-inner a > img {
    width:40%;
}
#ipadAppDownload div {
    width:95%;
    background-size:100%;
    max-width:556px;
}
#ipadAppDownload div > a {
    display:block;
    float:none;
    margin:0;
    position:relative;
}
#ipadAppDownload > a > img {
   
}
#ipadAppDownload #download-link  {
    max-width:195px;
     width:40%;
     left:6%;
     top:52%;
}
#ipadAppDownload #no-thank {
    max-width:125px;
    width:26%;
    left:12%;
    top:56%;
}
.tdih .bottom-border {
	border-bottom:1px solid #ddd;
}
.tdih-head {
	margin-bottom:0;
}
.tdih-head .fullwidth-inner {
	margin-left:0;
	margin-right:0;
}
.tdih-head .current-day {
	width:94px;
	height:70px;
	background-size:224px;
	font-size:11px;
}
.tdih-head .current-day .view-calendar {
	display:none;
}
.tdih-head-inner {
  	height: 68px;
}
.tdih .calendar {
	padding:0;
}
.tdih .calendar .calTables {
	margin-top:0;
}
.tdih .calendar th {
	border:none;
	text-transform: none;
	background: transparent;
	color:#333;
}
.tdih .calendar table {
	font-size:13px;
	background:#DDDDDD;
	width:290px;
}
.tdih .calendar .caltable {
	margin-left:5px;
	margin-right:5px;
	width:290px;
}
.tdih .calendar .owl-wrapper {
	width:300px;
}
.tdih .calendar.opened {
	padding-bottom:0;
}
.tdih .calendar.opened .owl-buttons div,
.tdih .calendar.opened .close-btn {
	display:none;
}
.tdih .calendar .current {
}
.tdih .calendar td.current-day a {
	background:transparent;
	color:#29A5E1;
}
.tdih .calendar table, .tdih .calendar td {
	border:none;
}
.tdih .calendar td a, .tdih .calendar td span {
	
}
.tdih .calendar td a:hover, 
.tdih .calendar td a.current {
	background:transparent;
	color:#29A5E1;
}
.tdih .day-articles {
	margin-top:0;
}
.tdih .day-articles h3 {
	font-size:22px;
	margin-bottom:0;
}
.tdih .day-articles .day-category,
.tdih .day-articles .day-category:nth-child(n + 1) {
	padding-top:10px;
}
.tdih .day-article {
	padding-bottom:10px;
	margin-bottom:0;
}
.tdih .day-articles .article p {
	display:none;
}
.tdih .day-article .title {
	font-size:26px;
}
.tdih .day-article .year {
	font-size:22px;
}
.tdih .article p {
	line-height:1.6em;
}
.day-article .icon-list {
	margin-left:10px;
	margin-right:10px;
}
.day-article .icon-list li {
	padding:0 10px;
}
.day-article .icon-list .icon {
	margin-right:0;
}
.sticky-head .sticky-calendar-toggle,
.sticky-head .tdih-label {
	font-size:16px;
}
.sticky-head .sticky-calendar-toggle .date {
	font-weight:normal;
}
.sticky-head .article-toggle {
	text-indent:-9999px;
}
.sticky-head .article-toggle:before {
	background-size:254px;
	width:14px;
	height:25px;
	top:8px;
}
.sticky-head .article-previous {
	left:5px;
}
.sticky-head .article-previous:before {
	background-position:-147px 0;
}
.sticky-head .article-next {
	right:5px;
}
.sticky-head .article-next:before {
	background-position:-147px -31px;
}
.tdih .email-flyout {
	position: static;
	border: none;
	box-shadow: none;
	text-align: center;
	margin-left: -4.6875%;
	margin-right: -4.6875%;
	margin-bottom:40px;
	width: auto;
	background: #ddd;
	display:block !important;
	visibility:visible !important;
}
.tdih .email-flyout .close-btn {
	display:none;
}
.tdih #signup_screen {
	position:relative;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:#fff;
	padding:20px;
	z-index:100;
}
.tdih #signup_screen iframe {
	height:340px;
}
.tdih .email-flyout .close-btn-inner {
	display:block;
}
.tdih .email-flyout .no-signup {
	display:none;
}
.tdih .generic-popover .min-btn {
	top:5px;
	right:5px;
}
.day-article .share-tools {
	padding:0 10px;
}
.day-article .section-social-list .icon {
	margin-left:0;
}
.email-flyout #signup-btn-screen {
	display:block !important;
}
.email-flyout #signup-screen {
	position: fixed;
	top: 5%;
	background: #fff;
	left: 0;
	right: 0;
	padding: 20px;
	z-index: 10;
}
.franchise .tdih-head {
	margin-bottom:0px;
}
.franchise .day-article {
	padding-bottom:20px;
	margin-bottom:0;
}
.franchise .day-article .title {
	font-size:20px;
}
.franchise .day-article .title a {
	color:#12121A;
}
.franchise .day-article .meta .byline {
	margin-left:0;
	display:block;
}
.franchise .day-article .thumbnail-wrapper a {
	height: 300px;
  overflow: hidden;
  margin-bottom: 8px;
	display:block;
}
.franchise .day-article .thumbnail-wrapper img {
	width: 160%;
  max-width: 160%;
  transform: translateX(-20%);
	}
.franchise .article-two-col  {
	margin-bottom:0;
	border:none;
}
.franchise .article-two-col .day-article {
	float:none;
	width:100%;
	margin-left:0;
	margin-bottom:20px;
	border-top:1px solid #ddd;
}
.franchise .carousel.main-gallery,
.franchise .section-main-img  {
	margin-left:0;
	margin-right:0;
}
.franchise .topics-article {
	margin-top:0;
}
.franchise .tdih-head-inner {
	min-height:0;
	height:auto;
}
.franchise .news-head .tdih-label {
	font-size:20px;
	padding-top:12px;
	padding-bottom:12px;
}
.franchise .category-head {
	margin-top:20px;
	margin-bottom:10px;
}
.news-head sub{
	font-size:12px;
}
.story-header:not(.story-header-no-title) {
	font-size:10px;
	padding:30px 0 20px;
}
.story-header.story-header-no-title {
	padding:40px 0;
}
.story-header .meta {
	margin-bottom:30px;
}
.story-header .meta .byline {
	display:block;
}
.stories-list ul li {
	width:100%;
}
@media (max-width: 320px) {
  .day-article .thumbnail-wrapper {
  	height: 260px;
	}
}
.speech-list  {
	margin-left:0!important;
	margin-right:0!important;
}
.speech-list img.thumb {
	width:100%;
}
.speech-tags .tags-list {
	font-size:12px;
}
.speech-tags .tag-item {
	padding:10px 0;
}
.speech-tags .list-section:nth-child(odd) .tag-item:nth-child(odd),
.speech-tags .list-section:nth-child(even) .tag-item:nth-child(even) {
	background:#f9f9f9;
}
.sap-container {
	font-size:12px;
}
.sap-container header {
	margin:0 0 15px;
}
.sap-container .sap-list {
	font-size:14px;
}
.sap-container .sap-item li:nth-child(1) {
	display:inline-block;
}
.sap-container .sap-item li:nth-child(2) {
	display:inline-block;
	margin-left:5px;
}
.sap-container .sap-item li:nth-child(2):before {
	content:"";
	display:inline-block;
	width:1px;
	height:12px;
	background:rgba(0,0,0,0.2);
	margin-right:5px;
	position:relative;
	top:2px;
}
.newsletter-signup .signup-promo-wrapper h4 {
	margin:0 25px 10px;
}
.newsletter-signup .signup-wrapper input {
	width:100%;
	margin-bottom:20px;
}
.newsletter-signup .signup-wrapper .signup-btn {
	float:right;
}
.newsletter-signup .footnote {
	text-align:left;
	line-height:14px;
}
.sticky-signup .signup-wrapper h4 {
	margin:0 25px;
}
@media (min-width:480px) and (orientation:landscape) {
	.newsletter-signup .signup-promo-wrapper p {
		margin:0 10px 0;
	}
}
.sticky-player-close{
    display:none;
}
.aetn-player .player-layer .box-overlay.alert-wrapper .overlay-dialog {
  box-sizing:border-box;
}
