/*
Theme Name: PRWeb
Template: enfold
Version: 1.0
*/

html.responsive .container {
    max-width: 1700px;
    padding: 0;
    width: 90%;
}
html.responsive .container_row {
	padding: 40px 0;
}

/* remove enfold padding for main content */
html.html_header_top.html_header_topbar_active.html_header_sticky #top #main {
	padding-top: 0;
}
/* enfold override */
body .container_wrap {
	border: none;
	padding: 20px 0;
}
pre {
	background-image: none;
	border: none;
	padding: 1px;
}

/* override enfold fonts */
body#top {
    color: #4e4e4e;
    font-family: "Roboto","Helvetica Neue","Arial",sans-serif;
    font-weight: 300;
}
/* override enfold country drop down styling */
body#top .header select {
    background: unset;
    border: medium none;
    padding: 0 0 0 28px;
}
/* don't show green bullet next to secondary menu */
.header .avia-bullet {
    display: none;
}

/* override enfold search */
body#top .search-input {
    border-color: #cacaca;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    padding: 6px 5px;
    width: 100%;
	margin: 0;
}

/* override enfold */
body blockquote {
	border: none;
}

body hr {
	border-color: #585858;
    border-style: dotted;
    margin: 10px 5% 30px;
}

body p {
	font-size: 14px;
}

.table-col-right a,
.table-col-right a:visited {
	color: #00837E;
}

.center {
	text-align: center;
}
.left {
	text-align: left;
}
.fw400 {
	font-weight: 400;
}
.fw600 {
	font-weight: 600;
}

/* custom chat styles */
.chat_close_btn {
	position: absolute;
    top: 9px;
    z-index: 1000000;
    left: 141px;
    cursor: pointer;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    width: 29px;
    background-image: url(https://s3.amazonaws.com/cision-wp-files/us/wp-content/uploads/2016/08/30125903/Popupbox-02.png);
	display: inline-block;
}

/* prweb css override */
body .breadcrumbs {
	border-style: dotted;
    border-width: 1px 0;
    margin-top: 0;
    padding: 1px 0 3px 11px;
	border-color: #999;
}
html.responsive .breadcrumbs_container {
	padding-top: 5px;
}

/* main color */
#main, #main div.container_wrap {
	background-color: #e8e7e7;
}

/* phone number in header */
#header-phone {
	text-align: center;
}
#header-phone a{
	font-size: 16px;
    font-weight: 600;
	color: #000;
}

/* set min height incase login or create account buttons aren't set */
header > .container {
    min-height: 95px;
}

#footer_social {
    border-color: #000;
	color: #000;
    border-style: solid;
    border-width: 2px 0;
    font-size: 30px;
    line-height: 30px;
    padding: 5px 0;
    text-align: center;
	margin-bottom: 20px;
}
#footer_social .fs_intro {
	padding-right: 20px;
}
#main .socialicon {
	display: inline-block;
    height: 50px;
    margin: 0 0.6em 0 0;
    width: 50px;
	vertical-align: middle;
}
#main .socialicon.twitter  { background: url("images/social-icons.png") no-repeat scroll -70px -5px transparent;}
#main .socialicon.facebook { background: url("images/social-icons.png") no-repeat scroll -140px -5px transparent;}
#main .socialicon.youtube { background: url("images/social-icons.png") no-repeat scroll -350px -5px transparent;}
#main .socialicon.linkedin  {background: url("images/social-icons.png") no-repeat scroll -210px -5px transparent;}
#main .socialicon.instagram {background: url("images/social-icons.png") no-repeat scroll -280px -5px transparent;}
#main .socialicon.rss {background: url("images/social-icons.png") no-repeat scroll 0px -5px transparent;}
#main .socialicon.gplus {background: url("images/social-icons.png") no-repeat scroll -420px -5px transparent;}

#main .socialicon.twitter-w  { background: url("images/social-icons-white.png") no-repeat scroll -70px -5px transparent;}
#main .socialicon.facebook-w { background: url("images/social-icons-white.png") no-repeat scroll -140px -5px transparent;}
#main .socialicon.youtube-w { background: url("images/social-icons-white.png") no-repeat scroll -350px -5px transparent;}
#main .socialicon.linkedin-w  {background: url("images/social-icons-white.png") no-repeat scroll -210px -5px transparent;}
#main .socialicon.instagram-w {background: url("images/social-icons-white.png") no-repeat scroll -280px -5px transparent;}
#main .socialicon.rss-w {background: url("images/social-icons-white.png") no-repeat scroll 0px -5px transparent;}
#main .socialicon.gplus-w {background: url("images/social-icons-white.png") no-repeat scroll -420px -5px transparent;}

/* override enfold footer styling */
body #footer strong {
	color: #000;
}
body #footer a {
	color: #000;
}
body #footer a, body #footer li {
	padding-top: 0;
	padding-bottom: 0;
}
body #footer div.flex_column:last-child{
	font-weight: 300;
}
body #footer ul .current-menu-item {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
}
body #footer ul .current-menu-item a {
	color: #00837E;
}
#footer .flex_column {
	font-weight: 600;
}

#footer .container {
	overflow: hidden;
}

/* socket (copyright) overrides */
body #socket {
	color: #fff;
	border-top: 2px solid #000;
}
body #socket .container {
	padding: 5px 0;
	text-align: center;
}
body #socket .copyright {
	float: none;
}

/* prweb style override */
body .tab-btn {
	padding-left: 0;
}
body .tab-btn.cycle-pager-active {
	background-color: #00837E;
}
body .tab-cont-top {
	padding-top: 23px;
	padding-left:23px;
	padding-right:0px;
	padding-bottom:23px;
}

body ul.responsive-tabs__list {
	border-bottom: 4px solid #00837E;
}
body .responsive-tabs__heading,
body .responsive-tabs__list__item {
	background: #303030;
	color: #fff;
	font-size: 14px;
}
body  .responsive-tabs__heading:hover,
body .responsive-tabs__list__item:hover {
	background-color: #000;
}
body .responsive-tabs__heading.responsive-tabs__heading--active,
body .responsive-tabs__list__item--active {
	background-color: #00837E;
}
body .responsive-tabs__panel {
	background: #fff;
}
body .responsive-tabs__heading::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}
body .responsive-tabs__heading--active::after {
    border-bottom: 10px solid #fff;
    border-top: 0 none;
}
body .responsive-tabs__heading {
	background: #303030;
}	

.main_3col_wrapper {
	padding-top: 5px;
}

.t2col_25_75 > div {
	padding: 10px 20px;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.tab-container .t2col_25_75:not(:last-child) > div:last-child{
	border-bottom: 1px dotted;
}
.tab_subhead {
	font-weight: 600;
	font-size: 18px;
}

.rb_header,
.rb_container {
	margin-bottom: 30px;
}
.rb_container {
	background-color: #fff;
    padding: 20px 40px;
}

body .h1 {
	font-weight: 600;
	font-size: 34px;
	line-height: 38px;
}
body h2,
body .h2 {
    color: #000;
    font-weight: 600;
	font-size: 26px;
	line-height: 1.1em;
    margin-bottom: 10px;
}
body .h3 {
	font-size: 24px;
	font-weight: 400;
}
body .right-col-desk .h2 {
	border-color: #00837E;
}
body .iblock {
	display: inline-block;
}

/* shadows */
#main_price_wrapper .package,
.tab_wrapper,
.content_col {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

/* mobile menu padding */
.side-menu-cont-btn {
	margin-bottom: 10px;
}

/* our multy column content */
.content_col_wrapper > a {
	color: #4e4e4e;
}
.content_col_wrapper > a:hover {
	text-decoration: none;
}
.content_col {
	background-color: #fff;
	margin: 20px 0;
}
.content_col > div {
	padding: 6px 15px;
}
.content_col .chead {
	font-size: 20px;
    line-height: 30px;
}
.content_col .chead,
.content_col .clink.black {
	background-color: #000;
    border-bottom: 2px solid #00837E;
    color: #fff;
    font-weight: 600;
}
.content_col .chead.white {
	background-color: #fff;
	color: #000;
}
.content_col .chead.red {
	background-color: #00837E;
	border-bottom: 2px solid #000;
}
.content_col .cbody_title {
	color: #00837E;
	font-size: 18px;
}
.content_col .clink{
	background-color: #00837E;
	border-bottom: 2px solid #000;
}
.content_col .clink a {
	font-weight: 600;
	color: #fff;
}
.content_col .clink a:after {
	content: "  >";
}

.side-menu .current_page_item > a{
	background-color: #000;
    border-left: 4px solid #00837E;
}
.side-menu ul.children {
	font-size: 12px;
    margin-left: 0;
    padding-left: 20px;
}
.side-menu .lnav_heading {
    color: #00837E;
    padding: 5px 10px;
	background-color: #bbb;
}
.side-menu .lnav_heading:not(:first-child) {
	margin-top: 15px;
}

.haro-logo-callout {
	background: rgba(0, 0, 0, 0) url("images/haro-logo-callout.jpg") no-repeat scroll center center;
	height: 125px;
	width: auto;
}
.whyprweb10-callout {
	background: rgba(0, 0, 0, 0) url("images/WhyPRWeb__10.png") no-repeat scroll center center;
	height: 190px;
	width: auto;
}
.whyprweb9-callout {
	background: rgba(0, 0, 0, 0) url("images/why-prweb-9.png") no-repeat scroll center center;
	height: 125px;
	width: auto;
}
.ideas-callout {
	background: rgba(0, 0, 0, 0) url("images/ideas-callout.png") no-repeat scroll center center;
	height: 150px;
	width: auto;
}
.rss-callout {
	background: rgba(0, 0, 0, 0) url("images/rss-callout.gif") no-repeat scroll center center;
    display: inline-block;
    float: left;
    height: 50px;
    width: 50px;
}

/* default list */
ul li {
	list-style-position: outside;
	list-style-image: url('images/bullet.gif');
	margin-left: 10px;
}
/* list overrides */
body ul.responsive-tabs__list li {
	margin-left: 0;
}
ul.side-menu li,
#navigation ul li,
#footer ul li {
	list-style: none;
}
body .side-menu ul.children {
    padding-left: 0;
}

/* resource child pagination */
.pagination_wrapper {
	clear: both;
	text-align: center;
	font-size: 20px;
}
.pagination_wrapper a {
	color: #00837E;
}

/* BANNER */
#prw_banner {
	background-image: url("images/bg_gradient.png");
	text-align: center;
	background-position: 0 -75px;
}
#prw_banner > div {
	padding: 20px;
}
#prw_banner > div:first-child h1 {
	color: #4D4E53;
	font-size: 50px;
	margin: 0;
}
#prw_banner .secondary,
#prw_banner .secondary p {
	font-size: 28px;
	line-height: 35px;
}

/* PRWeb style override for quotes */
body .quote-lines::before {
	left: 0;
}
body .quote-lines::after {
	display: none;
}
body .quote-lines {
	padding-top: 20px;
}
body .quote-start {
	top: 5px;
}
body .blockquote-author {
	margin-top: 0;
}
body .blockquote-author .author-title {
	font-style: italic;
}

/* BUTTONS */
body #wrap_all button.prw_button,
body #wrap_all .prw_button > a {
	background-color: #00837E;
    border-radius: 15px;
	border: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    padding: 4px 20px;
    text-transform: uppercase;
	color: #fff;
}
.prw_button:hover {
	opacity: 0.85;
}
.table-col-right .prw_button a,
.prw_button a {
	text-decoration: none;
	color: #fff;
}
body #wrap_all button.prw_button.red,
body #wrap_all .prw_button.red a {
	background-color: #00837E;
	background-image: none;
}


.prw_button.red {
	background-color: #00837E;
	background-image: none;
    border-radius: 15px;
	border: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    padding: 4px 20px;
    text-transform: uppercase;
	color: #fff;
}
.content_col_wrapper {
	display: inline-block;
    width: 100%;
	clear: both;
}

.custom-header-right {
	display: inline-block;
    padding: 20px 0;
    width: 100%;
	text-align: center;
}

/* coupon css */
.coupon {
	background-color: #fff;
    border: 4px dashed #000;
    color: #000;
    display: inline-block;
    font-weight: 600;
    padding: 20px;
    text-align: center;
}
.coupon .intro {
	font-size: 35px;
	line-height: 30px;
}
.coupon .discount {
	 font-size: 75px;
	 line-height: 70px;
}
.coupon .fine {
	font-weight: 300;
}

/* row builder accordion styling */
.accordion_i > div:first-child:before {
	background: #00837E none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    content: "+";
    display: inline-block;
    float: left;
    font-size: 30px;
    font-weight: 600;
    height: 30px;
    left: -15px;
    line-height: 28px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 30px;
}
.accordion_i.expanded > div:first-child:before {
	content: "-";
}
.accordion_i {
	background: #fff;
	margin-bottom: 15px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}
.accordion_i > div {
	padding: 6px 20px
}
.accordion_i > div:first-child{
	font-size: 20px;
    font-weight: 600;
    line-height: 25px;
	display: inline-block;
}
.accordion_i > div:first-child:hover {
	cursor: pointer;
}
.accordion_i > div:last-child {
	border-top: 1px dotted;
	padding: 20px 40px;
	display: none;
}

.resource_type_container {
	text-align: center;
}
.resource_type_box {
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
.resource_type_box img {
	border: 1px solid #919191;
    border-radius: 25px;
}
.btn-main:hover{
	background-color:#053A4F !important; 
}
a.univform_clearbtn, label.mktoLabel.mktoHasWidth  a {
    color: #00837E;
}

#wrap_all #main .prw_color_white {	color: #fff;}
#wrap_all #main .prw_color_white_bg { background-color: #fff;}
#wrap_all #main .prw_color_red,
#wrap_all #main a:visited.prw_color_red {	color: #00837E;}
#wrap_all #main .prw_color_red_bg { background-color: #00837E;}
#wrap_all #main .prw_color_blue { color: #FF6C36;}
#wrap_all #main .prw_color_blue_bg { background-color: #00837E;}
#wrap_all #main .prw_color_darkgrey { color: #585858; }
#wrap_all #main .prw_color_darkgrey_bg { background-color: #585858; }
#wrap_all #main .black_bg { background-color: #000; color: #fff; }
#wrap_all #main .lightgrey_bg { background-color: #e8e7e7; color: #585858;}

body .indent100px {
	margin-left: 100px;
}

/* Hide delayed content, then show with js */
#top #wrap_all .delay100 {
	display: none;
}
#top #wrap_all .delay500 {
	display: none;
}

body#top .hide_all {
	display: none;
}

/* fixed width */
@media (min-width: 1000px) {
	.fw1000 {
		width: 1000px;
		margin: 0 auto;
		display: inline-block;
	}
	#lpsem_wrapper {
		/*background: rgba(0, 0, 0, 0) url("images/watermark_w.png") no-repeat scroll 98% 2%; */
	}
}
/* responsive break point */
@media (min-width: 751px) {
	body .side-menu a {
		padding: 6px 5px 6px 11px;
	}
	.side-menu ul.children a {
		padding: 2px 5px 2px 11px;
	}
	
	.resource_type_box {
		width: 30%;
		margin-left: 1%;
		margin-right: 1%;
		overflow: hidden;
	}
	body .resource_type_box_or-50-50 {
		width: 40%;
		margin-left: 4%;
		margin-right: 5%;
		overflow: hidden;
	}

	body .hide_desktop {
		display: none;
	}
	/* can be set in templates to replace default header right */
	.custom-header-right {
		float: right;
		width: 50%;
		text-align: right;
	}
	
	#header-phone {
		position: absolute;
		padding-top: 11px;
		right: 300px;
	}
	body #socket .container {
		text-align: center;
	}
	#footer .flex_column:not(:first-child):before{
		border-left: 1px dotted;
		content: "";
		height: 500px;
		position: absolute;
		left: -20px;
	}
	
	#prw_banner {
		height: 300px;
		background-position: 0 0;
	}
	#prw_banner > div {
		display: inline-block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		vertical-align: top;
		padding: 20px 40px;
	}
	#prw_banner > div:only-child {
		display: block;
	}
	#prw_banner .left {
		text-align: right;
		width: 49%;
		left: -5px;
	}
	#prw_banner .left:not(:last-child) {
		border-right: 2px solid #00837E;
	}
	#prw_banner .right {
		text-align: left;
		width: 49%;
	}
	#prw_sitemap ul,
	#prw_sitemap li {
		margin-bottom: 0;
		margin-top: 0;
	}
	
	.t2col_25_75 > div:first-child {
		width: 25%;
	}
	.t2col_25_75 > div:last-child {
		width: 74%;
	}
	
	.content_2col, .content_3col, .content_4col {
		float: left;
	}
	.content_2col {width: 47%;}
	.content_2col:not(:first-child) {margin-left: 5%;}
	.content_3col {width: 30%;}
	.content_3col:not(:first-child) {margin-left: 5%;}
	.content_4col {width: 24%;}
	.content_4col:not(:first-child) {margin-left: 1%;}
	
	.layout_2col_40-60,
	.layout_2col_50-50,
	.layout_2col_60-40,
	.layout_3col_40-30-30,
	.layout_3col_33-33-33
	{
		clear: both;
	}
	
	.layout_2col_50-50 > div {
		width: 47%;
		float: left;
	}
	.layout_2col_50-50 > div:first-child {
		width: 48%;
		margin-right: 4%;
	}
	
	.layout_2col_60-40 > div,
	.layout_2col_40-60 > div {
		width: 36%;
		display: inline-block;
		vertical-align: text-top;
	}
	.layout_2col_60-40 > div:first-child ,
	.layout_2col_40-60 > div:last-child{
		width: 58%;
	}
	.layout_2col_60-40 > div:first-child {
		margin-right: 4%;
	}
	.layout_2col_40-60 > div:last-child {
		margin-left: 4%;
	}
	.layout_3col_40-30-30 > div {
		width: 28%;
		float: left;
		margin-left: 2%;
	}
	.layout_3col_40-30-30 > div:first-child {
		width: 38%;
		margin-left: 0;
	}
	.layout_3col_33-33-33 > div {
		width: 33%;
		display: inline-block;
		vertical-align: top;
	}
	
	.pad_sides_desktop {
		padding: 0 20px;
	}
}

/* header needs more space < 330px, increase width */
@media (max-width: 400px) {
	.responsive #top #wrap_all .header > .container {
		max-width: 95%;
		width: 95%;
	}
}

/* responsive break for tablet/mobile */
@media (max-width: 750px) {
	body .hide_mobile {
		display: none;
	}
	#footer .flex_column:not(:last-child) {
		border-bottom: 1px dotted;
	}
	body #footer .widget{
		margin: 0;
	}
	.responsive #top #wrap_all #footer .flex_column {
		margin: 0;
		padding: 5px 0;
	}
	
	/* mobile left col menu */
	.table-col-left--menu {
		width: 100%;
	}
}