/* CSS Document */

.wsa_proactive{
	
	display:none;
	position: fixed;
	z-index: 16000002;
	background-color:transparent;
	display:none;
	cursor:pointer;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	
}

.wsa_proactive_close{
	
	display:none;
	position:fixed;
	z-index: 16000003;
	
	cursor:pointer;
	
	
}

.wsa_window{
	display: none;
	position:fixed;
	z-index: 99999;
	
	border:0px;
	width:0px;
	height:0px;	
	bottom:0px;
	right:0px;
	margin:0px;
}

.wsa_window_close{
	
	display:none;
	position:fixed;
	z-index: 99999;
	
	cursor:pointer;
	
	
}


.wsa_box_dock{
	
	position:fixed;
	z-index: 99999;
	
	cursor:pointer;
	
	border:1px solid black; 
	width:100; 
	height:300px;
	
	
}


.wsa_dock{
	
	position:fixed;
	z-index: 99999;
	
	cursor:pointer;
	
	
}





.wsa_plus_shadow{
	box-shadow: 1px 1px 1px #f7f7f7;
}