/* COR Listing page */
.cor .content img {width:100%; height:auto;}
.content table.cor {border:solid 1px #999;width:100%;padding:0;margin-top:12px;}
.content table.cor span {display: block; float:left; clear:none; padding:8px 12px;border-top: 1px dotted #999; font-size:0.9em;Vertical-align:middle;margin:0 3px;}
.content table.cor span.colLeft{width:calc(60% - 30px);}
.content table.cor span.colRight{width:calc(40% - 30px);}
.content table.cor .header-row {display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.content table.cor .header-row span {color:#DD6926; background-color:#E9EbE6;font-size:1em; text-align:left;font-weight:bold;padding:12px;margin:3px 3px 0 3px;border:0;}
.content .listing .errMsg {font-weight:bold;margin-top:10px;}

/* Scholarships grants and awards */
.SGA .ltcol .ref_by li, .SGA_landing .ref_by li{background:none; padding-left:0;border:none;margin:0; color:#1e66a7;}
.SGA .ltcol .ref_by p {margin-bottom: 3px;}
.SGA .ltcol .facet_list .upd_rslts{margin:0 0 10px;}
.SGA_landing .sga_button {display:none; margin-top:15px;text-align:center; width:100%;float:left;}
.SGA_landing .form-container {border: 6px solid #EEE; display:block; margin:20px 0;padding:10px;position:relative;Clear: both;}
.SGA_landing h5{font-weight: 600; font-size: 1.1em; padding: .5em 0 0.1em; color: #444;clear:left;} 
.SGA_landing .separator {width:60%; border-bottom: 1px dotted #999; padding: 5px 10px; margin:0 0 5px;}
.SGA_landing .ref_by_date {padding-bottom: none; float: none; border:none;}
.SGA_landing .ref_by_date h5 {float:left;margin-right:10px;}
.SGA_landing .ref_by_date .errMsg{margin-left:15px; float:left;color:red;margin-top:5px;}
.SGA_landing .date_range { margin:5px 0; float:left; clear:none;}
.SGA_landing .date_range .date_picker {width:100px;}
.SGA_landing .date_range label {padding:0 10px;}
.SGA_landing .frm_action {float:right; display:block: width:250px}
.SGA_landing .frm_action .upd_rslts {float:right; clear:none;}
.SGA_landing .frm_action .reset {font-size:1.2em; text-decoration:underline; display:inline-block;padding:10px;}
.SGA_landing .facet_list  {clear:both; float:none; display:block; height:955px; position: relative;}
.SGA_landing .facet_list h3 {padding:4px 8px; margin:8px 20px 8px 0; background-color:#7c8892; color:#fff; font-weight:200; line-height:1.2em;font-size: 1.3em;}
.SGA_landing .facet_list .ref_by {width:25%; float:left; clear: none; margin: 0; border: none; }
.SGA_landing .facet_list .ref_by li {padding-left:5px;clear:left;}
.SGA_landing .facet_list .frm_action {position:absolute; bottom:20px; right:0;}
@media screen and (min-width:1150px){.SGA_landing .facet_list {height:880px;}} 
@media screen and (max-width:1020px) and (min-width:996px){.SGA_landing .facet_list {height:970px;}}
@media screen and (max-width:995px) and (min-width:840px){.SGA_landing .facet_list {height:900px;}} 

/* Divisions Section landing page */
.three_col_a .content .listContent {margin-bottom:15px; float:left; width:48%; padding:1px 1px 8px; overflow:hidden; border: none;}
.three_col_a .content .listContent .wysiwyg {padding-left: 0px;}
.three_col_a .content .listContent .wysiwyg ul {padding: 0 9px; padding-bottom:0;width:95%;padding-left:5px; list-style:none; }
.three_col_a .content .listContent .wysiwyg ul li {margin-bottom:0; padding:4px 0; background:transparent url(../images/orange_square.gif) 0 10px no-repeat !important; padding-left:10px;list-style-type:none;width:95%;}
.tabsInFrame {margin: 15px 0 25px; display: block; width: 100%; overflow: hidden;}
.tabsInFrame .rwdTabMain ul li {clear: none;}
.tabsInFrame .rwdTabMain ol {padding-left: 0 !important}
.tabsInFrame .rwdTabMain ol li {list-style-type: none; padding: 5px 0; border-bottom: #999 dotted 1px; float: none;position:relative;}
.tabsInFrame .rwdTabMain ol li .bulletNum {width: 20px; height: 20px; padding: 0; display: block; text-align: center; margin: 0 5px 0 0; background: url(../images/orange_ol_bullet.gif) 0 0 no-repeat; background-size: 20px 20px; display: block; float: left; color: #fff; font-size: .8em; overflow: visible; float:left;}
.tabsInFrame .rwdTabMain ol li .desc {display:block; margin-left:30px;}

.genericsearch .content .rslt_snips ul li {border:none}

@media screen and (max-width: 767px){	
	.tabsInFrame .rwdTabMain {border:none;}
	.tabsInFrame .rwdTabMain .resp-tabs-container {height:auto;overflow-y:hidden; border:4px solid #E8E9E4; }
	.facet_list .upd_rslts {margin-left:10px; margin-bottom:10px;}
	.SGA_landing .form-container {display:none;}
	.SGA_landing .sga_button {display:block;}
	.refineOverlayWindow .ref_by li {color:#1e66a7;}
}

@media screen and (max-width: 480px){
	.three_col_a .content .listContent  {width:100%;}
	.SGA_landing .wysiwyg img.leftImg{width:100% !important;height:auto;padding:0;}
	.cor .content .image_title, .cor .content .btmborder, .content table.cor .header-row {display:none;}
	.content table.cor span.colLeft{background:transparent url(../images/orange_square.gif) 5px 16px no-repeat; padding:8px 15px 5px; width:calc(100% - 35px);}	
	.content table.cor span.colRight{width:calc(100% - 35px); border:none; padding:0 15px 8px;margin-top:0;}
}