#_cm-css-reset {
    height: inherit;
    width: inherit;
    direction: ltr;
}

#_cm-css-reset.vpaid-player-container .vjs-tech {
    background-color: #000000;
}


#_cm-css-reset.vpaid-player-container {
    position: relative;
    z-index: 99;
}

#_cm-css-reset.vpaid-player-container video ~ iframe {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}

#_cm-css-reset .vpaid-ad-controls {
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    opacity: 0;
}

#_cm-css-reset.vpaid-player-container:hover .vpaid-ad-controls {
    opacity: 1;
}

#_cm-css-reset.vpaid-player-container .vpaid-ad-controls,
#_cm-css-reset.vpaid-player-container .vpaid-ad-pause {
    height: 30px;
    right: 0;
    position: absolute;
    left: 0px;
    bottom: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 1);
    border-top: 1px rgba(255, 255, 255, 0.7) solid;
}

#_cm-css-reset .vpaid-ad-controls.vjs-default-skin .vjs-control {
    width: 2em;
}
/*
#_cm-css-reset .vpaid-ad-controls.vjs-default-skin .vjs-control:before {
    line-height: 2;
    font-size: 16px;
}*/

#_cm-css-reset .vpaid-ad-controls.vjs-default-skin .vjs-control.c-paused:before {
    content: "\e001";
}

#_cm-css-reset.vpaid-player-container .vpaid-ad-volume-container {
    height: 30px;
    width: 60px;
    position: relative;
    float: right;
    margin-right: 10px;
    top: 0;
    cursor: pointer;
}

#_cm-css-reset.vpaid-player-container .vpaid-ad-mute-container {
    height: 30px;
    width: 30px;
    position: relative;
    float: right;
    top: 0;
    cursor: pointer;
}

#_cm-css-reset.vpaid-player-container .vpaid-ad-volume-track {
    height: 8px;
    border: 1px #000000 solid;
    box-shadow: 0 0 5px 1px rgb(255, 255, 255);
    position: absolute;
    z-index: 0;
    right: 0;
    top: 11px;
    left: 0;
    background: rgba(51, 51, 51, 0.9)
}

#_cm-css-reset.vpaid-player-container .vpaid-ad-volume-slider {
    height: 8px;
    border: 1px #000000 solid;
    position: absolute;
    width: 40%;
    top: 11px;
    left: 0;
    background: rgba(183, 234, 187, 0.9);
    z-index: 1;
}



/*.mpegcnv::before {
    content: "";
    position: absolute;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}*/

.tbl-text {
    font-family: Arial,Helvetica,sans-serif;
    white-space: nowrap;
    font-size: 11px;
    color: #fff;
    left: 10px;
    top: 4px;
    position: absolute;
    font-weight: bold;
    z-index: 1001;
}

.mc-video {
    z-index: 101;
}

.vpaid-handler {
    z-index: 1000;
    height: 100%;
    width: 100%;
}


.speaker {
    position: absolute;
    width: 46px;
    height: 46px;
    bottom: -3px;
    right: -5px;
    z-index: 1001;
    background-image: url('/assets/mob-vol-on.svg'); 
}
.speaker.mute {
    background-image: url('/assets/mob-vol-off.svg'); 
}

.hide {display: none}


.mc-loud-video{
    position:absolute;
    pointer-events: none;
}
.mc-loud-video::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

.mc-loud-video::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

.mc-loud-video::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.mc-loud-video::-webkit-media-controls {
  display:none !important;
}
.mc-loud-video::-webkit-media-controls-enclosure {
  display:none !important;
}



#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls.show{
    display: block;
    margin: 0;
    padding: 0;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls.show *{
    position: absolute !important;
    display: block;
    margin: 0;
    padding: 0;
    background-color: transparent;
} 

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls {
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0;
    bottom: -32px;
    -webkit-transition: bottom 0.35s ease-in-out;
    -moz-transition: bottom 0.35s ease-in-out;
    -o-transition: bottom 0.35s ease-in-out;
    transition: bottom 0.35s ease-in-out;
}


#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .control {
    z-index: 100;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .interactive {
    pointer-events: all;
    cursor: pointer;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls.hide,
#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .hide {
    display: none;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls.show,
#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .show {
    display: block;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .cm_video_controls_progressbar_area {
    width: 100%;
    height: 5px;
    bottom: 0%;
    cursor: default;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .cm_video_controls_progressbar_area .cm_video_controls_progressbar {
    height: 100%;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .cm_video_controls_progressbar_area .cm_video_controls_progressbar_bg {
    width: 100%;
    height: 100%;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .white_bg {
    background: rgba(255,255,255,0.3);
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .blue_bg {
    background: rgba(21,75,145,1);
    -webkit-transition : width 0.5s ease;
    -moz-transition : width 0.5s ease;
    -o-transition : width 0.5s ease;
    transition : width 0.5s ease;
    width: 0%;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .blue_bg.init_bg {
    -webkit-transition : none;
    -moz-transition : none;
    -o-transition : none;
    transition : none;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls {
    width: 100%;
    height: 27px;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .cm_video_controls_main_area .play_pause {
    top: 3px;
    left: 5px;
    width: 20px;
    height: 20px;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .cm_video_controls_main_area .play_pause .pause {
    width: 40px;
    height: 27px;
    top: -7px;
    left: -8px;
    background-image: url(/assets/video_controls/pause2.svg);
    background-size: 36px;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .cm_video_controls_main_area .play_pause .play {
    border-top: 5px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 5px solid transparent;
    left: 6px;
    top: 5px;
    z-index: 102;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .cm_video_controls_main_area .title {
    top: 7px;
    left: 30px;
    width: 140px;
    text-align: left;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .cm_video_controls_main_area .timer {
    top: 6px;
    right: 110px;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .text {
    color: white;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    top: 10px;
    left: 28px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .text.opt-out-hidden {
    left: 13px;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls {
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 0;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .video_controls_main_area .cm_video_controls_mute {
    width: 35px;
    height: 27px;
    right: 8px;
    bottom: 5px;
    background-size: 44px;
    box-sizing: content-box;
    background-position-y: center;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .video_controls_main_area .cm_video_controls_mute.display_mute {
    background-image: url('/assets/video_controls/desk_muted2.svg');
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .video_controls_main_area .cm_video_controls_mute.display_unmute {
    background-image: url('/assets/video_controls/desk_playing2.svg');
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .video_controls_main_area .video-controls-scroller-area {
    width: 80px;
    height: 100%;
    right: 5px;
    top: 0%;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .playerSaveButton {
    position: absolute;
    border: 1px solid #fff;
    border-radius: 9px;
    width: 50px;
    height: 24px;
    top: 20%;
    left: 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls_mobile {
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    pointer-events: none; 
    z-index: 1001;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .video_controls_main_area {
    pointer-events: none;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .video_controls_main_area .cm_video_controls_playpause.hide {
    display: none;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .video_controls_main_area .cm_video_controls_playpause.show {
    display: block;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .video_controls_main_area .cm_video_controls_playpause {
    bottom: 28px;
    left: 5px;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .video_controls_main_area .cm_video_controls_playpause .pause {
    width: 40px;
    height: 27px;
    top: -10px;
    left: -8px;
    background-image: url(/assets/video_controls/pause2.svg);
    background-size: 40px;
}

#_cm-css-reset ._cm-video-ad.vpaid-player-container .video_controls .video_controls_main_area .cm_video_controls_playpause .play {
    border-top: 6px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 6px solid transparent;
    left: 7px;
    top: 3px;
    z-index: 102;
}

.mc-play {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 9px solid #fff;
    border-bottom: 7px solid transparent;
    left: 14px;
    position: absolute;
    bottom: 10px;
    z-index: 1001;
}

.mc-pause {
    display: block;
    width: 42px;
    height: 42px;
    left: -4px;
    position: absolute;
    bottom: -2px;
    z-index: 1001;
    background-image: url('/assets/mob-pause.svg');
}

.mc-pause.hide, .mc-play.hide {
    display: none;
}

.mc-pause.show, .mc-play.show {
    display: block;
}

.mc-canvas {
    pointer-events: none;
}

.mc-progressbar_area {
    width: 100%;
    height: 5px;
    bottom: 0%;
    position: absolute;
    z-index: 9999;
}

.mc-progressbar_area .mc-progressbar_bg.white_bg {
    background: rgba(255,255,255,0.3);
    width: 100%;
    height: 100%;
}

.mc-progressbar_area .mc-progressbar_bg.blue_bg {
    background: rgba(21,75,145,1);
    -webkit-transition : width 0.5s ease;
    -moz-transition : width 0.5s ease;
    -o-transition : width 0.5s ease;
    transition : width 0.5s ease;
    position: absolute;
    bottom: 0%;
    height: 100%;
}

.mc-progressbar_area .mc-progressbar_bg.blue_bg.init_bg {
    -webkit-transition : none;
    -moz-transition : none;
    -o-transition : none;
    transition : none;
}

#_cm-css-reset > .multi-vpaids {
    height: 0px;
}






#_cm-css-reset *::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

#_cm-css-reset *::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

#_cm-css-reset *::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

#_cm-css-reset .cm-ad-player {
    cursor: pointer; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
}

._cm-ad-feed-manager ._cm-ad {
    display: block !important;
    visibility: hidden !important;
}

._cm-ad-choices-player {
    position: absolute;
    top: 16px;
    left: 13px;
}

._cm-ad-choices-player-anchor {
    display: inline-block;
    opacity: 0.5;
    vertical-align: middle;
}