body {
    background:#e0dfe4 url('/img/layout/body_bg.png') repeat-x;
    font:normal 11px Helvetica, Arial;
}

a:link, a:visited {
    color:#356895;
}
ul.article-list p a:link, ul.article-list p a:visited, ul.article-list p{
	color:#000000 !important;
} 
#container {
    background-color:#fff;
    margin:0px auto;
    padding:2px 5px;
    width:1000px;
}
#header {
    background:transparent url('/img/layout/header_bg.png') repeat-x;
	overflow:hidden;
    height:1%;
}
#logo {
    float:left;
    padding:30px 0 27px 0;
    width:235px;
}
#header .sda {
    float:right;
    padding:5px 0;
	overflow:visible;
    text-align:right;
	z-index:100;
}
.ciu div {
    padding:5px;
}
.ciu a:link, .ciu a:visited {
    color:#000;
    text-decoration:none;
}
#header-bar {
    background:transparent url('/img/layout/search_bar_bg.png') repeat-x;
    clear:both;
    height:1%;
    overflow:hidden;
    padding:6px 10px;
}
#new-to-htmlgoodies {
    float:left;
}
#search-form {
    float:right;
    padding:5px 0 0;
    width:250px;
}
#search-form legend {
    display:none;
}
#search-input {
    border:1px solid #999;
    float:left;
    padding:3px 2px 2px;
    margin-right:3px;
    width:175px;
}
#search-submit {
    background:transparent url('/img/layout/search_button.png') no-repeat top right;
    border:none;
    cursor:pointer;
    float:left;
    height:21px;
    padding-top:2px;
    text-indent:-9999px;
    width:65px;
}
#body {
    height:1%;
    overflow:hidden;
    padding:10px 0;
	clear:both;
}

#navigation {
    float:left;
    width:160px;
}
#navigation ul {
    border:1px solid #cbccd1;
    border-top:none;
}
#navigation .parent {
    background-color:#dce6f2;
    margin-top:15px;
    text-transform:uppercase;
}
#navigation li.first {
    margin-top:0;
}
#navigation li {
    border-top:1px solid #cbccd1;
}
#navigation a {
    display:block;
    padding:5px 7px;
}
#navigation a:link, #navigation a:visited {
    color:#000;
    text-decoration:none;
}
#navigation .parent a:hover {
    background-color:#dce6f2;
    color:#356895;
}
#navigation a:hover {
    color:#fff;
    background-color:#356895;
}
#main-col {
    overflow:hidden;
    padding:0 0 0 10px;
    width:830px !important;
    width:827px;
}
#searchmain-col {
    overflow:hidden;
    padding:0 0 0 10px;
    width:100%;
}
#content {
    float:left;
    margin:0 10px 0 0;
    overflow:hidden;
    width:514px;
}
#search-content {
    float:left;
    margin:0 10px 0 0;
    overflow:hidden;
    width:560px;
}
#body h2 {
    font-size:16px;
    font-weight:bold;
}
#right-col {
    float:right;
    overflow:visible;
    width:303px;
}
#search-right-col {
    float:right;
    overflow:visible;
    width:350px;
}
.right-col-html5 {
    width:315px !important;
	margin-top: 10px;
}	

#right-col li {
    margin:0 0 10px 0;
    padding:0 0 0 1px;
}
#search-right-col li {
    margin:0 0 10px 0;
    padding:0 0 0 1px;
}
#footer {
    clear:both;
}
#footer .sda {
    text-align:center;
    margin:25px 0 10px 0;
}
#latest-forum-threads {
    float:left;
    text-align:center;
    width:100%;
}
#latest-forum-threads h2 {
    font-size:18px;
}
#latest-forum-threads th {
    background-color:#cbcdd1;
    font-size:14px;
    font-weight:bold;
    padding:5px;
    text-align:center;
}
#latest-forum-threads td {
    border-bottom:1px solid #fff;
    padding:8px 5px;
    margin:0 0 2px 0;
}
#newsletter-signup {
    color:#fff;
    background:transparent url('/img/layout/newsletter_signup.png') no-repeat;
    padding:40px 0 10px 0;
    text-align:center;
	float: left;
	width: 300px;
	height: 85px;
}
#newsletter-signup h4 {
    font-size:15px;
    font-weight:bold;
    /*margin:5px 0;*/
}
#newsletter-signup div.nl_message, #newsletter-signup  div#nl_error{
	display: none;
}
#newsletter-signup div{
	float: left;
	clear: both;
	width: 100%;
}
#newsletter-signup div#nl_error{
   margin-left: 220px;
    margin-top: 23px;
    position: absolute;
    width: auto;
	color: #FF0000;
	 font-weight: bold;
}
#newsletter-signup button {
    background:transparent url('/img/layout/newsletter_signup_button.png') no-repeat;
    border:none;
    cursor:pointer;
    height:37px;
    text-indent:-9999px;
    width:118px;
}
#newsletter-signup a {
    color:#fff;
}
#newsletter-search {
    height:1%;
    overflow:hidden;
    padding:10px 0;
}
#newsletter-search label {
    clear:both;
    float:left;
}
#newsletter-search input {
    border:1px solid #666;
    clear:both;
    float:left;
    padding:2px;
    margin:2px 0 0 0;
}
#newsletter-search button {
    float:left;
    margin:0 0 0 10px;
    padding:2px 4px;
    width:60px;
}
#breadcrumb {
    margin-bottom:15px;
}
#breadcrumb a {
    color:#356895;
    text-transform:capitalize;
}
#breadcrumb a:hover {
    text-decoration:none;
}
#content h1 {
    color:#356895;
    font-size:24px;
    font-weight:bold;
    line-height:1;
    margin:5px 0;
}
#content #article h1 {
    line-height:1.3;
}
.article-list {
    margin-bottom:20px;
}
.article-list .parent {
    background:transparent url('/img/layout/article_list_header_bg.png') repeat-x;
}
.article-list .parent h2 {
    color:#000;
    margin:6px 0 6px 0;
    text-transform:capitalize;
}
.article-list h2 {
    color:#356895;
}
.article-list li {
    padding:2px 15px 15px 15px;
}

.article-list a:link, .article-list a:visited {
    text-decoration:none;
}
.article-list h2 a:link, .article-list a:visited {
    color:#356895;
}

.article-list p {
    line-height:1.7;
}
.article-list p a:link, .article-list p a:visited {
    color:#000;
}
.directory-list h2 {
    margin:10px 0;
}
.directory-list h2 a {
    color:#356895;
    padding-left:10px;
}
.directory-list {
    list-style-type:circle;
}
.directory-list li {
    padding:2px 0 0 20px;
}

#article {
    font-size:12px;
    line-height:1.6;
}
.html5_article {
	padding-left:10px;
}
#article h3{
    font-size: 14px;
    font-weight: bold;
}
#article #author {
    padding-top:0px;
}

#article p {
    padding:5px 0 0 0;
	margin: 0;
}
#article h2 {
    color:#000;
    margin-top:10px;
}
#article .body {
    clear:both;
    overflow:hidden;
}
#article .retweet {
    float: right;
    padding: 0 0 10px 10px;
    width: 65px;
}

#article .likebox {
    float: right;
    padding: 0 0 10px 10px;
    width: 55px;
}

#article ul li  {
    list-style-type:disc;
	list-style-position:inside;
	margin-left:10px;
}

#article h1, h2, h3, h4, h5, h6, strong {
    font-weight:bold;
}

#article em {
	font-style: italic;
}

#article .toolbox {
    float:right;
    width:160px;
    border:1px solid #ccc;
    margin:0 0 15px 10px;
    padding:5px;
    font-size:11px;
}

#article .toolbox ul {
    margin:0 0 0 5px;
    padding:0 0 0 5px;
}

#article .toolbox ul li  {
    margin:0;
    padding:5px 0 5px 25px;
    list-style-type:none;
}

#article .toolbox ul li a:link, #article .toolbox ul li a:visited {
    color:#356895;
    font-weight:bold;
    text-decoration:none;
}

#article .toolbox ul li.comment {
    background:url('/img/article/icon_comment.gif') no-repeat left;
}

#article .toolbox ul li.email {
    background:url('/img/article/icon_email.gif') no-repeat left;
}

#article .toolbox ul li.print {
    background:url('/img/article/icon_Print.gif') no-repeat left;
}
#article pre {
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
#article .toolbox ul li.share {

}
#article #toolBoxShareMenu {
    background:url('/img/article/share_article-bg.gif') 0 -1000px no-repeat;
    padding:10px 0 10px 12px;
    margin:0 0 0 -12px;
    z-index:100;
    position:relative;
}

#article #toolBoxShareMenu img {
    vertical-align:middle;
    margin:0 5px 2px 0;
}

#article #toolBoxShareMenu .shareSubMenu {
    display:none;
    position:absolute;
    left:0;
    top:29px;
    z-index:90;
}
*:first-child+html #toolBoxShareMenu .shareSubMenu {
    top:28px;
}
* html #toolBoxShareMenu .shareSubMenu {
    left:-12px;
}
#toolBoxShareMenu span.top {
    background:url('/img/article/share_article-l2.png') 0 0 no-repeat;
    float:left;
    height:9px;
    width:153px;
    line-height:9px;
    font-size:1px;
}

#toolBoxShareMenu span.top span {
    background:url('/img/article/share_article-rt.png') 100% 0 no-repeat;
    width:9px;
    height:9px;
    float:right;
    position:relative;
    right:-9px;
}

#toolBoxShareMenu span.bottom {
    background:url('/img/article/share_article-lb.png') 0 0 no-repeat;
    float:left;
    height:9px;
    width:153px;
    line-height:9px;
    font-size:1px;
}

#toolBoxShareMenu span.bottom span {
    background:url('/img/article/share_article-rb.png') 100% 0 no-repeat;
    width:9px;
    height:9px;
    float:right;
    position:relative;
    right:-9px;
}

#article #toolBoxShareMenu ul {
    margin:0px 0 0;
    padding:0;
    float:left;
    width:140px;
}
#article #toolBoxShareMenu ul li {
    background:url('/img/article/share_article-c.png') 0 0 repeat-y;
    margin:0;
    padding:0 5px 0 5px;
    width:152px;
    float:left;
    height:26px;
    display:block;
}


#article #toolBoxShareMenu ul li a {
    display:block;
    background:white;
    width:115px;
    height:24px;
    line-height:24px;
    padding:0 0px 0 25px;
    margin:0 5px;
    border:1px solid #fff;
    position:relative;
    text-decoration:none;
}
* html #toolBoxShareMenu ul li a {

    padding-top:3px;
    height:21px;
    line-height:21px;
}
#article #toolBoxShareMenu ul a:hover {
    text-decoration:none;
    background:#f6f6f6;
    border:1px solid #c0c0c0;
}
/** archives **/
#archive-listing li {
    padding:0 0 5px 0;
}
.month_listing .year {
    font-weight:bold;
    padding:3px 10px 3px 0;
}
.month_listing li {
    float:left;
    padding:3px 2px;
}
.month_listing {
    clear:both;
    font-size:12px;
}
.related-articles {
    background:transparent url('/img/layout/relatedarticles-bg.png') repeat-x bottom;
    border:1px solid #999;
    font-size:11px;
    padding:5px 0 15px 10px;
    width:285px;
}
.related-articles h3 {
    color:#356895;
    font-weight:bold;
    padding:5px;
}
.related-articles ul {
    padding:5px;
}
#search-right-col li .related-articles li {
    background:transparent url('/img/layout/relatedarticles-bullet.png') no-repeat left 4px;
    margin:0 0 10px 0;
    padding:0 0 0 12px;
}
#right-col li .related-articles li {
    background:transparent url('/img/layout/relatedarticles-bullet.png') no-repeat left 4px;
    margin:0 0 10px 0;
    padding:0 0 0 12px;
}
.related-articles li a:link, .related-articles li a:visited {
    color:#000;
    text-decoration:none;
}
.intro-text {
    font-size:14px;
    margin:0 0 15px 0;
}
.intro-text p {
    padding:5px 0;
}
/* email friend styles */
#email-friend, #feedback-form {
    font-size:16px;
}
#email-friend dl, #feedback-form dl {
    padding:10px 0 0 0;
}
#email-friend dt, #feedback-form dt {
    font-weight:bold;
    clear:both;
}
#email-friend dd, #feedback-form dd {
    margin-bottom:15px;
}
#email-friend .emailtextinput, #feedback-form .textinput {
    border:1px solid #999;
    padding:2px 5px;
    width:350px;
}

#email-friend .emailtextareainput {
    border:1px solid #999;
    padding:2px 6px;
    width:350px;
}
#email-friend .radio {
    float:left;
    clear:both;
    padding:2px 0;
}
#email-friend .emailbuttoninput {
    padding:2px 4px;
}
#email-friend #submitButtons{
    clear: both;
}
#feedback-form textarea {
    margin-bottom: 12px;
    border:1px solid #999;
    clear:both;
    float:left;
    padding:2px 6px;
    width:350px;
}
#recaptcha_widget_div {
    clear:both;
}

.error-msg {
   /*background:transparent url('/img/layout/invalid2.png') no-repeat 0 7px; */
    color:red;
    font-size:14px;
    margin:10px 0;
    padding:5px 0 5px 35px;
}
.error-msg h2 {
}
.success-msg {
    //background:transparent url('/img/layout/valid2.png') no-repeat 0 7px;
    color:#0f960b;
    font-size:14px;
    margin:10px 0;
    padding:5px 0 5px 35px;
}
.success-msg h2 {
}
/** 404 page **/
#not-found {
    font-size:14px;
}
#not-found h3 {
    font-size:14px;
}

#not-found h2 {
    color:#356895;
    font-size:18px;
    margin:10px 0 0 0;
}
#not-found li {
    margin:5px 10px;
}
/** master list **/
.master-list-nav {
    overflow:hidden;
    height:1%;
}
.master-list-nav li {
    float:left;
    border-right:1px solid #333;
    padding:0 4px;
}
.master-list-nav .last {
    border-right:none;
}
.master-list h3 {
    clear:both;
}
.master-list li {
    float:left;
    border:none;
    width:30%;

}
.master-list ul {
    clear:both;
    float:left;
    margin:0 0 15px 0;
    width:100%;
}
.master-list h2 {
    border-bottom:1px solid #333;
    clear:both;
    font-size:20px;
    padding:10px 0 0 0;
    margin:5px 0;
    text-align:center;
}
.master-list h3 {
    font-size:16px;
    font-weight:bold;
    text-align:center;
    padding:10px 0;
}

/**
 * Comments styling
 */
#comment-loading {
    background:transparent url('/img/layout/loading.gif') no-repeat 71% 15px;
    text-align:center;
}
#comment-loading h2 {
    margin:0;
    padding:10px 0;
}
#ce-comments .comment-actions {
    padding:10px 0;
}
#ce-comments .comment {
    border-left:6px solid #356895;
    padding:5px 10px;
}
#ce-comments .altrow {
    background-color:#eee;
    border-left:6px solid #4096ee;
}
#ce-comments ul {
    padding:10px 0 0 0;
}
#ce-comments li {
    margin:0 0 20px 0;
}
#ce-comments p {
    padding:0px;
}
#ce-comments h3 {
    margin-bottom:10px;
}
#ce-comments .byline {
    font-weight:bold;
}
#ce-comments .datetime {
    padding:0 0 0 5px;
    font-size:9px;
    color:#888;
}
#ce-comments .child {
    margin:0 0 0 25px;
}
#ce-comments .comment-body {
    margin:0 0 10px 0;
}
#ce-comments .comment-reply {
    background:transparent url('/img/layout/reply_icon.png') no-repeat;
    padding:0 0 0 17px;
}
#comment-formbox {
    font-size:14px;
    overflow:hidden;
    height:1%;
}
.info-text {
    clear:both;
    color:#999;
    float:left;
    font-size:9px;
    width:340px;
}
.comment-form label {
    clear:both;
    float:left;
    width:340px;
}
.comment-form textarea {
    font:normal 11px Helvetica, Arial;
    overflow:hidden;
}
.comment-form .highlight {
    border:1px solid #d7b167;

    -webkit-box-shadow:1px 0 1px #F1CA7E;
    -moz-box-shadow:1px 0 1px #F1CA7E;
    box-shadow:1px 0 1px #F1CA7E;
}
.comment-form .input-container {
    clear:both;
    float:left;
    overflow:hidden;
    position:relative;
    width:370px;
}
.comment-form .error {
    background:transparent url('/img/layout/invalid.png') no-repeat 341px 1px;
}
.comment-form .valid {
    background:transparent url('/img/layout/valid.png') no-repeat 337px 1px;
}
.comment-textinput {
    border:1px solid #cbccd1;
    clear:both;
    float:left;
    font-size:14px;
    padding:3px 5px;
    margin:0 0 10px 0;
    width:320px;

    border-radius:3px;
    -khtml-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

}
.comment-button {
    clear:both;
    float:left;
}
.comment-form .submitting {
    clear:both;
    float:left;
    background:transparent url('/img/layout/loading.gif') no-repeat 200px 3px;
    overflow:hidden;
    width:100%;
}
#comment-formbox .error-box {
    background:transparent url('/img/layout/invalid2.png') no-repeat 0 7px;
    color:#c01313;
    margin:10px 0;
    padding:5px 0 5px 35px;
}
#comment-formbox .error-box h2 {
}
#comment-formbox .error-box p {
}
#comment-success-box {
    background:transparent url('/img/layout/valid2.png') no-repeat 0 13px;
    color:#0f960b;
    font-size:14px;
    margin:10px 0;
    padding:5px 0 5px 35px;
}
#comment-success-box h2 {
}
#comment-success-box p {
}

/** facebox css **/
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 370px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child {
  margin-top:0;
}
#facebox .content > p:last-child {
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}


/** recaptcha **/
#recaptcha_div {
    clear:both;
    float:left;
    margin:0 0 10px 0;
}


/**
 * green buttons
 */
/* button */

button,
button[disabled]:hover,
button.comment-button[disabled],
button.comment-button[disabled]:hover {
    position: relative;
    display: inline-block;
    width:190px;
    overflow: visible; /* removes extra width in IE */
    zoom: 1;
    padding: 0;
    border: 1px solid #ccc;
    border-color: #ddd #aaa #aaa #ddd;
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
    background: -moz-linear-gradient(#f9f9f9, #f5f5f5);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    box-shadow: 0 0 1px #eee;
    -webkit-box-shadow: 0 0 1px #eee;
    -moz-box-shadow: 0 0 1px #eee;
}
button.left,
button.left:hover,
button.left[disabled],
button.left[disabled]:hover {
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    margin-right: -1px;
}
button.middle,
button.middle:hover,
button.middle[disabled],
button.middle[disabled]:hover {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin-right: -1px;
}

button.right,
button.right:hover,
button.right[disabled],
button.right[disabled]:hover {
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}
button:hover {
    border-color: #ccc #888 #888 #ccc;
    background-color: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background: -moz-linear-gradient(#f5f5f5, #eee);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
}
button span,
button a,
button a:hover {
    cursor:pointer;
    display: block;
    padding: 0.4em 1em;
    line-height: 1.4;
    text-align: center;
    font-size: 1.2em;
    color: #222;
    text-decoration: none;
    vertical-align: middle;
}
button img {
    margin-top: -3px;
    vertical-align: middle;
}
button[disabled],
button[disabled]:hover,
button.comment-button[disabled],
button.comment-button[disabled]:hover {
    border-color: #ddd;
    cursor: auto;
}
button[disabled] span,
button[disabled] a,
button[disabled] a:hover,
button.comment-button[disabled] span,
button.comment-button[disabled] a,
button.comment-button[disabled] a:hover {
    color: #aaa;
}
button.comment-button {
    border-color: #97CE37;
    background-color: #CAFF73;
    background: -webkit-gradient(linear, left top, left bottom, from(#F0FFCE), to(#CAFF73));
    background: -moz-linear-gradient(#F0FFCE, #CAFF73);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    box-shadow: 1px 1px 2px #C6F28E;
    -webkit-box-shadow: 1px 1px 2px #C6F28E;
    -moz-box-shadow: 1px 1px 2px #C6F28E;
    width:190px;
}
button.comment-button:hover {
    border-color: #AED377;
    background-color: #C6F28E;
    background: -webkit-gradient(linear, left top, left bottom, from(#E4FFB3), to(#C6F28E));
    background: -moz-linear-gradient(#E4FFB3, #C6F28E);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
}
button.comment-button span,
button.comment-button a,
button.comment-button a:hover {
    color: #0E5D00;
}

div.pinning_img_left{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
div.pinning_img{
	width: 647px;
	height: 80px;
	margin-left: 60px;
	background:transparent url('/img/banner-top.png') no-repeat 0 0px;
}

div.missing_pinning{
	margin-left: 60px;
}

div#htm5_header-bar{
	width: 1010px;
	height: 180px;
	float: left;
	background:transparent url('/img/lead-graphic.jpg') no-repeat 0 0px;
}
div#htm5_header-bar_silver{
	height: 27px;
	background:transparent url('/img/lead-graphic_silver_bar.jpg') no-repeat 0 0px;
}

div.htm5_header_title{
	font-size: 36px;
	margin: 10px 10px 10px 10px;
}
div.htm5_header_description{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 28px;
	margin-top: 70px;
	line-height: 24px;
}
div.html5_content{
	width: 675px !important;
	margin: 10px 10px 	0 0 !important;
}
div.articles_col_left, div.articles_col_right{
	float:left;
	width: 331px;
}
div.articles_col_left{
	margin-right: 5px;
}
div.articles_col_right{
	margin-left: 5px;
}
div.float_left{
	/*float:left;*/
}
div.related_wrapper div.article_item{
	width: 333px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

div.featured_wrapper div.article_item{
	width: 520px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

div.htm5_header_title span.white{
	font-family: 'Square721Roman';
	color: #FFFFFF;
}
div.htm5_header_title span.yellow{
	font-family: 'Square721Roman';
	color: #FFCC00;
}
div.html5_related_articles{
	font-family: 'Square721Roman';
	font-size: 22px;
    margin-bottom: 20px;
    margin-left: 5px;
	float:left;
}
div.html5_sponsor1{
	color: red;
	font-style:italic;
	font-size: 18px;
	text-align:right;
	float:right;
}
div.html5_sponsor2{
	color: red;
	font-style:italic;
	font-size: 13px;
	text-align:right;
}
div.html5_featured_articles{
	font-family: 'Square721Roman';
	font-size: 26px;
	margin-left: 5px;
	margin-bottom: 5px;
}
div.article_item h2 a{
	text-decoration: none;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 16x;
	color: #336699;
}

div.article_item p{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	color: #696969;
	line-height: 16px;
}

div.html5_featured_articles h2 a{
	font-size: 18x !important;
}

canvas, section {
	display: block;
}

#c {
	/*position: absolute;*/
}

div#articles{
	float: left;
}
#attribution {
	bottom: 40px;
	position: absolute;
	right: 40px;
}
div.featured_wrapper, div.related_wrapper, div.canvas_wrapper{
	float:left;
}
div.related_wrapper{
	width: 100%;
}
div.featured_wrapper {
	width: 100%;
	float: left;
	min-height: 300px;
	margin-bottom: 20px;
}
div.html5_follow_us{
	width: 466px;
	height: 41px;
	background:transparent url('/img/box.gif') no-repeat 0 0px;
	background-repeat: no-repeat;
}
div.html5_follow_us div{
	float: left;
}
div.html5_follow_us a{
	text-decoration: none;
	font-style: italic;
}
div.html5_twitter{
	height: 25px;
    margin-left: 20px;
    margin-top: 8px;
    padding-left: 30px;
    padding-top: 4px;
	background:url("/img/twitter-icon-main-page.gif") no-repeat scroll 0 0px transparent;
}
div.html5_twitter1{
	float: left;
    height: 25px;
    margin-top: 5px;
    padding-left: 5px;
    padding-top: 2px;
}
div.html5_googleplusone{
	float: left;
    height: 25px;
    margin-top: 5px;
}

div.html5_facebook{
	float: left;
    padding-top: 2px;
}
div.html5_meteor_sharing{
	float: left; 
	width: 212px;
}
div.html5_spacer{
	height: 15px;
	width: 100%;
	clear: both;
	float: left;
}
div.double_line{
	margin-bottom: 10px;
	float: left;
}
div.html5_rss{
	height: 25px;
    margin-left: 40px;
    margin-top: 8px;
    padding-left: 30px;
    padding-top: 4px;
	background:transparent url('/img/rss-graphic-mainpage.gif') no-repeat 0 0px;
}

div.html5_rssnew{
    float: left;
    height: 25px;
    margin-top: 3px;
	margin-left:3px;
    padding-top: 3px;
    width: 25px;
	background:transparent url('/img/rss-graphic-mainpage.png') no-repeat 0 0px;
	
}

div.canvas_wrapper{
	width: 325px;
	height: 300px;
	text-align: center;
}
div.articles{
	float: left;
}
span.forum_subheader {
    font-style: italic;
}
div.related_wrapper div#right-col{
	width: 400px !important;
	text-align: center;
}
div.right_wrapper{
	width: 300px;
    margin-left: auto;
    margin-right: auto;
}
div.related_wrapper div#right-col ul{
		width: 300px;
}
div.related_wrapper div#newsletter-signup{
	width: 300px;
}
div#pinMeContainer{
	width: 305px;
	text-align: center;
}
@font-face {
    font-family: 'Square721Roman';
    src: url('/css/font/square_721-webfont.eot');
    src: url('/css/font/square_721-webfont.eot?iefix') format('eot'),
         url('/css/font/square_721-webfont.woff') format('woff'),
         url('/css/font/square_721-webfont.ttf') format('truetype'),
         url('/css/font/square_721-webfont.svg#webfontQtjC7U1d') format('svg');
    font-weight: normal;
    font-style: normal;
}  

div.html5_featured_articles h1{
	font-size: 26px;
	color:	#000000 !important;
	font-size: 26px !important;
	font-weight: 400 !important;
	font-style: normal !important;
	color: #000000 !important;
}

div.ciu_ads{
	float: left;	
	width: 100%;
}
span.ciu_wrapper {
	float: left;
	width: 50%;
}
span.ciu_wrapper div{
    /* for DFP margin: 3px;
    padding: 10px; */
}
li.parent h1{
	font-family:	Helvetica,Arial !important;
	font-size:	16px !important;
	color:	#000000 !important;
}
.meteor_share_HML5_Homepage, #___plusone_0, #___plusone_1, #___plusone_2{
	float: left;
}
.html5_meteor_sharing{
	width: 320px !important;
	float: left;
	position:relative;
	top:3px;
}
#___plusone_0, #___plusone_1, #___plusone_2{
	margin: 3px 0 0 3px !important;
}
div.survey_wrapper{
	float: left;
	position: absolute;
	margin: -8px;
}
input#nl_email{
	width: 180px;
}
a.gotohtml5{
    color: #000000;
    padding-left: 15px;
	font-weight: bold;
    text-decoration: none;
}
ul.new_in_the_html5_development_center li{
	background: url("/img/layout/relatedarticles-bullet.png") no-repeat scroll left 8px transparent;
	margin-left: 15px;
	padding-bottom: 7px;
	
}
ul.new_in_the_html5_development_center li.parent{
	margin-left: 0 !important;
}
ul.new_in_the_html5_development_center li a{
	font-weight: normal !important;
	font-size: 14px !important;
}
ul.new_in_the_html5_development_center li.parent a{
	color: #000000 !important;
	font-weight: bold !important;
	font-size: 16px !important;
}

#html5socialbar {
	background: url('/img/layout/headerBg.png') repeat-x scroll 0 0;
	height: 36px;
	width: 1010px;
	float:left;
	position: relative;
	top:2px;	
}	

#social_button {
	position:relative;
	top:2px;
	float:right;
}

/*FEATUREDBOX STYLE FOR HTML5*/
#featurebox {
	background: url('/img/redesign2008/images/rotator_bg.gif') 0 0 repeat-x;
	/*border: 1px solid #A4A4A4;*/
	background-color: #ffffff;
	width: 645px;
	height: 215px;
	margin: 10px 0 0 10px !important;
	margin: 10px 0 0 10px;
/*	-moz-box-shadow: 3px 1px 4px #A4A4A4;
	-webkit-box-shadow: 3px 1px 4px #A4A4A4;
	box-shadow: 3px 1px 4px #A4A4A4;*/
	/* For IE 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.shadow(color='#A4A4A4',direction='135', strength='4')";
	/* For IE 5.5 - 7 */
	filter: progid : DXImageTransform.Microsoft.shadow ( color = '#A4A4A4',
		direction = '135', strength = '4' );
}

#featurebox h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: #A30010;
	line-height: 30px;
	padding: 0px;
	margin: 25px 0px 0px 20px;
}

#featurebox h1 a {
	background-color: #F1F7FF\9; 
	color: #A30010;
}

#featurebox .wrap {
	width: 645px;
	height: 215px;
	overflow: hidden;
}

#featurebox .feature_items {
	height: 185px;
	width: 645px;
	background:transparent url('/img/layout/featuredboxbg.png') 0 0 no-repeat;
	overflow: hidden;
	position: relative;
}

#featurebox .feature_items .current_item {
	display: block;
}

#featurebox .feature_item {
	width: 645px;
	height: 185px;
	/*background:#fff url('/img/redesign2008/images/featurebox_bg.gif') 0 0 no-repeat;*/
}

#featurebox .feature_item .item_text {
	float: left;
	width: 405px;
	height: 185px;
}

#featurebox .feature_item .item_text p {
	font-size: 12px;
	margin: 4px 0;
	padding: 0 10px 0 18px;
	line-height: 19px;
	color: #494F55;
}

#featurebox .feature_item .item_image {
	float: left;
	top:2px;
	width: 240px;
	height: 185px;
	position: relative;
}

#featurebox .feature_nav {
	height: 30px;
	background: #063659;
	font-size: 11px;
	font-family: Arial;
	line-height:30px;
}

#featurebox .feature_nav .next_label {
	float: left;
	font-weight: bold;
	color: #AB9B24;
	margin-left: 10px;
}

#featurebox .feature_nav .next_title {
	float: left;
	margin-left: 5px;
	font-weight: bold;
	color: #DEE4E9;
}

#featurebox .feature_nav .nav {
	float: right;
/*	width: 185px; */
	margin-right: 8px;
}

#featurebox .feature_nav .nav ul,#featurebox .feature_nav .nav ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#featurebox .feature_nav .nav ul {
	float: right;
}

#featurebox .feature_nav .nav li {
	float: left;
}

#featurebox .feature_nav .nav li a {
	background: url('/img/layout/featurebox_nav.gif') 0 0
		repeat-x;
	border: 1px solid #d7d7d7;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-left: 6px;
	text-align: center;
	font-size: 15px;
	line-height: 16px;
	color: #a6a6a6;
	text-decoration: none;
}

#featurebox .feature_nav .nav li a:hover {
	background-position: 0 -16px;
	color: #fff;
}

#featurebox .feature_nav .nav li a.active {
	background-position: 0 -16px;
	color: #fff;
}

#html5_readmore {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
float: left;
margin: 0 0 29px 10px;
color: #698FB4;
font-weight: bold;
}

#html5_readmore a {
text-decoration: none;
}

#html5-shortdesc {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	color: #696969;
	line-height: 16px;
	margin-left:5px;
}

div.html5_section_header {
	font-family: 'Square721Roman';
	font-size: 22px;
	margin-bottom: 8px;
	margin-left: 5px;
}

div#html5-article-listing {
	margin:10px;
}

div#html5-article-listing ul li{
	list-style-type: disc;
	list-style-image: url(/img/layout/bullentbuttonhtml5.gif);
	list-style-position: inside;
}	

div#html5-article-listing ul li a {
	color: #4E7AA7;
	text-decoration: none;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
}

ul#html5-nav{
	padding:0;
	list-style:none;
}

ul#html5-nav li {
	display:inline;
	padding-left: 15px;
}

#html5-navbar {
	float:left;
}

div#sponsertext {
	font-style: italic;
	text-align:center;
	color: dimGray;
	margin-top: 20px;
}
.exploreboxlink a {
	color:#CCC;
	text-decoration:none;
}

/* Quiz - klee 042013 */
#quiz_wrapper fieldset {
position: relative;
border: 1px solid #666;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 10px;
background: #F6F6F6;
overflow: hidden;
margin-bottom: 1em;
}

#quiz_wrapper fieldset label{
font-size: 13px;
font-family: arial;
}

#quiz_wrapper input{padding:5px;text-transform:capitalize}

#newuserregistrationpopup {
    display: none;
    width:760px;
    height: 345px;
    overflow: hidden;
    background-color: white;
    z-index: 99999 !important;
}
#closepopup {
    position: relative;
    float: right;
    right: 10px;
    top: 10px;
    font-size: 12px;
}
#closepopup img {
    padding-left:5px;
    vertical-align: middle;
}
#thankuptext {
    margin:70px 40px 55px 40px;
    font-family: 'Lato';
    font-size: 36px;
    font-size: 34px\9;
    font-weight: bold;
    line-height: 40px;
}
#socialsharebtn {
    margin-left:90px;
}
#socialbtns {
    float:left;
    margin-left:5px;
}

.sponsored_container {
    padding: 0px 20px;
}
.sponsored_container  h1 {
    line-height: 14px;
    font-size: 22px;
    font-weight: bold;
    color:black;
}
.byline {
    display:block;
    margin-bottom:10px;
    line-height:13px
}
#disclaimer {
    margin:20px 0px 10px 0px;
    padding:0px;
}
#sponsored_expansion {
    width:90%;
    display:none;
    margin:0px auto 10px;
    padding:15px;
    border:1px dotted rgb(204, 204, 204);
}
#ad_p1-lb {
    margin-top: 10px;
}
#ad_p2-lb {
    position:relative;
    margin-bottom: 10px;
    margin-top: 10px;
}
#ad_imu {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}
.sponsored_module_box {
    clear: both;
}#nodeSearchWidget{
    margin-top: 20px;
    margin-bottom: 20px;
}
#searchWidget #top_bar{
    width: auto !important;
}
#searchWidget .searchWidgetSteps h3{
    word-spacing: 0px !important;
    font-size: 31px !important;
}
.topics {
    margin-right: 45px !important;
    margin-left: 9px;
}
#searchWidget #search_step1 .topicsRow {
    margin-bottom: 10px;
}.search_step6_child #asset-img{
    margin-left: 106px !important;
}
.search_step6_child #asset-details{
    width: 287px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}