#outerdiv 	{ 	width: 970px;
				min-height: 1000px;
				margin: auto;
				padding: 0px;
				overflow: hidden;
				background-color: #FFFFFF;
				border: 1px solid #000000;
				border-top: none;
			}

#maindiv	{	width: 955px;
			}
			
#narrowmaindiv	{	width: 970px;
					padding-left: 0px;
				}

#artistdirectorymaindiv	{	width: 920px;
				}			

#artistdirectorytitlebar	{	width: 880px;
							}

#artworktagsmaindiv	{	width: 890px;
				}							
							
							
#newartistsmaindiv	{	width: 920px;
				}
				
#newartiststitlebar	{	width: 898px;
							}	
							
#profilepageouterdiv 	{ 	width: 970px;
				min-height: 1000px;
				margin: auto;
				padding: 0px;
				overflow: hidden;
				background-color: #FFFFFF;
				border: 1px solid #000000;
				border-top: none;
			}

			
#profilepagemaindiv	{	width: 930px;
					}

#profilepagerightdiv	{ width: 670px;
						}					

#profilepagerightdiv2	{ width: 668px;
						}	
						
#profilepagerightdivinnertop	{	width: 654px;
					}

#profilepagerightdivinnerbottom {	width: 638px;
						}
						
#profilepagememberdiv {	width: 608px;
						}						
					
#titlediv	{	width: 450px;
			}

.searchenginecontent	{	float: right;
							width: 720px;
							padding-right: 25px;
						}
						
.titlebar	{width: 690px;}

#footercontentdiv	{	display: inline-block;
						width: 920px;	
						margin: auto;
						text-align: center;
					}
					
#footercontentdiv div:first-child > div	{	float: left;
										width: 210px;
										margin-left: 10px;
										margin-right: 10px;
										text-align: left;
									}
															
#footercontentdiv div:first-child > div:nth-child(1)	{	margin-left: 0px;	}									

#footercontentdiv div:first-child > div:nth-child(4)	{	margin-right: 0px;	}									
									
#footercontentdiv div:first-child > div h3	{	float: left; 
											width: 100%; 
											padding: 0px;
											padding-bottom: 5px;
											margin: 0px;
											border-bottom: 1px solid #999999; 
											font-size: 14pt; 
											font-family: oswald, arial;
											font-weight: normal;
											color: #FFFFFF;
										}

#footercontentdiv div:first-child > div p	{	float: left; 
											width: 100%; 
											font-size: 11pt; 
											font-family: arial;
											font-weight: normal;
											color: #646B75;
											padding-top: 5px;
										}

#footercontentdiv div:first-child > div p:nth-child(2)	{	padding-top: 10px;	}

#footercontentdiv div:first-child > div a:link, #footercontentdiv div:first-child > div a:active, #footercontentdiv div:first-child > div a:hover, #footercontentdiv div:first-child > div a:visited	{	font: 11pt arial; color: #646B75;	}									

#footercontentdiv div:first-child > div a:hover	{	color: #FFFFFF;	}									
									
@media screen and (min-width: 1199px)
{

	#footercontentdiv	{	width: 1150px;	
						}
						
	#footercontentdiv div:first-child > div	{	float: left;
										width: 270px;
										margin-left: 10px;
										margin-right: 10px;
									}
	
	#artistdirectorymaindiv	{	width: 1130px;
					}
					
	#artistdirectorytitlebar	{	width: 1110px;
								}

	#newartistsmaindiv	{	width: 1150px;
					}
					
	#newartiststitlebar	{	width: 1128px;
								}								

	#artworktagsmaindiv	{	width: 1130px;
					}	
								

					
	
			
	#headerextraspacediv	{	width: 220px;
								margin-left: 15px;
								margin-top: 12px;
								border: none;
								overflow: hidden;
								visibility: visible;
								display: block;
								vertical-align: top;
								font: 9pt arial;
							}

	#headerstaffmemberdiv	{	width: 915px;
							}							
							
	#outerdiv 	{ 	width: 1200px;
					min-height: 1000px;
					margin: auto;
					padding: 0px;
					overflow: hidden;
					background-color: #FFFFFF;
					border: 1px solid #000000;
					border-top: none;
				}
				
	#maindiv	{	width: 1185px;
				}

	#narrowmaindiv	{	width: 970px;
						padding-left: 120px;
					}
				
	#titlediv	{	width: 650px;
				}			
				
	.searchenginecontent	{	float: right;
								width: 950px;
								padding-right: 25px;
							}

	.titlebar	{width: 920px;}

}

@media screen and (min-width: 9999px)
{

	#profilepageouterdiv 	{ 	width: 1200px;
					min-height: 1000px;
					margin: auto;
					padding: 0px;
					overflow: hidden;
					background-color: #FFFFFF;
					border: 1px solid #000000;
				}

	#profilepagemaindiv	{	width: 1160px;
						}		
	
	#profilepagerightdiv	{ width: 900px;
							}

	#profilepagerightdiv2	{ width: 898px;
							}								
							
	#profilepagerightdivinnertop {		width: 884px;
							}

	#profilepagerightdivinnerbottom {		width: 868px;
							}

	#profilepagememberdiv	{ width: 838px;
							}							
							
}			