#aust-govt-crest,
#aust-govt-oaic-name,
.accessibility-links,
.search-form,
#postheader,
.breadcrumbs-module,
.hidden,
.hide,
.offscreen,
.vaOffscreen,
#cwsociallinks1,
.primary-submenu,
#rt-sidebar-a,
#rt-sidebar-b,
#footer,
.menu-home #rt-content-bottom,
.back-to-toc,
.finder-wrapper,
#prefooter,
.cc-license,
.fancyfootnote,
.gov-focus-only,
#featuresection,
#headersection,
.unleashButton,
span[id^="fancyfootnote"] {
    display: none;
}
#aust-govt-logo-print {
    display: block;
}
@page {
      margin: 2cm;
}
.rt-container .rt-grid-6,
.rt-container .rt-grid-9,
.menu-home #rt-content-top .rt-grid-3.rt-alpha {
    width: 100%;
}
#pagetop {
	margin-bottom: 1cm;
}
#mainsection div[class^="rt"],#mainsection div[class^="cck"],#mainsection div[id^="rt"]
{
    float: none !important;
}
/* Typography */
body {
	font-size: 16pt !important;
	background-color: white !important;
	background-image: none;
}
img {
   max-width: 100% !important;
}
a:link,a:visited {
	font-weight: bold;
}
a:after,a:visited:after {
    content: " <" attr(href) ">";
    font-size: 80%;
    color: black;
    font-weight: normal;
}
a[href^="#"]:after, a[name]:after, a[href^="mailto"]:after {
  content: "";
}
a:empty {
	display:none;
}
/* Main content */
.rt-container>.rt-grid-9  {
	padding:0;
	margin-left:0;
	margin-top:0;
}
.callout {
	border:solid 1px #f4f4f4;
}