@charset UTF-8;

#CQ .x-btn-text.x-edit-customRTEpicker {
	background:url(../../../../../apps/tmus/components/content/rte/icon.png) center no-repeat;
}

span.strikethrough {
	text-decoration:line-through;
}

.color_white {
	color:#fff!important;
}

.image_left {
	float:left;
	padding-top:5px;
	padding-right:15px;
	padding-bottom:15px;
}

.image_right {
	float:right;
	padding-top:5px;
	padding-left:15px;
	padding-bottom:15px;
}

.font_Georgia{
	font-family: Georgia, serif;
}

.font_Palatino_Linotype{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.font_Times_New_Roman{
	font-family: "Times New Roman", Times, serif;
}

.font_Arial{
	font-family: Arial, Helvetica, sans-serif;
}

.font_Arial_Black{
	font-family: "Arial Black", Gadget, sans-serif;
}

.font_Comic_Sans_MS{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.font_Impact{
	font-family: Impact, Charcoal, sans-serif;
}

.font_Lucida_Sans_Unicode{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.font_Tahoma{
	font-family: Tahoma, Geneva, sans-serif;
}

.font_Trebuchet{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.font_Verdana{
	font-family: Verdana, Geneva, sans-serif;
}

.font_Courier_New{
	font-family: "Courier New", Courier, monospace;
}

.font_Lucida_Console{
	font-family: "Lucida Console", Monaco, monospace;
}

.font_Helvetica_Neue{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
