.modal-heading {
	border-bottom: 1px solid #cccccc;
	padding: 0 0 10px 0;
	margin: 0 0 20px 20px;
	font-size: 23px;
}
.ml70 {
	margin-left: 70px;
}

.ml75 {
	margin-left: 75px;
}

.ml80 {
	margin-left: 80px;
}

.ml90 {
	margin-left: 90px;
}

.ml100 {
	margin-left: 100px;
}

.mr70{
	margin-right: 70px;
}
.ml3{
	margin-left: 3px;
}

.modal-content .co_text-align-right {
	text-align: right;
}

.modal-content .co_text-align-left {
	text-align: left;
}

.gbl_btn-purple-nocase {
	background-clip: padding-box;
	background-color: #151449;
	background-image: -moz-linear-gradient(#5b3bcd, #250f79);
	background-image: -webkit-linear-gradient(#5b3bcd, #250f79);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b3bcd),
		to(#250f79));
	background-image: -o-linear-gradient(#5b3bcd, #250f79);
	background-image: linear-gradient(#5b3bcd, #250f79);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b3bcd',
		endColorstr='#250f79', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
	border: 1px solid #191745;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 6px;
	text-transform: none;
}

.forgot-pin-content .bottom-text {
	font-size: 11px;
}

.forgot-pin-content .bottom-text a:hover {
	color: #f65924;
}

.forgot-pin-content .custom-checkbox {
	font-size: 10px;
	display: inline;
}

.forgot-pin-content .custom-checkbox input {
	float: left;
}

.forgot-pin-content .custom-checkbox div {
	float: left;
	width: 120px;
}

.forgot-pin-content .custom-checkbox div.error {
	font-size: 12px;
	width: 83%;
}

.forgot-pin-content .retrievePinDetailText{
	width: 85%;
}
#idRetrievePinForm table td {
	min-width: 100px;
}
.modal-content .co_text-align-right {
	text-align: right;
}

.modal-content .co_text-align-left {
	text-align: left;
}
#idUpgradeProfileFormModal .modal-heading {
	margin-left: 35px;
}
.ml70 {
	margin-left: 70px;
}

.ml75 {
	margin-left: 75px;
}

.ml80 {
	margin-left: 80px;
}

.ml90 {
	margin-left: 90px;
}

.ml100 {
	margin-left: 100px;
}

.mr70{
	margin-right: 70px;
}
.ml3{
	margin-left: 3px;
}
.forgot-pin-content .mask {
	z-index: 99999;
	opacity: 0.8;
	height: 100%;
	width: 100%;
	position: relative;
}
.co_spinner_style {
	position: relative;
	margin-top: -10%;
	margin-bottom: 10%;
	float: left;
	padding: 10px 10px 10px 10px;
}
#idUpgradeProfileFormModal .co_spinner_style {	
	margin-top: -17% !important;
	margin-left: 50% !important;	
}
#idRetrievePinModal .co_spinner_style {	
	margin-top: -25% !important;
}
.co_spinner_hide{
	display:none;
}
.co_hover_orange:hover{
    color:#F65924;
}


