.terms-content {
	border: 1px solid #e5e5e5;;
	padding: 10px;
	height: 360px;
	overflow: auto;
}

.co_terms-condition .print-content {
	border-top: 1px solid #e5e5e5 text-align:  right;
	display: block;
	margin: 0 20px;
	padding: 20px 0px 0px 0px;
	cursor: pointer;
}

.ok-btn {
	margin-right: 180px;
	text-align: center;
	width: 157px;
	height: 28px;
	display: inline-block;
	padding-top: 5px;
	text-decoration: none;
}

.terms-content-congrats {
	border: 1px solid #e5e5e5;;
	padding: 10px;
	height: 160px;
	overflow: auto;
}

.tc-error-msg {
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 40px;
	text-align: left;
	word-wrap: break-word;
	color: red;
}

span.pull-right:hover {
	color: orange;
}

.co_print-icon:hover {
	color: orange;
}
.co_terms-condition.modal-body {
    margin-top: 20px !important; 
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-top: 0px !important;
}

.modal-footer{
	margin-top:-25px !important;
}
