/* Added missing variables Starts */
/*Add radio color*/
/* Contact and Faq Start */
#megamenu .menuContent .container {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}
/* support userguide Start */
.userguidepadding {
 padding: 70px 0 0 0px;
    height: 188px
 }
.test{
    margin-right: -1px;
    margin-left: 1px;
    }
/* support userguide end */
.contact-wrap h4,
.faq-wrap h4 {
  font-size: 14px;
  color: #333092;
  padding-bottom: 4px;
}
.contact-wrap h5,
.faq-wrap h5 {
  font-size: 12px;
  margin-bottom: 7px;
  font-family: "HelveticaNeueW01-65Medi";
}
.contact-wrap p,
.faq-wrap p {
  font-size: 12px;
  color: #6a6a6a;
}
.contact-wrap .cont-icon,
.faq-wrap .cont-icon {
  font-size: 50px;
  color: #F89C29;
}
.contact-wrap .divider,
.faq-wrap .divider {
  border-right: 2px solid #E9EAED;
}
.contact-wrap .con-custom,
.faq-wrap .con-custom {
  min-height: 229px;
}
.contact-wrap .con-custom2,
.faq-wrap .con-custom2 {
  min-height: 229px;
}
.bordtop {
  border-top: 2px solid #E9EAED;
}
.hybrid .faq-btn {
  border-radius: 0;
  font-family: "HelveticaNeueW01-77BdCn_692722";
  font-size: 14px;
  padding: 13px 12px;
}
/* Contact and Faq End */
.bg-gry {
  background-color: #e9eaed;
}
.wid-20 {
  width: 19.78%;
  height: 200px;
  background-color: #F4F4F4;
  margin-right: 2px;
  margin-bottom: 2px;
  display: inline-block;
  position: relative;
}
@media (min-width: 750px) and (max-width: 881px) {
  .wid-20 {
    width: 19.74%;
  }
}
.wid-20 img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Added missing variables Starts */
/*Add radio color*/
.service-wrap {
  height: 206px;
}
.service-wrap .serv-icon {
  font-size: 50px;
  color: #F89C29;
}
.service-wrap h4 {
  font-size: 14px;
  color: #333092;
  padding-bottom: 3px;
}
.service-wrap p {
  font-size: 12px;
  color: #333092;
}
.divider {
  border-right: 2px solid #E9EAED;
}
.bordtop {
  border-top: 2px solid #E9EAED;
}
.hybrid .shop-btn {
  border-radius: 0;
  font-family: "HelveticaNeueW01-77BdCn_692722";
  font-size: 14px;
  padding: 13px 12px;
}
.shop-aside {
  background: url(../../../../../content/dam/mpcs/images/banner/ss-bg.jpg) no-repeat 0 0 / cover;
  min-height: 460px;
}
.shop-aside h2 {
  font-size: 17px;
  font-family: "HelveticaNeueW01-95Blac";
  border-bottom: 1px solid #fa9d07;
  padding-bottom: 10px;
  color: #FFFFFF;
  width: 332px;
  margin: 30px auto 0;
}
.shop-aside h2 span {
  font-size: 18px;
}
.shop-aside h1 {
  font-family: "HelveticaNeueW01-95Blac";
  font-size: 52px;
  color: #FFFFFF;
  line-height: 36px;
  width: 232px;
  margin: 90px auto 72px ;
}
.shop-aside h1 span {
  font-size: 35px;
}
.shop-aside h1 sup {
  font-size: 14px;
  top: -16px;
}
.shop-aside h3 {
  font-size: 14px;
  width: 292px;
  margin: 0px auto ;
  padding-bottom: 19px;
  color: #FFFFFF;
}
.shop-aside h3 span {
  font-size: 19px;
}
.shop-aside p {
  font-family: "HelveticaNeueW01-77BdCn_692722";
  font-size: 12px;
  color: #FFFFFF;
}
@media screen and (min-device-width: 750px) and (max-device-width: 850px) {
  .shop-aside h2 {
    font-size: 15px;
    width: 295px;
  }
  .shop-aside h2 span {
    font-size: 16px;
  }
}
/* why metro */
.ic-circle-big {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: #333092;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 53px;
  position: relative;
}

.why-metro-banner-links {
    padding-top: 23px;
    text-align: center;
}
.hybrid .fnt-45 {
  font-size: 45px !important;
}
.hybrid .fnt-18 {
  font-size: 18px !important;
}
.hybrid .fnt-14 {
  font-size: 15px !important;
}
.hybrid .faq-btn {
  border-radius: 0;
  font-family: "HelveticaNeueW01-77BdCn_692722";
  font-size: 14px;
  padding: 13px 12px;
}
/* why metro end */

/* Accessories Start */
.h-453 {
  height: 453px;
}
.hybrid .fnt-med {
  font-family: "HelveticaNeueW01-65Medi";
}
.hybrid .fnt-black {
  font-family: "HelveticaNeueW01-95Blac";
}
.hybrid .fnt-32 {
  font-size: 32px;
  line-height: 24px;
}
.bg-accessories-01 {
  background-image: url("../../../../../content/dam/mpcs/images/banner/bg-accessories-01.png");
}
.bg-gry {
  background-color: #e9eaed;
}
.bg-gray-lighter {
  background-color: #F6F6F6;
}
.col-three {
  width: 33.02%;
  float: left;
  padding-bottom: 20px;
  height: 133px;
}
.space-2 {
  margin-right: 2px;
  margin-bottom: 2px;
}
.accessories-name {
  margin-top: 10px;
}
.menuContent h6 {
  margin: 0;
}
/* Accessories End */
/* shop deals */
.shop-deals .twotxt-wrap {
  padding: 20px 0 0 5%;
}
.shop-deals .twotxt-wrap h1 {
  font-family: "HelveticaNeueW01-95Blac";
  font-size: 61px;
  color: #fa9d07;
  margin: 0 0 0;
  letter-spacing: -3px;
  line-height: 50px;
}
.shop-deals .twotxt-wrap h2 {
  font-size: 22px;
  color: #333092;
  margin: 0;
}
.shop-deals .twotxt-wrap p {
  font-size: 11px;
}
.shop-deals .twotxt-wrap span {
  color: #333092;
  font-family: "HelveticaNeueW01-77BdCn_692722";
  font-size: 14px;
}
.shop-deals .dprod-img {
  padding: 24px 0 0 13%;
  max-width: 100%;
}
.shop-deals .deal-blue-gradiant,
.shop-deals .deal-blue-gradiant2 {
  background: #1e113b;
  background: -webkit-linear-gradient(top, #1e113b 5%, #382a70 50%, #180f28 100%);
  background: linear-gradient(to bottom, #1e113b 0%, #382a70 50%, #180f28 100%);
  background: -moz-linear-gradient(top, #1e113b 5%, #382a70 50%, #180f28 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e113b', endColorstr='#180f28', GradientType=0);
}
.shop-deals .deal-blue-gradiant {
  padding: 45px 0 26px;
}
.shop-deals .deal-blue-gradiant h3 {
  font-size: 53px;
  color: #FFFFFF;
  line-height: 50px;
  letter-spacing: -1px;
}
.shop-deals .deal-blue-gradiant h4 {
  font-size: 49px;
  color: #fa9d07;
  font-family: "HelveticaNeueW01-95Blac";
  letter-spacing: -2px;
}
.shop-deals .deal-blue-gradiant h4 sup {
  font-size: 28px;
}
.shop-deals .deal-blue-gradiant span a {
  color: #FFFFFF;
  font-size: 12px;
}
.shop-deals .deal-mob-bg {
  background: url(../images/sd-mob.jpg) repeat-x;
  padding: 44px 0 22px;
}
.shop-deals .deal-mob-bg h2 {
  font-size: 44px;
  color: #fa9d07;
  font-family: "HelveticaNeueW01-95Blac";
  line-height: 42px;
}
.shop-deals .deal-mob-bg h2 span {
  font-size: 51px;
}
.shop-deals .deal-mob-bg h3 {
  font-size: 13px;
  color: #333092;
}
.shop-deals .deal-mob-bg h3 span {
  font-family: "HelveticaNeueW01-95Blac";
}
.shop-deals .deal-maxic-texture {
  background: url(../../../../../content/dam/mpcs/images/banner/sd-maxic.jpg) repeat-x;
  padding: 35px 0 24px;
}
.shop-deals .deal-maxic-texture .maxic-map {
  background: url(../../../../../content/dam/mpcs/images/banner/deals-map.png) no-repeat;
  width: 191px;
  margin: 0 auto;
  padding: 43px 0 0;
}
.shop-deals .deal-maxic-texture h2 {
  font-size: 38px;
  color: #fa9d07;
  font-family: "HelveticaNeueW01-95Blac";
  line-height: 26px;
}
.shop-deals .deal-maxic-texture h2 span {
  font-size: 26px;
}
.shop-deals .deal-maxic-texture h2 span sup {
  font-size: 11px;
  top: -10px;
}
.shop-deals .deal-blue-gradiant2 {
  padding: 43px 0 28px;
}
.shop-deals .deal-blue-gradiant2 h2 {
  font-size: 78px;
  color: #fa9d07;
  font-family: "HelveticaNeueW01-95Blac";
  line-height: 57px;
}
.shop-deals .deal-blue-gradiant2 h2 sup {
  font-size: 43px;
}
.shop-deals .deal-blue-gradiant2 h3 {
  font-size: 24px;
  color: #FFFFFF;
  line-height: 22px;
}
.shop-deals .deal-blue-gradiant2 h3 span {
  font-family: "HelveticaNeueW01-95Blac";
  font-size: 18px;
}
.shop-deals .deal-blue-gradiant2 span a {
  color: #FFFFFF;
  font-size: 12px;
}
.shop-deals .deal-blue-gradiant2 .nd-learn {
  padding-top: 2px;
  display: inline-block;
}
.shop-deals span a:hover {
  color: #F89C29;
}
.shop-deals .mob-learn {
  color: #333092;
  font-size: 12px;
  display: inline-block;
  padding-top: 6px;
}
.shop-deals .sd-aside .dprod-wrap {
    margin: 49px auto 0;
    position: relative;
    width: 320px;
}
.shop-deals .sd-aside .dprod-wrap .dprod-img {
    max-width: 100%;
    padding: 0;
}
.shop-deals .sd-aside .dprod-wrap span {
    bottom: 34px;
    color: #333092;
    font-family: "HelveticaNeueW01-77BdCn_692722";
    font-size: 12px;
    position: absolute;
    right: 12%;
}
/* shop deals end */

/* Added missing variables Starts */
/*Add radio color*/
#megamenu .menuContent .container.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(6) {
  left: 66.66666666666666%;
  z-index: 16;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(6) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(6):hover {
  left: 66.66666666666666%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(5) {
  left: 53.333333333333336%;
  z-index: 15;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(5) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(5):hover {
  left: 53.333333333333336%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(4) {
  left: 40%;
  z-index: 14;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(4) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(4):hover {
  left: 40%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(3) {
  left: 26.666666666666668%;
  z-index: 13;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(3) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(3):hover {
  left: 26.666666666666668%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(2) {
  left: 13.333333333333334%;
  z-index: 12;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(2) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(2):hover {
  left: 13.333333333333334%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(1) {
  left: 0%;
  z-index: 11;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(1) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:nth-child(1):hover {
  left: 0%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:hover ~ .slide-item:nth-child(6) {
  left: 86.66666666666667% !important;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:hover ~ .slide-item:nth-child(5) {
  left: 73.33333333333333% !important;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:hover ~ .slide-item:nth-child(4) {
  left: 60% !important;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:hover ~ .slide-item:nth-child(3) {
  left: 46.666666666666664% !important;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:hover ~ .slide-item:nth-child(2) {
  left: 33.33333333333333% !important;
}
#megamenu .menuContent .container.slider .display-slider-6 .slide-item:hover ~ .slide-item:nth-child(1) {
  left: 20% !important;
}
#megamenu .menuContent .container.slider .display-slider-6.isActive > .slide-item:nth-child(6) {
  left: 66.66666666666666%;
}
#megamenu .menuContent .container.slider .display-slider-6.isActive > .slide-item:nth-child(5) {
  left: 53.333333333333336%;
}
#megamenu .menuContent .container.slider .display-slider-6.isActive > .slide-item:nth-child(4) {
  left: 40%;
}
#megamenu .menuContent .container.slider .display-slider-6.isActive > .slide-item:nth-child(3) {
  left: 26.666666666666668%;
}
#megamenu .menuContent .container.slider .display-slider-6.isActive > .slide-item:nth-child(2) {
  left: 13.333333333333334%;
}
#megamenu .menuContent .container.slider .display-slider-6.isActive > .slide-item:nth-child(1) {
  left: 0%;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(5) {
  left: 66.66666666666666%;
  z-index: 15;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(5) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(5):hover {
  left: 66.66666666666666%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(4) {
  left: 50%;
  z-index: 14;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(4) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(4):hover {
  left: 50%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(3) {
  left: 33.33333333333333%;
  z-index: 13;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(3) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(3):hover {
  left: 33.33333333333333%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(2) {
  left: 16.666666666666664%;
  z-index: 12;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(2) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(2):hover {
  left: 16.666666666666664%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(1) {
  left: 0%;
  z-index: 11;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(1) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:nth-child(1):hover {
  left: 0%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:hover ~ .slide-item:nth-child(5) {
  left: 83.33333333333334% !important;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:hover ~ .slide-item:nth-child(4) {
  left: 66.66666666666666% !important;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:hover ~ .slide-item:nth-child(3) {
  left: 50% !important;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:hover ~ .slide-item:nth-child(2) {
  left: 33.33333333333333% !important;
}
#megamenu .menuContent .container.slider .display-slider-5 .slide-item:hover ~ .slide-item:nth-child(1) {
  left: 16.666666666666664% !important;
}
#megamenu .menuContent .container.slider .display-slider-5.isActive > .slide-item:nth-child(5) {
  left: 66.66666666666666%;
}
#megamenu .menuContent .container.slider .display-slider-5.isActive > .slide-item:nth-child(4) {
  left: 50%;
}
#megamenu .menuContent .container.slider .display-slider-5.isActive > .slide-item:nth-child(3) {
  left: 33.33333333333333%;
}
#megamenu .menuContent .container.slider .display-slider-5.isActive > .slide-item:nth-child(2) {
  left: 16.666666666666664%;
}
#megamenu .menuContent .container.slider .display-slider-5.isActive > .slide-item:nth-child(1) {
  left: 0%;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(4) {
  left: 65%;
  z-index: 14;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(4) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(4):hover {
  left: 65%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(3) {
  left: 43.333333333333336%;
  z-index: 13;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(3) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(3):hover {
  left: 43.333333333333336%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(2) {
  left: 21.666666666666668%;
  z-index: 12;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(2) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(2):hover {
  left: 21.666666666666668%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(1) {
  left: 0%;
  z-index: 11;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(1) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:nth-child(1):hover {
  left: 0%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:hover ~ .slide-item:nth-child(4) {
  left: 78.33333333333333% !important;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:hover ~ .slide-item:nth-child(3) {
  left: 56.666666666666664% !important;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:hover ~ .slide-item:nth-child(2) {
  left: 35% !important;
}
#megamenu .menuContent .container.slider .display-slider-4 .slide-item:hover ~ .slide-item:nth-child(1) {
  left: 13.333333333333334% !important;
}
#megamenu .menuContent .container.slider .display-slider-4.isActive > .slide-item:nth-child(4) {
  left: 65%;
}
#megamenu .menuContent .container.slider .display-slider-4.isActive > .slide-item:nth-child(3) {
  left: 43.333333333333336%;
}
#megamenu .menuContent .container.slider .display-slider-4.isActive > .slide-item:nth-child(2) {
  left: 21.666666666666668%;
}
#megamenu .menuContent .container.slider .display-slider-4.isActive > .slide-item:nth-child(1) {
  left: 0%;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:nth-child(3) {
  left: 60%;
  z-index: 13;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:nth-child(3) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:nth-child(3):hover {
  left: 60%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:nth-child(2) {
  left: 30%;
  z-index: 12;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:nth-child(2) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:nth-child(2):hover {
  left: 30%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:nth-child(1) {
  left: 0%;
  z-index: 11;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:nth-child(1) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:nth-child(1):hover {
  left: 0%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:hover ~ .slide-item:nth-child(3) {
  left: 70% !important;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:hover ~ .slide-item:nth-child(2) {
  left: 40% !important;
}
#megamenu .menuContent .container.slider .display-slider-3 .slide-item:hover ~ .slide-item:nth-child(1) {
  left: 10% !important;
}
#megamenu .menuContent .container.slider .display-slider-3.isActive > .slide-item:nth-child(3) {
  left: 60%;
}
#megamenu .menuContent .container.slider .display-slider-3.isActive > .slide-item:nth-child(2) {
  left: 30%;
}
#megamenu .menuContent .container.slider .display-slider-3.isActive > .slide-item:nth-child(1) {
  left: 0%;
}
#megamenu .menuContent .container.slider .display-slider-2 .slide-item:nth-child(2) {
  left: 46.666666666666664%;
  z-index: 12;
}
#megamenu .menuContent .container.slider .display-slider-2 .slide-item:nth-child(2) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-2 .slide-item:nth-child(2):hover {
  left: 46.666666666666664%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-2 .slide-item:nth-child(1) {
  left: 0%;
  z-index: 11;
}
#megamenu .menuContent .container.slider .display-slider-2 .slide-item:nth-child(1) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-2 .slide-item:nth-child(1):hover {
  left: 0%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-2 .slide-item:hover ~ .slide-item:nth-child(2) {
  left: 53.333333333333336% !important;
}
#megamenu .menuContent .container.slider .display-slider-2 .slide-item:hover ~ .slide-item:nth-child(1) {
  left: 6.666666666666667% !important;
}
#megamenu .menuContent .container.slider .display-slider-2.isActive > .slide-item:nth-child(2) {
  left: 46.666666666666664%;
}
#megamenu .menuContent .container.slider .display-slider-2.isActive > .slide-item:nth-child(1) {
  left: 0%;
}
#megamenu .menuContent .container.slider .display-slider-1 .slide-item:nth-child(1) {
  left: 0%;
  z-index: 11;
}
#megamenu .menuContent .container.slider .display-slider-1 .slide-item:nth-child(1) .title {
  width: 50%;
}
#megamenu .menuContent .container.slider .display-slider-1 .slide-item:nth-child(1):hover {
  left: 0%;
  cursor: pointer;
}
#megamenu .menuContent .container.slider .display-slider-1 .slide-item:hover ~ .slide-item:nth-child(1) {
  left: 3.3333333333333335% !important;
}
#megamenu .menuContent .container.slider .display-slider-1.isActive > .slide-item:nth-child(1) {
  left: 0%;
}
#megamenu .menuContent .container.slider .slide-item {
    background-color: #f4f4f4;
    box-shadow: -2px -2px 25px 1px rgba(0,0,0,.3);
    height: 455px;
    padding: 10px;
    position: absolute;
    top: 0;
    transition: all 0.4s ease 0s;
    width: 205px;
}
#megamenu .menuContent .container.slider .slide-item img {
	position: relative;
	top: 60px;
 }
#megamenu .menuContent .container.slider .slide-item .title {
    font-size: 14px;
    text-transform: capitalize;
    position: absolute;
    top: 20px;
}
#megamenu .menuContent .container.slider .slide-item .phone-display {
    height: 400px;
}
#megamenu .menuContent .container button {
  z-index: 20;
  border-radius: 0;
}
#megamenu .menuContent .container .banner-bold-text {
  font-family: "HelveticaNeueW01-95Blac";
}
#megamenu .menuContent .container .phone-aside {
  background: url(../images/megamenuBg.png) repeat-x;
  height: 412px;
}
#megamenu .menuContent .container .phone-aside .phone-mob-wrap {
  width: 227px;
  margin: 20px auto 0;
}
#megamenu .menuContent .container .phone-aside .phone-mob-wrap h2 {
  font-size: 42px;
  color: #fa9d07;
  font-family: "HelveticaNeueW01-95Blac";
  line-height: 42px;
}
#megamenu .menuContent .container .phone-aside .phone-mob-wrap h2 span {
  font-size: 47px;
}
#megamenu .menuContent .container .phone-aside .phone-mob-wrap h3 {
  font-size: 12px;
  color: #333092;
}
#megamenu .menuContent .container .phone-aside .phone-mob-wrap h3 span {
  font-family: "HelveticaNeueW01-95Blac";
}
#megamenu .menuContent .container .phone-aside .phone-mob-wrap .mob-learn {
  font-family: "HelveticaNeueW01-77BdCn_692722";
  font-size: 12px;
}

.overflowhidden	{
overflow: hidden;
position: relative;
width: 100%;

}

/* shop plan start */
.plans-bg {
  background-image: url("../../../../../content/dam/mpcs/images/banner/Plans/plans-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bg-line-box {
  background-image: url("../../../../../content/dam/mpcs/images/banner/Plans/bg-line-box.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.grad-blue-black {
  background: #2e225e;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#130f1a, #352666, #130f1a);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#130f1a, #352666, #130f1a);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#130f1a, #352666, #130f1a);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#130f1a, #352666, #130f1a);
  /* Standard syntax */
}
.hybrid .orange-shop {
  color: #f99d2b;
}
.h-405 {
  height: 405px;
}
.p-t-80 {
  padding-top: 80px;
}
.font-bold-cn {
  font-family: "HelveticaNeueW01-77BdCn_692722";
}
.hybrid .fnt-17 {
  font-size: 17px;
}
.hybrid .font-bold {
  font-family: "HelveticaNeueW01-75Bold";
}
.hybrid .fnt-22 {
  font-size: 22px;
}
.hybrid .fnt-12 {
  font-size: 12px;
}
.hybrid .fnt-15 {
  font-size: 15px;
}
.hybrid .fnt-8 {
  font-size: 8px;
}
.hybrid .gray-lt {
  color: #cccccc;
}
.p-lr-90-50 {
  padding: 0 90px;
}
@media screen and (min-width: 320px) and (max-width: 979px) {
  .p-lr-90-50 {
    padding: 0 50px;
  }
}
.grad-blue-black h3 {
  font-size: 61px;
  color: #FFFFFF;
  line-height: 50px;
  letter-spacing: -1px;
}
.grad-blue-black h4 {
  font-size: 49px;
  color: #fa9d07;
  font-family: "HelveticaNeueW01-95Blac";
  letter-spacing: -2px;
}
.grad-blue-black h4 sup {
  font-size: 28px;
}
.h-453 {
  height: 453px;
}
/* shop plan start */

.h-460 {
	height: 460px;
}
.h-412 {
	height: 412px;
}


