/* ======================================================================== */
/* ! Colors
/* ======================================================================== */
.aqua {
	color: #30b4cb;
}
.tomato {
	color: #fd6740;
}
.turquoise {
	color: #24afaa;
}
.white,
.colored strong,
.colored .bold {
	color: #f3f6f8;
}
.bg-aqua {
	background: #30b4cb;
	color: #fff;
}
.bg-tomato {
	background: #fd6740;
	color: #fff;
}
.bg-white {
	background: #f3f6f8;
}
.bg-ultrawhite {
	background: #fff;
}
/* ======================================================================== */
/* ! Turquoise
/* ======================================================================== */
.page-turquoise .bg-turquoise,
.page-turquoise .nav-list > .active > a, 
.page-turquoise .nav-list > .active > a:hover, 
.page-turquoise .nav-list > .active > a:focus,
.page-turquoise .dropdown-menu > li > a:hover, 
.page-turquoise .dropdown-menu > li > a:focus, 
.page-turquoise .dropdown-submenu:hover > a, 
.page-turquoise .dropdown-submenu:focus > a,
.page-turquoise .nav-pills > .active > a, 
.page-turquoise .nav-pills > .active > a:hover, 
.page-turquoise .nav-pills > .active > a:focus,
.page-turquoise .nav-tabs.nav-stacked > li > a:hover, 
.page-turquoise .nav-tabs.nav-stacked > li > a:focus,
.page-turquoise .navbar .nav > .active > a, 
.page-turquoise .navbar .nav > .active > a:hover, 
.page-turquoise .navbar .nav > .active > a:focus,
.page-turquoise .navbar .nav > li > a:focus, 
.page-turquoise .navbar .nav > li > a:hover,
.page-turquoise .pricing-table.focus {
	background: #24afaa;
	color: #fff;
	text-shadow: none;
}

/* ======================================================================== */
/* ! Aqua
/* ======================================================================== */
.page-aqua .bg-turquoise,
.page-aqua .nav-list > .active > a, 
.page-aqua .nav-list > .active > a:hover, 
.page-aqua .nav-list > .active > a:focus,
.page-aqua .dropdown-menu > li > a:hover, 
.page-aqua .dropdown-menu > li > a:focus, 
.page-aqua .dropdown-submenu:hover > a, 
.page-aqua .dropdown-submenu:focus > a,
.page-aqua .nav-pills > .active > a, 
.page-aqua .nav-pills > .active > a:hover, 
.page-aqua .nav-pills > .active > a:focus,
.page-aqua .nav-tabs.nav-stacked > li > a:hover, 
.page-aqua .nav-tabs.nav-stacked > li > a:focus,
.page-aqua .navbar .nav > .active > a, 
.page-aqua .navbar .nav > .active > a:hover, 
.page-aqua .navbar .nav > .active > a:focus,
.page-aqua .navbar .nav > li > a:focus, 
.page-aqua .navbar .nav > li > a:hover,
.page-aqua .pricing-table.focus {
	background: #30b4cb;
	color: #fff;
	text-shadow: none;
}

/* ======================================================================== */
/* ! Dark
/* ======================================================================== */
.page-dark .bg-turquoise,
.page-dark .nav-list > .active > a, 
.page-dark .nav-list > .active > a:hover, 
.page-dark .nav-list > .active > a:focus,
.page-dark .dropdown-menu > li > a:hover, 
.page-dark .dropdown-menu > li > a:focus, 
.page-dark .dropdown-submenu:hover > a, 
.page-dark .dropdown-submenu:focus > a,
.page-dark .nav-pills > .active > a, 
.page-dark .nav-pills > .active > a:hover, 
.page-dark .nav-pills > .active > a:focus,
.page-dark .nav-tabs.nav-stacked > li > a:hover, 
.page-dark .nav-tabs.nav-stacked > li > a:focus,
.page-dark .navbar .nav > .active > a, 
.page-dark .navbar .nav > .active > a:hover, 
.page-dark .navbar .nav > .active > a:focus,
.page-dark .navbar .nav > li > a:focus, 
.page-dark .navbar .nav > li > a:hover,
.page-dark .pricing-table.focus {
	background: #222a31;
	color: #fff;
	text-shadow: none;
}
/* ======================================================================== */
/* ! Emerald
/* ======================================================================== */
.page-emerald .bg-turquoise,
.page-emerald .nav-list > .active > a, 
.page-emerald .nav-list > .active > a:hover, 
.page-emerald .nav-list > .active > a:focus,
.page-emerald .dropdown-menu > li > a:hover, 
.page-emerald .dropdown-menu > li > a:focus, 
.page-emerald .dropdown-submenu:hover > a, 
.page-emerald .dropdown-submenu:focus > a,
.page-emerald .nav-pills > .active > a, 
.page-emerald .nav-pills > .active > a:hover, 
.page-emerald .nav-pills > .active > a:focus,
.page-emerald .nav-tabs.nav-stacked > li > a:hover, 
.page-emerald .nav-tabs.nav-stacked > li > a:focus,
.page-emerald .navbar .nav > .active > a, 
.page-emerald .navbar .nav > .active > a:hover, 
.page-emerald .navbar .nav > .active > a:focus,
.page-emerald .navbar .nav > li > a:focus, 
.page-emerald .navbar .nav > li > a:hover,
.page-emerald .pricing-table.focus {
	background: #50BB57;
	color: #fff;
	text-shadow: none;
}