@media (min-width: 1200px) {
    .span2-5 {
        width: 240px;
    }
}

/* Large desktop */
@media (max-width: 1200px) {
    .preappaccount, .preappdomains, .preapp{
        width: 330px;
    }

    li.pricing-table {
        margin-left: 52px;
    }

    .price {
        font-size: 34px !important;
    }
    .decimal {
        font-size: 20px !important;
    }

    .container{
        /* max-width: 85%;*/
    }
    .jcarousel-wrapper {
        width: 850px;
    }
    .jcarousel {
        width: 800px;
    }
    .jcarousel li{
        width: 210px;
    }
    .image-promo{
        margin-top: 12px;    
    }
    .span2-5 {
        width: 188px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .span2-5 {
        width: 142px;
    }
    h2 { font: 100 46px/52px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    h3 { font: 100 24px/28px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    h4 { font: 100 24px/28px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    h5 { font: 100 14px/24px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    h6 { font: 100 14px/20px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    body {
        padding: 0;
    }
    .preappaccount, .preappdomains, .preapp{
        width: 124px;
        font-size:1em;
    }
    .leftBuffer{
        margin-top: 1em;
    }
    .preappaccount h4, .preappdomains h4, .preapp h4{
        font-size:1em;
    }
    .preappaccount .fa.fa-rocket, .preappdomains .fa.fa-rocket, .preapp .fa.fa-rocket{
        color:#018B00;
    }
    li.pricing-table {
        margin-left: 44px;
    }
    .price {
        font-size: 28px !important;
    }
    .decimal {
        font-size: 16px !important;
    }

    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-fixed-top, 
    .navbar-fixed-bottom, 
    .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar .brand {
        padding: 10px 10px 0;
    }
    .navbar .nav > li > a {
        padding: 10px;
        border-top: 1px solid #f6f6f6;
    }
    .nav-collapse .nav > li > a {
        margin-bottom: 0px;
    }
    .navbar .nav > li > a.yappi {
        padding: 10px;
        background-color: #2AFD9F;
        text-shadow: none;
        text-align: left;
    }
    .nav-collapse .nav {
        margin: 0;
    }
    .navbar .btn-navbar {
        background-image: none;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-left: 1px solid #eee;
        border-radius: 0;
        -webkit-border-radius: 0;
        padding: 20px;
        margin: 0;
    }
    .navbar .btn-navbar .icon-bar {
        background-color: #000;
    }
    .navbar-fixed-top .navbar-inner, 
    .navbar-fixed-bottom .navbar-inner {
        padding: 0;
    }
    .carousel-control {
        display: none !important;
    }
    .price {
        font-size: 50px;
    }
    .decimal {
        font-size: 28px;
    }
    .icon-3x {
        font-size: 2em;	
    }
    .icon-4x,
    .icon-5x {
        font-size: 3em;	
    }
    .main-title h2 {
        font-size: 44px;
        margin: 0 0 10px;
    }
    .home {
        background-size: 770px auto;
        min-height: 580px;
        padding-top: 0;
    }
    #back {
/*        left: -510px;*/
        z-index: -1;
    }
    .anchor {
        position: absolute;
        top: 0;
    }
    .jcarousel-wrapper {
        width: 650px;
    }
    .jcarousel {
        width: 600px;
        height: 275px;
    }
    .jcarousel li{
        width: 140px;
    }
    .jcarousel-control-prev, .jcarousel-control-next{
        top:153px;
    }
    .image-promo{
        margin-top: 83px;    
    }     
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .span2-5 {
        width: 100%;
    }
    body {
        padding: 0;
    }
    .preappaccount, .preappdomains, .preapp{
        width: 100%;
    }
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    .home {
        padding-top: 0;
        background-size: 590px auto;
        min-height: 560px;
    }
    .navbar-fixed-top, 
    .navbar-fixed-bottom, 
    .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar .brand {
        padding: 10px 10px 0;
    }
    .navbar .nav > li > a {
        padding: 10px;
        border-top: 1px solid #f6f6f6;
    }
    .nav-collapse .nav > li > a {
        margin-bottom: 0px;
    }
    .navbar .nav > li > a.yappi {
        padding: 10px;
        background-color: #2AFD9F;
        text-shadow: none;
        text-align: left;
    }
    .nav-collapse .nav {
        margin: 0;
    }
    .navbar .btn-navbar {
        background-image: none;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-left: 1px solid #eee;
        border-radius: 0;
        -webkit-border-radius: 0;
        padding: 20px;
        margin: 0;
    }
    .navbar .btn-navbar .icon-bar {
        background-color: #000;
    }
    .navbar-fixed-top .navbar-inner, 
    .navbar-fixed-bottom .navbar-inner {
        padding: 0;
    }
    .tab-content {
        text-align: center;
    }
    .row-fluid [class*="span"].bordered {
        display: inline-block !important;
        width: auto;
    }
    .pricing-table {
        margin-bottom: 20px;
    }
    .focus {
        margin-top: 0;
    }
    .focus .pricing-price {
        padding: 40px 0;
    }
    .carousel-control,
    .arrow {
        display: none !important;
    }
    #back {
/*        top: -1050px;
        left: -610px;*/
        z-index: -1;
    }
    .team {
        padding: 10px 0;
        margin: 0 0 20px;
        border-bottom: 1px solid rgba(255,255,255,.2);
    }
    li.pricing-table {
        margin-left: 0;
    }

    .price {
        font-size: 45px !important;
    }
    .decimal {
        font-size: 24px !important;
    }
    .jcarousel-wrapper {
        width: 310px;
    }
    .jcarousel {
        width: 290px;
        height: 200px;
    }
    .jcarousel li{
        width: 75px;
    }
    .jcarousel-wrapper {
        margin: 100px auto;
    }
    .jcarousel-control-prev, .jcarousel-control-next{
        top: 7px;
    }
    .main-title h2, .h2-promo {
        font: 100 27px/43px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; 
        margin: 0 0 10px;
    }
    .wrapper.footerleft{
        text-align: left;        
    }
    .footerleft .span4 {
        display: flex;
        margin: 0 0 22px;
        text-align: left;
    } 
    .image-promo{
        margin-top: 48px; 
        margin-bottom: 21px;
    }    
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        padding: 0;
    }
    .main-title h2, .h2-promo { font: 100 29px/27px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    h2 { font: 100 36px/40px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    h3, .main-title h3 { font: 100 20px/24px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    h4 { font: 100 20px/24px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    h5 { font: 100 14px/18px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    h6 { font: 100 14px/18px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
    #back {
/*        top: -1150px;
        left: -730px;*/
        z-index: -1;
    }
    .home {
        background-size: 310px auto;
        min-height: 500px;
    }
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    .main-title {
        margin: 0 0 50px;
    }
    blockquote {
        text-align: left;
    }
    footer {
        text-align: center;
    }
    footer ul.inline > li, 
    footer ol.inline > li,
    footer .copyright {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    .btn {
        display: inline-table;
        margin-bottom: 10px;
    }
    .team {
        padding: 10px 0;
        margin: 0 0 20px;
        border-bottom: 1px solid rgba(255,255,255,.2);
    }
    .pricing-table {
        margin-bottom: 20px;
    }
    .focus {
        margin-top: 0;
    }
    .focus .pricing-price {
        padding: 40px 0;
    }
    .carousel-control,
    .arrow {
        display: none !important;
    }
    .navbar-fixed-top, 
    .navbar-fixed-bottom, 
    .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar .brand {
        padding: 10px 10px 0;
    }
    .navbar .nav > li > a {
        padding: 10px;
        border-top: 1px solid #f6f6f6;
    }
    .nav-collapse .nav > li > a {
        margin-bottom: 0px;
    }
    .navbar .nav > li > a.yappi {
        padding: 10px;
        background-color: #2AFD9F;
        text-shadow: none;
        text-align: left;
    }
    .nav-collapse .nav {
        margin: 0;
    }
    .navbar .btn-navbar {
        background-image: none;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-left: 1px solid #eee;
        border-radius: 0;
        -webkit-border-radius: 0;
        padding: 20px;
        margin: 0;
    }
    .navbar .btn-navbar .icon-bar {
        background-color: #000;
    }
    .navbar-fixed-top .navbar-inner, 
    .navbar-fixed-bottom .navbar-inner {
        padding: 0;
    }
    .anchor {
        top: 0;
    }

}


















