/* Css */
/* ======================================================================== */
/* ! Font
/* ======================================================================== */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'ProximaNova';
    src: url('../font/ProximaNova-Regular.eot');
    src: url('../font/ProximaNova-Regular-.eot#iefix') format('eot'), 
        url('../font/ProximaNova-Regular.woff') format('woff'), 
        url('../font/ProximaNova-Regular.ttf') format('truetype'), 
        url('../font/ProximaNova-Regular.svg') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'ProximaNova-Semibold';
    src: url('../font/ProximaNova-Semibold.eot');
    src: url('../font/ProximaNova-Semibold-.eot#iefix') format('eot'), 
        url('../font/ProximaNova-Semibold.woff') format('woff'), 
        url('https://favethemes.com/demo/landlr/font/ProximaNova-Semibold.ttf') format('truetype'),
        url('../font/ProximaNova-Semibold.svg') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'ProximaNova-Bold';
    src: url('../font/ProximaNova-Bold.eot');
    src: url('../font/ProximaNova-Bold-.eot#iefix') format('eot'), 
        url('../font/ProximaNova-Bold.woff') format('woff'), 
        url('../font/ProximaNova-Bold.ttf') format('truetype'), 
        url('../font/ProximaNova-Bold.svg') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../font/proximanova-light-webfont.eot');
    src: url('../font/proximanova-light-webfont-.eot#iefix') format('embedded-opentype'),
        url('../font/proximanova-light-webfont.woff') format('woff'),
        url('../font/proximanova-light-webfont.ttf') format('truetype'),
        url('../font/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ======================================================================== */
/* ! Buttons
/* ======================================================================== */
.btn {
    border: none;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    font-family: 'ProximaNova-Semibold';
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn:hover,
.btn:active {
    text-decoration: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    color: #fff;
}
.btn-large,
.btn-small,
.btn-mini {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.btn-large {
    padding: 15px 50px;
}
.btn-large.various{
    padding: 11px 50px !important;
}
.btn-tomato,
.btn-tomato:focus, 
.btn-tomato:active,
.btn-tomato.active, 
.btn-tomato.disabled, 
.btn-tomato[disabled] {
    background: #43b34d none;
    color: #fff;
}
.btn-tomato:hover,
.btn-tomato-dark:hover {
    background: #007d42 none;
}
.btn-turquoise,
.btn-turquoise:focus, 
.btn-turquoise:active,
.btn-turquoise.active, 
.btn-turquoise.disabled, 
.btn-turquoise[disabled] {
    background: #24afaa none;
    color: #fff;
}
.btn-turquoise:hover {
    background: #3EC9C4 none;
}
.btn-transparent,
.btn-transparent:focus, 
.btn-transparent:active,
.btn-transparent.active, 
.btn-transparent.disabled, 
.btn-transparent[disabled] {
    background: #6a6b6f none;
    /*-webkit-box-shadow: inset 0px 0px 0px 2px #fff;
    -moz-box-shadow: inset 0px 0px 0px 2px #fff;
    box-shadow: inset 0px 0px 0px 2px #fff;*/
    color: #fff;
}
.btn-transparent:hover {
    background: rgba(255,255,255,.5) none;
}

.btn-orange,
.btn-orange:focus, 
.btn-orange:active,
.btn-orange.active, 
.btn-orange.disabled, 
.btn-orange[disabled] {
    background: #fd6740 none;
    -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
    -moz-box-shadow: inset 0px 0px 0px 2px #fff;
    box-shadow: inset 0px 0px 0px 2px #fff;
    color: #fff;
}
.btn-orange:hover,
.btn-orange-dark:hover {
    background: #1E9C21 none;
}
.btn.btn-large.iframe img{
    max-width: 39px;
}
/* ======================================================================== */
/* ! Margins
/* ======================================================================== */
.mar-t10 { margin-top: 10px; }
.mar-t20 { margin-top: 20px; }
.mar-t30 { margin-top: 30px; }
.mar-t40 { margin-top: 40px; }
.mar-t50 { margin-top: 50px; }
.mar-t60 { margin-top: 60px; }
.mar-b10 { margin-bottom: 10px; }
.mar-b20 { margin-bottom: 20px; }
.mar-b30 { margin-bottom: 30px; }
.mar-b40 { margin-bottom: 40px; }
.mar-b50 { margin-bottom: 50px; }
.mar-b60 { margin-bottom: 60px; }
/* ======================================================================== */
/* ! General
/* ======================================================================== */
body {
    font: 15px/20px "ProximaNova", Arial, Helvetica, Geneva, sans-serif;
    color: #222a31;
    padding-top: 80px;
}
a {
    color: #fff;
}
a:hover {
    color: #50bfbb;
    text-decoration: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.colored a {
    color: #fff;
}
.colored a:hover {
    color: rgba(255,255,255,.5);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.bold,
strong {
    font-family: 'ProximaNova-Semibold';
}
.light {
    font-family: 'ProximaNova-Light';
}
.uppercase {
    text-transform: uppercase;
}
.page-emerald .wrapper.bg-turquoise,
.page-emerald .wrapper.bg-white ,
.page-emerald .wrapper.bg-ultrawhite {
    top: -20px;
}
.wrapper {
    min-height: 630px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 60px 0;
}
.mini-wrapper {
    min-height: 310px;
    position: relative;
    padding: 60px 0 10px;
}
.anchor {
    position: absolute;
    top: -80px;
}
.bordered {
    border: 5px solid #fff;
    display: inline-block;
}
.full-rounded {
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -ms-border-radius: 1000px;
}
header,
section,
footer {
    z-index: 2;
}
/* ======================================================================== */
/* ! Typography
/* ======================================================================== */
h1, h2, h3, h4, h5, h6, p { margin: 0 0 20px; letter-spacing: 0; }
h2 { font: 100 52px/52px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
h3 { font: 100 24px/30px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
h3 { font: 100 24px/30px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
h4 { font: 100 30px/36px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
h5 { font: 100 18px/24px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
h6 { font: 100 14px/20px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; }
.colored p, .colored ul { color: rgba(255,255,255,.7); }
p, ul { color: #404042; }
/* ======================================================================== */
/* ! Nav
/* ======================================================================== */
.navbar .brand {
    color: #222a31;
    padding: 5px 15px 0;
    font-size: 30px;
}
.nav {
    font: normal 20px/20px "ProximaNova-Semibold", Arial, Helvetica, Geneva, sans-serif;
    text-shadow: none;	
}
.navbar-inner {
    background: #fff;
    background-image: none;
}
.navbar .nav > li > a {
    color: #222a31;
    padding: 55px 20px 5px;
}
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover {
    text-shadow: none;
}
.navbar .nav > li > a.yappi {
    background-color: #2AFD9F;
    text-shadow: none;
    padding-top: 35px;
    text-align: center;
}
.navbar .nav > li > a.yappi img{
    width: 18px;
    margin: -5px 5px 0px 0px;
}
.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}
/* ======================================================================== */
/* ! Row1
/* ======================================================================== */
.main-title {
    margin: 20px auto 40px;
}
.main-title h1 {
    font-size: 48px;
    margin: 0 0 10px;
}
.main-title a, .main-title a:hover, .main-title a:active, .main-title a:visited{
    text-decoration: none;
}
.main-title h1 span.iphonemsg {
    font-size: 27px;
}
.main-title h3 {
    font-size: 30px;
}
.main-title a{
    color: #fff;
}
.main-title a:hover{
    color: #fd6740;
}
/* ======================================================================== */
/* ! Pricing table
/* ======================================================================== */
.pricing-table {
    -webkit-box-shadow: inset 0 0 0 1px #ebebeb;
    -moz-box-shadow: inset 0 0 0 1px #ebebeb;
    box-shadow: inset 0 0 0 1px #ebebeb;
    padding: 30px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}
.pricing-table:hover {
    top: -10px;
    position: relative;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    cursor: pointer;
    background: #2ecc71;
    color:#fff;
}
.pricing-table h4 {
    padding: 0 0 30px;
    margin: 0 0 30px;
    border-bottom: 1px solid #ebebeb;
}

li.pricing-table  {
    margin-left: 60px;
}

.pricing-action .bg-tomato {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    display: block;
    padding: 20px 0;
    font-size: 16px;
}
.pricing-action .bg-tomato:hover {
    background: #ff805f none;
    color: #fff;
    text-decoration: none;
}
.pricing-list ul li:first-child .price {
    font-size: 45px;
}
.price {
    font-size: 37px;
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    line-height: 32px !important;
}
.price-standard {
    font-size: 65px;
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
}
.decimal {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 24px;
}
.pricing-price {
    padding: 40px 0;
    position: relative;
}
.pricing-features {
    padding: 0 10px 40px;
}
.focus {
    margin-top: -30px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.focus .pricing-price {
    padding: 70px 0;
}
.focus .bg-tomato {
    background: rgba(255,255,255,.2);
}
.focus .pricing-features {
    color: #fff;
}
/* ======================================================================== */
/* ! Tabs
/* ======================================================================== */
.colored .nav-tabs.nav-stacked > li > a {
    border: 1px solid #fff;
    font: 100 18px/36px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif !important;
    padding: 10px 20px;
}
.colored .nav-tabs > .active > a, 
.colored .nav-tabs > .active > a:hover, 
.colored .nav-tabs > .active > a:focus {
    background: rgba(255,255,255,.8);
    color: #fff;
}
.colored .nav-tabs.nav-stacked > li > a:hover, 
.colored .nav-tabs.nav-stacked > li > a:focus {
    border: 1px solid #fff;
    background: rgba(255,255,255,.5);
    color: #fff;
}
.nav-tabs.nav-stacked > li:first-child > a {
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px; 
}
.nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
}
.tab-pane h4 { 
    font: 100 24px/30px "ProximaNova-Light", Arial, Helvetica, Geneva, sans-serif; 
}
/* ======================================================================== */
/* ! Testimonial
/* ======================================================================== */
#testimonial-slider .thumbnail {
    display: inline-block;
    margin: 0 auto 10px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    position: relative;
    box-shadow: none;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
}
.carousel-indicators {
    position: relative;
    right: auto;
    left: auto;
    top: 0;
    text-align: center;
}
.carousel-indicators li {
    text-indent: 0;
    height: auto;
    cursor: pointer;
    background: none;
    opacity: 0.5;
}
.carousel-indicators li.active,
.carousel-indicators li:hover {
    background: none;
    opacity: 1;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner .item blockquote {
    clear: both;
    border: none;
    position: relative;
    padding: 30px 30px 30px 90px;
    border-radius: 5px;
    background: rgba(255,255,255,.2) url('../images/blockquote.png') no-repeat 22px 35px;
    font-size: 20px;
    font-style: italic;
    line-height: 25px;
}
.carousel-indicators li.active .arrow,
.carousel-indicators li.active:hover .arrow {
    width: 0;
    height: 0;
    margin: 10px auto 0;
    display: block;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom-color: rgba(255,255,255,.2);
}
.carousel-indicators li .arrow,
.carousel-indicators li:hover .arrow {
    border-bottom-color: transparent;
    width: 0;
    height: 0;
    margin: 10px auto 0;
    display: block;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
.carousel-control {
    border: none;
    background: none;
    font-size: 30px;
    top: 80px;
}
.carousel-control.left {
    left: -10px;
}
.carousel-control.right {
    right: -10px;
}
/* ======================================================================== */
/* ! Footer
/* ======================================================================== */
footer * {
    margin: 0;
    padding: 0;
}
footer {
    /*	background: #222a31;*/
    color: #fff;
    padding: 20px 0;
    z-index: 99999;
}
footer a {
    color: #fff;
}
/* ======================================================================== */
/* ! Slideshow
/* ======================================================================== */
.bannercontainer {
    position:relative;
}
.banner {
    height:520px;
    position:relative;
    overflow:hidden;
}
.tp-leftarrow.round-old,
.tp-rightarrow.round-old,
.tp-bullets.simplebullets.round-old .bullet {
    background: none;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    margin: 0 10px 0 0;
}
.tp-bullets.simplebullets.round-old .bullet.selected {
    background: #fff;
}
.tparrows {
    display: none;
}
/* ======================================================================== */
/* ! Animations
/* ======================================================================== */
@keyframes animatedBackground {
    from { background-position: center 550px; }
    to { background-position: center bottom; }
}
@-webkit-keyframes animatedBackground {
    from { background-position: center 550px; }
    to { background-position: center bottom; }
}
@-ms-keyframes animatedBackground {
    from { background-position: center 550px; }
    to { background-position: center bottom; }
}
@-moz-keyframes animatedBackground {
    from { background-position: center 550px; }
    to { background-position: center bottom; }
}
.home {
    
    background-position: center bottom;
    background-repeat: no-repeat;
}

@keyframes animatedBody {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes animatedBody {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes animatedBody {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes animatedBody {
    from { opacity: 0; }
    to { opacity: 1; }
}
body {
    animation: animatedBody 1s linear;
    -ms-animation: animatedBody 1s linear;
    -moz-animation: animatedBody 1s linear;
    -webkit-animation: animatedBody 1s linear;
}
#back {
    position: fixed;
    width: 100%;
    height: 2000px;
    z-index: 1;
/*    top: -430px;
    left: -20%;*/


    background:  #333;
}

/* ======================================================================== */
/* ! Bootstrap resetting elements for flat design
/* ======================================================================== */
.btn {
    background-image: none;
}
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

#SM_DomainsModule, 
#SM_BuildModule,
#SM_AccountModule {
    margin: 0 0 40px 40px;
}

#SM_SupportModule {
    margin: 0 0 0 40px;
}
.howto {
    padding:40px 20px 0 20px;
}

.howto h4{
    font: bold 25px/31px "ProximaNova-Light",Arial,Helvetica,Geneva,sans-serif;
    margin: 0 0 0 31px;    
}
.howto .row-fluid .span11 {
    margin-top: 3%;
}

.howto .row-fluid .span2 {
    margin-left: 4%;
    width: 10.53%;
}

.loginMain, .loginMain a {
    background-color: #fd6740;
    color: #fff !important;
    text-shadow:0 0 0 #ccc !important;
}



/*
    css-plus by Jamy Golden
*/
.gallery-wrap { margin: 0 auto; overflow: hidden; width: 732px; }
.gallery { position: relative; left: 0; top: 0; }
.gallery__item { float: left; list-style: none; margin-right: 20px; }
.gallery__img { display: block; border: 4px solid #40331b; height: 175px; width: 160px; }

.gallery__controls { margin-top: 10px; }
.gallery__controls-prev { cursor: pointer; float: left; }
.gallery__controls-next { cursor: pointer; float: right; }

/*
    For clearfix information visit:
    https://nicolasgallagher.com/micro-clearfix-hack/
*/
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1;}

.app {
    background-color: #fff;
    padding-top:30px;
    min-width: 570px !important;
}
.preapp{
    position: relative;
    background-color: #1E9C21;
    font-size: 1.4em;
    margin-right: -30px;
    width: 550px;
    height: 626px;
}

.home .preapp{
    height: 586px;      
}

.preapp ul li	{
    list-style: none;
    border-bottom: dotted #fff;
    padding: 20px 0;
}

.preapp:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(30, 156, 34, 0);
    border-left-color: #1e9c22;
    border-width: 30px;
    margin-top: -30px;
}

.preapp span {
    color: #fff;
}

.preappdomains {
    position: relative;
    background-color: #1e9c22;
    font-size: 1.3em;
    margin-right: -30px;
    width: 550px;
    height: 706px;
}

.preappdomains ul li	{
    list-style: none;
    border-bottom: 1.8px dotted #fff;
    padding: 20px 0;
}

.preappdomains:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(30, 156, 34, 0);
    border-left-color: #1e9c22;
    border-width: 30px;
    margin-top: -30px;
}

.preappdomains span {
    color: #fff;
}

.preappaccount {
    position: relative;
    background-color: #1e9c22;
    font-size: 1.3em;
    margin-right: -30px;
    width: 550px;
    height: 766px;
}

.preappaccount ul li	{
    list-style: none;
    border-bottom: dotted #fff;
    padding: 20px 0;
}

.preappaccount:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(30, 156, 34, 0);
    border-left-color: #1e9c22;
    border-width: 30px;
    margin-top: -30px;
}

.preappaccount span {
    color: #fff;
}


/* Easy Slider */

#slider img {
    width:200px;
}
#slider  {
    height:200px;
}

#slider ul, #slider li,
#slider2 ul, #slider2 li{
    margin:0 ;
    padding:0;
}
#slider2{margin-top:1em;}
#slider li, #slider2 li{ 
    /* 
            define width and height of list item (slide)
            entire slider area will adjust according to the parameters provided here
    */ 
    width:500px;
    height:441px;
    overflow:hidden; 
}	
#prevBtn, #nextBtn,
#slider1next, #slider1prev{ 
    display:block;
    width:30px;
    height:77px;
    position:absolute;
    left:-30px;
    top:71px;
    z-index:1000;
}	
#nextBtn, #slider1next{ 
    left:1100px;
}														
#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a{  
    display:block;
    position:relative;
    width:30px;
    height:77px;
    background:url(../images/btn_prev.gif) no-repeat 0 0;	
}	
#nextBtn a, #slider1next a{ 
    background:url(../images/btn_next.gif) no-repeat 0 0;	
}	

/* numeric controls */	

ol#controls{
    margin:1em 0;
    padding:0;
    height:28px;	
}
ol#controls li{
    margin:0 10px 0 0; 
    padding:0;
    float:left;
    list-style:none;
    height:28px;
    line-height:28px;
}
ol#controls li a{
    float:left;
    height:28px;
    line-height:28px;
    border:1px solid #ccc;
    background:#DAF3F8;
    color:#555;
    padding:0 10px;
    text-decoration:none;
}
ol#controls li.current a{
    background:#5DC9E1;
    color:#fff;
}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

/* // Easy Slider */

/* image replacement */
.graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
    margin:0;
    padding:0;
    display:block;
    overflow:hidden;
    text-indent:-8000px;
}
/* // image replacement */


#container{	
    margin:0 auto;
    padding-top: 50px;
    position:relative;
    text-align:left;
    width:1100px;
    max-width:1100px;		
    margin-bottom:-2em;
    overflow: hidden;
    height:200px;
}	
#header{
    height:80px;
    line-height:80px;
    background:#5DC9E1;
    color:#fff;
}				
#content{
    position:relative;
    width:1100px;
}	

.leftBuffer {
    margin-top: 5em;
}	

.leftBuffer ul{
    color:#fff;
}	
.leftBuffer span {
    color:#404042;
    margin: 0 0 0 32px;
}	
.span5 img {
    margin: 0 0 1.2em 0.8em;
}

.example-twitter {
    position:relative;
    padding:15px;
    margin:25px 0 0.9em;
    color:#f3f6f8;
    background:#f3f6f8;
}

/* creates the triangle */
.example-twitter:after {
    content:"";
    position:absolute;
    top:-30px;
    left:50px;
    border:15px solid transparent;
    border-bottom-color:#f3f6f8;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}
.qoutes p {
    margin-top: 0.8em;
    font-size: 17.5px;
}

.footerleft ul{
    margin: 0 138px 0 0 !important;
}
.footerleft li {
    list-style: none;
    /*border-bottom: solid #777777;*/
    font: 13px/17px "ProximaNova",Arial,Helvetica,Geneva,sans-serif;
    border-bottom: 1px solid #514D4E;
    padding: 8px 0;
    color: #fff;
}

.footerleft h4, .footerleft p  {
    color: #fff;
}

.footerleft input  {
    width: 100%;
    background-color: #777777;
}

.footerleft input[type="submit"] {
    width: 30%;
    padding: 1em;
    float: right;
    margin-left: 20px;
    background-color: #fd6740;
} 

.footerleft textarea {
    height:7em;
    width: 100%;
    background-color: #777777;
}

.footerleft label {
    color:	#fff;
}

.footerleft img {
    width: 70px;
    margin-right:10px;
}

.facebookhome iframe {
    background-color: #fff;
    margin-top: 20px;
}

.bordertop {
    /*	border-top: solid #777777;
    */	margin-top: 73px;
    padding-top: 20px;
    vertical-align: text-bottom;
}

.bordertop img {
    float: right;
    width: 120px;
    vertical-align: text-bottom;
}

.jcarousel-wrapper {
    margin: 50px auto;
    position: relative;
    width:1100px;
}

/** Carousel **/

.jcarousel {
    float:left;
    position: relative;
    overflow: hidden;
    /*
    (4 * width: 150px) + (3 * margin-right: 1px) = 603px
    */
    width: 1080px;
    height: 300px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    width: 300px;
    height: 300px;
    margin: 0 20px 0 35px ;
}

.jcarousel img {
    max-height: 300px;
    border: solid #fff 10px;
}

.jcarousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next{
    position: absolute;
    top: 145px;
    width: 60px;
    height: 60px;
    text-align: center;
    background: url('l-arrow.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    text-indent:-200000px;
}

.jcarousel-control-next {
    background: url('r-arrow.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

.h2home {
    height:50px;
}

.play_border {
    margin:1px;
    border: 2px solid rgba(0,0,0,0.7);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    float: right;
}
.play_border:hover{
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.play_border:hover .play_button{
    border-left: 7px solid rgba(0,0,0,0.5);
}
.play_border:active,.play_border:focus{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.play_button {
    position:relative;
    top: 3px;
    left: 40%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(0,0,0,0.8);
} 

#easyCenter {
    margin-top: 10%;
    height: 95% !important; 
}

#easyContainer {
    margin-top: 1%;
    height: 95% !important; 
}

/* Rocket */
.fa {
    font-size: 78px;
    height: 78px;
    line-height: 78px;
    margin: -25px 0 0;
}

.bg-white .fa.fa-rocket {
    font-size: 60px;
    line-height: 40px;
    margin: 0;
}

.crossed{
    text-decoration: line-through;
}

.gray{
    color: gray;
}


/* promo */

.promo-header{
    padding-top: 20px;
}

.h2-promo{
    font: 100 45px/52px "ProximaNova-Light",Arial,Helvetica,Geneva,sans-serif; 
    margin: 0 42px;
    position: absolute;
    z-index: 2000;    
}

.image-promo{
    margin-bottom: -60px;
    margin-left: 63px;
    margin-top: -40px;    
}

/* ie 8 */
.ie8 .row .span5{
    max-width: 380px;
    padding: 0;
    width:100%;
}

.ie8 .row .preapp{
    height: 626px; 
}

.ie8 .row .preappdomains{
    height: 746px; 
}

.ie8 .row .preappaccount{
    height: 806px; 
}

.ie8 .row li.pricing-table{
    height: 475px;
    margin-left: 50px;
    position: relative;
}

.ie8 .row li.pricing-table .pricing-action{
    bottom: 0;
    position: absolute;
    width: 100%;
}

.ie8 .row li.pricing-table .pricing-action a{
    width: 100%;
}

/*Winner section*/
.winner{
    background: none repeat #fff;
}
.winner p{
    font-size: 20px;
    margin: 32px 0;
}

.winner a{
    color: #4CB954;
}

.winner a:hover{
    color: #fd6740;
}
