/*
Name: Basic Light
Class: tabber-widget-basic-light

Notice: If the Class changes or the file is renamed, you must resave all widgets that use this template.
*/

/* Style Tabs */

.tabber-widget-basic-light {
	color: #111;
	padding: 0 !important;
	margin: 0 !important;
}
.tabber-widget-basic-light ul.tabber-widget-tabs {
	list-style-type: none;
	padding: 0 !important;
	margin: 0 !important;
}
.tabber-widget-basic-light a {
	color: #222 !important;
}
.tabber-widget-basic-light ul.tabber-widget-tabs li {
	float: left;
	list-style-type: none !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none;
}
.tabber-widget-basic-light ul.tabber-widget-tabs li:before {
	content: "" !important;
}
.tabber-widget-basic-light ul.tabber-widget-tabs a {
	display: block;
	padding: 6px 10px;
	text-decoration: none !important;
	margin: 1px;
	margin-left: 0;
	color: #FFF;
	background: #444;
}
.tabber-widget-basic-light ul.tabber-widget-tabs a:hover {
	color: #FFF;
	background: #111;
}
.tabber-widget-basic-light ul.tabber-widget-tabs a.selected,
.tabber-widget-basic-light ul.tabber-widget-tabs a.selected:hover {
	margin-bottom: 0;
	color: #000;
	background: snow;
	border-bottom: 1px solid snow;
	cursor: default;
}

.tabber-widget-basic-light .tabber-widget-content {
	padding: 10px 10px 8px 10px;
	margin: 0;
	clear: both;
	background: snow;
}

/* Style Content */

.tabber-widget-basic-light .tabber-widget-content {
	text-align: left;
}
.tabber-widget-basic-light .tabber-widget-content .tabber-widget-title {
	margin-top: 0;
}
