/* LGEUS-8342 : 20161123 add */
.product-area .product-price .msrp-price.promotion p.price, .product-lists .product-price .msrp-price.promotion p.price,
.stickynav .product_information .msrp-price.promotion p.price,
.stickynav .product_information .msrp-price.promotion p,
.product-area .product-price .msrp-price.promotion p.price, .product-lists .product-price .msrp-price.promotion p.price,
.stickynav-m .sticky_wrap .msrp-price.promotion p, .stickynav-m .sticky_wrap .price_before.promotion p,
.compare.compare-print .product-price .msrp-price.promotion p.price {text-decoration: none;}
.stickynav.float .product_wrap .product_information .msrp-price.promotion {display:none}
.is-mobile .column2 .response ul.product-lists li {height: 490px;}
.compare-print .compare-item-info .info-list .info-title, .compare-view-item .compare-item .item-list .item {min-height:380px}
/* //LGEUS-8342 : 20161123 add */
/*LGEUS-8316  20161122 add*/
.swatch.Espresso    {background-position: -280px -25px;}
.swatch.large.Espresso    {background-position: -198px -66px;}
/*//LGEUS-8316  20161122 add*/
/*LGEUS-8365 20161206 add*/
.swatch.DarkGraphite    {background-position: -294px -25px;}
.swatch.large.DarkGraphite {background-position: -220px -66px;}
/*//LGEUS-8365 20161206 add*/ 

/* LGEUS-9173 20170525 add */
.swatch.Black_Red    {background-position: -364px -25px;}
.swatch.large.Black_Red {background-position: -352px -66px;}
/* //LGEUS-9173 20170525 add */

/* LGEUS-9204 20170712 add */
.swatch.chocolate-brown    {background-position: -378px -25px;}
.swatch.large.chocolate-brown {background-position: -374px -66px;}
/* //LGEUS-9204 20170712 add */

/* LGEUS-8125 20161216 add*/
.spotlight-title{margin-top:20px;text-align:center}
#BVSpotlightsContainer .bv-cleanslate .bv-spotlights .bv-ratingstars-inner{font-family:'LG Smart Light' !important;font-weight:normal !important}
#BVSpotlightsContainer .bv-cleanslate .bv-spotlights .bv-reviews-list-wrapper {background: #fff !important;border:2px solid #eee}
#BVSpotlightsContainer .bv-cleanslate .bv-spotlights .bv-product-list-outer .bv-glyph-chevron-left,.bv-cleanslate .bv-spotlights .bv-product-list-outer .bv-glyph-chevron-right {color: #aaa !important;font-size:44px !important}
#BVSpotlightsContainer .bv-cleanslate .bv-spotlights .bv-glyph {font-family: 'BVCustomFont' !important;}
#BVSpotlightsContainer .bv-cleanslate .bv-spotlights{font-family:'LG Smart Light' !important;font-weight:normal !important}
#BVSpotlightsContainer .bv-cleanslate .bv-spotlights .bv-learnmore{text-align:center !important}
#BVSpotlightsContainer .bv-cleanslate .bv-spotlights .bv-learnmore-link{
	background-color: #a50034;
    border: medium none;
    border-radius: 6px !important;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 7px 1.5rem 0.6rem !important;
    text-align: center;
    transition: width 0.2s ease-in 0s;
	font-family:'LG Smart' !important;
	display:inline-block !important;
	margin-top:5px !important;
	}

/* LGEUS-8370 20170118 add */
.file-upload.cam {padding-right: 130px; margin-right: 130px;}
.file-upload.cam .btn {width: 120px; margin-left: 10px;}
.file-upload.cam .btn.btn-upload {right: 0;}
.file-upload.cam .btn.webcam {right: -130px;}
.photo-wrap {
	position: relative;
	margin-top: 30px;
}
.photo-wrap #my_camera, .photo-wrap #my_result {
	width: 320px; 
	height: 240px;
	margin-bottom: 10px;
	overflow: hidden;
}
.photo-wrap #my_result {
	position: absolute;
	top: 0;
	left: 330px;
}
.photo-wrap .take-a-photo {
	display: block;
}
/* //LGEUS-8370 20170118 add */

/* LGEUS-8768 20170303 add */
body:not(.is-mobile) .register-product .product-content-wrap .product-simple .inner .info .go-link a {
	margin: 0 10px 10px 0;
}
body:not(.is-mobile) .register-product .product-content-wrap .product-another {
    width: auto;
}
body:not(.is-mobile) .register-product .product-content-wrap .product-simple .inner .info {
	width: auto;
	min-width: 400px;
}
body:not(.is-mobile) .register-product .product-content-wrap .product-another > div {
	padding-left: 0 !important;
}

body.is-mobile .register-product .product-content-wrap .product-another .write-a-review {
	display: block;
}
body.is-mobile .register-product .product-content-wrap .product-another .write-a-review a.btn {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 1rem;
}
/* //LGEUS-8768 20170303 add */
/* LGEUS-7095 20170308 add*/
#content .search .where-to-buy.desktop .copy-area h1.title{font-size:50px}
#content .search .where-to-buy.desktop .container .product-area{padding:0 0 0 0}
#content .search .where-to-buy.desktop .container .product-area .product-image{width:29%}
#content .search .where-to-buy.desktop .container .product-area .copy-area{width:71%}
#content .search .where-to-buy.desktop .container .details .btn{font-size: 14px; padding: 0.5rem 1.1rem 0.6rem;}
/* //LGEUS-7095 20170308 add*/
/* LGEUS-8714  20170309 add */
.swatch.Astro-Black    {background-position: -42px -67px;}
.swatch.large.Astro-Black {background-position: -242px -66px;}
.swatch.Platinum-Ice    {background-position: -56px -67px;}
.swatch.large.Platinum-Ice {background-position: -264px -66px;}
/* //LGEUS-8714  20170309 add */

/* LGEUS-8081 20170202 add */
.step-list.reviews .step-content .two-column.choice-product .column.select-product {
	border-radius: 5px;
	border: 2px solid #a50034;
}
.step-list.reviews > .step.active.done, .is-mobile .step-list>.step.active.done {
	background: #fff;
	box-shadow: none;
}
.step-list.reviews > .step.active.done .container {
	padding: 0;
}
.step-list.reviews > .step.active.done .btn-wrap {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.step-list.reviews > .step.active.done .wrap_loading{
	display: none;
}
.step-list.reviews .step-content .two-column.active-category .select-product {
	min-height: 280px;
}
.chosen-container#chosen-disabled:not(.chosen-with-drop) {
    opacity: 0.5 !important;
    cursor: default;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.is-mobile .support-content.container-skel .step-list .step-content .two-column.active-category .selected-product {
	height: 320px !important;
}
.is-mobile .support-content.container-skel .step-list .step-content .two-column.active-category .selected-product .btn-wrap {
	margin: 20px;
	text-align: center;
}
.is-mobile .step-list.reviews .step-content .two-column.choice-product .column.select-product .selectbox.disabled {
    opacity: 0.5 !important;
}
.is-mobile .step-list .step-content .two-column.focus-category.active-category .interaction {
	padding-bottom: 30px;
}
.is-mobile .step-list .step-content .two-column.focus-category.active-category .selected-product .afterbtn {
	bottom: -50px;
}
/* LGEUS-8726 20170317 add */
.is-mobile .hero.text-top .text-block ul.specs li:first-child {font-size: 13px;font-size: 1.3rem;line-height: 1em;}
/* //LGEUS-8726 20170317 add */

/* LGEUS-8250 20170112 add */
.survey .step .step-inner .question-wrap .answer-list.horizontal-list li {margin: 0;padding: 0;width: 153px;}
.survey .step .step-inner .question-wrap .answer-list.horizontal-list li .grade {display: block;margin-top: 28px;}
.survey .step .step-inner .question-wrap .answer-list.horizontal-list li .styled-radio{position: absolute;left: 64px;top: 32px;}
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list:after {content: '';display: block;clear: both;}
/* LGEUS-9304 201706150 modify */
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list li {position: relative;float: left;width: 24%;margin: 0px;padding: 0 0 0 15px;text-align: center;}
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list li .grade {display: block;margin-top: 49px;font-size: 10px;color: #a50034;}
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list li label {position: absolute;overflow: hidden;font-size: 0;text-indent: -9999px;}
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list li:last-child{width: 15%;}
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list li:nth-child(4){width: 17%;}
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list li:nth-child(3){width: 20%;}
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list li:last-child label {position: absolute;/* margin-right: 22px; */width: 127px;font-size: 18px;text-indent: 0;right: 0;}
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list li:first-child {padding-left: 0;}
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list li:first-child label {position: absolute;left: 0;/* margin-left: 10px; */width: 110px;font-size: 18px;text-indent: 0;}
/* //LGEUS-9304 201706150 modify */
.is-mobile .survey .step .step-inner .question-wrap .answer-list.horizontal-list li .styled-radio {position: relative;left: 3px;top: -36px;}
.survey .step .step-inner .question-wrap .question-text .error-msg-mobile {display: none; position: relative;left: 0;color: #a50034;top: 8px;font-size: 18px;height: 0;}
.is-mobile .survey .step .step-inner .question-wrap .question-text.required-field .error-msg-mobile {display: block;}
.is-mobile .survey .step .step-inner .question-wrap .question-text.required-field + .answer-list{padding-top:50px}
/*// LGEUS-8250 20170112 add */
/*LGEUS-9016 20170420 add*/
bv-cleanslate .bv-spotlights .bv-ratingstars-container.bv-c2013-stars .bv-rating-stars-on { 
font-family: BVCustom !important; 
} 
.bv-cleanslate .bv-spotlights .bv-ratingstars-container.bv-c2013-stars .bv-rating-stars { 
font-family: BVCustom !important; 
} 
/*LGEUS-9016 20170420 add*/
/* LGEUS-9025 20170425 add */
.swatch.Matte-Blue {background-position: -322px -25px;}
.swatch.large.Matte-Blue {background-position: -286px -66px;}
.swatch.Metallic-Blue {background-position: -336px -25px;}
.swatch.large.Metallic-Blue {background-position: -308px -66px;}
.swatch.Metallic-Red {background-position: -350px -25px;}
.swatch.large.Metallic-Red {background-position: -330px -66px;}
/* //LGEUS-9025 20170425 add */

/* LGEPJT-252 20170802 add */
.swatch.Espresso {background-position: -126px -42px;}
.swatch.DarkGraphite {background-position: -140px -42px;}
.swatch.Black_Red {background-position: -224px -42px;}
.swatch.chocolate-brown {background-position: -238px -42px;}
.swatch.Astro-Black {background-position: -154px -42px;}
.swatch.Platinum-Ice {background-position: -168px -42px;}
.swatch.Matte-Blue {background-position: -182px -42px;}
.swatch.Metallic-Blue {background-position: -196px -42px;}
.swatch.Metallic-Red {background-position: -210px -42px;}
/*// LGEPJT-252 20170802 add */

/* LGEUS-8704 20170427 add */
.bv-cleanslate .bv-spotlights {font-size: 17px;}
.spotlight-total-wrap {text-align: center !important;}
.spotlight-total-wrap .spotlight-total-category {font-size: 1.2em;margin: 0;line-height: 1.5em;}
.spotlight-total-wrap .rating .points_wrap,
.spotlight-total-wrap .rating .points_wrap i,
.spotlight-total-wrap .rating .points_wrap .icon-stars:before {
	height: 30px;
	line-height: 35px;
}
.spotlight-total-wrap .rating {width: auto !important;}
.spotlight-total-wrap .rating .points_wrap {
    display: inline-block;
    position: relative;
    margin-right: 7px;
}
.spotlight-total-wrap .rating .points_wrap i {
    font-size: 93px;
}
.spotlight-total-wrap .rating .points_wrap .review_bg {
    position: relative;
    top: -4px
}

.spotlight-total-wrap .rating .points_wrap .review_point {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden
}
.spotlight-total-wrap .rating .points_wrap .review_point i.points {
    color: #a50034
}
/* //LGEUS-8704 20170427 add */

/* LGEUS-9230 20170608 modify */
#content .search .where-to-buy.desktop .container .product-area .product-image {width: 260px;}
/* //LGEUS-9230 20170608 modify */
.m34.text-light {background-color: #000;color:#fff;}
.m34.text-dark {background-color: #fff;color:#000;}
.m34.text-dark .item-group .video-item{color:#000;}

/* LGEUS-9297 20170706 modify */
body:not(.is-mobile) .pdp-cnet .payload iframe {
	padding-top: 35px;
	margin: 155px auto;
}
body:not(.is-mobile) .pdp-cnet .payload a.close {
	margin-left: -30px;
	top: 157px;
}
/* //LGEUS-9297 20170706 modify */
/* LGEUS-8811 201700725 add */
.product-price .product-subscribe {
    position: absolute;
    right: 0;
    top: 8px;
    color: red !important;
}
.product-price .product-subscribe a {color: red !important;}
@media screen and (max-width: 850px) {
	.product-price .product-subscribe {
		position: relative;
		right:auto;
		top:auto;
	}
	.column2 .response ul.product-lists li {
		height: 620px!important;
	}
}
.is-mobile .column2 .response ul.product-lists .product-price .product-subscribe {
    position: relative;
    right:auto;
    top:auto;
    font-size:12px;
}
/* //LGEUS-8811 20170725 add */
/* LGEUS-9494 20170919 add */
.manuals-list .strapline a .icon-new-window-2 {color: #999;}
/* //LGEUS-9494 20170919 add */
/* LGEGMO-3617 20171102 add */
.swatch.large.HA_MWO_Matte_Black_Stainless_Steel,
.swatch.large.HA_Oven_Matte_Black_Stainless_Steel,
.swatch.large.HA_REF_Matte_Black_Stainless_Steel,
.swatch.large.HA_DW_Matte_Black_Stainless_Steel{background: url(/lg4-common/img/common/colorchip_large_v2.jpg) no-repeat -309px -23px;}
.swatch.HA_MWO_Matte_Black_Stainless_Steel,
.swatch.HA_Oven_Matte_Black_Stainless_Steel,
.swatch.HA_REF_Matte_Black_Stainless_Steel,
.swatch.HA_DW_Matte_Black_Stainless_Steel{background: url(/lg4-common/img/common/colorchip_v2.jpg) no-repeat -197px -14px;}
/*// LGEGMO-3617 20171102 add */


/* LGEUS-9598 :20170928 add */
.support-content .track-mobile-process-step ul li.active[data-paymenttype=N],
.support-content .track-mobile-process-step ul li.active[data-rai=Y] {background-color: #acacac;}
.support-content .track-mobile-process-step ul li.active[data-paymenttype=N] .after, .support-content .track-mobile-process-step ul li.active[data-paymenttype=N]:after,
.support-content .track-mobile-process-step ul li.active[data-rai=Y] .after, .support-content .track-mobile-process-step ul li.active[data-rai=Y]:after {background-color: #acacac;}

.support-content .result-detail .complete-title {font-size: 26px}
.support-content .result-detail .complete-title span.count-text,
.support-content .result-detail .complete-title span.status-text {float: right}
.support-content .link-line.inner-small {float: right;font-size: 16px;line-height: 27px;}	
.support-content .track-wrap {margin-bottom: 30px;font-family: "LG Smart",Tahoma,Arial,sans-serif;}
.support-content .track-wrap .table-style-row {margin-bottom: 0;border: 2px solid #a50034}
.support-content .track-wrap .table-style-row th {border: 0}
.support-content .track-wrap .table-style-row td {border: 0;border-left: 1px solid #bbb;}
.support-content .track-wrap.col2 {width: 50%;display: inline-block;float: left;padding: 1%}
.support-content .track-wrap.col2 p {margin: 0}
.support-content .track-wrap.col2+.col2 {padding: 0}
.support-content .table-style-row ul {list-style: none;padding: 0;margin: 0}
.support-content .table-style-row ul li {padding: 7px 0}
.support-content .table-style-row ul li span {clear: both;display: inline-block;width: 100%;word-break: keep-all;}
.support-content .table-style-row th, .support-content .table-style-row td {word-break: keep-all;}

.is-mobile .support-content .result-detail .complete-title span.count-text,
.is-mobile .support-content .result-detail .complete-title span.status-text {margin: 7px 0}
.is-mobile .support-content .link-line.inner-small {float:none;display: inline-block;}
.is-mobile .support-content .track-wrap.noti {padding: 0 5%}
.is-mobile .support-content .table-style-row td {padding: 15px}
.is-mobile .support-content .track-wrap {padding: 0 20px;}
/*// LGEUS-9598 :20170928 add */
/* LGEUS-10088 20180112 add */
.noticeForm p {font-size: 15px;}
/* //LGEUS-10088 20180112 add */
/* LGEUS-9519 20180130 add */
.is-mobile .contact-area .info-list>li .telephone-info.telephone-links>div .telephone-box ul li.tel:before {display:none;}
.is-mobile .contact-area .info-list>li .telephone-info.telephone-links>div .telephone-box ul li.tel .red-block {display: inline-block;padding: 1rem 2rem .8rem;text-align:center;background-color: #a50034;color: #fff;border-radius: 6px;font-family: "LG Smart",Tahoma,Arial,sans-serif;text-decoration: none;}
.is-mobile .contact-area .info-list>li .telephone-info.telephone-links>div .telephone-box ul li.tel .red-block strong {font-weight: normal;}
.is-mobile .contact-area .info-list>li .telephone-info.telephone-links>div .telephone-box ul li.tel .red-block:hover {text-decoration: none;background-color: #d80546}
.is-mobile .contact-area .info-list>li .telephone-info.telephone-links>div .telephone-box ul li.tel .call-row+p {margin-top: 7px }
/* //LGEUS-9519 20180130 add */
/* LGEUS-9442 20170821 add*/
.product.reviews .where-to-buy.desktop h1 {
	font-size: 50px
}
.product.reviews .where-to-buy.desktop .model-name {
	margin-bottom: 0px
}
.product.reviews .where-to-buy.desktop .purchase-price .price {
	font-size: 25px
}
.product.reviews .where-to-buy.desktop .purchase-price .price span {
	vertical-align: top;
	font-size: 16px
}
.product.reviews .where-to-buy.desktop .purchase-price .legal {
	margin-top: 0px;
	font-size: 14px
}
.product.reviews .where-to-buy.desktop .details > div {
	width:100%;
	display:inline-block;
}
.product.reviews .where-to-buy.desktop .details .review_points {
	margin-top:10px;
}
.product.reviews .where-to-buy.desktop .details .cta-button {
	padding-top: 20px
}
.product.reviews .where-to-buy.desktop .details .cta-button .btn {
	font-size: 16px
}
.product.reviews .where-to-buy.desktop .details .cta-button .link {
	vertical-align: text-bottom
}
.product.reviews #BVRRContainer{
	max-width:1240px
}
.product.reviews .where-to-buy.desktop .colors .title {
	margin-right: 12px;
    margin-top: 7px;
    float: left;
}
.product.reviews .where-to-buy.desktop .purchase-price{
	float:left
}
.product.reviews .where-to-buy.desktop .promotion-price p.price {font-size:27px; font-family:"LG Smart SemiBold";}
.product.reviews .where-to-buy.desktop .promotion-price p.price span {font-size:14px;}
.product.reviews .where-to-buy.desktop .promotion-price p.legal {margin-top:3px; font-size:15px; color:#a50034;}
.product.reviews .where-to-buy.desktop .purchase-price + .promotion-price {margin-left:18px;display:inline-block}
.product.reviews .where-to-buy.desktop #wtbArea h4{
	font-size:34px !important;
}
.is-mobile .product.reviews .where-to-buy .container .type-product .copy-area {padding:0 40px}
.is-mobile .product.reviews .where-to-buy .container .type-product .copy-area h1.title{font-size:23px}
.is-mobile .product.reviews  .where-to-buy .container .type-product .copy-area .model-num{width: 100%;margin: 10px 0;}
.is-mobile #ratings-reviews .all-review{text-align:center;margin:0 auto;margin-bottom:10px;}
/* LGEUS-9442 20170821 add*/
