body {
    background-color: #22659c !important;
    font-size: 0.75em;
}
.pageTitle {
    float: left;
    clear: left;
}
.pageTitle h1 {
    display: inline;
    margin-right: 30px;
    vertical-align: middle;
}
.pageTitle button {
    position: relative;
    /*top: -7px;*/
}
.contentWrapper ol,
.contentWrapper ul {
    margin: 10px 10px 10px 20px;
}
.contentWrapper ol li {
    margin-left: 20px;
}

.content.rteDelta ol li{
    margin-right: 1em;
}

.contentWrapper ul li {
    margin-left: 15px;
}
.herob .contentWrapper {
    width: 100%;
}
ul.pdf-ul { 
    margin-left: 15px;
}
.inverse a,
.inverse a:link,
.inverse a:visited {
    color: #4F9AD4;
    text-decoration: none;
}
.inverse a:hover,
.inverse a:focus {
/*    color: #3169BB;*/
    color: #4F9AD4;
}
div.pageTitle {
    padding: 13px 0 19px 0;
}
.deltaTable div {
    background: none !important;
}
.contentWrapper table {
    width: 97%;
    margin: 10px 0px 20px 5px;
}
table.inverse {
    background-color: #0d2d53;
}
.contentWrapper table caption {
    color: #22659c !important;
    font-size: 1.083em !important;
    text-transform: uppercase !important;
}
.contentWrapper table caption,
.content table caption,
table.inverse thead tr th {
    color: #191919;
    font-weight: 600;
}
.contentWrapper table.actionableTable.award {
    width: 98%;
    margin: 10px 0px 20px 10px;
}
table.inverse tbody tr td {
    color: #B4C4D4;
    padding: 12px 10px 9px;
}
table.inverse tfoot tr td {
    /*    font-weight: 600;*/
    
    font-weight: bold;
    color: #B4C4D4;
}
/* Medallion page updated styles 1/14/13 */

table.deltaTable th {
    vertical-align: top;
}
table.deltaTable th ul {
    margin-left: 15px;
}
table.deltaTable th p {
    margin-bottom: 18px !important;
}
table.inverse thead tr th,
table.inverse thead tr td,
table.inverse tbody tr th,
table.inverse tbody tr td,
table.inverse tfoot tr td {
    border: none;
}
table.inverse thead {
    background-color: #02132D;
}
table.inverse tbody tr.even {
    background-color: #0C284A;
}
table.inverse tbody tr.odd {
    background-color: #062142;
}
table.inverse tbody tr th button,
table.inverse tbody tr td button {
    float: right;
}
table.inverse a {
   color: #87CDFF !important;
}
table.inverse a:hover,
table.inverse a:focus {
    color: #3169BB !important;
    text-decoration: underline;
}
.contentWrapper table thead tr th,
.contentWrapper table thead tr td,
.contentWrapper table tbody tr th,
.contentWrapper table tbody tr td,
.contentWrapper table tfoot tr td {
    border: #ddd 1px solid;
}
.contentWrapper table.inverse thead tr th,
.contentWrapper table.inverse thead tr td,
.contentWrapper table.inverse tbody tr th,
.contentWrapper table.inverse tbody tr td,
.contentWrapper table.inverse tfoot tr td {
    border-color: #00182F;
}
.deltaTable * p,
.deltaTable * div {
    padding: 0 !important;
    margin: 0px !important;
}
table.transparent thead tr th,
table.transparentInverse thead tr th {
    font-weight: normal;
}
table.transparent,
table.transparent thead tr th,
table.transparent tbody tr th,
table.transparent tbody tr td,
table.transparent tfoot tr td,
table.transparentInverse,
table.transparentInverse thead tr th,
table.transparentInverse tbody tr th,
table.transparentInverse tbody tr td,
table.transparentInverse tfoot tr td {
    border-width: 0px;
}
table.transparent,
table.transparent thead,
table.transparent tbody tr td,
table.transparent tbody tr th,
table.transparent tbody tr.even,
table.transparent tbody tr.odd,
table.transparent tbody tr.even th,
table.transparent tbody tr.even td,
table.transparent tbody tr.odd td,
table.transparent tbody tr.odd th,
table.transparentInverse,
table.transparentInverse thead,
table.transparentInverse tbody tr td,
table.transparentInverse tbody tr th,
table.transparentInverse tbody tr.even,
table.transparentInverse tbody tr.odd,
table.transparentInverse tbody tr.even td,
table.transparentInverse tbody tr.even th,
table.transparentInverse tbody tr.odd td,
table.transparentInverse tbody tr.odd th {
    background: transparent !important;
}
.hero {
    margin-bottom: 6px;
}
.marketingTitle {
    clear: left;
    float: left;
    color: #fff;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 300 line-height: 100%;
}
.marketingTitle strong {
    font-weight: 600;
}
.marketingCopy {
    color: #000;
    font-size: 1.083em;
    font-weight: 600;
    padding-top: 10px;
    text-transform: uppercase;
}
.marketingCopy a,
.marketingCopy a:link,
.marketingCopy a:visited,
.marketingCopy a:hover {
    color: #fff;
}
.hero.dark .marketingTitle,
.hero.dark .marketingCopy {
    color: #02132D;
}
.hero.light .marketingTitle,
.hero.light .marketingCopy {
    color: #ffff;
}
.hero.dark .marketingCopy a,
.hero.dark .marketingCopy a:link,
.hero.dark .marketingCopy a:visited,
.hero.dark .marketingCopy a:hover {
    color: #02132D;
}
.slide_reel img {
    display: none;
    float: left;
}
.slide_reel a.activeImage img {
    display: block;
}
.hero .contentWrapper {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -4px;
}
div.teaserRow,
div.teaserRowAlt {
    margin-bottom: 10px;
    float: left;
    clear: both;
}
div.teaserRow div div.content h2,
div.teaserRowAlt div div.content h2 {
    padding-bottom: 0px;
    font-weight: bold;
}
div.teaserRowAlt div div.content h2 {
    text-transform: none;
    font-weight: bold;
}
div.contentWrapper,
.promoWrapper {
    background: url("images/light-texture-1.gif");
    border-radius: 5px;
    margin-bottom: 6px;
/*    color: #333;*/
}
div.content {
    margin-bottom: 6px;
}
.contentWrapper img {
/*    padding: 2px 5px 0 5px;*/
      padding: .9em 0.3125em 0 0.3125em;
}
.contentWrapper p,
.content p {
    padding: 10px;
    margin-bottom: 0;
    padding: 12px 6px 18px;
    /* not sure need to check*/
}
.content h2 {
    padding: 5px 10px;
}
#ContentWell .contentWrapper {
    background: #fff;
}
.contentWrapper h2,
.contentWrapper h3,
.contentWrapper h4,
.contentWrapper h5,
.contentWrapper h6 {
    color: #252525;
}
.contentWrapperHeader {
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 14px;
    box-shadow: 0px 2px 3px #333;
    background: #fff;
    border-radius: 5px 5px 0px 0px;
    border: #fff 1px solid;
    background: #fff;
    /*font-weight: 600;*/
    
    font-weight: bold;
    font-size: 1em;
}
h2#secondaryModuleHeader {
    padding-top: 14px;
    padding-bottom: 12px;
}
.teaserRow div.content h2 {} .contentWrapper h2,
.contentWrapper h3,
.contentWrapper h4,
.contentWrapper h5,
.contentWrapper h6,
.teaserRow div.content h2,
.teaserRowAlt div.content h2 {
    padding-left: 15px;
    padding-right: 15px;
}
div.contentWrapper h3:first-child {
    padding-top: 10px;
}
.marketingTitle,
.marketingCopy {
    padding: 0px;
}
.controlsAndLegal {
    text-align: right;
}
.slideShowControl {
    color: #fff;
}
.slideShowControl p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#slides {
    overflow: hidden;
    position: relative;
    width: 696px;
}
#slides ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#slides li {
    width: 696px;
    height: 250px;
    float: left;
}
div.slideShowControl a.dot.active,
div.slideShowControl a.dot:hover {
    background-position: 3px -522px;
}
div.slideShowControl a.dot {
    background-image: url("images/site_sprite.png");
    background-position: 3px -497px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width: 24px;
}
div.slideShowControl a.active{
    color: #920000;
    font-weight: bold;
}
.grid_9 .contentWrapper p {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin: 0px 0px 0px 0px;
}
div[data-type=accordion] {
    padding-bottom: 20px;
}
div[data-type=accordion] .accordion {
    border-bottom: #DDD 1px solid;
    padding-bottom: 3px;
    background: url("images/accordian-controls.png") no-repeat scroll 20px 20px transparent;
    padding-left: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    font-size: 1.33333em;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
}

div[data-type=accordion] div.alpha {
    background: url("images/accordian-controls.png") no-repeat scroll 20px 20px transparent;
}

div[data-type=accordion] div.active {
    margin-bottom: 0px;
    background: url("images/accordian-controls.png") no-repeat scroll 20px -33px transparent;
}

div.accordiontype {
    float: left;
    width: 100%;
}
div[data-type=accordion] div {
    padding-top: 10px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    clear: both;
    float: none;
}
div[data-type=accordion] .accordionLinks div div div {
    padding-left: 20px !important;
}

div#ContentWell h4.accordion {
    margin: 14px 0px 0px 25px;
    background: url("images/accordian-controls.png") no-repeat scroll 5px 0px transparent;
}

div#ContentWell div[data-type=accordion] h4.active {
    background: url("images/accordian-controls.png") no-repeat scroll 5px -49px transparent;
}

div#ContentWell div[data-type=accordion] h4.active a {
    color: #333;
    margin-bottom: 10px;
}
div[data-type=accordion] div.accordionLinks div {
    /*padding-left: 41px;*/
}
div#ContentWell div[data-type=accordion] .alpha,
div#ContentWell div.contentWrapper div.alpha {
    padding-top: 12px;
}

.aircraftgridstyle #inPageNav li {
    height: 3.923em;
    display: inline-block;
    zoom: 1;
    width: 28.8em;
    padding: 0px;
}

div#ContentWell div#aircraftdetails div.alpha{
    padding-top: 0px;
}

div#ContentWell div[data-type=accordion] div a {
    /* Rules Need to be changed as already defined at root level (.inverse)*/
    padding-bottom: 3px;
    color: #0253A4;
    font-size: 1em;
/*    line-height: 30px;*/
    line-height: 15px;
    font-weight: bold;
    cursor: pointer;
}

.twocolumn div#ContentWell {
    min-width: 82em;
}
div#ContentWell div[data-type=accordion] div.active a {
    color: #333;
}
div#ContentWell div[data-type=accordion] p {
    padding-top: 12px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-left: 1em;
}
div#ContentWell div[data-type=accordion] h5 {
    padding-top: 12px;
    padding-bottom: 18px;
    padding-left: 30px;
}
div.parsys,
div.section,
div.content {
    padding-top: 0px !important
}
.contentWrapperAlt h2 {
    font-size: 1em;
}
span.disclaimer {
    float: right;
    padding-right: 10px;
    /*  top: 240px;*/
    
    color: #fff;
}
span.photoLocation {
    float: left;
    position: relative;
    color: #fff;
}
.termsAndConditions p {
    color: #B4C4D4;
    margin-left: 15px;
    float: left;
    clear: left;
}
.fareSpecials {
    margin-left: 15px;
}
.fareSpecials p {
    color: #B4C4D4;
}
.fareSpecials h2 {
    margin-bottom: 5px;
}
.sectionFilter {
    padding: 15px 0px 15px 0px;
}
.sectionFilter select {
    width: 255px;
}
.sectionSelector a {
    padding: 0px 24px 0px 0px;
}
.sectionSelector a,
.sectionSelector a:link,
.sectionSelector a:visited {
    color: #fff;
    /*font-weight: 600;*/
    
    letter-spacing: 1px;
}
.sectionSelector a:hover {
    color: #fff;
    letter-spacing: 1px;
}
/* New class "texttransform" included in Template H JSP since,
 h3 for other templates were getting affected*/

.grid_9 .contentWrapper h3.texttransform {
    text-transform: capitalize!important;
}
a.buttonStyle {
    background-color: #A60117;
    color: #fff;
    font-size: 0.917em;
    letter-spacing: 1px;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 0px 8px 0px 8px;
    -moz-border-radius: 5px 5px 5px 5px;
    border: 1px solid #6E000D;
    text-shadow: 0 3px 1px rgba(0, 0, 0, 0.3);
    margin: 0px 12px 0px 0px;
}
/* End - Template H*/
/* Start - Template I*/

div#ContentWell .grid_4 .contentWrapper h3 {
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
    padding: 10px;
}
div#ContentWell .grid_4 .contentWrapper h3 a,
div#ContentWell .grid_4 .contentWrapper h5 a {
    color: #333;
}
div#ContentWell .grid_4 .contentWrapper h4,
div#ContentWell .grid_4 .contentWrapper h5 {
    padding-top: 10px;
}

div#ExpandAll {
    float: right;
    margin: -32px 30px 0px 0px;
    /* this negative is ok. */
    
    padding-top: 10px;
    background: none;
}
.LinkContent {
    margin-left: 25px;
}
div#ContentLinks div.LinkContent {
    padding: 12px 15px;
}
div.inverse,
p.inverse {
    color: #FFF;
    background: none;
}
div.inverse p {
    color: #fff;
}
.contentWrapper .backToTop {
    vertical-align: middle;
    margin: 0px 18px 25px 0px;
    font-size: 1em;
    background-image: url("") no-repeat scroll right center;
    text-align: right;
}
.contentWrapper .backToTop a:hover {
    color: #1C7BD9;
    float: right;
}
.contentWrapper .backToTop .inverse a,
.contentWrapper .backToTop .inverse a:link,
.contentWrapper .backToTop .inverse a:visited {
    color: #87CDFF;
}
.contentWrapper .backToTop .inverse a:hover {
    color: #3169BB;
}
.fromPrice p {
    float: right;
}
.fromPrice p sup {
    vertical-align: top;
    text-transform: uppercase;
}
.price {
    font-size: 2.5em;
}
.fareSale a {
    float: left;
    clear: right;
    margin-top: -7px;
    margin-left: 15px;
}
div.contentWrapperAlt p {
    color: #FFFFFF;
}
.fareSale .disclaimer {
    clear: both;
    font-size: 0.833em;
    /* Defect id 17293 - Added for adjusting the font size */
}
.flightCondition {
    float: right;
}
a.condition {
    float: right;
    clear: both;
    margin-top: 0px;
    margin-left: 0px;
}
/* Added to fix issue - 07 Oct 2011*/
/*div.teaserRow div.grid_3 div.contentWrapper{
    height: 200px;
}*/

div.teaserRow div.grid_3 div.secondaryModule {
    /* height:200px; */
}
/* Fix for defect- 12 ( StyleGuide Page no : 50) */

div.teaserRow div.grid_3 div.secondaryModule h2 {
    padding-top: 14px;
    padding-bottom: 12px;
}
div.teaserRow div.grid_3 div.contentWrapper p {
    padding-top: 12px;
    padding-bottom: 18px;
}
.section .grid_3 .par .section .textimage .left img,
.section .grid_6 .par .section .textimage .left img,
.section .grid_3 .par .section .textimage .right img,
.section .grid_6 .par .section .textimage .right img,
.section .grid_6 .rightPar .section .textimage .left img {
    margin-bottom: 5px;
}
.section .grid_3 .par .section .textimage .text p,
.section .grid_6 .par .section .textimage .text p,
.section .grid_6 .rightPar .section .textimage .text p {
    margin: 0;
}
/* Added for Light Background Table*/

table.actionableTable thead tr th,
table.actionableTable tbody tr td {
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9px;
    vertical-align: middle;
}
table.actionableTable thead tr th.alpha,
table.actionableTable tbody tr td.alpha {
    padding-left: 12px;
    padding-right: 10px;
}

table.actionableTable.award thead tr th.alpha,
table.actionableTable.award tbody tr td.alpha {
    padding-left: 4px;
    padding-right: 1px;
	width: 8.2em;
}


table.actionableTable thead tr th.omega,
table.actionableTable tbody tr td.omega {
    padding-right: 12px;
    padding-left: 10px;
}

table.actionableTable.award thead tr th.omega,
table.actionableTable.award tbody tr td.omega {
    padding-right: 2px;
    padding-left: 5px;
    width: 7.5em;
}

table.actionableTable thead,
table.actionableTable tr.even {
    background: none;
}
table.actionableTable thead tr th {
    color: #22659c;
    font-size: 1.083em;
    border: none;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}
.headerSortDown span {
    background: url("images/arrow_down.png") no-repeat 0px center;
    display: inline-block;
    height: 5px;
    width: 5px;
    margin-left: 7px;
}
.headerSortUp span {
    background: url("images/arrow_up.png") no-repeat 0px center;
    display: inline-block;
    height: 5px;
    width: 5px;
    margin-left: 7px;
}
.tabPrice {
    font-size: 2.6em !important;
    font-weight: 300;
    font-family: "Open Sans";
    text-align: right;
}
table.actionableTable thead tr td,
table.actionableTable tbody tr th,
table.actionableTable tbody tr td,
table.actionableTable tfoot tr td {
    border-bottom: #ddd 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1em;
}
.left {
    float: left;
    margin-right: 12px;
    width: auto;
}
.right {
    float: right;
    margin-left: 12px;
    width: auto;
}
div.textimage.inverse .text {
    color: #B4C4D4;
}
.smallText {
    font-size: 0.833em;
    padding: 0px;
}
table.inverse .smallText {
    color: #B4C4D4;
}
.homeHeadline {
    color: #fff;
    font-size: 2.5em;
    text-transform: uppercase;
}
.homeSubhead {
    color: #fff;
    font-size: 2.5em;
}
.homeSecondaryHeadline {
    color: #fff;
    font-size: 1.667em;
}
div[data-type=accordion] div a:hover {
    cursor: pointer;
}
div[data-type=expandAll] div a:hover {
    cursor: pointer;
}
div[data-type=accordion] .accordionLinks div div div ul {
    padding-left: 15px;
    margin-left: 30px;
}
div.contentWrapper ul li.accordionList {
    list-style: none;
    margin-left: 0px;
    clear: both;
}
div.contentWrapper li.accordionList div:first-child {
    padding-top: 10px;
}
div.accordiontype .contentWrapper ul {
    margin: 0px;
}
div.accordiontype div.rteDelta ul {
    margin: 10px 0 10px 20px;
}
div.accordiontype div.rteDelta ul li {
    list-style: disc;
    margin-left: 15px;
    margin-right: 1em;
}
div.contentWrapper div.content div:first-child {
    padding-top: 10px;
}
div.sitemapsection ul li a,
div.sitemapsection ul li a:link,
div.sitemapsection ul li a:visited {
    font-weight: normal;
    padding-left: 10px;
}
.grid_3 .contentWrapper h2 a,
.grid_3 .contentWrapper h2 a:link,
.grid_3 .contentWrapper h2 a:visited {
    color: #333333;
}
.grid_3 .content h2 a,
.grid_3 .content h2 a:link,
.grid_3 .content h2 a:visited {
    color: #ffffff;
}
/* SKM - 9/12/2013 - Start of css rules for popup window */

body.popupwin {
    background: none repeat scroll 0 0 #FFFFFF !important;
    text-align: left;
    min-width: 0px;
}
#popHeader {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #003366;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    /*height: 46px;*/
    overflow: hidden;
    position: relative;
}
#popHeader table {
    background: none repeat scroll 0 0 #003366 !important;
    margin-top: 5px;
}
.popheadertable #brand {
    float: left;
    overflow: hidden;
    height: 5.9em;
    padding: 0px;
}
#popHeader td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: medium none;
    border-image: none;
    border-top: medium none;
    padding: 0;
}
#popHeader td.left {
    width: 25em !important;
    border-right: 0px;
}
#popHeader td.right {
    border-left: 0px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #003366;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding: 0.500em 0.667em 0.500em 2.083em;
    width: 8.333em;
}
#popHeader td.right a {
    color: #FFFFFF !important;
    font-weight: bold;
    text-decoration: none;
}
div.popContainer {
    margin: 15px 0 0 20px;
    position: relative;
    text-align: left;
    width: 420px;
}
/* SKM - 9/12/2013 - End of css rules for popup window */

.hidden-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.printButton {
    float: right;
    padding-top: 2px;
}
.printButton a {
    color: #B4C4D4;
    text-transform: uppercase;
    font-size: 0.833em;
}
.homeHeadline {
    font-size: 1em;
    color: #333;
}
div#skip-content {
    height: 23px;
    background-color: #15283a;
    color: #ffffff;
    width: 100%;
    text-transform: uppercase;
    padding-top: 7px;
}
a#skip-main-content {
    display: block;
    color: #ffffff;
}
.inverse a:focus,
.inverse a:hover {
    text-decoration: underline;
}
table.dealTable th {
    text-transform: uppercase;
}
table.dealTable > tbody > tr:first-child {
    background-color: #eaeaea;
    text-transform: uppercase;
    color: #191919;
}
table.dealTable > tbody > tr:last-child {
    background-color: #eaeaea;
    text-transform: uppercase;
    color: #191919;
}
table.dealTable > tbody > tr:last-child p,
table.dealTable > tbody > tr:first-child p {
    color: #191919;
    font-weight: 600;
}
table.dealTable > tbody > tr:last-child a {
    background-color: #eaeaea;
}
table.dealTable tbody a {
    color: #3169BB !important;
}
table.dealTable tbody a:hover,
table.dealTable tbody a:focus {
    text-decoration: underline;
}
table.dealTable tbody tr td {
    border: 1px #e3e2e2;
    border-style: solid;
}
table.dealTable p {
    color: #191919 !important;
}
table.dealTable th p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
table.dealTable th {
    padding-left: 10px;
}
table.dealTable tbody tr {
    background-color: #fff;
}
table.dealTable tfoot span {
    color: #fff;
    font-size: 0.95em;
}
table.dealTable tfoot {
    background: #00182f url("images/background-dark-blue.png");
}
table.dealTable {
    background: none;
}
table.dealTable tfoot tr td {
    border: 0px;
}
.carouselcontent {
    background-color: #fff;
    width: 680px;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    border-radius: 0px 0px 4px 4px;
}
.marketingCopy a,
.marketingCopy a:link,
.marketingCopy a:visited,
.marketingCopy a:hover {
    color: #000;
}
#slides {
    overflow: hidden;
    position: relative;
    width: 696px;
    border-radius: 4px 4px 0px 0px;
}
.marketingCopy {
    color: #000;
    font-size: 1.083em;
    font-weight: 600;
    padding-top: 10px;
    text-transform: uppercase;
}
.slideShowControl {
    color: #fff;
    text-align: center;
}
.marketingTitle,
.marketingCopy {
    color: #000;
    display: inline-block;
    width: 100%;
}
.marketingTitle {
    padding: 0px;
}
.herob .hero img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}
.herob .hero {
    margin-bottom: -4px;
}
.marketingMessage {
    background: #fff none repeat scroll 0 0;
    border-radius: 0px 0px 5px 5px;
    color: #000;
    margin-bottom: 6px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.marketingMessage p {
    margin-left: 2px;
}
div.inverse .rteDelta ul li {
    color: #FFF;
}
.rteDelta.hideBullet ul li {
    list-style: none;
}
.rteDelta.hideBullet ul {
    margin-left: 5px;
}
div.imageAlignCenter {
    text-align: center;
}
div.imageAlignLeft {
    text-align: left;
}
div.imageAlignRight {
    text-align: right;
}
span.break {
    display: block;
    width: 100%;
    margin: 10px 0;
}
#ContentWell .contentarea {
    clear: both;
}
.call_to_action.contentWrapper {
    padding-top: 10px;
    background-color: #E6EBEF !important
}
.skymile_Auction_bg {
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
}
input.ui-button.ui-button-primary.fancybox.go-btn.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.right.goBid {
    margin-top: -27px;
    margin-right: 11px;
}
@-moz-document url-prefix() {
    .contentWrapper table {
        margin-left: 0px;
    }
}
.sitemapsection .contentWrapper ul li {
    margin-left: 0px;
    list-style: none;
    padding-bottom: 10px;
}
.sitemapsection .contentWrapper ul {
    margin-left: 15px;
}
/* CQ custom form */

.contentarea .contentWrapper form {
    padding: 12px 253px 15px 24px;
}
form .form_leftcollabel {
    display: inline-block;
    padding: 2px;
}
form .form_leftcol {
    display: inline-block;
    padding-bottom: 25px;
}
form .form_leftcolmark {
    color: #f00;
    display: inline-block;
}
form .form_rightcol {
    display: inline-block;
    /*    margin-left: 20px;*/
    
    padding-bottom: 10px;
    float: right;
}
form .form_error {
    color: #f00;
    font-weight: bold;
}

table.actionableTable thead tr th.header {
    cursor: pointer;
}
table.actionableTable th:nth-child(3) {
    width: 9em;
}

table.actionableTable.award th:nth-child(3) {
    width: 8em;
}

table.actionableTable th:nth-child(4) {
    width: 8em;
    cursor: default !important;
}

table.actionableTable.award th:nth-child(4) {
    width: 8em;
    cursor: pointer !important;
}

.rteDelta sup {
    line-height: 6px;
}
ul.deltaDropDownMenu li.nodownarrow {
    background: none;
}
.related-link ul li {
    text-transform: capitalize;
    padding-left: 2em;
    padding-bottom: 0.49em;
    margin-left: 0px;
}
.related-link ul li a {
    color: #0253A4;
    font-weight: 600;
    margin-left: 0.083em;
    text-decoration: none;
}
.related-link ul li a:hover,
.related-link ul li a:focus {
    text-decoration: underline;
}
.related-link ul {
    margin: 0.833em 0 0.833em 0.083em;
    list-style-type: none;
    padding-left: 0px !important;
}
div.related-link.content {
    padding-left: 0em !important;
    margin-top: 1.667em;
}
#uniqueOriginCities {
    display: none;
}

.deltaTable .textimage a:focus .ui-button-secondary {
  background-color: #3658a2 !important;
}

.marketingMessage h2 {
    color: #000;
}

div.dlv-form {
    background-color: white;
    color: black;
    display: table;
    margin-top: 1.94em;
    padding: 2.65em 2em 2.64em 2.25em;
    width: 76.5em;
}

div.dlv-form h2 {
    color: #00203e;
    font-size: 2.333em;
    font-weight: 600;
    margin: 0;
    padding: 0 0 0.54em;
}

div.dlv-form p {
    margin: 0em;
    padding: 0em;
    color: #202020;
    font-size: 1.0825em;
}

div.dlv-form-button{
    margin-right: 15px;
    text-align: center;
    width: 18em;
    display: table-cell;
    vertical-align: middle;
}

div.dlv-form-button button {
    display: block;
    height: 3.4em;
    margin: 0 auto;
    vertical-align: middle;
    width: 13.9em;
}


.marketingMessage h2 {
    color: #000;
}

.popContainer h1 {
    color: #202020 !important;
    font-size: 3.16667em;
    line-height: 36px;
    padding-left: 0px;
    margin: 15px 0px 15px 0px;
    font-weight: 300;
    font-family: "Open Sans","Trebuchet MS",Verdana,Tahoma,Sans-Serif;
    text-transform: uppercase;
    clear: left;
}
.onecolumnfullbleedhero div.text h4 { 
    color: black !important;
    font-size: 1.08333em !important;
    line-height: 13px;
    font-weight: bold !important;
}
div#ContentWell div[data-type=expandAll] div a {
    /* Rules Need to be changed as already defined at root level (.inverse)*/
    
    padding-bottom: 3px;
    color: #0253A4;
    font-size: 1em;
    line-height: 25px;
    font-weight: bold;
    cursor: pointer;
}
div#ContentWell div[data-type=expandAll]{
    float: right;
    margin-top: -40px;
    margin-right: 30px;
}

.contentWrapper.rteDelta ul.list-align-horizontal li{
    float:left;
    list-style-type: none;
    margin-left:-0.2em;
    margin-right:.5em;
}

.herob .marketingMessage ul 
{
margin-left:25px;
}

/*Table filter Component*/

.contentWrapper .baggageComponent th, .baggageComponent th{
    background-color:#f1f4f9;
    border-top: none;
    border-right:none;
    border-bottom: 1px solid #e8ecf2;
}
table.baggageComponent .thmaster1,table.baggageComponent .thmaster2,table.baggageComponent .thmaster3{
    font-size: 0.917em;
    font-weight: 600;
    color: #013366;
    text-align: center;
    border-right: 1px #e8ecf2 solid;
    padding-top: 2.917em;
    border-bottom: none;
    border-left: none;
}
table.baggageComponent .thmaster3{
    border-right:none;
}
.contentWrapper .baggageComponent .thsub1, .contentWrapper .baggageComponent th.thsub2, .contentWrapper .baggageComponent .thsub3, .contentWrapper .baggageComponent .thsub4, .thsub1, .thsub2, .thsub3, .thsub4 {
    font-size: 0.917em;
    font-weight: 300;
    color: #013366;
    text-align: center;
    border-bottom: 1px solid #e8ecf2;
}
.contentWrapper .thsub1, .contentWrapper .thsub3, .thsub1,.thsub3{
    border-left:none;
    border-right:none;
}
.contentWrapper .baggageComponent th.thsub2, .contentWrapper .baggageComponent th.thsub4, .thsub2, .thsub4{
    border-left:none;
    border-right: 1px solid #e8ecf2;
}
table.baggageComponent .col1, table.baggageComponent .col2{
    font-size:1em;
    font-weight: 300;
    color: #013366;
    text-align: center;
    border: 1px #e8ecf2 solid;
    padding-top: 3em;
    padding-bottom: 3em;
}
table.baggageComponent .col3, table.baggageComponent .col4, table.baggageComponent .col5{
    font-size:1.167em;
    font-weight: 300;
    color: #013366;
    text-align: center;
    border: 1px #e8ecf2 solid;
}
table.baggageComponent .col1,table.baggageComponent .col2,table.baggageComponent .col5{
    width:13.750em;
    vertical-align: middle;
}
table.baggageComponent .col3,table.baggageComponent .col4{
    width:7.750em;
    padding-top:1.333em;
    padding-bottom:1.333em;
    vertical-align: middle;
}
table.baggageComponent .col1{
    border-left:none;
}
table.baggageComponent .col5{
    border-right:none;
    padding-top: 0.8em;
    padding-bottom: 1.333em;
}
.tablefilterCaption h3 {
    background: #fff;
    margin-bottom: 0.667em;
    margin-top: 2.23em;
    font-size: 1.333em;
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 0em;
}
.tablefilterCaption p {
    background: #fff;
    margin-bottom: 1.667em;
    color: #000;
    font-size: 1em;
    font-weight: 300;
}
.baggageSummary{
    float: left;
    width: 100%;
    padding: 0em !important;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.833em;
    font-weight: 600;
}
.baggagetips-img {
    float: right;
    display: inline-block;
    margin-left: 4.5em;
}
.baggagetips {
    float: left;
    display: inline-block;
    width: 26em;
}
.baggageComponent {
    float: left;
    margin-top: 1.267em;
}
div.tablefilter.section{
    background-color: #fff !important;
    padding-left: 1.25em;
    padding-right: 1.667em;
    padding-top: 0.4em !important;
    float: left;
}
div.tablefilter div{
    padding-top: 0.833em !important;
    float: left;
}
.col3 img,.col4 img,.col5 img{
    padding-bottom:0.5em;
    padding: 0px;
}
div.tablefilter table tfoot td{
    padding-top:3.75em !important;
    font-size: 0.917em;
    font-style: italic;
    color: #000;
    padding-bottom: 3.75em !important;
    border: none;
}
div.tablefilter table tbody sup{
    font-size: 0.7em;
    line-height: inherit
}

.tablefilterButton {
    margin-left: 0.583em;
}

.tablefilterButton button {
    width: 11.083em;
    height: 1.9em;
    padding: 0em;
}

.tablefilterSelect select{
    width: 31.667em;
}

.tablefilterSelect .selectStyle {
    background: none repeat scroll 0 0 transparent;
    border: none;
    color: #555;
    height: 20px;
    width: 408px;
    outline: none !important;
}


.tablefilterSelect .selectStyle option {
    padding: 2px 2px 2px 5px;
}


.tablefilterSelect .selectStylediv {
    background-image: url(../../../content/dam/delta-applications/common/chrome/forms/polaris-select-new.png), url(../../../content/dam/delta-applications/common/chrome/forms/polaris-select-bg-new.png);
    background-position: right center, center center;
    background-repeat: no-repeat, repeat-x;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 1px 2px 3px 0 #ccc;
    overflow: hidden;
    padding-right: 0;
    padding-top: 0em !important;
    width: 31.667em;
}



.baggageComponent * p, .baggageComponent * div {
    padding: 0px !important;
    margin: 0px !important;
    text-align: inherit;
    float: none !important;
}

.baggageComponent div.content{
    padding-top:0px !important;
}



/* Added additional style for faresale without contentarea */
#faresale_table.actionableTable{
	color: #191919;
}


#faresale_table.actionableTable caption {
    background-color: #fff;
    margin-top: 1em !important;
    margin-bottom: -2px;
    padding-top: 1em !important;
    padding-bottom: .5em !important;
/*    padding-left: 1em !important;*/
    color: #22659c !important;
    font-size: 1.083em !important;
    text-transform: uppercase !important;
}

#utility-nav .skymileLi {
 margin-top: 135px;
}

sup{
    font-size: 75% !important;
}

.choicebenfiticon{
background: url(../../../content/dam/delta-applications/common/chrome/icons/iconography/red_badges_72.png) -1.13em -15.13em;
    background-repeat: no-repeat;
    background-color: #CD0000;
    height: 3.26em;
    width: 5.18em;
    border-top-left-radius: 0.545em;
    float: left;
    background-size: 7.5em;
   margin-right: 1.5em;
    }

#utility-nav .shopLi {
    margin-top: 135px !important;
}


/* this file provided by RF */
.js .replaceRadio,
.js .replaceCheckbox {display:none;}

.inputReplacement {background: url(images/bg-form-sprite.png) no-repeat 0 0; cursor: pointer; display: block; float: left; height: 19px; margin: 8px 2px 0 0; vertical-align: middle; width: 19px;}
.inputReplacement.radio {background-position:0 -56px;}
.inputReplacement.radio.selected {background-position:0 -36px;}
.inputReplacement.checkbox {background-position:0 -96px;}
.inputReplacement.checkbox.checked {background-position:0 -76px;}

.comboBox {border-radius:4px; background: url(images/bg-form-sprite.png) no-repeat 100% 0; border:1px solid #c7c7c7; cursor:pointer; float:left; margin: 10px 5px 0 0; overflow: hidden; white-space: nowrap; margin:20px 10px 0 0;}
.comboBox span {display: block; float: left; overflow: hidden; padding: 3px 8px;}
.comboBox a {display: block; float: left; height: 22px; text-indent: -9999px; width: 22px;}

.comboBoxOptions {background-color: #fff; border-color: #CCCCCC; border-style: solid; border-width: 0 1px 1px 0; margin: 0; overflow-x: hidden; overflow-y: auto;}
.comboBoxOptions li {border-color: #c7c7c7;  border-style   : solid;  border-width: 1px 0 0 1px; cursor: pointer; float: none; margin: 0; outline: medium none; padding: 5px; width: auto;}
.comboBoxOptions .over {background-color:#efefef;}
.comboBoxOptions .comboBoxItemWrapper {overflow:hidden; white-space:nowrap;}

p {margin:10px;}
.large {font-size:2.4em}
.med {font-size:1.8em}
.small {font-size:1.2em}


.i-2-light, .i-2-dark {
    background: none;
    border: 5px solid #fff;

}
.i-2-light img {
    margin-bottom: -3px;
    border-radius: 4px 4px 0 0;
}
.i-2-dark img {
    margin-bottom: -4px;
    border-radius: 4px 4px 0 0;
}
.i-2-light .title,
.i-2-dark .title {
    font-size: 18px;
/*    font-weight: 600;*/
    font-weight: bold;
    text-transform: uppercase;
}
.i-2-light .title {
    color: #fff;
}
.i-4 .title {
    font-size: 19px;
/*    font-weight: 600;*/
    font-weight: bold;
    text-transform: uppercase;
    color: #02132D;
    padding-left: 20px;
    padding-right: 20px;
}
.i-4 .title {
    margin-top: 63px;
}

.promoWrapper {
    background: #fff url(images/background-light.png) repeat !important;
    min-height: 210px;
    position: relative;
}

.promoMessaging {
    border-bottom-left-radius: 2px; 
    border-bottom-right-radius: 2px;
}
.promoMessaging .message {
    padding: 10px 15px 8px 15px;
    color: #252525;
    font-size: 11px;
/*  font-weight:600;*/
    font-weight: bold;
}
.promoMessaging .cta {
    float: left;
    padding: 0px 15px 7px 15px;
    font-size: 11px;
/*    font-weight: 600;*/
    font-weight: bold;
}
.promoMessaging .cta a {
    color: #0253A4;
    font-size: 11px;
/*  font-weight:600;*/
    font-weight: bold;
}
.promoMessaging .cta a:hover {
    color: #1C7BD9;
}
.promoMessaging .terms-and-conditions {
    float: right;
    font-size: 10px;
    padding-right: 20px;
    clear:left;
    margin-bottom: 5px;
}
.i-4 {
    background: #fff url(images/background-light.png) repeat;
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px; 
    border-bottom-right-radius: 2px;
}
.i-4  .promoMessaging {
    background: transparent none;
}
.promoWrapper .title .fromPrice {
    padding-top: 15px;
    font-size: 33px;
}
.promoWrapper .title .fromPrice small{
    font-size: 9px;
    text-transform: uppercase;
    position: relative;
    top: -14px
}
/* this might need to be removed */
.promoWrapper .title{
    position: absolute;
    top: 15px;
    left: 15px;

}
.tabpanelheader .nosubheader {
    margin: 0 auto;
    padding: 0px 0px 40px 0px;
    text-align: center;
    text-transform: uppercase;
}

.tabpanelheader .nosubheader h2 {
    border-bottom: 1px solid #6b98bd;
    border-top: 1px solid #6b98bd;
    color: #fff;
    display: inline-block;
    font-size: 2.5em;
    font-weight: lighter;
    letter-spacing: 3px;
    margin: 0 auto;
    padding: 13px 15px 10px;
    text-align: center;
    white-space: nowrap;
}

.gridareaComponentPadding h3{
    font-weight:600;
}

.onecolumnfullbleedhero div.highlight {
    background: #fff;
    padding: 10px !important;
    border-radius: 5px;
}

.tabpanelheader .yessubheader {
    border-top: .1em solid #6b98bd;
    margin: 0 auto 60px auto;
    text-align: center;
    text-transform: uppercase;
}

.gridareaComponentPadding {
    padding: 0 4px;
}

.tabpanelheader .yessubheader h2 {
    font-size: 2.5em;
    font-weight: lighter;
    letter-spacing: 3px;
    padding: 13px 0 10px 0;
}

.tabpanelheader .yessubheader h4 {
    float: left;
    font-size: 0.83em;
    font-weight: 100;
    line-height: 3em;
    padding: 0 1.4em 0 1.4em !important;
 }


 .tabpanelheader .yessubheader .rule {
    border-bottom: .1em solid #6b98bd;
    float: left;
    height: 3px;
    padding-top: 12px;
    width: 40px;
}

  footer h2 {
    color: #ffffff;
    font-size: 1.335em;
    font-weight: 600;
    padding-bottom: 7px;
    text-transform: none; }




a.cq-rte-tooltip {
background: url("images/eos/question-mark-icon.png") no-repeat scroll left top transparent;
line-height: 6px;
overflow: hidden;
padding-left: 14px;
width: 11px;
}
#CQ .x-html-editor-tb .x-edit-tooltip {
    background: url(images/eos/question-mark-icon-16X16.png) center no-repeat;
}

onecolumnfullbleedherobody.onecolumnfullbleedhero .wrapper {
width: 73.846em;
}
.fullbleedPageTop, .fullbleedPageBottom {
    padding-bottom:1px;
    padding-top: 1px;
	width:100%;
}

.onecolumnfullbleedhero div.content {
     background: #fff none repeat scroll 0 0 !important;
     border-radius: 5px;
     padding-top: 1em !important;
}

.onecolumn div.section {
    background: #002D53;
    border-radius: 5px;
}

.onecolumnfullbleedhero div.section {
    background: none;
    margin-bottom: 1em;
}

.onecolumnfullbleedhero div.section.image {
    margin-bottom: 0em;
}
.onecolumnfullbleedhero div.section img{
/*  width:39em;*/
}

div.fullbleedcarouselhero {
    height: 42.5em;
}

div.fullbleedcarouselhero.widget {
    height: 55.45em;
}

nav.hero-slider {
    text-align: left;
    position: relative;
    z-index: 1000;
    float: none;
    margin-left: 69em;
    margin-top: 38em;
    display: inline-block;
    right: 0px;
}

nav.hero-slider li {
    position: relative;
    width: 1.923em;
    height: 1.538em;
    display: inline-block;
    zoom: 1;
}


nav.hero-slider a {
    position: absolute;
    width: 1.923em;
    height: 1.538em;
    background-image: url("images/site_sprite.png");
    overflow: hidden;
    text-indent: -3000px;
    background-position: 0 -502px;
    display: inline-block;
    zoom: 1;
}

nav.hero-slider a.active {
    background-position: 0 -527px;
}


#fullBleedHeroContainer.carousel ul.slider-list li {
    position: absolute;
    list-style: none;
}

#fullBleedHeroContainer ul {
    list-style-position:inside;
}
#fullBleedHeroContainer.carousel ul li {
    list-style: none;
    list-style-position:inside;
    position:relative;
}

.hero-text.dark h2{
    clear: left;
    color: #00203e;
    font-family: "Open Sans","Trebuchet MS",Verdana,Tahoma,sans-serif;
    font-size: 3.16667em;
    font-weight: 300;
    line-height: 36px;
    margin: 15px 0;
    padding-left: 0;
    text-transform: uppercase;
}

div.hero-text.light h2 {
    clear: left;
    color: #fff;
    font-family: "Open Sans","Trebuchet MS",Verdana,Tahoma,sans-serif;
    font-size: 3.16667em;
    font-weight: 300;
    line-height: 36px;
    margin: 15px 0;
    padding-left: 0;
    text-transform: uppercase;

}

div.hero-text span.description a{
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
    color:#fff;
}

.fullBleedHero li {
    position: absolute;
    display: none;
    list-style: none;
}
div.hero-text h1 span {
    font-weight: lighter;
    font-style: normal;
}

div.hero-text h3 a {
 font-weight: 600;
 line-height: 1em;
 text-transform: uppercase;
}


div.hero-text.light h1,
div.hero-text.light h3 a,
div.hero-text.light p {
    color: #fff;
}
div.hero-text.dark h1,
div.hero-text.dark h3 a,
div.hero-text.dark p,
div.hero-text.dark li {
    color: #052f55;
}
div.hero-text p {
    color: #fff;
    padding-left: 0px;
    margin-left:0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#inPageNav {
    height: 3.923em;
    text-align: center;
}
#inPageNav.fixed {
    position: fixed;
    top: 0;
    padding:0px !important;
    border-left: 1px solid #01213f;
    color: #6dcff6;
    font-size: 1em;
    font-weight: 600;
    height: 4.25em;
    width: 100%;
    padding: 0em !important;
    text-transform: uppercase;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-decoration: none;
    z-index: 100;
}

#inPageNav li {
/*    height: 3.923em;*/
    display: inline-block;
    zoom: 1;
}

ul.tabs2 li {
    width: 36.923em;
}
ul.tabs3 li {
    margin-right: -0.4em;
    width: 19.231em;
}
ul.tabs5 li {
    margin-left: -0.5em !important;
    width: 14.769em;
}

#inPageNav a {
    background: rgba(0, 0, 0, 0) url("images/eos/bg-horizontal-textures.png") repeat-x scroll 0 0;
    border-left: 1px solid #01213f;
    color: #69bcff;
    font-size: 1em;
    font-weight: 600;
    height: 1.023em;
    width: 99%;
    padding: 18px 0px;
    text-transform: uppercase;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-decoration: none;
}

#inPageNav li.active a, #inPageNav li a:hover {
	background-position: 0 -51px;
    border-left: 1px solid #001830;
    color: #ffffff;
}


#panelContentContainer .grid {
    margin-bottom: 20px;
}
#panelContentContainer .panel .row {
    width: 80em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}
#panelContentContainer .panel .row .grid .highlight {
    float: left;
}

#panelContentContainer .panel .row .grid .highlight.full {
    float: none;
}

.panel {
    padding-top: 25px;
}
.panel .row {
    margin: 0 auto;
/*
    border-top: 1px solid #00386d;
    border-bottom: 1px solid #021322;
*/
    clear: both;
}
.panel .row.last {
    padding-top:1em;
    border-bottom: 0 !important;
    padding: 1em 0 1em 0;
}
.panel .row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.panel p {
    margin-top: 1em;
    margin-bottom: 0;
    line-height: 1.5em;
    font-style: normal;
}


.row.primary {
    padding-bottom: 1em;
    border-top: 0;
}

.dynamicBottomTab{ 
    float: left;
    position: relative;
    left: 50%;
}
a.tabPanelExpand {
    box-shadow: 0px 5px 5px #000;
    background-position: center -38px;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #011D39;
    border-radius: 0px 0px 30px 30px;
    float: left;
    position: relative;
    left: -50%;
    border:#15385A 1px solid;
    padding: 0px 40px 9px 20px;
    border-width: 0px 1px 1px 1px;
    color: #fff;    
}
a.tabPanelExpand.closed {
    background-position: center 0px;
}
div.dynamicBottomTab a span.showLabel {
    display:block;
}
div.dynamicBottomTab a span.hideLabel {
    display:none;
}
div.dynamicBottomTab a.openState span.showLabel {
    display: none;
}
div.dynamicBottomTab a.openState span.hideLabel {
    display: block;
}
a.tabPanelExpand {
    background-image: url("images/expand-and-contract.png");
    background-position: 80% 3px;
}
 
a.tabPanelExpand.openState {
    background-image: url("images/expand-and-contract.png");
    background-position: 80% -56px;
}


.grid_1 {
    width:5.538em;
}
.grid_2 {
    width:11.538em;
}
.grid_3 {
    width:17.538em;
}
.grid_4 {
    width:23.538em;
}
.grid_5 {
    width:29.538em;
}
.grid_6 {
    width:35.538em;
}
.grid_7 {
    width:41.538em;
}
.grid_8 {
    width:47.538em;
}
.grid_9 {
    width:53.538em;
}
.grid_10 {
    width:59.538em;
}
.grid_11 {
    width:65.538em;
}
.grid_12 {
    width:71.538em;
}


.onecolumnfullbleedhero .container_12 .grid_3 {
    width: 19.63em;
}

.onecolumnfullbleedhero .container_12 .grid_4 {
    width: 26.33em;
}

.onecolumnfullbleedhero .container_12 .grid_6 {
    width: 39.7em;
}


.onecolumnfullbleedhero .container_12 .grid_8 {
    width: 53.0em;
}


.onecolumnfullbleedhero .container_12 .grid_9 {
    width: 59.7em;
}


.grid_3.alpha.withDivider{
    border-right:#00386D 1px solid;
    margin-right: 0px
}
.grid_3.withDividerLeftRight{
    border-left:#021322 1px solid;
    border-right:#00386D 1px solid;
    margin-left:0px;
    padding-left:3px;
    padding-right:3px;
    margin-right:0px;
}
.grid_3.omega.withDivider{
    border-left:#021322 1px solid;
    margin-left:0px;
    padding-left: 3px;
}

.grid_6.alpha.withDivider{
    border-right:#00386D 1px solid;
    margin-right: 0px
}
.grid_6.omega.withDivider{
    border-left:#021322 1px solid;
    margin-left: 0px;
    padding-left: 3px;
}
.grid_8.alpha.withDivider{
    border-right:#00386D 1px solid;
    margin-right: 0px
}
.grid_4.omega.withDivider{
    border-left:#021322 1px solid;
    margin-left: 0px;
    padding-left: 3px;
}

.grid_4.alpha.withDivider{
    border-right:#00386D 1px solid;
    margin-right: 0px;
    padding-right: 3px;
}
.grid_4.withDividerLeftRight {
    border-left:#021322 1px solid;
    border-right:#00386D 1px solid;
    margin-left:0px;
    padding-left:3px;
    padding-right:3px;
    margin-right:0px;
}

.grid_8.omega.withDivider{
    border-left:#021322 1px solid;
    margin-left: 0px;
    padding-left: 3px;
}
.grid_9.omega.withDivider {
    border-left:#021322 1px solid;
    margin-left: 0px;
    padding-left: 3px;
}
.grid_9.alpha.withDivider {
    border-right:#00386D 1px solid;
    margin-right: 0px;
    padding-right: 3px;
}

#panelContentContainer div.section .content p,
div.section div.inverse p  {
    padding-left:0px;
    margin-left:0px;
	padding:10px 0px 10px;
    margin-top:0px;
}

.onecolumnfullbleedhero #panelContentContainer div.section .content p, 
.onecolumnfullbleedhero div.section div.inverse h2, 
.onecolumnfullbleedhero div.section div.inverse p {
    padding: 0px 10px 0px 0px;
    color: #191919;
    padding-bottom: 0.9em;
    padding-left: 1.25em;
/*defect 61565*/
}





div#panelContentContainer ul#inPageNav {
    clear: both;
}

body.onecolumnfullbleedhero div.section .content h2 {
    padding: 5px 0px;
    font-weight: 600;
}


div.section .content ul {
    padding-left:12px;
}

#video-modal {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 30;
}
#video-modal .video {
    margin: 20px auto 0;
    width: 65.615em;
}
.gridareaComponentPadding {
    padding: 0 4px;
}

.gridareaComponentPadding .ui-button-primary{
    margin-right: 0px;
}

.fullbleedPageTop .container_12 div.breadcrumb,
.fullbleedPageTop .container_12 breadcrumb{
    margin-left: 4px;

}

.onecolumnfullbleedhero div.highlight  {
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 3px !important;
    padding-bottom: 1px !important;
}

.onecolumnfullbleedhero div.textimage {
    background-color: #fff;
    border-radius: 5px;
    overflow-x: hidden;
    padding: 3px !important;
}

.onecolumnfullbleedhero div.textimage img {
    width: 100%;
    height: 100%;
    display: block;
/*defect 61565*/
}

.onecolumnfullbleedhero .smallText {
    color: #fff;
}


/* need to merge in appropriate */
ul.tabs4 li {
    margin-left: -0.4em !important;
    width: 16.7em;
}

.onecolumnfullbleedhero h3 {
    color: #191919;
    font-weight: 600;
    padding-bottom: 0.75em;
/*
    padding-left: 0.93em;
    padding-top: 1em;
*/
}


.onecolumnfullbleedhero .grid .highlight{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0.17em !important;
}
.onecolumnfullbleedhero .grid .highlight .textimage{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.onecolumnfullbleedhero .container_12{
    padding: 0px !important;
}


.twocolumn div.content {
 margin-bottom: 6px;
 padding-left: 1.667em;
}


#panelContentContainer .panel .row .grid .omega {
 overflow: hidden !important;
}

div.hero-text.light h1,div.hero-text.light h3, div.hero-text.light h3 a, div.hero-text.light p {
 color: #fff;
}


body.onecolumnfullbleedhero div.inverse, body.onecolumnfullbleedhero p.inverse {
    padding-left: 1.2em;
    color: #191919 !important;

}


div.inverse, p.inverse {
 color: #FFF;
 background: #002d53;
}


.onecolumnfullbleedhero div.highlight h1{
  color:#191919; 
  padding-left:10px;
}

.onecolumnfullbleedhero div.inverse .rteDelta ul li {
  color: #191919;
}

.contentWrapper ul.bynoteRelatedLink li {
    text-transform: capitalize;
    padding-left: 2em;
    padding-bottom: 0.49em;
    margin-left: 0px;
}

.contentWrapper ul.bynoteRelatedLink {
    margin: 10px 0 10px 1px !important;
}

p#baynoteRecommendation{
    padding:6px 15px 18px 0;
}

ul#inPageNav.tabs4 li a:focus,ul#inPageNav.tabs3 li a:focus {
    width: 95%;
    display: inline-flex;
    justify-content: center;
}

ul#inPageNav.tabs5 li a:focus {
    width:93%;
}

.actionableTable h2,h3{
    color: #202020 !important;
    }

.mapDisclaimerContentTextResults {
    background: #152839 !important;
    padding: 5px;
    color: #fff;
    width: 57.1em;
}
#aircraftdetails .panel .row {
    width: 64em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}


.aircraftgridstyle #panelContentContainer .panel .row {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

#aircraftdetails .container_12 .grid_4 {
    width: 18.5em;
}

.aircraftgridstyle ul.tabs2 li {
    width: 26.789em;
}

.expandall.aircraftstyle {
        display: none;
}

.contentWrapper.aircraftstyle h2 {
    background: rgba(0, 0, 0, 0) url(images/eos/bg-horizontal-textures.png) repeat-x scroll 0 0;
    color: #ffffff;
}

.aircraftgridstyle #inPageNav.fixed {
    position: fixed;
    top: 0;
    padding: 0px !important;
    color: #6dcff6;
    font-size: 1em;
    font-weight: 600;
    height: 4.25em;
    width: auto; 
    padding: 0em !important;
    text-transform: uppercase;
    display: inline-block;
    zoom: 1;
    text-decoration: none;
    z-index: 100;
}

.aircraftgridstyle #inPageNav a{
    background: rgba(0, 0, 0, 0) url(images/eos/bg-horizontal-textures.png) repeat-x scroll 0 0;
    border-left: 1px solid #01213f;
    color: #69bcff;
    font-size: 1em;
    font-weight: 600;
    height: 1.023em;
    width: 100%;
    padding: 18px 0px;
    text-transform: uppercase;
    display: inline-block;
    zoom: 1;
    text-decoration: none;
}

.aircraftgridstyle #inPageNav li {
    height: 3.923em;
    display: inline-block;
    zoom: 1;
    width: 28.8em;
    padding: 0px;
}

.aircraftgridstyle #inPageNav li.active a {
    background: #fff;
    border-left: 1px solid #fff;
    color: #0253A4;
}

.contentWrapper.aircraftgridstyle ol, .contentWrapper.aircraftgridstyle ul {
     margin: 0px; 
}

.contentWrapper.aircraftgridstyle ul li {
     margin-left: 0px; 
}                                              
.accordion.aircraftstyle 
{
    background-color: #F0F0F0;
    border-bottom: aliceblue;
    text-transform: capitalize;
}
hr.light
{
 background-color: #E8E8E8 ;
}

.seatmaprow img{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.OneLinkTxShow_es {
    display: none; 
}

.OneLinkTxShow_fr { 
    display: none;
}

.OneLinkTxShow_de {
    display: none;
}

.OneLinkTxShow_pt {
    display: none;
}

.OneLinkTxShow_zh {
    display: none;
}

.OneLinkTxShow_zt {
    display: none;
}

.OneLinkTxShow_it {
    display: none;
}


.OneLinkTxShow_ko {
    display: none;
}

.OneLinkTxShow_ru {
    display: none;
}

.OneLinkTxShow_ja {
    display: none;
}

.OneLinkTxShow_en {
    display: none;
}

