body, h3, p, .jobSearch li, .show_hide .question,.show_hide .answer {
	text-shadow: none !important;
}
.info_links, nav#main_nav, footer, .container_social, .container_social_home, .container_social_product, .container_social_ad, .promozone_container_social, header#global h1 a, span.icon,  .relevance .slider, #start_loc, .redButton, aside.desktop, .button, .jobSearch .container-content form, .styled_select .btn {
	display: none !important;
}
#content {
	padding-top: 30px;
}
p, .jobsearch a, .show_hide .question, .show_hide .answer  {
	color: #000 !important;
}
header#global h1, header#global h2 {
	display: list-item;
	list-style-position: inside;
}
header#global h1 {
	list-style-image: url('../images/cameo.png');
	height: 150px;
}
header#global h2 {
	background: none;
	list-style-image: url('../images/QIOR-print.png');
	text-indent: 0;
	width: 350px;
	height: 21px;
}
#hnj h1 {
	text-indent: 0 !important;
	background: none !important;
	height: 20px !important;
}
#content .grid p, #content .grid p.large {
	font-size: 1em !important;
	color: #fff !important;
	text-shadow: none !important;
}
#storeInfo {
	height: auto;
}
.numbers {
	border: 0;
}
.jobSearch .container-content {
	font-size: 0.8em;
}
.numbers p  {
	color: #000;
}
.numbers p span {
	text-indent: 0;
	width: auto !important;
	height: auto;
	margin: 0;
}
.nutrition .value, .nutrition .nutrient {
	border: 0;
	color: #000 !important;
}
.balance p {
	color: #000 !important;
}
h3 {
	font-size: 1.1em;
}
#map {
	width: 50% !important;
}
#main_promo_content p {
	color: #fff !important;
}
.home .clear {
	page-break-after: always;
}
.product-grid > section {
	border: 0 !important;
}
.panel h4.plus:before {
	content: null;
	position: relative;
	width: 0;
}