#content > header h1 {
	float:none;
	margin-bottom:.2em;
}
#content header > h2 {
  font-size: 1.85em;
  line-height:1.2em;
  text-transform:uppercase;
  letter-spacing:.15em;
  text-shadow:1px 1px 1px #666;
  color:#000;
  float:none;
}

#utility_text {
	width:70%;
	margin:0 15%;
	padding-top:15px;
	overflow:hidden;
}
#utility_text.sitemap {
	margin:0;
	width:100%;
}

#utility_text h3 {
	font-size:1.5em;
	line-height:1.5em;
}
#utility_text p {
	font-size:1.4em;
	line-height:1.5em;
}
#utility_text ul,
#utility_text ol{
	margin:0 10% 3em;
}
#utility_text li {
	font-size:1.4em;
	line-height:1.5em;
	margin-bottom:1.5em;
}
#utility_text a { text-decoration:underline; color:#C5181E; }
#utility_text a:hover { color:#666; }

#utility_text .tableOfContents li{
	margin-bottom:0;
}
.sitemap .map {padding:10px 0; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.sitemap .width100 {width:100%;}
.sitemap .width50 {width:50%; float:left; padding-right:2.5%;}
.sitemap .width25 {width:25%; float:left; padding-right:2.5%;}
.sitemap section div { float:left; padding-right:2%; width:100%; margin-bottom:20px; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; }
.sitemap .width100 div {width:25%;}
.sitemap .multi div {width:50%;}
.sitemap .map {
	float:left;
}
.sitemap h1 {
	font-size:2em;
	color:#000;
	border-bottom:1px solid #666;
	padding-bottom:3px;
	margin-bottom:5px;
	line-height:1em;
}
.sitemap h2 {
	font-size:1.3em;
	color:#333;
	line-height:1.5em;
	margin:0;
	padding:0;
}
#utility_text.sitemap h2 a {color:#333; text-decoration:none;}
#utility_text.sitemap ul {
	margin: 0 0 0 2%;
	list-style:outside none;
}
#utility_text.sitemap .multi div ul {margin-bottom:1em;}
#utility_text.sitemap ul li {
	font-size:1.3em;
	margin:0;
}
#utility_text.sitemap ul li a {
	color:#666;
	text-decoration:none;
}
#utility_text.sitemap a:hover { text-decoration:underline !important; }

.error { padding-top:20px; }

@media screen and (max-width:1000px) {

.sitemap .width25 {width:50%;}
.sitemap .width100 div {width:50%;}

}

/* BREAK TO MOBILE LAYOUT *****************************************/

@media screen and (max-width:720px) {

#content > header h1 {
	font-size:1.75em;
	text-align:left;
}
#content > header h2 { font-size:1.5em; }

#utility_text { width:90%; margin:0 5%; }
#utility_text ul,
#utility_text ol{ margin:0 0 3em 3em; }
#utility_text li {
	margin-bottom:.75em;
}

.sitemap .width25, .sitemap .width50, .sitemap .width100 {width:100%; float:none; padding:0 5%;}
.sitemap .width100 div {width:100%;}
.sitemap section div { padding:0; float:none; }

.error img { width:90%; max-width:509px; margin:0 auto; }

}