body {
    margin: 0 auto;
}

footer.cobrand-footer {
    color: rgb(150,150,150);
    font-size: 10px;
    margin: 0 auto;
    width: 840px;
}

header .site-nav-icon-item {
    display: none;
}

.static-card {
    background: rgb(255,255,255);
    margin: 0 auto;
    padding: 25px 30px;
    width: 780px;
}

.static-card h1.page-title {
    font-size: 30px;
}

.page-title {
    margin: 0;
    padding: 0;
}

.page {
    position: relative;
    width: 800px;
}

.page ul,
.page ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.page p {
    margin: 1em 0;
}

.cobrand-footer {
    display: none;
}

/* Staff table */
table.staff {
    background: rgb(255,255,255);
    width: 100%;
}

table.staff td {
    border-radius: 3px;
    font-size: 12px;
    line-height: 8px;
    padding: 5px;
    text-align: center;
    width: 100px;
}

table.staff .plugin_picture {
    background: rgb(232,232,232);
    border: 5px solid rgb(255,255,255);
    box-shadow: 1px 1px 3px rgb(232,232,232);
    display: block;
    height: 100px;
    overflow: hidden;
    padding: 1px;
    width: 100px;
}

table.staff .plugin_picture img {
    width: 100px;
}

@media only screen and (max-width : 800px) {
    
    body {
        min-width: 0px;
    }

    footer.cobrand-footer {
        margin: 0 15%;
    }

    .page, .third-party .card, .static-card {
        margin: 0;
        width: auto;
    }

}

